In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp310-cp310-win_amd64.whl (1.2 MB)
     ---------------------------------------- 1.2/1.2 MB 2.7 MB/s eta 0:00:00
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pandas

Collecting pandas
  Downloading pandas-1.4.0-cp310-cp310-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 3.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\riyad\myenv\lib\site-packages (from pandas) (2.8.2)
Collecting numpy>=1.21.0
  Downloading numpy-1.22.2-cp310-cp310-win_amd64.whl (14.7 MB)
     ---------------------------------------- 14.7/14.7 MB 3.0 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2021.3-py2.py3-none-any.whl (503 kB)
     -------------------------------------- 503.5/503.5 KB 2.4 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\riyad\myenv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.22.2 pandas-1.4.0 pytz-2021.3
Note: you may need to restart the kernel to use updated packages.

# Loading Libraries

In [1]:
import psycopg2
import psycopg2.extras
import pandas as pd

# Database connection

In [2]:


class PostgresConnect(object):
    def __init__(self):
        self.connection = psycopg2.connect(database = "ecomdb",
                                          user = "postgres",
                                          password = "12345678",
                                          host = "",
                                          port = "5432"
                                          )
    
    def getConnection(self):
        print("Successfully connected to database")
        return self.connection

In [3]:
con = PostgresConnect().getConnection()

Successfully connected to database

# Extract

In [9]:
DATA_DIR = "F:\Health Data Analytics\Ecom Data"

In [14]:
#trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx', 'rb'), sheet_name = 1, engine = 'openpyxl')

### Customer Data

In [67]:
customer_df = pd.read_csv("Coustomer_dim.csv")
customer_df.head()

  coustomer_key             name    contact_no           nid
0       C000001            sumit  8.801920e+12  7.505080e+12
1       C000002         tammanne  8.801817e+12  1.977730e+12
2       C000003    kailash kumar  8.801660e+12  3.769490e+12
3       C000004  bhagwati prasad  8.801534e+12  9.378830e+12
4       C000005             ajay  8.801944e+12  3.540820e+12

In [68]:
customer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9191 entries, 0 to 9190
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   coustomer_key  9191 non-null   object
 1   name           9164 non-null   object
 2   contact_no     9191 non-null   float64
 3   nid            9191 non-null   float64
dtypes: float64(2), object(2)
memory usage: 287.3+ KB

In [69]:
customer_df.isnull().sum()

coustomer_key     0
name             27
contact_no        0
nid               0
dtype: int64

In [70]:
customer_df1 = customer_df.dropna()
print(customer_df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9164 entries, 0 to 9190
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   coustomer_key  9164 non-null   object
 1   name           9164 non-null   object
 2   contact_no     9164 non-null   float64
 3   nid            9164 non-null   float64
dtypes: float64(2), object(2)
memory usage: 358.0+ KB
None

In [100]:
customer_df1.head()

  coustomer_key             name     contact_no            nid
0       C000001            sumit  8801920000000  7505080000000
1       C000002         tammanne  8801817069329  1977730000000
2       C000003    kailash kumar  8801660000000  3769490000000
3       C000004  bhagwati prasad  8801533627961  9378830000000
4       C000005             ajay  8801943715786  3540820000000

In [72]:
customer_df1["contact_no"] = customer_df1["contact_no"].astype("Int64")

C:\Users\Riyad\AppData\Local\Temp\ipykernel_3328\2051932751.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df1["contact_no"] = customer_df1["contact_no"].astype("Int64")

In [73]:
customer_df1["nid"] =  customer_df1["nid"].astype("Int64")

C:\Users\Riyad\AppData\Local\Temp\ipykernel_3328\764930660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  customer_df1["nid"] =  customer_df1["nid"].astype("Int64")

In [74]:
customer_df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9164 entries, 0 to 9190
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   coustomer_key  9164 non-null   object
 1   name           9164 non-null   object
 2   contact_no     9164 non-null   Int64
 3   nid            9164 non-null   Int64
dtypes: Int64(2), object(2)
memory usage: 375.9+ KB

### Transaction data

In [76]:
trans_df = pd.read_csv("Trans_dim.csv")
trans_df.head()

  payment_key trans_type                         bank_name
0        P001       cash                              None
1        P002       card                   AB Bank Limited
2        P003       card  Bangladesh Commerce Bank Limited
3        P004       card                 Bank Asia Limited
4        P005       card                 BRAC Bank Limited

In [77]:
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   payment_key  39 non-null     object
 1   trans_type   39 non-null     object
 2   bank_name    39 non-null     object
dtypes: object(3)
memory usage: 1.0+ KB

### Item data

In [111]:
item_df = pd.read_csv("Item_dim.csv")
item_df.head()

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans

In [112]:
item_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_key     264 non-null    object
 1   item_name    264 non-null    object
 2   desc         264 non-null    object
 3   unit_price   264 non-null    float64
 4   man_country  264 non-null    object
 5   supplier     264 non-null    object
 6   unit         263 non-null    object
dtypes: float64(1), object(6)
memory usage: 14.6+ KB

In [113]:
item_df.dropna(inplace = True)

In [115]:
print(item_df.isnull().sum())
print(item_df.info())

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 263 entries, 0 to 263
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   item_key     263 non-null    object
 1   item_name    263 non-null    object
 2   desc         263 non-null    object
 3   unit_price   263 non-null    float64
 4   man_country  263 non-null    object
 5   supplier     263 non-null    object
 6   unit         263 non-null    object
dtypes: float64(1), object(6)
memory usage: 16.4+ KB
None

## Store Data

In [ ]:
store_df = pd.read_csv("")

# Transform

# Load

### Customer Data Load to postgre

In [109]:
#Customer table 
query_customer = "INSERT INTO public.customer_dim(cutomer_key,name,contact_no,nid)"\
                    "VALUES (%s,%s,%s,%s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur,query_customer, customer_df1.values)
con.commit()
cur.close()

### Transaction data load to postgre

In [96]:
query_transaction = "INSERT INTO public.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, query_transaction, trans_df.values)
con.commit()
cur.close()

### Item Data to postgre

In [124]:
query_item = "INSERT INTO public.item_dim (item_key, item_name, descri, unit_price, man_country, supplier, unit)"\
              "VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, query_item, item_df.values)
con.commit()
cur.close()