Package Installation

In [3]:
pip install psycopg2

Requirement already satisfied: psycopg2 in f:\buet vinternship\start\hda\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'F:\BUET VInternship\start\HDA\Scripts\python.exe -m pip install --upgrade pip' command.

In [8]:
pip install pandas

Requirement already satisfied: pandas in f:\buet vinternship\start\hda\lib\site-packages (1.4.1)
Requirement already satisfied: numpy>=1.21.0 in f:\buet vinternship\start\hda\lib\site-packages (from pandas) (1.22.2)
Requirement already satisfied: python-dateutil>=2.8.1 in f:\buet vinternship\start\hda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in f:\buet vinternship\start\hda\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in f:\buet vinternship\start\hda\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'F:\BUET VInternship\start\HDA\Scripts\python.exe -m pip install --upgrade pip' command.

In [10]:
pip install openpyxl

Requirement already satisfied: openpyxl in f:\buet vinternship\start\hda\lib\site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in f:\buet vinternship\start\hda\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.4; however, version 22.0.3 is available.
You should consider upgrading via the 'F:\BUET VInternship\start\HDA\Scripts\python.exe -m pip install --upgrade pip' command.

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

In [5]:
Data_dir = "/BUET VInternship/Data/"

In [6]:
trans_dim = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')

In [7]:
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [8]:
item_dim = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name=2, engine='openpyxl')

In [9]:
item_dim

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

Load(Connect to the database)

In [14]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecombd",
                                           user = "postgres",
                                           password = "Tonmoy00*",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [15]:
con = PostgresConnection().getConnection()

successfully connected to database

In [41]:
insert_stmt = "INSERT INTO star_schema.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

In [42]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [43]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

### customer data insert

In [17]:
data = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name='Coustomer_dim', engine='openpyxl')

In [18]:
data

     coustomer_key             name     contact_no            nid
0          C000001            sumit  8801920345851  7505075708899
1          C000002         tammanne  8801817069329  1977731324842
2          C000003    kailash kumar  8801663795774  3769494056318
3          C000004  bhagwati prasad  8801533627961  9378834712725
4          C000005             ajay  8801943715786  3540815556323
...            ...              ...            ...            ...
9186       C009187        smt radha  8801563029753  1057824928189
9187       C009188     tulsi sharma  8801794982266  7970880905205
9188       C009189        madhubala  8801890032435  3101930298150
9189       C009190       pintu devi  8801563290767  7234328323528
9190       C009191            roopa  8801524507359  5682728390307

[9191 rows x 4 columns]

In [24]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.customer_dim ( customer_key, name, contact_no, nid)" \
            " VALUES (%s, %s, %s , %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, data.values)
con.commit()
cur.close()

successfully connected to database

In [25]:
cur = con.cursor()
select_stmt = "SELECT * " \
              "FROM star_schema.customer_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('C000001', 'sumit', '8801920345851', '7505075708899'),
 ('C000002', 'tammanne', '8801817069329', '1977731324842'),
 ('C000003', 'kailash kumar', '8801663795774', '3769494056318'),
 ('C000004', 'bhagwati prasad', '8801533627961', '9378834712725'),
 ('C000005', 'ajay', '8801943715786', '3540815556323'),
 ('C000006', 'silender', '8801586293092', '8516471122484'),
 ('C000007', 'deepak', '8801839144857', '6155559095495'),
 ('C000008', 'akhilesh', '8801721432538', '3287330990302'),
 ('C000009', 'dipendra kumar', '8801690939578', '3411433613839'),
 ('C000010', 'nitin', '8801515224771', '9450023534903'),
 ('C000011', 'doodhnath pandit', '8801738809307', '6062101033058'),
 ('C000012', 'aslam allam', '8801748537389', '9707236385043'),
 ('C000013', 'rahul', '8801737700905', '5790562512938'),
 ('C000014', 'jitender kumar', '8801656030378', '4426264282321'),
 ('C000015', 'adnan', '8801542504763', '6225304110824'),
 ('C000016', 'vijay', '8801843473572', '6604672400096'),
 ('C000017', 'yogesh', '8801612420774', '9972938424847'),
 ('C000018', 'kabir', '8801628865612', '4616559264146'),
 ('C000019', 'sarvesh', '8801744238299', '9038873936812'),
 ('C000020', 'rakesh sarkar', '8801717568366', '8166178628706'),
 ('C000021', 'akash gupta', '8801544524790', '8674064894761'),
 ('C000022', 'rahul', '8801918987737', '7788784415686'),
 ('C000023', 'pintu thakur', '8801927766002', '3524475470287'),
 ('C000024', 'vivek', '8801822634636', '3180141771419'),
 ('C000025', 'mohd khairul', '8801667354036', '7723439819208'),
 ('C000026', 'farmaan khan', '8801893834993', '7698110849478'),
 ('C000027', 'vansu dev', '8801647300439', '8988312820804'),
 ('C000028', 'vansu dev', '8801712578164', '5389305491490'),
 ('C000029', 'shyam kumar', '8801874210132', '1522297282496'),
 ('C000030', 'shafibul', '8801526016641', '6656780903090'),
 ('C000031', 'lalit kathuriya', '8801711184250', '6833928333375'),
 ('C000032', 'pooran chand', '8801698869279', '3538485574648'),
 ('C000033', 'aamir hussain', '8801777189774', '1373157059775'),
 ('C000034', 'kamal jit singh', '8801646911049', '7590641619606'),
 ('C000035', 'shiv kumar', '8801644450315', '1761537786853'),
 ('C000036', 'mayank chaudhary @ rahul', '8801661230831', '9027785199298'),
 ('C000037', 'rohit', '8801923590953', '9826607664591'),
 ('C000038', 'som dutt', '8801952058891', '9339490714426'),
 ('C000039', 'bablu regar', '8801537552720', '9915897050589'),
 ('C000040', 'rohit', '8801687111649', '2250720242634'),
 ('C000041', 'rajkumar', '8801743750264', '2275756669405'),
 ('C000042', 'mubarik', '8801750166621', '3929448222437'),
 ('C000043', 'niraj', '8801935930205', '2121307520756'),
 ('C000044', 'sarbjeet @ ronak', '8801768252111', '2254865405748'),
 ('C000045', 'axat', '8801995291805', '7409706667535'),
 ('C000046', 'amit', '8801628366788', '3144156768483'),
 ('C000047', 'anubhav shrivastab', '8801670825340', '2404227777323'),
 ('C000048', 'akkash', '8801614834788', '1646452111288'),
 ('C000049', 'himanshu', '8801963230106', '6134468379503'),
 ('C000050', 'harsh dagar', '8801717553729', '6599359966721'),
 ('C000051', 'anil kumar', '8801529215191', '7449955169512'),
 ('C000052', 'vijay virmani', '8801898159810', '8092255474388'),
 ('C000053', 'vivek auhari', '8801578068355', '1916290391358'),
 ('C000054', 'sachin', '8801924170262', '2727834743260'),
 ('C000055', 'subhash chand bhatia', '8801810622191', '4970977659761'),
 ('C000056', 'bhupender', '8801947122143', '3057300958563'),
 ('C000057', 'raghunandan das', '8801532143975', '5263290638084'),
 ('C000058', 'sanjay', '8801855097612', '1514437931498'),
 ('C000059', 'ajay kumar', '8801921240990', '6260708988679'),
 ('C000060', 'yognder', '8801638316246', '3367770095638'),
 ('C000061', 'subhash', '8801665880144', '3000248828887'),
 ('C000062', 'arun @ vicky', '8801866477827', '4266985070251'),
 ('C000063', 'rahul', '8801512878636', '9533375494747'),
 ('C000064', 'vikas', '8801534770856', '8648180768122'),
 ('C000065', 'vinod', '8801698573991', '1644659365871'),
 ('C000066', 'salman', '8801947559107', '3088660716383'),
 ('C000067', 'mohan kumar', '8801770773279', '4410752435075'),
 ('C000068', 'sandeep meghawal', '8801541388189', '7492642038612'),
 ('C000069', 'imamudeen', '8801614894767', '4718838585576'),
 ('C000070', 'sandeep kumar', '8801857439507', '8040583637007'),
 ('C000071', 'tarjan', '8801685610321', '4102275273774'),
 ('C000072', 'kuldeep singh', '8801953243498', '7038273353557'),
 ('C000073', 'murari', '8801795628643', '2283120720995'),
 ('C000074', 'ramvilash', '8801967797331', '1979259403439'),
 ('C000075', 'jagdish', '8801766011925', '9139438039454'),
 ('C000076', 'vishal @ moni', '8801835172783', '8115792094526'),
 ('C000077', 'mohd shahid', '8801959642215', '2617465125963'),
 ('C000078', 'ramvilash', '8801759073688', '6720482051449'),
 ('C000079', 'kuldeep', '8801722483056', '4579963572359'),
 ('C000080', 'talim', '8801916095095', '5513231513847'),
 ('C000081', 'nanku prasad', '8801991833172', '9739357067896'),
 ('C000082', 'bhola sarkar', '8801835611685', '8639232379379'),
 ('C000083', 'balraj', '8801933656310', '1479792048835'),
 ('C000084', 'ravindra kumar', '8801876393480', '5509560089072'),
 ('C000085', 'rohit kumar', '8801527487490', '8882208281974'),
 ('C000086', 'uttam kumar @ sanki', '8801845551840', '2231919872169'),
 ('C000087', 'babalu sen', '8801537499672', '4300971303971'),
 ('C000088', 'rustam shah', '8801771799883', '4682037288699'),
 ('C000089', 'sukhdev', '8801613019793', '5390888225047'),
 ('C000090', 'b vikjay kumar', '8801691875707', '2140216911324'),
 ('C000091', 'dolly @ rekha w/o monto shah', '8801722771508', '5294846046662'),
 ('C000092', 'gopal sharma', '8801632649652', '3051979586369'),
 ('C000093', 'beeru', '8801710588748', '4117878363612'),
 ('C000094', 'vipin', '8801547576926', '2846801847000'),
 ('C000095', 'manish garg', '8801652398658', '9055154533399'),
 ('C000096', 'guddu', '8801951847045', '3007242011292'),
 ('C000097', 'jatin @ sonu', '8801555327433', '3969980579507'),
 ('C000098', 'amit kumar', '8801716978984', '9671406324392'),
 ('C000099', 'amit kumar', '8801928570937', '1183895928227'),
 ('C000100', 'shadab', '8801693772500', '9372163963679'),
 ('C000101', 'rakesh', '8801548153394', '7898806955965'),
 ('C000102', 'guddu', '8801854253555', '5822711987369'),
 ('C000103', 'abhishek', '8801788699335', '1889746530634'),
 ('C000104', 'gulfam', '8801945626755', '9543881673306'),
 ('C000105', 'phoolwati @ phoolo devi', '8801955953601', '4186047975085'),
 ('C000106', 'mohit maan', '8801561170462', '1060192784143'),
 ('C000107', 'veer bhan singh', '8801775846669', '2626567007414'),
 ('C000108', 'dinesh kumar', '8801640699284', '3379402271007'),
 ('C000109', 'amarjeet', '8801930945428', '7676991412031'),
 ('C000110', 'satyadev', '8801739529373', '4256611986807'),
 ('C000111', 'mohd. mukhtaar', '8801961104394', '9675769561440'),
 ('C000112', 'rishi', '8801690192757', '6751913510239'),
 ('C000113', 'esrail khan', '8801517948677', '9799124337555'),
 ('C000114', 'suresh kumar', '8801834599819', '3044085422652'),
 ('C000115', 'pankaj chand', '8801874784965', '2046019678137'),
 ('C000116', 'ajay narayan', '8801545070946', '4499489926930'),
 ('C000117', 'mohit @ himanshu', '8801969877482', '8824188856755'),
 ('C000118', 'sumit', '8801527791385', '8549954212273'),
 ('C000119', 'saddam', '8801837321994', '5198144162236'),
 ('C000120', 'nikhleshwar bhagat', '8801849762160', '4675818253736'),
 ('C000121', 'jai singh', '8801976120404', '4205367408686'),
 ('C000122', 'deepak', '8801546432604', '2108529027897'),
 ('C000123', 'sunil kumar', '8801944058180', '6646678328210'),
 ('C000124', 'ram kishan', '8801573278870', '6086032269792'),
 ('C000125', 'arun', '8801598214973', '8821759463255'),
 ('C000126', 'virender', '8801891486983', '2176468562125'),
 ('C000127', 'bishun', '8801826730315', '5314660826463'),
 ('C000128', 'pritam singh', '8801899179830', '7370494384715'),
 ('C000129', 'akash gupta', '8801757534751', '8519942248745'),
 ('C000130', 'kishan', '8801776901054', '4080661383506'),
 ('C000131', 'mohd kausar', '8801931566073', '5235063645047'),
 ('C000132', 'sachin', '8801652365114', '6398794856537'),
 ('C000133', 'harman singh', '8801651826021', '7039346422709'),
 ('C000134', 'deepak', '8801964447283', '9773587232876'),
 ('C000135', 'rajbir', '8801786243132', '3333830592611'),
 ('C000136', 'vinod lal', '8801946712905', '5664517212718'),
 ('C000137', 'NaN', '8801554462380', '2427034079235'),
 ('C000138', 'chander shaker', '8801529905109', '6834834439620'),
 ('C000139', 'krishan', '8801853490217', '6728512543000'),
 ('C000140', 'ram ji', '8801975713946', '6946083464268'),
 ('C000141', 'jony', '8801623144149', '6674685341498'),
 ('C000142', 'mohammad ali', '8801741834704', '3813953777751'),
 ('C000143', 'ashok kumar s/o', '8801665191217', '1128132240572'),
 ('C000144', 'ravinder @ bacchi', '8801546489617', '3415425498750'),
 ('C000145', 'amit', '8801761222627', '6291721094011'),
 ('C000146', 'guman singh basyal', '8801789838538', '7266914854101'),
 ('C000147', 'amardeep', '8801521752113', '8934355684223'),
 ('C000148', 'jagdish', '8801649487132', '4356565176642'),
 ('C000149', 'bharat', '8801796885908', '2514855946229'),
 ('C000150', 'azaz', '8801527019194', '1977540292240'),
 ('C000151', 'raja kumar', '8801853333722', '9753712539624'),
 ('C000152', 'parveen', '8801747391755', '6479494892902'),
 ('C000153', 'mahabir prasad', '8801598038235', '5691177776683'),
 ('C000154', 'kartik @ kaku', '8801740160648', '3005038767890'),
 ('C000155', 'shubham yadav', '8801974719209', '2030179103211'),
 ('C000156', 'yogesh', '8801518567304', '4816644344799'),
 ('C000157', 'madan', '8801863730230', '5598957947334'),
 ('C000158', 'rashid', '8801929645752', '2307808707169'),
 ('C000159', 'jitender', '8801561587983', '6277224925043'),
 ('C000160', 'pawan kumar', '8801530289748', '4232161036148'),
 ('C000161', 'vivek', '8801674862926', '4231791185799'),
 ('C000162', 'pintu kumar', '8801742946646', '7695074602391'),
 ('C000163', 'deep', '8801766884340', '2571289071614'),
 ('C000164', 'dharmbir', '8801936279900', '9714347947647'),
 ('C000165', 'rishi kakdia', '8801523524130', '9125883756067'),
 ('C000166', 'kunal @ kannu', '8801722393903', '9692270710856'),
 ('C000167', 'arman ansari', '8801769210832', '6612518356576'),
 ('C000168', 'avinsh', '8801640138467', '7129522006567'),
 ('C000169', 'karan', '8801642135663', '9477492406111'),
 ('C000170', 'sandeep kumar', '8801939386527', '1057822941910'),
 ('C000171', 'sagar', '8801849870816', '6126370611205'),
 ('C000172', 'nikhil', '8801828239519', '7705727907530'),
 ('C000173', 'raman', '8801781337376', '2302022425221'),
 ('C000174', 'sujen manjhi', '8801745028947', '9839049917954'),
 ('C000175', 'abhijeet', '8801885656967', '7663766008800'),
 ('C000176', 'anshu', '8801757546914', '7620052776259'),
 ('C000177', 'sahil', '8801614276082', '6018035670697'),
 ('C000178', 'aditya som', '8801595842211', '3340875392070'),
 ('C000179', 'gaurav', '8801979367076', '2200030047760'),
 ('C000180', 'raja kumar', '8801522410182', '5310085544117'),
 ('C000181', 'sunil', '8801615095485', '9864658310111'),
 ('C000182', 'ravi kumar', '8801654124029', '2169309538129'),
 ('C000183', 'shankar kumar', '8801822322475', '3071309377171'),
 ('C000184', 'vishvash', '8801687327965', '5814726972884'),
 ('C000185', 'sonia', '8801884159288', '3248472672059'),
 ('C000186', 'santosh', '8801920500942', '2509203761711'),
 ('C000187', 'kayamuddin', '8801933514516', '5445392581028'),
 ('C000188', 'rohit kumar', '8801945653760', '7391995892418'),
 ('C000189', 'nandkishore karpenter', '8801622786449', '7262945458321'),
 ('C000190', 'lala bhai', '8801793598434', '9354730696891'),
 ('C000191', 'kishan rai', '8801777967456', '3456408290493'),
 ('C000192', 'mahender kumar', '8801993932091', '6584906857717'),
 ('C000193', 'deepak', '8801541452132', '4938748124268'),
 ('C000194', 'mohd afzal', '8801811578123', '7222829117934'),
 ('C000195', 'satender', '8801961209765', '2380761381420'),
 ('C000196', 'shiv prasad singh', '8801948482948', '6271738209003'),
 ('C000197', 'mobin', '8801649522599', '7136051682605'),
 ('C000198', 'khokan sarkar', '8801578699877', '9444593531415'),
 ('C000199', 'vikash', '8801781310099', '8862583274177'),
 ('C000200', 'krisana braman', '8801553773984', '4318188071930'),
 ('C000201', 'vipol', '8801563656342', '1294031102940'),
 ('C000202', 'sanjay', '8801733064394', '2703353131572'),
 ('C000203', 'mohd miraj ansari', '8801862834921', '8019303800338'),
 ('C000204', 'rajmani', '8801812725608', '4034271618849'),
 ('C000205', 'harbir  singh', '8801592054039', '9607873981680'),
 ('C000206', 'mohan', '8801776025989', '1506476212852'),
 ('C000207', 'farid', '8801855091369', '2994209762541'),
 ('C000208', 'yuvraj kumar', '8801523318386', '3862915821545'),
 ('C000209', 'charan jeet singh', '8801722843008', '2984063169597'),
 ('C000210', 'satish kumar', '8801920139402', '6871206863066'),
 ('C000211', 'gappu', '8801622563303', '6011092650762'),
 ('C000212', 'nazeem', '8801947067886', '2129081534153'),
 ('C000213', 'aamir', '8801965439732', '2815192022484'),
 ('C000214', 'vivek sharma', '8801922357862', '3990866821755'),
 ('C000215', 'sandeep', '8801972036169', '6893329759418'),
 ('C000216', 'gutam', '8801972632604', '6189881965720'),
 ('C000217', 'prakul', '8801940994954', '6414631393749'),
 ('C000218', 'birjesh', '8801723796521', '3626685788192'),
 ('C000219', 'sahil tigga', '8801569243642', '7007343784349'),
 ('C000220', 'girishi chand', '8801953546834', '7323676410019'),
 ('C000221', 'pavan sharma', '8801590485361', '5149128430220'),
 ('C000222', 'ikramuddin', '8801932222069', '9195522898850'),
 ('C000223', 'sajan', '8801510658085', '5236980759969'),
 ('C000224', 'molu', '8801574422398', '9808887804580'),
 ('C000225', 'dilawar', '8801680323455', '4514498449663'),
 ('C000226', 'naval kishore', '8801544794540', '5602330278585'),
 ('C000227', 'sanjay', '8801575201748', '9282981915581'),
 ('C000228', 'ajahar', '8801711125307', '3415603843828'),
 ('C000229', 'sanjeev', '8801520750908', '5043565830025'),
 ('C000230', 'raman ralhan', '8801914169658', '3358893039669'),
 ('C000231', 'raman ralhan', '8801516505886', '5262832163895'),
 ('C000232', 'rohit', '8801575084124', '6632308650113'),
 ('C000233', 'prem chand', '8801629504369', '3903363452960'),
 ('C000234', 'sandhaya', '8801668224492', '4640705474946'),
 ('C000235', 'ashish', '8801672030456', '1364837177224'),
 ('C000236', 'irfan', '8801561088071', '9933732506367'),
 ('C000237', 'jang bahadur', '8801661506295', '9591534859358'),
 ('C000238', 'om parkash ahuja', '8801958892115', '4502425429125'),
 ('C000239', 'kamre alam', '8801661329833', '4426197038968'),
 ('C000240', 'md. raju', '8801591247344', '9251116209973'),
 ('C000241', 'dinesh', '8801683111612', '2398996593656'),
 ('C000242', 'satpal', '8801528862285', '3079400805691'),
 ('C000243', 'ram pyare', '8801621740333', '8541788589342'),
 ('C000244', 'suraj singh', '8801939209039', '4358148687619'),
 ('C000245', 'ashfaq', '8801717723538', '1410362033558'),
 ('C000246', 'shaid', '8801659026490', '1600809232490'),
 ('C000247', 'vikas gupta', '8801912125592', '7422601700897'),
 ('C000248', 'vijay singh', '8801694527363', '3694640218184'),
 ('C000249', 'hari ram', '8801685945628', '6515042998690'),
 ('C000250', 'manoj kumar', '8801741014530', '5287539857690'),
 ('C000251', 'parash das', '8801518463491', '4752799831257'),
 ('C000252', 'mehraj', '8801590177824', '2497655161003'),
 ('C000253', 'chetan', '8801697293225', '4895291705428'),
 ('C000254', 'bhanwar lal', '8801661705819', '2015283714199'),
 ('C000255', 'sanavvar', '8801570035450', '8238709681223'),
 ('C000256', 'rahul sharma', '8801926008845', '3601626172195'),
 ('C000257', 'mustaq', '8801577997358', '6139698345527'),
 ('C000258', 'ramkaran verma', '8801731858539', '7975424688360'),
 ('C000259', 'mukhtyar hussain', '8801591510976', '3695218467819'),
 ('C000260', 'vakil', '8801912730387', '4834769297559'),
 ('C000261', 'bilal malik', '8801971610565', '1150868060786'),
 ('C000262', 'radheshyam sen', '8801517914771', '9220251765423'),
 ('C000263', 'mukesh', '8801616009040', '5375527307464'),
 ('C000264', 'sunil kumar', '8801797502357', '7444339067327'),
 ('C000265', 'sunny', '8801891008722', '4911016199947'),
 ('C000266', 'jitender rajak', '8801672605301', '6089096252717'),
 ('C000267', 'brahamprakash s/o meer singh', '8801642855082', '5473860224174'),
 ('C000268', 'raju singh', '8801812136573', '7296821024152'),
 ('C000269', 'sobit saini', '8801674678566', '1929018933923'),
 ('C000270', 'inder dutt', '8801622182838', '1121960680012'),
 ('C000271', 'shakir', '8801513214193', '8358812860265'),
 ('C000272', 'haseen ahmed', '8801870939706', '4556017154847'),
 ('C000273', 'kiran', '8801734521099', '2926597740546'),
 ('C000274', 'gulam rashul', '8801999306163', '1045286372892'),
 ('C000275', 'rajan', '8801519978321', '4552070662383'),
 ('C000276', 'ayush', '8801721206338', '4029800627341'),
 ('C000277', 'suraj', '8801550446963', '6953678959993'),
 ('C000278', 'sehboob', '8801862606920', '2064641845558'),
 ('C000279', 'sanjay kumar s/o', '8801697738578', '8711293485684'),
 ('C000280', 'manish', '8801729523247', '4425320088039'),
 ('C000281', 'amit kumar yadav', '8801812912066', '5452221978964'),
 ('C000282', 'divaraj', '8801543993063', '9225308082939'),
 ('C000283', 'kamlesh', '8801856481651', '1782148999168'),
 ('C000284', 'rajiv bagoriya', '8801537150522', '3218820660778'),
 ('C000285', 'abhinav chaudhary', '8801775853863', '4834707006995'),
 ('C000286', 'rahul', '8801911462708', '9211190033226'),
 ('C000287',
  'devender singh s/o shrinath r/o kh. no. 72/1, utsa',
  '8801947047958',
  '6690495573728'),
 ('C000288', 'azruddin', '8801897781745', '5103981224315'),
 ('C000289', 'sanjay kumar @ pappu', '8801680817516', '8259557956219'),
 ('C000290', 'mushir ahmed', '8801842018259', '6203454528604'),
 ('C000291', 'vibhuti shyamal', '8801686701352', '8053798760900'),
 ('C000292', 'inderjeet', '8801993500858', '6279397793033'),
 ('C000293', 'sanjay', '8801530345224', '1597456671773'),
 ('C000294', 'golu', '8801884693532', '3324827956351'),
 ('C000295', 'lokesh', '8801850118642', '1072565335597'),
 ('C000296', 'rajkumar', '8801963751382', '4339526447476'),
 ('C000297', 'neeraj kandari', '8801833472537', '5119333465290'),
 ('C000298', 'mukul verma', '8801634359988', '2433360448946'),
 ('C000299', 'rijakpal', '8801970013266', '1734772051131'),
 ('C000300', 'jai kishan', '8801843439286', '3852632409451'),
 ('C000301', 'munna lal jain', '8801582771550', '6899223684927'),
 ('C000302', 'jai prakash kashyap', '8801633545157', '5709782370491'),
 ('C000303', 'jai prakash kashyap', '8801676399060', '4906580290275'),
 ('C000304', 'shishram', '8801994343930', '2033722066109'),
 ('C000305', 'parveen aggarwal', '8801655681540', '7648304573728'),
 ('C000306', 'pramod paswan', '8801562420207', '2424111717662'),
 ('C000307', 'ajit', '8801792379531', '5200686250822'),
 ('C000308', 'deelip', '8801510727042', '3688961284676'),
 ('C000309', 'deelip', '8801678292688', '2664611601436'),
 ('C000310', 'rahul', '8801697583911', '6879025493207'),
 ('C000311', 'aaftaab husan', '8801514984189', '7478040642933'),
 ('C000312', 'monu', '8801611575998', '8896390212089'),
 ('C000313', 'ramesh', '8801527956146', '4604610998475'),
 ('C000314', 'sawan gupta', '8801679523950', '8475664706404'),
 ('C000315', 'munna lal', '8801984584612', '6341752634350'),
 ('C000316', 'saurabh', '8801758899177', '3939066416664'),
 ('C000317', 'sarvesh kumar pandey', '8801899342734', '4777938965604'),
 ('C000318', 'avdhesh', '8801872015623', '1888284112712'),
 ('C000319', 'sohnal kumar singh', '8801951108992', '8758587191451'),
 ('C000320', 'najar hussan', '8801747478421', '6557901677120'),
 ('C000321', 'raman @ rancho', '8801664470692', '1423348623421'),
 ('C000322', 'lavtar singh', '8801649251789', '1070025466092'),
 ('C000323', 'nanak chand', '8801561633119', '5077330749260'),
 ('C000324', 'harprasad sahu', '8801839885977', '9306707858193'),

### fact data insert

In [47]:
data = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name='Fact_table', engine='openpyxl')

In [27]:
data

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

In [49]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.fact_table ( payment_key, customer_key, time_key, item_key, store_key , quantity, unit, unit_price, total_price)" \
            " VALUES (%s, %s, %s , %s , %s, %s, %s , %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, data.values)
con.commit()
cur.close()

successfully connected to database

### item data insert

In [29]:
data = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name='Item_dim', engine='openpyxl')

In [30]:
data

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

In [31]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.item_dim ( item_key, item_name, description, unit_price, man_country, supplier, unit)" \
            " VALUES (%s, %s, %s , %s , %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, data.values)
con.commit()
cur.close()

successfully connected to database

In [33]:
cur = con.cursor()
select_stmt = "SELECT * " \
              "FROM star_schema.item_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('I00001',
  'A&W Root Beer - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00002',
  'A&W Root Beer Diet - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00003',
  "Barq's Root Beer - 12 oz cans",
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00004',
  'Cherry Coke 12oz',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00005',
  'Cherry Coke Zero 12 pack',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00006',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00007',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00008',
  'Coke Zero Sugar 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00009',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00010',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00011',
  'Diet Coke Caffeine Free 12oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00012',
  'Diet Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00013',
  'Diet Gingerale 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00014',
  'Diet Mountain Dew 12oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00015',
  'Diet Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00016',
  'Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00017',
  'Fresca Black Cherry - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00018',
  'Fresca Original - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00019',
  'Fresca Peach Citrus - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00020',
  'Ginger Ale - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00021',
  'Hawaiian Punch - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00022',
  'Mountain Dew - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00023',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00024',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00025',
  'Seven Up - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00026',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00027',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00028',
  'Sprite Zero - 12 pack',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00029',
  'Sunkist Orange - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00030',
  'La Croix Sparkling Berry 12 ozv',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00031',
  'La Croix Sparkling Coconut 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00032',
  'La Croix Sparkling Cran-Raspberry 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00033',
  'La Croix Sparkling Grapefruit 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00034',
  'La Croix Sparkling Lemon 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00035',
  'La Croix Sparkling Lime 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00036',
  'La Croix Sparkling Orange 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00037',
  'La Croix Sparkling Pure 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00038',
  'Perrier Flavors Sparkling Water 16.9oz',
  'a. Beverage Sparkling Water',
  Decimal('23.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00039',
  'Perrier Sparkling Water glass 11oz',
  'a. Beverage Sparkling Water',
  Decimal('26.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00040',
  'Perrier Sparkling Water plastic 16.9oz',
  'a. Beverage Sparkling Water',
  Decimal('22.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00041',
  'San Pelligrino 16oz Plastic ',
  'a. Beverage Sparkling Water',
  Decimal('23.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00042',
  'Topo Chico 12 oz glass',
  'a. Beverage Sparkling Water',
  Decimal('28.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00043',
  'Topo Chico 20oz plastic',
  'a. Beverage Sparkling Water',
  Decimal('24.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00044',
  'Waterloo Sparkling Blackcherry 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00045',
  'Waterloo Sparkling Grapefruit 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00046',
  'Waterloo Sparkling Lemon 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00047',
  'Waterloo Sparkling Lime 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00048',
  'Waterloo Sparkling Mango 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00049',
  'Waterloo Sparkling Original 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00050',
  'Waterloo Sparkling Watermelon 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00051',
  'Monster Java 15 oz',
  'Beverage - Energy/Protein ',
  Decimal('23.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00052',
  'Monster Lo-Carb 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00053',
  'Monster Original Green 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00054',
  'Monster Zero Ultra 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00055',
  'Monster Zero Ultra Variety 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00056',
  'Muscle Milk Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00057',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00058',
  'Premier Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00059',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00060',
  'Muscle Milk Protein Shake Strbry. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'bottles'),
 ('I00061',
  'Red Bull 12oz',
  'Beverage - Energy/Protein',
  Decimal('55.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00062',
  'Red Bull 16oz',
  'Beverage - Energy/Protein',
  Decimal('37.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00063',
  'Red Bull 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00064',
  'Red Bull Sugar Free 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00065',
  'G2 Lo Calorie Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00066',
  'Gatorade Frost Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00067',
  'Gatorade Lemon Lime 12oz',
  'Beverage - Gatorade',
  Decimal('8.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00068',
  'Gatorade Liberty Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'India',
  'Indo Count Industries Ltd',
  'bottles'),
 ('I00069',
  'Gatorade Frost Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00070',
  'Gatorade Liberty Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00071',
  'Gatorade Original Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00072',
  'Gatorade Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00073',
  'Gatorade X-Factor Fierce Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00074',
  'Gatorade Zero Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00075',
  'Brisk Lemon Iced Tea - 12 oz cans',
  'Beverage - Iced Tea',
  Decimal('15.5'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00076',
  'Diet Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00077',
  'Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00078',
  'Pure Leaf Sweet Tea 8.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00079',
  'Pure Leaf Unsweetened Tea 18.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00080',
  'Snapple Variety Pack 20oz',
  'Beverage - Iced Tea',
  Decimal('22.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00081',
  'Tejava Unsweetened Black Tea 16.9oz',
  'Beverage - Iced Tea',
  Decimal('29.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00082',
  '100% Juice Box Variety 6.75 oz ',
  'Beverage - Juice',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00083',
  'Ocean Spray Cranberry Juice Cocktail 15oz ',
  'Beverage - Juice',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00084',
  'Tropicana Apple Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00085',
  'Tropicana Orange Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00086',
  'V8 100% Vegetable Juice 11oz cans',
  'Beverage - Juice',
  Decimal('18.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00087',
  'V-8 Splash Variety 20 oz',
  'Beverage - Juice',
  Decimal('15.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00088',
  "Welch's 100% Juice Variety10 oz",
  'Beverage - Juice',
  Decimal('17.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00089',
  'AquaFina Purified Drinking Water 16oz',
  'Beverage Water',
  Decimal('9.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00090',
  'Dasani Bottled Water 16.9 oz',
  'Beverage Water',
  Decimal('9.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00091',
  'Nestle Purelife 16oz ',
  'Beverage Water',
  Decimal('7.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00092',
  'Ozarka Spring Water 16.9 oz bottles',
  'Beverage Water',
  Decimal('10.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00093',
  'Ozarka Spring Water 20 oz',
  'Beverage Water',
  Decimal('13.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00094',
  'Ozarka Spring Water Mini 8oz',
  'Beverage Water',
  Decimal('11.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00095',
  'Propel Zero Variety 20 oz',
  'Beverage Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'botlltes'),
 ('I00096',
  'Sobe Zero Lifewater Variety 20 oz',
  'Beverage Water',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00097',
  'Vita Coconut Water 10oz ',
  'Beverage Water',
  Decimal('19.0'),
  'India',
  'Indo Count Industries Ltd',
  'cartons'),
 ('I00098',
  'Coffee-Mate French Vanilla Cold',
  'Coffee Cream',
  Decimal('10.0'),
  'Finland',
  'HARDFORD AB',
  'oz'),
 ('I00099',
  'Coffee-Mate Original Flavor Cold',
  'Coffee Cream',
  Decimal('6.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00100',
  'Coffee-mate Original Powdered Creamer',
  'Coffee Cream',
  Decimal('10.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'oz.'),
 ('I00101',
  'French Vanilla International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'tubs'),
 ('I00102',
  "Half & Half -Land o Lakes Mini Moo's",
  'Coffee Cream',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'tubs'),
 ('I00103',
  'Hazelnut International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'tubs'),
 ('I00104',
  'Njoy Creamer Canister 16 oz',
  'Coffee Creamer',
  Decimal('14.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00105',
  'Njoy Creamer Packs',
  'Coffee Creamer',
  Decimal('16.5'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00106',
  'Community Coffee Dark Roast',
  'Coffee Ground',
  Decimal('17.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00107',
  'Dunkin Donuts Original Blend',
  'Coffee Ground',
  Decimal('20.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'oz'),
 ('I00108',
  'Folgers 100% Colombian Coffee',
  'Coffee Ground',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'oz'),
 ('I00109',
  'Folgers Classic Roast Coffee',
  'Coffee Ground',
  Decimal('17.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'oz'),
 ('I00110',
  "Starbuck's Pike Place",
  'Coffee Ground',
  Decimal('22.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'oz'),
 ('I00111',
  'K Cups Hot Cocoa',
  'Coffee Hot Cocoa',
  Decimal('16.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00112',
  'Swiss Miss Hot Cocoa Mix 1 oz',
  'Coffee Hot Cocoa',
  Decimal('14.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct.'),
 ('I00113',
  'K Cups - McCafe Premium Roast',
  'Coffee K-Cups',
  Decimal('42.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00114',
  "K Cups – Starbuck's Pike Place",
  'Coffee K-Cups',
  Decimal('44.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00115',
  'K Cups Daily Chef Columbian Supremo',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00116',
  'K Cups Dunkin Donuts Medium Roast',
  'Coffee K-Cups',
  Decimal('48.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00117',
  'K Cups Folgers Lively Columbian',
  'Coffee K-Cups',
  Decimal('46.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00118',
  'K Cups –Organic Breakfast Blend',
  'Coffee K-Cups',
  Decimal('42.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00119',
  'K Cups Original Donut Shop Med. Roast',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00120',
  'K Cups - Green Tea',
  'Coffee K-Cups Tea',
  Decimal('9.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00121',
  'Stirrers Coffee Stirs 7inch',
  'Coffee Stirrers',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'ct'),
 ('I00122',
  'Equal Sweetener',
  'Coffee Sweetener',
  Decimal('15.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00123',
  'Honey Packets  ',
  'Coffee Sweetener',
  Decimal('45.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00124',
  'Njoy Sugar Canister 22 oz',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00125',
  'Pure White Sugar Packets',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00126',
  'Splenda Sweetener',
  'Coffee Sweetener',
  Decimal('25.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00127',
  'Sugar in the Raw Packets',
  'Coffee Sweetener',
  Decimal('12.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00128',
  'Sweet N Low Sweetener',
  'Coffee Sweetener',
  Decimal('16.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'pk'),
 ('I00129',
  'Truvia Natural Sweetener',
  'Coffee Sweetener',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00130',
  'Hefty Supreme Foam Bowls 12oz',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00131',
  'Paper Bowls 20 oz Ultra Strong',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00132',
  'Clear Plastic 12 oz Cups',
  'Dishware - Cups Cold',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00133',
  'Clear Plastic Cups 9oz',
  'Dishware - Cups Cold',
  Decimal('15.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00134',
  'Red Plastic Cups 18oz',
  'Dishware - Cups Cold',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00135',
  'Chinet Comfort Hot Cups with Lids 16oz',
  'Dishware - Cups Hot',
  Decimal('14.0'),
  'United States',
  'MAESA SAS',
  'ct.'),
 ('I00136',
  'Dixie Perfecttouch Paper Cups 12oz',
  'Dishware - Cups Hot',
  Decimal('19.5'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00137',
  'Foam Coffee Cups - 08 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00138',
  'Foam Coffee Cups - 12 ounce',
  'Dishware - Cups Hot',
  Decimal('32.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00139',
  'Foam Coffee Cups - 16 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'ct'),
 ('I00140',
  'Foam Coffee Cups - 20 ounce',
  'Dishware - Cups Hot',
  Decimal('29.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00141',
  "Hefty Cmprtmnt Plates Foam 10'",
  'Dishware - Plates',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00142',
  'Hefty Supreme Foam Plates 6 inch',
  'Dishware - Plates',
  Decimal('12.5'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00143',
  'Hefty Supreme Foam Plates 9 inch',
  'Dishware - Plates',
  Decimal('16.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00144',
  'Paper Plate 10 inch Ultra Strong',
  'Dishware - Plates',
  Decimal('20.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00145',
  'Paper Plates 7 inch  Ultra Strong',
  'Dishware - Plates',
  Decimal('17.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00146',
  'Paper Plates 8.5 inch Ultra Strong',

### store data insert

In [34]:
data = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name='Store_dim', engine='openpyxl')

In [35]:
data

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

In [36]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.store_dim ( store_key, division, district, upazila)" \
            " VALUES (%s, %s, %s , %s )"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, data.values)
con.commit()
cur.close()

successfully connected to database

In [39]:
data = pd.read_excel(open(Data_dir + 'e-commerece_data.xlsx','rb'), sheet_name='Time_dim', engine='openpyxl')
data

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [43]:
data['date'] = pd.to_datetime(data['date'], format = '%d-%m-%Y %H:%M')

In [44]:
con = PostgresConnection().getConnection()
insert_stmt = "INSERT INTO star_schema.time_dim ( time_key, date, hour, day, week, month, quarter, year)" \
            " VALUES (%s, %s, %s , %s, %s, %s, %s , %s )"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, data.values)
con.commit()
cur.close()

successfully connected to database

In [50]:
data

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0