### Package installation

In [ ]:
pip install psycopg2

In [ ]:
pip install pandas

In [ ]:
pip install openpyxl

### Import required Packages

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract

***Read from excel file***

In [8]:
DATA_DIR = "/eSRD-Lab/HDA/dataset/"

In [11]:
trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')

In [12]:
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

### load Trans_dim data from xlsx

In [5]:
trans_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Trans_dim')
trans_dim.head(10)

  payment_key trans_type                          bank_name
0        P001       cash                               None
1        P002       card                    AB Bank Limited
2        P003       card   Bangladesh Commerce Bank Limited
3        P004       card                  Bank Asia Limited
4        P005       card                  BRAC Bank Limited
5        P006       card              Citizens Bank Limited
6        P007       card                  City Bank Limited
7        P008       card  Community Bank Bangladesh Limited
8        P009       card                 Dhaka Bank Limited
9        P010       card          Dutch-Bangla Bank Limited

In [7]:
#checking for null values
trans_dim.isna().sum()

payment_key    0
trans_type     0
bank_name      0
dtype: int64

### load Store_dim data from xlsx

In [8]:
store_df = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Store_dim')
store_df.head(5)

  store_key division  district         upazila
0     S0001   SYLHET  HABIGANJ      AJMIRIGANJ
1     S0002   SYLHET  HABIGANJ         BAHUBAL
2     S0003   SYLHET  HABIGANJ      BANIACHONG
3     S0004   SYLHET  HABIGANJ     CHUNARUGHAT
4     S0005   SYLHET  HABIGANJ  HABIGANJ SADAR

In [9]:
store_df.dtypes

store_key    object
division     object
district     object
upazila      object
dtype: object

In [10]:
#checking for null values
store_df.isna().sum()

store_key    0
division     0
district     0
upazila      0
dtype: int64

### load Customer data

In [11]:
Coustomer_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Coustomer_dim')
Coustomer_dim.head(5)

  coustomer_key             name     contact_no            nid
0       C000001            sumit  8801920345851  7505075708899
1       C000002         tammanne  8801817069329  1977731324842
2       C000003    kailash kumar  8801663795774  3769494056318
3       C000004  bhagwati prasad  8801533627961  9378834712725
4       C000005             ajay  8801943715786  3540815556323

In [12]:
Coustomer_dim.dtypes

coustomer_key    object
name             object
contact_no        int64
nid               int64
dtype: object

In [16]:
#checking for null values
store_df.isnull().sum()

store_key    0
division     0
district     0
upazila      0
dtype: int64

### Load Time Data

In [37]:
time_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Time_dim')
time_dim.head(10)

  time_key              date  hour  day      week  month quarter  year
0   T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1   T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2   T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3   T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4   T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
5   T00006  10-02-2017 06:56     6   10  2nd Week      2      Q1  2017
6   T00007  06-05-2015 17:52    17    6  1st Week      5      Q2  2015
7   T00008  23-09-2014 13:59    13   23  4th Week      9      Q3  2014
8   T00009  16-04-2016 06:45     6   16  3rd Week      4      Q2  2016
9   T00010  26-10-2015 22:00    22   26  4th Week     10      Q4  2015

In [39]:
time_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time_key  99999 non-null  object
 1   dates     99999 non-null  object
 2   hour      99999 non-null  int64
 3   day       99999 non-null  int64
 4   week      99999 non-null  object
 5   month     99999 non-null  int64
 6   quarter   99999 non-null  object
 7   year      99999 non-null  int64
dtypes: int64(4), object(4)
memory usage: 6.1+ MB

### Load Item data

In [19]:
item_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Item_dim')
item_dim.head(10)

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,a. Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,a. Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,a. Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,a. Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,a. Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

In [20]:
#checking for null values
item_dim.isna().sum()

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           1
dtype: int64

## Handle missing values

#### Fill missing values with the most frequent value

In [21]:
item_dim = item_dim.fillna(item_dim.mode().iloc[0])

In [22]:
item_dim.isnull().sum()

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           0
dtype: int64

In [23]:
item_dim.rename(columns = {'desc':'descript'}, inplace = True)
item_dim.head(10)

,item_key,item_name,descript,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,a. Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,a. Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,a. Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,a. Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,a. Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

Need to process the the description column

### Transform

***Transform description values using regex***

In [29]:
item_dim["descript"] = item_dim["descript"].replace(to_replace='^a.',value='',regex=True)

In [30]:
item_dim["descript"].head(60)

0                Beverage - Soda
1                Beverage - Soda
2                Beverage - Soda
3                Beverage - Soda
4                Beverage - Soda
5                Beverage - Soda
6                Beverage - Soda
7                Beverage - Soda
8                Beverage - Soda
9                Beverage - Soda
10               Beverage - Soda
11               Beverage - Soda
12               Beverage - Soda
13               Beverage - Soda
14               Beverage - Soda
15               Beverage - Soda
16               Beverage - Soda
17               Beverage - Soda
18               Beverage - Soda
19               Beverage - Soda
20               Beverage - Soda
21               Beverage - Soda
22               Beverage - Soda
23               Beverage - Soda
24               Beverage - Soda
25               Beverage - Soda
26               Beverage - Soda
27               Beverage - Soda
28               Beverage - Soda
29      Beverage Sparkling Water
30      Beverage Sparkling Water
31      Beverage Sparkling Water
32      Beverage Sparkling Water
33      Beverage Sparkling Water
34      Beverage Sparkling Water
35      Beverage Sparkling Water
36      Beverage Sparkling Water
37      Beverage Sparkling Water
38      Beverage Sparkling Water
39      Beverage Sparkling Water
40      Beverage Sparkling Water
41      Beverage Sparkling Water
42      Beverage Sparkling Water
43      Beverage Sparkling Water
44      Beverage Sparkling Water
45      Beverage Sparkling Water
46      Beverage Sparkling Water
47      Beverage Sparkling Water
48      Beverage Sparkling Water
49      Beverage Sparkling Water
50    Beverage - Energy/Protein
51     Beverage - Energy/Protein
52     Beverage - Energy/Protein
53     Beverage - Energy/Protein
54     Beverage - Energy/Protein
55     Beverage - Energy/Protein
56     Beverage - Energy/Protein
57     Beverage - Energy/Protein
58     Beverage - Energy/Protein
59     Beverage - Energy/Protein
Name: descript, dtype: object

In [33]:
item_dim.head(10)

,item_key,item_name,descript,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

***Transfrom Time Data***

In [38]:
time_dim.rename(columns = {'date':'dates'}, inplace = True)
time_dim.head(10)

  time_key             dates  hour  day      week  month quarter  year
0   T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1   T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2   T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3   T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4   T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
5   T00006  10-02-2017 06:56     6   10  2nd Week      2      Q1  2017
6   T00007  06-05-2015 17:52    17    6  1st Week      5      Q2  2015
7   T00008  23-09-2014 13:59    13   23  4th Week      9      Q3  2014
8   T00009  16-04-2016 06:45     6   16  3rd Week      4      Q2  2016
9   T00010  26-10-2015 22:00    22   26  4th Week     10      Q4  2015

### Load

***Connect to the database***

In [34]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "afra1234",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [35]:
con = PostgresConnection().getConnection()

successfully connected to database

### Data Insertion

In [ ]:
insert_stmt = "INSERT INTO ecom_schema.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

In [17]:
insert_stmt = "INSERT INTO ecom_schema.store_dim ( store_key, division, district, upazila)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_df.values)
con.commit()
cur.close()

In [23]:
insert_stmt = "INSERT INTO ecom_schema.coustomer_dim ( coustomer_key, name, contact_no, nid)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, Coustomer_dim.values)
con.commit()
cur.close()

In [36]:
insert_stmt = "INSERT INTO ecom_schema.item_dim ( item_key, item_name, descript, unit_price, man_country, supplier, unit)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

In [ ]:
insert_stmt = "INSERT INTO ecom_schema.time_dim ( item_key, item_name, descript, unit_price, man_country, supplier, unit)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

## Fetch Data from Database

In [25]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecomdb_star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [26]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad