### Package installation

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\anaconda3\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\user\anaconda3\lib\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\user\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from pandas) (1.20.1)
Requirement already satisfied: six>=1.5 in c:\users\user\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Note: you may need to restart the kernel to use updated packages.

### Package call

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract

***Read from excel file***

In [2]:
DATA_DIR = "C:/Users/User/vintern/data/"

In [3]:
trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')

In [4]:
fact_table = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=0, engine='openpyxl')

In [7]:
import pandas as pd

coustomer_dim = pd.read_csv(DATA_DIR + 'Coustomer_dim.csv')

coustomer_dim["name"].fillna("No Name", inplace = True)



coustomer_dim["contact_no"].fillna("1", inplace = True)

coustomer_dim["nid"].fillna("1", inplace = True)

In [23]:
import pandas as pd

Item_dim = pd.read_csv(DATA_DIR + 'Item_dim.csv')

Item_dim["item_name"].fillna("No Name", inplace = True)



Item_dim["desc"].fillna("None", inplace = True)

Item_dim["unit_price"].fillna("0.0", inplace = True)
Item_dim["man_country"].fillna("none", inplace = True)
Item_dim["supplier"].fillna("No name", inplace = True)
Item_dim["unit"].fillna("none", inplace = True)

In [3]:
import pandas as pd

time_dim = pd.read_csv(DATA_DIR + 'Time_dim.csv')

'''coustomer_dim["name"].fillna("No Name", inplace = True)



coustomer_dim["contact_no"].fillna("1", inplace = True)

coustomer_dim["nid"].fillna("1", inplace = True)'''
print(time_dim)

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [4]:

time_dim['date'] = time_dim['date'].replace('/', '-');
print (time_dim.dtypes)
time_dim['date']=time_dim['date'].astype('datetime64[ns]')
print(time_dim['date'])

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object
0       2017-05-20 14:56:00
1       2015-01-30 22:14:00
2       2020-03-14 02:34:00
3       2018-04-27 12:19:00
4       2018-04-14 10:43:00
                ...
99994   2015-04-01 17:22:00
99995   2015-01-17 21:09:00
99996   2020-01-23 14:42:00
99997   2015-10-31 13:52:00
99998   2017-08-06 08:59:00
Name: date, Length: 99999, dtype: datetime64[ns]

In [47]:
print(fact_table.dtypes)

payment_key       object
coustomer_key     object
time_key          object
item_key          object
store_key         object
quantity           int64
unit              object
unit_price       float64
total_price      float64
dtype: object

In [27]:

print(coustomer_dim)

NameError: name 'coustomer_dim' is not defined

In [26]:
print(Item_dim)

    item_key                              item_name                desc  \
0     I00001             A&W Root Beer - 12 oz cans  a. Beverage - Soda
1     I00002        A&W Root Beer Diet - 12 oz cans  a. Beverage - Soda
2     I00003          Barq's Root Beer - 12 oz cans  a. Beverage - Soda
3     I00004                       Cherry Coke 12oz  a. Beverage - Soda
4     I00005               Cherry Coke Zero 12 pack  a. Beverage - Soda
..       ...                                    ...                 ...
259   I00260                   Napkins Square Lunch    Kitchen Supplies
260   I00261                 POM 2 ply paper towels    Kitchen Supplies
261   I00262                Strong Everyday Napkins    Kitchen Supplies
262   I00263                   Advil 2 pill packets            Medicine
263   I00264  Tylenol Extra Strength 2 pill packets            Medicine

     unit_price  man_country                        supplier  unit
0         11.50  Netherlands                 Bolsius Boxmeer  cans
1          6.75       poland              CHROMADURLIN S.A.S  cans
2          6.75   Bangladesh                    DENIMACH LTD  cans
3          6.75  Netherlands                 Bolsius Boxmeer  cans
4          6.75      Finland                     HARDFORD AB  cans
..          ...          ...                             ...   ...
259       15.00     Cambodia  NINGBO SEDUNO IMP & EXP CO.LTD    ct
260       33.00    Lithuania                        BIGSO AB    ct
261       14.00  Netherlands                 Bolsius Boxmeer    ct
262       14.00    Lithuania                        BIGSO AB    Ct
263       15.00        India       Indo Count Industries Ltd    Ct

[264 rows x 7 columns]

In [10]:
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [57]:
print(coustomer_dim.values) 
print(coustomer_dim[:10])

[['C000001' 'sumit' 8801920000000.0 7505080000000.0]
 ['C000002' 'tammanne' 8801817069329.0 1977730000000.0]
 ['C000003' 'kailash kumar' 8801660000000.0 3769490000000.0]
 ...
 ['C009189' 'madhubala' 8801890000000.0 3101930000000.0]
 ['C009190' 'pintu devi' 8801560000000.0 7234330000000.0]
 ['C009191' 'roopa' 8801520000000.0 5682730000000.0]]
  coustomer_key             name    contact_no           nid
0       C000001            sumit  8.801920e+12  7.505080e+12
1       C000002         tammanne  8.801817e+12  1.977730e+12
2       C000003    kailash kumar  8.801660e+12  3.769490e+12
3       C000004  bhagwati prasad  8.801534e+12  9.378830e+12
4       C000005             ajay  8.801944e+12  3.540820e+12
5       C000006         silender  8.801586e+12  8.516470e+12
6       C000007           deepak  8.801840e+12  6.155560e+12
7       C000008         akhilesh  8.801720e+12  3.287330e+12
8       C000009   dipendra kumar  8.801691e+12  3.411430e+12
9       C000010            nitin  8.801520e+12  9.450020e+12

In [6]:
import pandas as pd

Store_dim = pd.read_csv(DATA_DIR + 'Store_dim.csv')




Store_dim["division"].fillna("None", inplace = True)
Store_dim["district"].fillna("None", inplace = True)
Store_dim["upazila"].fillna("none", inplace = True)

In [7]:
Store_dim

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

### Transform

### Load

***Connect to the database***

In [5]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "15556010",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [6]:
con = PostgresConnection().getConnection()

successfully connected to database

In [13]:
insert_stmt = "INSERT INTO ecomdb_star_schema.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

In [20]:
insert_cus = "INSERT INTO ecomdb_star_schema.coustomer_dim ( coustomer_key, name, contact_no, nid)" \
            " VALUES (%s, %s, %s , %s)"
cur2 = con.cursor()
psycopg2.extras.execute_batch(cur2, insert_cus, coustomer_dim.values)
con.commit()
cur2.close()

In [10]:
insert_store = "INSERT INTO ecomdb_star_schema.store_dim ( store_key, division, district, upazila)" \
            " VALUES (%s, %s, %s , %s)"
cur4 = con.cursor()
psycopg2.extras.execute_batch(cur4, insert_store, Store_dim.values)
con.commit()
cur4.close()

In [7]:
insert_time = "INSERT INTO ecomdb_star_schema.time_dim ( time_key, dates, hour, day, week, month, quarter, year) VALUES (%s, %s, %s , %s , %s, %s , %s, %s)"
cur5 = con.cursor()
psycopg2.extras.execute_batch(cur5, insert_time, time_dim.values)
con.commit()
cur5.close()

In [50]:
insert_fact = "INSERT INTO ecomdb_star_schema.fact_table ( payment_key, coustomer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price) VALUES (%s, %s, %s , %s , %s, %s , %s, %s, %s)"
cur6 = con.cursor()
psycopg2.extras.execute_batch(cur6, insert_fact, fact_table.values)
con.commit()
cur6.close()

### Output From Database

In [72]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecomdb_star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [70]:
cur2 = con.cursor()
select_stmt2 = " SELECT t.coustomer_key, t.name , t.contact_no, t.nid " \
              "FROM ecomdb_star_schema.coustomer_dim t;"
cur2.execute(select_stmt2)
records2 = cur2.fetchall()
records2

[('C000001', 'sumit', '8801920000000.0', '7505080000000.0'),
 ('C000002', 'tammanne', '8801817069329.0', '1977730000000.0'),
 ('C000003', 'kailash kumar', '8801660000000.0', '3769490000000.0'),
 ('C000004', 'bhagwati prasad', '8801533627961.0', '9378830000000.0'),
 ('C000005', 'ajay', '8801943715786.0', '3540820000000.0'),
 ('C000006', 'silender', '8801586293092.0', '8516470000000.0'),
 ('C000007', 'deepak', '8801840000000.0', '6155560000000.0'),
 ('C000008', 'akhilesh', '8801720000000.0', '3287330000000.0'),
 ('C000009', 'dipendra kumar', '8801690939578.0', '3411430000000.0'),
 ('C000010', 'nitin', '8801520000000.0', '9450020000000.0'),
 ('C000011', 'doodhnath pandit', '8801740000000.0', '6062100000000.0'),
 ('C000012', 'aslam allam', '8801750000000.0', '9707240000000.0'),
 ('C000013', 'rahul', '8801740000000.0', '5790560000000.0'),
 ('C000014', 'jitender kumar', '8801660000000.0', '4426260000000.0'),
 ('C000015', 'adnan', '8801540000000.0', '6225300000000.0'),
 ('C000016', 'vijay', '8801840000000.0', '6604670000000.0'),
 ('C000017', 'yogesh', '8801610000000.0', '9972940000000.0'),
 ('C000018', 'kabir', '8801630000000.0', '4616560000000.0'),
 ('C000019', 'sarvesh', '8801740000000.0', '9038870000000.0'),
 ('C000020', 'rakesh sarkar', '8801720000000.0', '8166180000000.0'),
 ('C000021', 'akash gupta', '8801540000000.0', '8674060000000.0'),
 ('C000022', 'rahul', '8801920000000.0', '7788780000000.0'),
 ('C000023', 'pintu thakur', '8801930000000.0', '3524480000000.0'),
 ('C000024', 'vivek', '8801820000000.0', '3180140000000.0'),
 ('C000025', 'mohd khairul', '8801670000000.0', '7723440000000.0'),
 ('C000026', 'farmaan khan', '8801890000000.0', '7698110000000.0'),
 ('C000027', 'vansu dev', '8801650000000.0', '8988310000000.0'),
 ('C000028', 'vansu dev', '8801710000000.0', '5389310000000.0'),
 ('C000029', 'shyam kumar', '8801870000000.0', '1522300000000.0'),
 ('C000030', 'shafibul', '8801530000000.0', '6656780000000.0'),
 ('C000031', 'lalit kathuriya', '8801710000000.0', '6833930000000.0'),
 ('C000032', 'pooran chand', '8801700000000.0', '3538490000000.0'),
 ('C000033', 'aamir hussain', '8801780000000.0', '1373160000000.0'),
 ('C000034', 'kamal jit singh', '8801650000000.0', '7590640000000.0'),
 ('C000035', 'shiv kumar', '8801640000000.0', '1761540000000.0'),
 ('C000036', 'mayank chaudhary @ rahul', '8801660000000.0', '9027790000000.0'),
 ('C000037', 'rohit', '8801920000000.0', '9826610000000.0'),
 ('C000038', 'som dutt', '8801950000000.0', '9339490000000.0'),
 ('C000039', 'bablu regar', '8801540000000.0', '9915900000000.0'),
 ('C000040', 'rohit', '8801690000000.0', '2250720000000.0'),
 ('C000041', 'rajkumar', '8801740000000.0', '2275760000000.0'),
 ('C000042', 'mubarik', '8801750000000.0', '3929450000000.0'),
 ('C000043', 'niraj', '8801940000000.0', '2121310000000.0'),
 ('C000044', 'sarbjeet @ ronak', '8801770000000.0', '2254870000000.0'),
 ('C000045', 'axat', '8802000000000.0', '7409710000000.0'),
 ('C000046', 'amit', '8801630000000.0', '3144160000000.0'),
 ('C000047', 'anubhav shrivastab', '8801670000000.0', '2404230000000.0'),
 ('C000048', 'akkash', '8801610000000.0', '1646450000000.0'),
 ('C000049', 'himanshu', '8801960000000.0', '6134470000000.0'),
 ('C000050', 'harsh dagar', '8801720000000.0', '6599360000000.0'),
 ('C000051', 'anil kumar', '8801530000000.0', '7449960000000.0'),
 ('C000052', 'vijay virmani', '8801900000000.0', '8092260000000.0'),
 ('C000053', 'vivek auhari', '8801580000000.0', '1916290000000.0'),
 ('C000054', 'sachin', '8801920000000.0', '2727830000000.0'),
 ('C000055', 'subhash chand bhatia', '8801810000000.0', '4970980000000.0'),
 ('C000056', 'bhupender', '8801950000000.0', '3057300000000.0'),
 ('C000057', 'raghunandan das', '8801530000000.0', '5263290000000.0'),
 ('C000058', 'sanjay', '8801860000000.0', '1514440000000.0'),
 ('C000059', 'ajay kumar', '8801920000000.0', '6260710000000.0'),
 ('C000060', 'yognder', '8801640000000.0', '3367770000000.0'),
 ('C000061', 'subhash', '8801670000000.0', '3000250000000.0'),
 ('C000062', 'arun @ vicky', '8801870000000.0', '4266990000000.0'),
 ('C000063', 'rahul', '8801510000000.0', '9533380000000.0'),
 ('C000064', 'vikas', '8801530000000.0', '8648180000000.0'),
 ('C000065', 'vinod', '8801700000000.0', '1644660000000.0'),
 ('C000066', 'salman', '8801950000000.0', '3088660000000.0'),
 ('C000067', 'mohan kumar', '8801770000000.0', '4410750000000.0'),
 ('C000068', 'sandeep meghawal', '8801540000000.0', '7492640000000.0'),
 ('C000069', 'imamudeen', '8801610000000.0', '4718840000000.0'),
 ('C000070', 'sandeep kumar', '8801860000000.0', '8040580000000.0'),
 ('C000071', 'tarjan', '8801690000000.0', '4102280000000.0'),
 ('C000072', 'kuldeep singh', '8801950000000.0', '7038270000000.0'),
 ('C000073', 'murari', '8801800000000.0', '2283120000000.0'),
 ('C000074', 'ramvilash', '8801970000000.0', '1979260000000.0'),
 ('C000075', 'jagdish', '8801770000000.0', '9139440000000.0'),
 ('C000076', 'vishal @ moni', '8801840000000.0', '8115790000000.0'),
 ('C000077', 'mohd shahid', '8801960000000.0', '2617470000000.0'),
 ('C000078', 'ramvilash', '8801760000000.0', '6720480000000.0'),
 ('C000079', 'kuldeep', '8801720000000.0', '4579960000000.0'),
 ('C000080', 'talim', '8801920000000.0', '5513230000000.0'),
 ('C000081', 'nanku prasad', '8801990000000.0', '9739360000000.0'),
 ('C000082', 'bhola sarkar', '8801840000000.0', '8639230000000.0'),
 ('C000083', 'balraj', '8801930000000.0', '1479790000000.0'),
 ('C000084', 'ravindra kumar', '8801880000000.0', '5509560000000.0'),
 ('C000085', 'rohit kumar', '8801530000000.0', '8882210000000.0'),
 ('C000086', 'uttam kumar @ sanki', '8801850000000.0', '2231920000000.0'),
 ('C000087', 'babalu sen', '8801540000000.0', '4300970000000.0'),
 ('C000088', 'rustam shah', '8801770000000.0', '4682040000000.0'),
 ('C000089', 'sukhdev', '8801610000000.0', '5390890000000.0'),
 ('C000090', 'b vikjay kumar', '8801690000000.0', '2140220000000.0'),
 ('C000091',
  'dolly @ rekha w/o monto shah',
  '8801720000000.0',
  '5294850000000.0'),
 ('C000092', 'gopal sharma', '8801630000000.0', '3051980000000.0'),
 ('C000093', 'beeru', '8801710000000.0', '4117880000000.0'),
 ('C000094', 'vipin', '8801550000000.0', '2846800000000.0'),
 ('C000095', 'manish garg', '8801650000000.0', '9055150000000.0'),
 ('C000096', 'guddu', '8801950000000.0', '3007240000000.0'),
 ('C000097', 'jatin @ sonu', '8801560000000.0', '3969980000000.0'),
 ('C000098', 'amit kumar', '8801720000000.0', '9671410000000.0'),
 ('C000099', 'amit kumar', '8801930000000.0', '1183900000000.0'),
 ('C000100', 'shadab', '8801690000000.0', '9372160000000.0'),
 ('C000101', 'rakesh', '8801550000000.0', '7898810000000.0'),
 ('C000102', 'guddu', '8801850000000.0', '5822710000000.0'),
 ('C000103', 'abhishek', '8801790000000.0', '1889750000000.0'),
 ('C000104', 'gulfam', '8801950000000.0', '9543880000000.0'),
 ('C000105', 'phoolwati @ phoolo devi', '8801960000000.0', '4186050000000.0'),
 ('C000106', 'mohit maan', '8801560000000.0', '1060190000000.0'),
 ('C000107', 'veer bhan singh', '8801780000000.0', '2626570000000.0'),
 ('C000108', 'dinesh kumar', '8801640000000.0', '3379400000000.0'),
 ('C000109', 'amarjeet', '8801930000000.0', '7676990000000.0'),
 ('C000110', 'satyadev', '8801740000000.0', '4256610000000.0'),
 ('C000111', 'mohd. mukhtaar', '8801960000000.0', '9675770000000.0'),
 ('C000112', 'rishi', '8801690000000.0', '6751910000000.0'),
 ('C000113', 'esrail khan', '8801520000000.0', '9799120000000.0'),
 ('C000114', 'suresh kumar', '8801830000000.0', '3044090000000.0'),
 ('C000115', 'pankaj chand', '8801870000000.0', '2046020000000.0'),
 ('C000116', 'ajay narayan', '8801550000000.0', '4499490000000.0'),
 ('C000117', 'mohit @ himanshu', '8801970000000.0', '8824190000000.0'),
 ('C000118', 'sumit', '8801530000000.0', '8549950000000.0'),
 ('C000119', 'saddam', '8801840000000.0', '5198140000000.0'),
 ('C000120', 'nikhleshwar bhagat', '8801850000000.0', '4675820000000.0'),
 ('C000121', 'jai singh', '8801980000000.0', '4205370000000.0'),
 ('C000122', 'deepak', '8801550000000.0', '2108530000000.0'),
 ('C000123', 'sunil kumar', '8801940000000.0', '6646680000000.0'),
 ('C000124', 'ram kishan', '8801570000000.0', '6086030000000.0'),
 ('C000125', 'arun', '8801600000000.0', '8821760000000.0'),
 ('C000126', 'virender', '8801890000000.0', '2176470000000.0'),
 ('C000127', 'bishun', '8801830000000.0', '5314660000000.0'),
 ('C000128', 'pritam singh', '8801900000000.0', '7370490000000.0'),
 ('C000129', 'akash gupta', '8801760000000.0', '8519940000000.0'),
 ('C000130', 'kishan', '8801780000000.0', '4080660000000.0'),
 ('C000131', 'mohd kausar', '8801930000000.0', '5235060000000.0'),
 ('C000132', 'sachin', '8801650000000.0', '6398790000000.0'),
 ('C000133', 'harman singh', '8801650000000.0', '7039350000000.0'),
 ('C000134', 'deepak', '8801960000000.0', '9773590000000.0'),
 ('C000135', 'rajbir', '8801790000000.0', '3333830000000.0'),
 ('C000136', 'vinod lal', '8801950000000.0', '5664520000000.0'),
 ('C000137', 'No Name', '8801550000000.0', '2427030000000.0'),
 ('C000138', 'chander shaker', '8801530000000.0', '6834830000000.0'),
 ('C000139', 'krishan', '8801850000000.0', '6728510000000.0'),
 ('C000140', 'ram ji', '8801980000000.0', '6946080000000.0'),
 ('C000141', 'jony', '8801620000000.0', '6674690000000.0'),
 ('C000142', 'mohammad ali', '8801740000000.0', '3813950000000.0'),
 ('C000143', 'ashok kumar s/o', '8801670000000.0', '1128130000000.0'),
 ('C000144', 'ravinder @ bacchi', '8801550000000.0', '3415430000000.0'),
 ('C000145', 'amit', '8801760000000.0', '6291720000000.0'),
 ('C000146', 'guman singh basyal', '8801790000000.0', '7266910000000.0'),
 ('C000147', 'amardeep', '8801520000000.0', '8934360000000.0'),
 ('C000148', 'jagdish', '8801650000000.0', '4356570000000.0'),
 ('C000149', 'bharat', '8801800000000.0', '2514860000000.0'),
 ('C000150', 'azaz', '8801530000000.0', '1977540000000.0'),
 ('C000151', 'raja kumar', '8801850000000.0', '9753710000000.0'),
 ('C000152', 'parveen', '8801750000000.0', '6479490000000.0'),
 ('C000153', 'mahabir prasad', '8801600000000.0', '5691180000000.0'),
 ('C000154', 'kartik @ kaku', '8801740000000.0', '3005040000000.0'),
 ('C000155', 'shubham yadav', '8801970000000.0', '2030180000000.0'),
 ('C000156', 'yogesh', '8801520000000.0', '4816640000000.0'),
 ('C000157', 'madan', '8801860000000.0', '5598960000000.0'),
 ('C000158', 'rashid', '8801930000000.0', '2307810000000.0'),
 ('C000159', 'jitender', '8801560000000.0', '6277220000000.0'),
 ('C000160', 'pawan kumar', '8801530000000.0', '4232160000000.0'),
 ('C000161', 'vivek', '8801670000000.0', '4231790000000.0'),
 ('C000162', 'pintu kumar', '8801740000000.0', '7695070000000.0'),
 ('C000163', 'deep', '8801770000000.0', '2571290000000.0'),
 ('C000164', 'dharmbir', '8801940000000.0', '9714350000000.0'),
 ('C000165', 'rishi kakdia', '8801520000000.0', '9125880000000.0'),
 ('C000166', 'kunal @ kannu', '8801720000000.0', '9692270000000.0'),
 ('C000167', 'arman ansari', '8801770000000.0', '6612520000000.0'),
 ('C000168', 'avinsh', '8801640000000.0', '7129520000000.0'),
 ('C000169', 'karan', '8801640000000.0', '9477490000000.0'),
 ('C000170', 'sandeep kumar', '8801940000000.0', '1057820000000.0'),
 ('C000171', 'sagar', '8801850000000.0', '6126370000000.0'),
 ('C000172', 'nikhil', '8801830000000.0', '7705730000000.0'),
 ('C000173', 'raman', '8801780000000.0', '2302020000000.0'),
 ('C000174', 'sujen manjhi', '8801750000000.0', '9839050000000.0'),
 ('C000175', 'abhijeet', '8801890000000.0', '7663770000000.0'),
 ('C000176', 'anshu', '8801760000000.0', '7620050000000.0'),
 ('C000177', 'sahil', '8801610000000.0', '6018040000000.0'),
 ('C000178', 'aditya som', '8801600000000.0', '3340880000000.0'),
 ('C000179', 'gaurav', '8801980000000.0', '2200030000000.0'),
 ('C000180', 'raja kumar', '8801520000000.0', '5310090000000.0'),
 ('C000181', 'sunil', '8801620000000.0', '9864660000000.0'),
 ('C000182', 'ravi kumar', '8801650000000.0', '2169310000000.0'),
 ('C000183', 'shankar kumar', '8801820000000.0', '3071310000000.0'),
 ('C000184', 'vishvash', '8801690000000.0', '5814730000000.0'),
 ('C000185', 'sonia', '8801880000000.0', '3248470000000.0'),
 ('C000186', 'santosh', '8801920000000.0', '2509200000000.0'),
 ('C000187', 'kayamuddin', '8801930000000.0', '5445390000000.0'),
 ('C000188', 'rohit kumar', '8801950000000.0', '7392000000000.0'),
 ('C000189', 'nandkishore karpenter', '8801620000000.0', '7262950000000.0'),
 ('C000190', 'lala bhai', '8801790000000.0', '9354730000000.0'),
 ('C000191', 'kishan rai', '8801780000000.0', '3456410000000.0'),
 ('C000192', 'mahender kumar', '8801990000000.0', '6584910000000.0'),
 ('C000193', 'deepak', '8801540000000.0', '4938750000000.0'),
 ('C000194', 'mohd afzal', '8801810000000.0', '7222830000000.0'),
 ('C000195', 'satender', '8801960000000.0', '2380760000000.0'),
 ('C000196', 'shiv prasad singh', '8801950000000.0', '6271740000000.0'),
 ('C000197', 'mobin', '8801650000000.0', '7136050000000.0'),
 ('C000198', 'khokan sarkar', '8801580000000.0', '9444590000000.0'),
 ('C000199', 'vikash', '8801780000000.0', '8862580000000.0'),
 ('C000200', 'krisana braman', '8801550000000.0', '4318190000000.0'),
 ('C000201', 'vipol', '8801560000000.0', '1294030000000.0'),
 ('C000202', 'sanjay', '8801730000000.0', '2703350000000.0'),
 ('C000203', 'mohd miraj ansari', '8801860000000.0', '8019300000000.0'),
 ('C000204', 'rajmani', '8801810000000.0', '4034270000000.0'),
 ('C000205', 'harbir  singh', '8801590000000.0', '9607870000000.0'),
 ('C000206', 'mohan', '8801780000000.0', '1506480000000.0'),
 ('C000207', 'farid', '8801860000000.0', '2994210000000.0'),
 ('C000208', 'yuvraj kumar', '8801520000000.0', '3862920000000.0'),
 ('C000209', 'charan jeet singh', '8801720000000.0', '2984060000000.0'),
 ('C000210', 'satish kumar', '8801920000000.0', '6871210000000.0'),
 ('C000211', 'gappu', '8801620000000.0', '6011090000000.0'),
 ('C000212', 'nazeem', '8801950000000.0', '2129080000000.0'),
 ('C000213', 'aamir', '8801970000000.0', '2815190000000.0'),
 ('C000214', 'vivek sharma', '8801920000000.0', '3990870000000.0'),
 ('C000215', 'sandeep', '8801970000000.0', '6893330000000.0'),
 ('C000216', 'gutam', '8801970000000.0', '6189880000000.0'),
 ('C000217', 'prakul', '8801940000000.0', '6414630000000.0'),
 ('C000218', 'birjesh', '8801720000000.0', '3626690000000.0'),
 ('C000219', 'sahil tigga', '8801570000000.0', '7007340000000.0'),
 ('C000220', 'girishi chand', '8801950000000.0', '7323680000000.0'),
 ('C000221', 'pavan sharma', '8801590000000.0', '5149130000000.0'),
 ('C000222', 'ikramuddin', '8801930000000.0', '9195520000000.0'),
 ('C000223', 'sajan', '8801510000000.0', '5236980000000.0'),
 ('C000224', 'molu', '8801570000000.0', '9808890000000.0'),
 ('C000225', 'dilawar', '8801680000000.0', '4514500000000.0'),
 ('C000226', 'naval kishore', '8801540000000.0', '5602330000000.0'),
 ('C000227', 'sanjay', '8801580000000.0', '9282980000000.0'),
 ('C000228', 'ajahar', '8801710000000.0', '3415600000000.0'),
 ('C000229', 'sanjeev', '8801520000000.0', '5043570000000.0'),
 ('C000230', 'raman ralhan', '8801910000000.0', '3358890000000.0'),
 ('C000231', 'raman ralhan', '8801520000000.0', '5262830000000.0'),
 ('C000232', 'rohit', '8801580000000.0', '6632310000000.0'),
 ('C000233', 'prem chand', '8801630000000.0', '3903360000000.0'),
 ('C000234', 'sandhaya', '8801670000000.0', '4640710000000.0'),
 ('C000235', 'ashish', '8801670000000.0', '1364840000000.0'),
 ('C000236', 'irfan', '8801560000000.0', '9933730000000.0'),
 ('C000237', 'jang bahadur', '8801660000000.0', '9591530000000.0'),
 ('C000238', 'om parkash ahuja', '8801960000000.0', '4502430000000.0'),
 ('C000239', 'kamre alam', '8801660000000.0', '4426200000000.0'),
 ('C000240', 'md. raju', '8801590000000.0', '9251120000000.0'),
 ('C000241', 'dinesh', '8801680000000.0', '2399000000000.0'),
 ('C000242', 'satpal', '8801530000000.0', '3079400000000.0'),
 ('C000243', 'ram pyare', '8801620000000.0', '8541790000000.0'),
 ('C000244', 'suraj singh', '8801940000000.0', '4358150000000.0'),
 ('C000245', 'ashfaq', '8801720000000.0', '1410360000000.0'),
 ('C000246', 'shaid', '8801660000000.0', '1600810000000.0'),
 ('C000247', 'vikas gupta', '8801910000000.0', '7422600000000.0'),
 ('C000248', 'vijay singh', '8801690000000.0', '3694640000000.0'),
 ('C000249', 'hari ram', '8801690000000.0', '6515040000000.0'),
 ('C000250', 'manoj kumar', '8801740000000.0', '5287540000000.0'),
 ('C000251', 'parash das', '8801520000000.0', '4752800000000.0'),
 ('C000252', 'mehraj', '8801590000000.0', '2497660000000.0'),
 ('C000253', 'chetan', '8801700000000.0', '4895290000000.0'),
 ('C000254', 'bhanwar lal', '8801660000000.0', '2015280000000.0'),
 ('C000255', 'sanavvar', '8801570000000.0', '8238710000000.0'),
 ('C000256', 'rahul sharma', '8801930000000.0', '3601630000000.0'),
 ('C000257', 'mustaq', '8801580000000.0', '6139700000000.0'),
 ('C000258', 'ramkaran verma', '8801730000000.0', '7975420000000.0'),
 ('C000259', 'mukhtyar hussain', '8801590000000.0', '3695220000000.0'),
 ('C000260', 'vakil', '8801910000000.0', '4834770000000.0'),
 ('C000261', 'bilal malik', '8801970000000.0', '1150870000000.0'),
 ('C000262', 'radheshyam sen', '8801520000000.0', '9220250000000.0'),
 ('C000263', 'mukesh', '8801620000000.0', '5375530000000.0'),
 ('C000264', 'sunil kumar', '8801800000000.0', '7444340000000.0'),
 ('C000265', 'sunny', '8801890000000.0', '4911020000000.0'),
 ('C000266', 'jitender rajak', '8801670000000.0', '6089100000000.0'),
 ('C000267',
  'brahamprakash s/o meer singh',
  '8801640000000.0',
  '5473860000000.0'),
 ('C000268', 'raju singh', '8801810000000.0', '7296820000000.0'),
 ('C000269', 'sobit saini', '8801670000000.0', '1929020000000.0'),
 ('C000270', 'inder dutt', '8801620000000.0', '1121960000000.0'),
 ('C000271', 'shakir', '8801510000000.0', '8358810000000.0'),
 ('C000272', 'haseen ahmed', '8801870000000.0', '4556020000000.0'),
 ('C000273', 'kiran', '8801730000000.0', '2926600000000.0'),
 ('C000274', 'gulam rashul', '8802000000000.0', '1045290000000.0'),
 ('C000275', 'rajan', '8801520000000.0', '4552070000000.0'),
 ('C000276', 'ayush', '8801720000000.0', '4029800000000.0'),
 ('C000277', 'suraj', '8801550000000.0', '6953680000000.0'),
 ('C000278', 'sehboob', '8801860000000.0', '2064640000000.0'),
 ('C000279', 'sanjay kumar s/o', '8801700000000.0', '8711290000000.0'),
 ('C000280', 'manish', '8801730000000.0', '4425320000000.0'),
 ('C000281', 'amit kumar yadav', '8801810000000.0', '5452220000000.0'),
 ('C000282', 'divaraj', '8801540000000.0', '9225310000000.0'),
 ('C000283', 'kamlesh', '8801860000000.0', '1782150000000.0'),
 ('C000284', 'rajiv bagoriya', '8801540000000.0', '3218820000000.0'),
 ('C000285', 'abhinav chaudhary', '8801780000000.0', '4834710000000.0'),
 ('C000286', 'rahul', '8801910000000.0', '9211190000000.0'),
 ('C000287',
  'devender singh s/o shrinath r/o kh. no. 72/1, utsa',
  '8801950000000.0',
  '6690500000000.0'),
 ('C000288', 'azruddin', '8801900000000.0', '5103980000000.0'),
 ('C000289', 'sanjay kumar @ pappu', '8801680000000.0', '8259560000000.0'),
 ('C000290', 'mushir ahmed', '8801840000000.0', '6203450000000.0'),
 ('C000291', 'vibhuti shyamal', '8801690000000.0', '8053800000000.0'),
 ('C000292', 'inderjeet', '8801990000000.0', '6279400000000.0'),
 ('C000293', 'sanjay', '8801530000000.0', '1597460000000.0'),
 ('C000294', 'golu', '8801880000000.0', '3324830000000.0'),
 ('C000295', 'lokesh', '8801850000000.0', '1072570000000.0'),
 ('C000296', 'rajkumar', '8801960000000.0', '4339530000000.0'),
 ('C000297', 'neeraj kandari', '8801830000000.0', '5119330000000.0'),
 ('C000298', 'mukul verma', '8801630000000.0', '2433360000000.0'),
 ('C000299', 'rijakpal', '8801970000000.0', '1734770000000.0'),
 ('C000300', 'jai kishan', '8801840000000.0', '3852630000000.0'),
 ('C000301', 'munna lal jain', '8801580000000.0', '6899220000000.0'),
 ('C000302', 'jai prakash kashyap', '8801630000000.0', '5709780000000.0'),
 ('C000303', 'jai prakash kashyap', '8801680000000.0', '4906580000000.0'),
 ('C000304', 'shishram', '8801990000000.0', '2033720000000.0'),

In [73]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [71]:
cous_df = pd.DataFrame(list(records2), columns=['coustomer_key', 'name', 'contact_no', 'nid'])
cous_df

     coustomer_key             name       contact_no              nid
0          C000001            sumit  8801920000000.0  7505080000000.0
1          C000002         tammanne  8801817069329.0  1977730000000.0
2          C000003    kailash kumar  8801660000000.0  3769490000000.0
3          C000004  bhagwati prasad  8801533627961.0  9378830000000.0
4          C000005             ajay  8801943715786.0  3540820000000.0
...            ...              ...              ...              ...
9186       C009187        smt radha  8801560000000.0  1057820000000.0
9187       C009188     tulsi sharma  8801790000000.0  7970880000000.0
9188       C009189        madhubala  8801890000000.0  3101930000000.0
9189       C009190       pintu devi  8801560000000.0  7234330000000.0
9190       C009191            roopa  8801520000000.0  5682730000000.0

[9191 rows x 4 columns]

In [53]:
cur3 = con.cursor()
select_time3 = " SELECT t.time_key, t.dates , t.hour, t.day, t.week, t.month, t.quarter, t.year " \
              "FROM ecomdb_star_schema.time_dim t;"
cur3.execute(select_time3)
records3 = cur3.fetchall()
records3

[('T00001', datetime.date(2017, 5, 20), 14, 20, '3rd Week', 5, 'Q2', 2017),
 ('T00002', datetime.date(2015, 1, 30), 22, 30, '4th Week', 1, 'Q1', 2015),
 ('T00003', datetime.date(2020, 3, 14), 2, 14, '2nd Week', 3, 'Q1', 2020),
 ('T00004', datetime.date(2018, 4, 27), 12, 27, '4th Week', 4, 'Q2', 2018),
 ('T00005', datetime.date(2018, 4, 14), 10, 14, '2nd Week', 4, 'Q2', 2018),
 ('T00006', datetime.date(2017, 10, 2), 6, 10, '2nd Week', 2, 'Q1', 2017),
 ('T00007', datetime.date(2015, 6, 5), 17, 6, '1st Week', 5, 'Q2', 2015),
 ('T00008', datetime.date(2014, 9, 23), 13, 23, '4th Week', 9, 'Q3', 2014),
 ('T00009', datetime.date(2016, 4, 16), 6, 16, '3rd Week', 4, 'Q2', 2016),
 ('T00010', datetime.date(2015, 10, 26), 22, 26, '4th Week', 10, 'Q4', 2015),
 ('T00011', datetime.date(2018, 2, 5), 16, 2, '1st Week', 5, 'Q2', 2018),
 ('T00012', datetime.date(2017, 11, 29), 18, 29, '4th Week', 11, 'Q4', 2017),
 ('T00013', datetime.date(2014, 9, 17), 22, 17, '3rd Week', 9, 'Q3', 2014),
 ('T00014', datetime.date(2020, 12, 6), 8, 12, '2nd Week', 6, 'Q2', 2020),
 ('T00015', datetime.date(2018, 11, 22), 18, 22, '4th Week', 11, 'Q4', 2018),
 ('T00016', datetime.date(2019, 5, 21), 12, 21, '3rd Week', 5, 'Q2', 2019),
 ('T00017', datetime.date(2015, 3, 19), 22, 19, '3rd Week', 3, 'Q1', 2015),
 ('T00018', datetime.date(2015, 7, 28), 15, 28, '4th Week', 7, 'Q3', 2015),
 ('T00019', datetime.date(2017, 12, 11), 11, 12, '2nd Week', 11, 'Q4', 2017),
 ('T00020', datetime.date(2016, 10, 5), 17, 10, '2nd Week', 5, 'Q2', 2016),
 ('T00021', datetime.date(2016, 4, 24), 4, 24, '4th Week', 4, 'Q2', 2016),
 ('T00022', datetime.date(2016, 6, 17), 20, 17, '3rd Week', 6, 'Q2', 2016),
 ('T00023', datetime.date(2020, 5, 12), 15, 5, '1st Week', 12, 'Q4', 2020),
 ('T00024', datetime.date(2018, 2, 4), 11, 2, '1st Week', 4, 'Q2', 2018),
 ('T00025', datetime.date(2020, 2, 8), 23, 2, '1st Week', 8, 'Q3', 2020),
 ('T00026', datetime.date(2016, 11, 21), 9, 21, '3rd Week', 11, 'Q4', 2016),
 ('T00027', datetime.date(2020, 1, 24), 19, 24, '4th Week', 1, 'Q1', 2020),
 ('T00028', datetime.date(2017, 3, 30), 1, 30, '4th Week', 3, 'Q1', 2017),
 ('T00029', datetime.date(2020, 1, 15), 8, 15, '3rd Week', 1, 'Q1', 2020),
 ('T00030', datetime.date(2016, 10, 7), 16, 10, '2nd Week', 7, 'Q3', 2016),
 ('T00031', datetime.date(2016, 5, 17), 17, 17, '3rd Week', 5, 'Q2', 2016),
 ('T00032', datetime.date(2019, 11, 5), 7, 11, '2nd Week', 5, 'Q2', 2019),
 ('T00033', datetime.date(2016, 2, 11), 15, 2, '1st Week', 11, 'Q4', 2016),
 ('T00034', datetime.date(2020, 7, 7), 17, 7, '1st Week', 7, 'Q3', 2020),
 ('T00035', datetime.date(2017, 7, 4), 17, 7, '1st Week', 4, 'Q2', 2017),
 ('T00036', datetime.date(2020, 4, 26), 4, 26, '4th Week', 4, 'Q2', 2020),
 ('T00037', datetime.date(2017, 4, 20), 14, 20, '3rd Week', 4, 'Q2', 2017),
 ('T00038', datetime.date(2018, 11, 1), 9, 11, '2nd Week', 1, 'Q1', 2018),
 ('T00039', datetime.date(2015, 9, 17), 21, 17, '3rd Week', 9, 'Q3', 2015),
 ('T00040', datetime.date(2020, 4, 29), 22, 29, '4th Week', 4, 'Q2', 2020),
 ('T00041', datetime.date(2014, 4, 23), 2, 23, '4th Week', 4, 'Q2', 2014),
 ('T00042', datetime.date(2015, 8, 26), 7, 26, '4th Week', 8, 'Q3', 2015),
 ('T00043', datetime.date(2014, 9, 9), 0, 9, '2nd Week', 9, 'Q3', 2014),
 ('T00044', datetime.date(2018, 10, 7), 14, 10, '2nd Week', 7, 'Q3', 2018),
 ('T00045', datetime.date(2020, 4, 19), 19, 19, '3rd Week', 4, 'Q2', 2020),
 ('T00046', datetime.date(2015, 3, 18), 7, 18, '3rd Week', 3, 'Q1', 2015),
 ('T00047', datetime.date(2014, 7, 29), 1, 29, '4th Week', 7, 'Q3', 2014),
 ('T00048', datetime.date(2018, 7, 16), 22, 16, '3rd Week', 7, 'Q3', 2018),
 ('T00049', datetime.date(2015, 8, 5), 12, 8, '2nd Week', 5, 'Q2', 2015),
 ('T00050', datetime.date(2019, 8, 19), 23, 19, '3rd Week', 8, 'Q3', 2019),
 ('T00051', datetime.date(2017, 6, 26), 22, 26, '4th Week', 6, 'Q2', 2017),
 ('T00052', datetime.date(2014, 6, 29), 11, 29, '4th Week', 6, 'Q2', 2014),
 ('T00053', datetime.date(2014, 12, 8), 4, 12, '2nd Week', 8, 'Q3', 2014),
 ('T00054', datetime.date(2015, 11, 4), 14, 11, '2nd Week', 4, 'Q2', 2015),
 ('T00055', datetime.date(2016, 11, 21), 20, 21, '3rd Week', 11, 'Q4', 2016),
 ('T00056', datetime.date(2014, 9, 23), 19, 23, '4th Week', 9, 'Q3', 2014),
 ('T00057', datetime.date(2016, 10, 8), 16, 10, '2nd Week', 8, 'Q3', 2016),
 ('T00058', datetime.date(2017, 8, 8), 14, 8, '2nd Week', 8, 'Q3', 2017),
 ('T00059', datetime.date(2014, 4, 24), 6, 24, '4th Week', 4, 'Q2', 2014),
 ('T00060', datetime.date(2020, 9, 25), 20, 25, '4th Week', 9, 'Q3', 2020),
 ('T00061', datetime.date(2017, 1, 7), 5, 1, '1st Week', 7, 'Q3', 2017),
 ('T00062', datetime.date(2016, 2, 17), 14, 17, '3rd Week', 2, 'Q1', 2016),
 ('T00063', datetime.date(2018, 5, 26), 23, 26, '4th Week', 5, 'Q2', 2018),
 ('T00064', datetime.date(2018, 1, 31), 16, 31, '4th Week', 1, 'Q1', 2018),
 ('T00065', datetime.date(2019, 11, 28), 6, 28, '4th Week', 11, 'Q4', 2019),
 ('T00066', datetime.date(2016, 4, 20), 17, 20, '3rd Week', 4, 'Q2', 2016),
 ('T00067', datetime.date(2018, 6, 26), 14, 26, '4th Week', 6, 'Q2', 2018),
 ('T00068', datetime.date(2014, 4, 20), 5, 20, '3rd Week', 4, 'Q2', 2014),
 ('T00069', datetime.date(2014, 7, 18), 21, 18, '3rd Week', 7, 'Q3', 2014),
 ('T00070', datetime.date(2016, 10, 13), 19, 13, '2nd Week', 10, 'Q4', 2016),
 ('T00071', datetime.date(2015, 6, 14), 0, 14, '2nd Week', 6, 'Q2', 2015),
 ('T00072', datetime.date(2019, 11, 3), 13, 11, '2nd Week', 3, 'Q1', 2019),
 ('T00073', datetime.date(2019, 1, 6), 6, 1, '1st Week', 6, 'Q2', 2019),
 ('T00074', datetime.date(2019, 4, 11), 22, 4, '1st Week', 11, 'Q4', 2019),
 ('T00075', datetime.date(2017, 1, 6), 9, 1, '1st Week', 6, 'Q2', 2017),
 ('T00076', datetime.date(2018, 9, 30), 19, 30, '4th Week', 9, 'Q3', 2018),
 ('T00077', datetime.date(2015, 5, 21), 3, 21, '3rd Week', 5, 'Q2', 2015),
 ('T00078', datetime.date(2014, 3, 26), 19, 26, '4th Week', 3, 'Q1', 2014),
 ('T00079', datetime.date(2018, 6, 26), 21, 26, '4th Week', 6, 'Q2', 2018),
 ('T00080', datetime.date(2017, 4, 2), 20, 4, '1st Week', 2, 'Q1', 2017),
 ('T00081', datetime.date(2014, 8, 4), 20, 8, '2nd Week', 4, 'Q2', 2014),
 ('T00082', datetime.date(2014, 3, 9), 20, 3, '1st Week', 9, 'Q3', 2014),
 ('T00083', datetime.date(2018, 4, 14), 2, 14, '2nd Week', 4, 'Q2', 2018),
 ('T00084', datetime.date(2019, 8, 12), 7, 8, '2nd Week', 12, 'Q4', 2019),
 ('T00085', datetime.date(2014, 6, 22), 1, 22, '4th Week', 6, 'Q2', 2014),
 ('T00086', datetime.date(2020, 5, 31), 7, 31, '4th Week', 5, 'Q2', 2020),
 ('T00087', datetime.date(2015, 3, 27), 6, 27, '4th Week', 3, 'Q1', 2015),
 ('T00088', datetime.date(2019, 6, 15), 21, 15, '3rd Week', 6, 'Q2', 2019),
 ('T00089', datetime.date(2018, 7, 22), 3, 22, '4th Week', 7, 'Q3', 2018),
 ('T00090', datetime.date(2017, 2, 2), 22, 2, '1st Week', 2, 'Q1', 2017),
 ('T00091', datetime.date(2018, 5, 20), 13, 20, '3rd Week', 5, 'Q2', 2018),
 ('T00092', datetime.date(2016, 8, 30), 23, 30, '4th Week', 8, 'Q3', 2016),
 ('T00093', datetime.date(2015, 8, 19), 4, 19, '3rd Week', 8, 'Q3', 2015),
 ('T00094', datetime.date(2021, 10, 1), 20, 10, '2nd Week', 1, 'Q1', 2021),
 ('T00095', datetime.date(2017, 4, 15), 6, 15, '3rd Week', 4, 'Q2', 2017),
 ('T00096', datetime.date(2018, 3, 5), 2, 3, '1st Week', 5, 'Q2', 2018),
 ('T00097', datetime.date(2014, 5, 11), 8, 5, '1st Week', 11, 'Q4', 2014),
 ('T00098', datetime.date(2015, 8, 17), 4, 17, '3rd Week', 8, 'Q3', 2015),
 ('T00099', datetime.date(2014, 4, 20), 6, 20, '3rd Week', 4, 'Q2', 2014),
 ('T00100', datetime.date(2018, 3, 21), 5, 21, '3rd Week', 3, 'Q1', 2018),
 ('T00101', datetime.date(2016, 9, 9), 2, 9, '2nd Week', 9, 'Q3', 2016),
 ('T00102', datetime.date(2016, 11, 7), 10, 11, '2nd Week', 7, 'Q3', 2016),
 ('T00103', datetime.date(2017, 12, 31), 8, 31, '4th Week', 12, 'Q4', 2017),
 ('T00104', datetime.date(2014, 10, 22), 17, 22, '4th Week', 10, 'Q4', 2014),
 ('T00105', datetime.date(2017, 6, 30), 10, 30, '4th Week', 6, 'Q2', 2017),
 ('T00106', datetime.date(2020, 1, 16), 5, 16, '3rd Week', 1, 'Q1', 2020),
 ('T00107', datetime.date(2018, 5, 14), 1, 14, '2nd Week', 5, 'Q2', 2018),
 ('T00108', datetime.date(2020, 12, 2), 20, 12, '2nd Week', 2, 'Q1', 2020),
 ('T00109', datetime.date(2019, 8, 13), 9, 13, '2nd Week', 8, 'Q3', 2019),
 ('T00110', datetime.date(2014, 4, 2), 22, 4, '1st Week', 2, 'Q1', 2014),
 ('T00111', datetime.date(2014, 6, 24), 11, 24, '4th Week', 6, 'Q2', 2014),
 ('T00112', datetime.date(2016, 7, 9), 12, 7, '1st Week', 9, 'Q3', 2016),
 ('T00113', datetime.date(2018, 5, 31), 16, 31, '4th Week', 5, 'Q2', 2018),
 ('T00114', datetime.date(2015, 5, 23), 3, 23, '4th Week', 5, 'Q2', 2015),
 ('T00115', datetime.date(2018, 3, 3), 8, 3, '1st Week', 3, 'Q1', 2018),
 ('T00116', datetime.date(2016, 9, 25), 18, 25, '4th Week', 9, 'Q3', 2016),
 ('T00117', datetime.date(2015, 4, 26), 20, 26, '4th Week', 4, 'Q2', 2015),
 ('T00118', datetime.date(2019, 12, 10), 10, 12, '2nd Week', 10, 'Q4', 2019),
 ('T00119', datetime.date(2020, 9, 7), 15, 9, '2nd Week', 7, 'Q3', 2020),
 ('T00120', datetime.date(2016, 2, 3), 11, 2, '1st Week', 3, 'Q1', 2016),
 ('T00121', datetime.date(2018, 2, 10), 20, 2, '1st Week', 10, 'Q4', 2018),
 ('T00122', datetime.date(2019, 3, 22), 13, 22, '4th Week', 3, 'Q1', 2019),
 ('T00123', datetime.date(2016, 1, 26), 4, 26, '4th Week', 1, 'Q1', 2016),
 ('T00124', datetime.date(2018, 12, 7), 23, 12, '2nd Week', 7, 'Q3', 2018),
 ('T00125', datetime.date(2015, 5, 13), 18, 13, '2nd Week', 5, 'Q2', 2015),
 ('T00126', datetime.date(2016, 6, 20), 4, 20, '3rd Week', 6, 'Q2', 2016),
 ('T00127', datetime.date(2017, 7, 2), 4, 7, '1st Week', 2, 'Q1', 2017),
 ('T00128', datetime.date(2017, 6, 18), 12, 18, '3rd Week', 6, 'Q2', 2017),
 ('T00129', datetime.date(2019, 8, 16), 10, 16, '3rd Week', 8, 'Q3', 2019),
 ('T00130', datetime.date(2021, 1, 20), 7, 20, '3rd Week', 1, 'Q1', 2021),
 ('T00131', datetime.date(2018, 6, 23), 7, 23, '4th Week', 6, 'Q2', 2018),
 ('T00132', datetime.date(2016, 8, 19), 8, 19, '3rd Week', 8, 'Q3', 2016),
 ('T00133', datetime.date(2017, 1, 29), 19, 29, '4th Week', 1, 'Q1', 2017),
 ('T00134', datetime.date(2014, 12, 23), 5, 23, '4th Week', 12, 'Q4', 2014),
 ('T00135', datetime.date(2019, 9, 25), 17, 25, '4th Week', 9, 'Q3', 2019),
 ('T00136', datetime.date(2014, 3, 3), 1, 3, '1st Week', 3, 'Q1', 2014),
 ('T00137', datetime.date(2018, 1, 7), 18, 1, '1st Week', 7, 'Q3', 2018),
 ('T00138', datetime.date(2019, 5, 20), 20, 20, '3rd Week', 5, 'Q2', 2019),
 ('T00139', datetime.date(2018, 4, 5), 7, 4, '1st Week', 5, 'Q2', 2018),
 ('T00140', datetime.date(2019, 7, 6), 19, 7, '1st Week', 6, 'Q2', 2019),
 ('T00141', datetime.date(2014, 6, 28), 0, 28, '4th Week', 6, 'Q2', 2014),
 ('T00142', datetime.date(2015, 12, 5), 23, 12, '2nd Week', 5, 'Q2', 2015),
 ('T00143', datetime.date(2014, 3, 30), 6, 30, '4th Week', 3, 'Q1', 2014),
 ('T00144', datetime.date(2018, 1, 6), 12, 1, '1st Week', 6, 'Q2', 2018),
 ('T00145', datetime.date(2017, 11, 1), 22, 11, '2nd Week', 1, 'Q1', 2017),
 ('T00146', datetime.date(2019, 7, 24), 11, 24, '4th Week', 7, 'Q3', 2019),
 ('T00147', datetime.date(2014, 4, 13), 17, 13, '2nd Week', 4, 'Q2', 2014),
 ('T00148', datetime.date(2014, 10, 15), 13, 15, '3rd Week', 10, 'Q4', 2014),
 ('T00149', datetime.date(2015, 7, 21), 11, 21, '3rd Week', 7, 'Q3', 2015),
 ('T00150', datetime.date(2020, 2, 3), 4, 2, '1st Week', 3, 'Q1', 2020),
 ('T00151', datetime.date(2017, 2, 18), 9, 18, '3rd Week', 2, 'Q1', 2017),
 ('T00152', datetime.date(2020, 6, 4), 15, 6, '1st Week', 4, 'Q2', 2020),
 ('T00153', datetime.date(2017, 5, 21), 20, 21, '3rd Week', 5, 'Q2', 2017),
 ('T00154', datetime.date(2015, 10, 31), 22, 31, '4th Week', 10, 'Q4', 2015),
 ('T00155', datetime.date(2019, 7, 23), 21, 23, '4th Week', 7, 'Q3', 2019),
 ('T00156', datetime.date(2015, 4, 12), 17, 4, '1st Week', 12, 'Q4', 2015),
 ('T00157', datetime.date(2020, 12, 29), 3, 29, '4th Week', 12, 'Q4', 2020),
 ('T00158', datetime.date(2017, 8, 11), 8, 8, '2nd Week', 11, 'Q4', 2017),
 ('T00159', datetime.date(2020, 3, 1), 5, 3, '1st Week', 1, 'Q1', 2020),
 ('T00160', datetime.date(2015, 10, 2), 15, 10, '2nd Week', 2, 'Q1', 2015),
 ('T00161', datetime.date(2016, 11, 30), 13, 30, '4th Week', 11, 'Q4', 2016),
 ('T00162', datetime.date(2017, 5, 19), 23, 19, '3rd Week', 5, 'Q2', 2017),
 ('T00163', datetime.date(2019, 5, 4), 10, 5, '1st Week', 4, 'Q2', 2019),
 ('T00164', datetime.date(2014, 5, 28), 9, 28, '4th Week', 5, 'Q2', 2014),
 ('T00165', datetime.date(2020, 10, 21), 0, 21, '3rd Week', 10, 'Q4', 2020),
 ('T00166', datetime.date(2015, 7, 9), 23, 7, '1st Week', 9, 'Q3', 2015),
 ('T00167', datetime.date(2019, 9, 2), 17, 9, '2nd Week', 2, 'Q1', 2019),
 ('T00168', datetime.date(2015, 3, 14), 23, 14, '2nd Week', 3, 'Q1', 2015),
 ('T00169', datetime.date(2017, 8, 7), 10, 8, '2nd Week', 7, 'Q3', 2017),
 ('T00170', datetime.date(2015, 8, 10), 13, 8, '2nd Week', 10, 'Q4', 2015),
 ('T00171', datetime.date(2019, 10, 17), 8, 17, '3rd Week', 10, 'Q4', 2019),
 ('T00172', datetime.date(2016, 3, 20), 7, 20, '3rd Week', 3, 'Q1', 2016),
 ('T00173', datetime.date(2018, 10, 3), 3, 10, '2nd Week', 3, 'Q1', 2018),
 ('T00174', datetime.date(2017, 9, 20), 23, 20, '3rd Week', 9, 'Q3', 2017),
 ('T00175', datetime.date(2017, 6, 30), 18, 30, '4th Week', 6, 'Q2', 2017),
 ('T00176', datetime.date(2016, 8, 20), 4, 20, '3rd Week', 8, 'Q3', 2016),
 ('T00177', datetime.date(2020, 6, 19), 12, 19, '3rd Week', 6, 'Q2', 2020),
 ('T00178', datetime.date(2018, 1, 14), 13, 14, '2nd Week', 1, 'Q1', 2018),
 ('T00179', datetime.date(2018, 5, 23), 21, 23, '4th Week', 5, 'Q2', 2018),
 ('T00180', datetime.date(2020, 5, 23), 23, 23, '4th Week', 5, 'Q2', 2020),
 ('T00181', datetime.date(2014, 12, 11), 4, 12, '2nd Week', 11, 'Q4', 2014),
 ('T00182', datetime.date(2015, 2, 22), 7, 22, '4th Week', 2, 'Q1', 2015),
 ('T00183', datetime.date(2019, 9, 5), 0, 9, '2nd Week', 5, 'Q2', 2019),
 ('T00184', datetime.date(2018, 12, 10), 4, 12, '2nd Week', 10, 'Q4', 2018),
 ('T00185', datetime.date(2020, 3, 16), 9, 16, '3rd Week', 3, 'Q1', 2020),
 ('T00186', datetime.date(2017, 5, 28), 11, 28, '4th Week', 5, 'Q2', 2017),
 ('T00187', datetime.date(2017, 11, 21), 7, 21, '3rd Week', 11, 'Q4', 2017),
 ('T00188', datetime.date(2019, 2, 8), 6, 2, '1st Week', 8, 'Q3', 2019),
 ('T00189', datetime.date(2015, 10, 10), 1, 10, '2nd Week', 10, 'Q4', 2015),
 ('T00190', datetime.date(2016, 11, 24), 0, 24, '4th Week', 11, 'Q4', 2016),
 ('T00191', datetime.date(2019, 4, 20), 14, 20, '3rd Week', 4, 'Q2', 2019),
 ('T00192', datetime.date(2020, 7, 12), 12, 7, '1st Week', 12, 'Q4', 2020),
 ('T00193', datetime.date(2014, 9, 12), 7, 9, '2nd Week', 12, 'Q4', 2014),
 ('T00194', datetime.date(2020, 11, 15), 0, 15, '3rd Week', 11, 'Q4', 2020),
 ('T00195', datetime.date(2015, 10, 4), 3, 10, '2nd Week', 4, 'Q2', 2015),
 ('T00196', datetime.date(2019, 12, 8), 5, 12, '2nd Week', 8, 'Q3', 2019),
 ('T00197', datetime.date(2020, 8, 24), 8, 24, '4th Week', 8, 'Q3', 2020),
 ('T00198', datetime.date(2017, 3, 12), 0, 3, '1st Week', 12, 'Q4', 2017),
 ('T00199', datetime.date(2019, 8, 9), 23, 8, '2nd Week', 9, 'Q3', 2019),
 ('T00200', datetime.date(2017, 11, 21), 13, 21, '3rd Week', 11, 'Q4', 2017),
 ('T00201', datetime.date(2018, 12, 14), 18, 14, '2nd Week', 12, 'Q4', 2018),
 ('T00202', datetime.date(2014, 2, 19), 5, 19, '3rd Week', 2, 'Q1', 2014),
 ('T00203', datetime.date(2018, 6, 2), 4, 6, '1st Week', 2, 'Q1', 2018),
 ('T00204', datetime.date(2017, 5, 24), 6, 24, '4th Week', 5, 'Q2', 2017),
 ('T00205', datetime.date(2014, 5, 22), 11, 22, '4th Week', 5, 'Q2', 2014),
 ('T00206', datetime.date(2017, 7, 10), 15, 7, '1st Week', 10, 'Q4', 2017),
 ('T00207', datetime.date(2015, 1, 7), 8, 1, '1st Week', 7, 'Q3', 2015),
 ('T00208', datetime.date(2015, 9, 17), 3, 17, '3rd Week', 9, 'Q3', 2015),
 ('T00209', datetime.date(2018, 11, 19), 4, 19, '3rd Week', 11, 'Q4', 2018),
 ('T00210', datetime.date(2018, 8, 25), 5, 25, '4th Week', 8, 'Q3', 2018),
 ('T00211', datetime.date(2017, 2, 3), 13, 2, '1st Week', 3, 'Q1', 2017),
 ('T00212', datetime.date(2019, 1, 18), 7, 18, '3rd Week', 1, 'Q1', 2019),
 ('T00213', datetime.date(2018, 6, 8), 5, 6, '1st Week', 8, 'Q3', 2018),
 ('T00214', datetime.date(2016, 9, 14), 16, 14, '2nd Week', 9, 'Q3', 2016),
 ('T00215', datetime.date(2016, 8, 17), 17, 17, '3rd Week', 8, 'Q3', 2016),
 ('T00216', datetime.date(2019, 12, 5), 0, 12, '2nd Week', 5, 'Q2', 2019),
 ('T00217', datetime.date(2015, 8, 27), 7, 27, '4th Week', 8, 'Q3', 2015),
 ('T00218', datetime.date(2016, 4, 18), 14, 18, '3rd Week', 4, 'Q2', 2016),
 ('T00219', datetime.date(2014, 8, 30), 14, 30, '4th Week', 8, 'Q3', 2014),
 ('T00220', datetime.date(2019, 7, 5), 5, 7, '1st Week', 5, 'Q2', 2019),
 ('T00221', datetime.date(2018, 12, 19), 21, 19, '3rd Week', 12, 'Q4', 2018),
 ('T00222', datetime.date(2017, 7, 22), 21, 22, '4th Week', 7, 'Q3', 2017),
 ('T00223', datetime.date(2017, 5, 31), 7, 31, '4th Week', 5, 'Q2', 2017),
 ('T00224', datetime.date(2014, 4, 11), 15, 4, '1st Week', 11, 'Q4', 2014),
 ('T00225', datetime.date(2018, 2, 4), 6, 2, '1st Week', 4, 'Q2', 2018),
 ('T00226', datetime.date(2014, 6, 13), 22, 13, '2nd Week', 6, 'Q2', 2014),
 ('T00227', datetime.date(2014, 11, 14), 19, 14, '2nd Week', 11, 'Q4', 2014),
 ('T00228', datetime.date(2020, 10, 5), 2, 10, '2nd Week', 5, 'Q2', 2020),
 ('T00229', datetime.date(2019, 4, 2), 14, 4, '1st Week', 2, 'Q1', 2019),
 ('T00230', datetime.date(2014, 12, 11), 6, 12, '2nd Week', 11, 'Q4', 2014),
 ('T00231', datetime.date(2017, 12, 26), 5, 26, '4th Week', 12, 'Q4', 2017),
 ('T00232', datetime.date(2019, 4, 17), 7, 17, '3rd Week', 4, 'Q2', 2019),
 ('T00233', datetime.date(2015, 4, 29), 6, 29, '4th Week', 4, 'Q2', 2015),
 ('T00234', datetime.date(2015, 11, 5), 22, 11, '2nd Week', 5, 'Q2', 2015),
 ('T00235', datetime.date(2019, 3, 19), 13, 19, '3rd Week', 3, 'Q1', 2019),
 ('T00236', datetime.date(2015, 3, 18), 18, 18, '3rd Week', 3, 'Q1', 2015),
 ('T00237', datetime.date(2017, 9, 8), 10, 9, '2nd Week', 8, 'Q3', 2017),
 ('T00238', datetime.date(2016, 3, 1), 2, 3, '1st Week', 1, 'Q1', 2016),
 ('T00239', datetime.date(2015, 11, 25), 1, 25, '4th Week', 11, 'Q4', 2015),
 ('T00240', datetime.date(2016, 11, 8), 10, 11, '2nd Week', 8, 'Q3', 2016),
 ('T00241', datetime.date(2017, 12, 24), 12, 24, '4th Week', 12, 'Q4', 2017),
 ('T00242', datetime.date(2015, 5, 16), 4, 16, '3rd Week', 5, 'Q2', 2015),
 ('T00243', datetime.date(2020, 4, 28), 0, 28, '4th Week', 4, 'Q2', 2020),
 ('T00244', datetime.date(2018, 9, 8), 9, 9, '2nd Week', 8, 'Q3', 2018),
 ('T00245', datetime.date(2019, 9, 11), 4, 9, '2nd Week', 11, 'Q4', 2019),
 ('T00246', datetime.date(2018, 1, 14), 9, 14, '2nd Week', 1, 'Q1', 2018),
 ('T00247', datetime.date(2015, 2, 24), 22, 24, '4th Week', 2, 'Q1', 2015),
 ('T00248', datetime.date(2014, 7, 27), 6, 27, '4th Week', 7, 'Q3', 2014),
 ('T00249', datetime.date(2016, 6, 13), 8, 13, '2nd Week', 6, 'Q2', 2016),
 ('T00250', datetime.date(2015, 8, 9), 17, 8, '2nd Week', 9, 'Q3', 2015),
 ('T00251', datetime.date(2016, 11, 30), 12, 30, '4th Week', 11, 'Q4', 2016),
 ('T00252', datetime.date(2016, 6, 29), 14, 29, '4th Week', 6, 'Q2', 2016),
 ('T00253', datetime.date(2018, 8, 21), 9, 21, '3rd Week', 8, 'Q3', 2018),
 ('T00254', datetime.date(2018, 8, 25), 10, 25, '4th Week', 8, 'Q3', 2018),
 ('T00255', datetime.date(2017, 6, 28), 18, 28, '4th Week', 6, 'Q2', 2017),
 ('T00256', datetime.date(2014, 12, 31), 20, 31, '4th Week', 12, 'Q4', 2014),
 ('T00257', datetime.date(2014, 9, 24), 22, 24, '4th Week', 9, 'Q3', 2014),
 ('T00258', datetime.date(2014, 1, 2), 17, 1, '1st Week', 2, 'Q1', 2014),
 ('T00259', datetime.date(2017, 4, 10), 8, 4, '1st Week', 10, 'Q4', 2017),
 ('T00260', datetime.date(2015, 3, 2), 22, 3, '1st Week', 2, 'Q1', 2015),
 ('T00261', datetime.date(2018, 2, 6), 21, 2, '1st Week', 6, 'Q2', 2018),
 ('T00262', datetime.date(2020, 6, 26), 23, 26, '4th Week', 6, 'Q2', 2020),
 ('T00263', datetime.date(2015, 9, 9), 2, 9, '2nd Week', 9, 'Q3', 2015),
 ('T00264', datetime.date(2019, 9, 25), 7, 25, '4th Week', 9, 'Q3', 2019),
 ('T00265', datetime.date(2015, 8, 29), 16, 29, '4th Week', 8, 'Q3', 2015),

In [68]:
time_df = pd.DataFrame(list(records3), columns=['time_key', 'dates', 'hour', 'day' , 'week', 'month', 'quarter', 'year'])
time_df

      time_key       dates  hour  day      week  month quarter  year
0       T00001  2017-05-20    14   20  3rd Week      5      Q2  2017
1       T00002  2015-01-30    22   30  4th Week      1      Q1  2015
2       T00003  2020-03-14     2   14  2nd Week      3      Q1  2020
3       T00004  2018-04-27    12   27  4th Week      4      Q2  2018
4       T00005  2018-04-14    10   14  2nd Week      4      Q2  2018
...        ...         ...   ...  ...       ...    ...     ...   ...
99994  T099995  2015-04-01    17    4  1st Week      1      Q1  2015
99995  T099996  2015-01-17    21   17  3rd Week      1      Q1  2015
99996  T099997  2020-01-23    14   23  4th Week      1      Q1  2020
99997  T099998  2015-10-31    13   31  4th Week     10      Q4  2015
99998  T099999  2017-08-06     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [55]:
cur4 = con.cursor()
select_fact = " SELECT t.coustomer_key, t.item_key , t.payment_key, t.store_key, t.time_key, t.quantity, t.unit, t.unit_price, t.total_price " \
              "FROM ecomdb_star_schema.fact_table t;"
cur4.execute(select_fact)
records4 = cur4.fetchall()
records4

[('C004510', 'I00177', 'P026', 'S00307', 'T049189', 1, 'ct', 35.0, 35.0),
 ('C008967', 'I00248', 'P022', 'S00595', 'T041209', 1, 'rolls', 26.0, 26.0),
 ('C007261', 'I00195', 'P030', 'S00496', 'T03633', 8, 'ct', 12.5, 100.0),
 ('C007048', 'I00131', 'P032', 'S0086', 'T084631', 8, 'ct', 14.0, 112.0),
 ('C006430', 'I00050', 'P014', 'S00488', 'T071276', 8, 'cans', 8.0, 64.0),
 ('C007574', 'I00058', 'P006', 'S00328', 'T026950', 5, 'bottles', 22.0, 110.0),
 ('C005695', 'I00075', 'P023', 'S00196', 'T096704', 2, 'cans', 15.5, 31.0),
 ('C008728', 'I00188', 'P027', 'S0010', 'T010756', 1, 'ct', 14.0, 14.0),
 ('C002764', 'I00017', 'P025', 'S00164', 'T017598', 11, 'cans', 6.75, 74.25),
 ('C003128', 'I00133', 'P019', 'S00640', 'T048812', 10, 'ct', 15.0, 150.0),
 ('C006613', 'I00065', 'P018', 'S00540', 'T078755', 8, 'bottles', 20.0, 160.0),
 ('C009139', 'I00023', 'P030', 'S0032', 'T037206', 10, 'cans', 6.75, 67.5),
 ('C000849', 'I00237', 'P003', 'S00631', 'T045267', 3, 'ct', 16.0, 48.0),
 ('C005138', 'I00082', 'P016', 'S0035', 'T017837', 6, 'ct', 15.0, 90.0),
 ('C000136', 'I00163', 'P011', 'S00158', 'T074844', 3, 'bags', 15.0, 45.0),
 ('C007305', 'I00091', 'P015', 'S00455', 'T06087', 2, 'bottles', 7.5, 15.0),
 ('C006779', 'I00125', 'P018', 'S0071', 'T097274', 9, 'ct', 15.0, 135.0),
 ('C004337', 'I00155', 'P013', 'S00616', 'T069004', 9, 'bags', 17.0, 153.0),
 ('C007044', 'I00017', 'P001', 'S00423', 'T049755', 7, 'cans', 6.75, 47.25),
 ('C004437', 'I00153', 'P028', 'S00608', 'T088776', 4, 'bags', 15.0, 60.0),
 ('C006330', 'I00047', 'P003', 'S00628', 'T081360', 4, 'cans', 8.0, 32.0),
 ('C004953', 'I00125', 'P019', 'S00197', 'T064303', 7, 'ct', 15.0, 105.0),
 ('C009102', 'I00078', 'P020', 'S00172', 'T034213', 8, 'bottles', 17.0, 136.0),
 ('C001667', 'I00113', 'P028', 'S00319', 'T03431', 1, 'ct', 42.0, 42.0),
 ('C003131',
  'I00079',
  'P010',
  'S00462',
  'T072373',
  10,
  'bottles',
  17.0,
  170.0),
 ('C000117', 'I00248', 'P011', 'S00460', 'T016070', 2, 'rolls', 26.0, 52.0),
 ('C008372', 'I00111', 'P026', 'S00410', 'T011517', 8, 'ct', 16.0, 128.0),
 ('C000587', 'I00066', 'P028', 'S00142', 'T098189', 1, 'bottles', 20.0, 20.0),
 ('C002814', 'I00108', 'P012', 'S00563', 'T095863', 2, 'oz', 15.0, 30.0),
 ('C006599', 'I00077', 'P017', 'S00317', 'T01535', 11, 'cans', 6.75, 74.25),
 ('C004506', 'I00103', 'P033', 'S0090', 'T034740', 6, 'tubs', 15.0, 90.0),
 ('C003012', 'I00218', 'P016', 'S00395', 'T066927', 3, 'ct', 6.0, 18.0),
 ('C002416', 'I00132', 'P006', 'S0060', 'T016376', 6, 'ct', 14.0, 84.0),
 ('C004635', 'I00246', 'P029', 'S0037', 'T058922', 3, 'ct', 20.0, 60.0),
 ('C002106', 'I00120', 'P001', 'S00676', 'T084934', 11, 'ct', 9.0, 99.0),
 ('C002014', 'I00068', 'P026', 'S00709', 'T075762', 5, 'bottles', 20.0, 100.0),
 ('C006673', 'I00018', 'P036', 'S00547', 'T067888', 1, 'cans', 6.75, 6.75),
 ('C003551', 'I00033', 'P020', 'S00343', 'T064445', 7, 'cans', 16.0, 112.0),
 ('C004163', 'I00123', 'P021', 'S0079', 'T04044', 6, 'ct', 45.0, 270.0),
 ('C008636', 'I00204', 'P033', 'S00643', 'T086840', 5, 'ct', 17.0, 85.0),
 ('C006607',
  'I00097',
  'P002',
  'S00293',
  'T096401',
  11,
  'cartons',
  19.0,
  209.0),
 ('C004785', 'I00212', 'P035', 'S00716', 'T027401', 5, 'ct', 12.0, 60.0),
 ('C007584', 'I00066', 'P030', 'S00164', 'T097121', 1, 'bottles', 20.0, 20.0),
 ('C000794', 'I00003', 'P028', 'S00604', 'T061460', 8, 'cans', 6.75, 54.0),
 ('C006515', 'I00226', 'P006', 'S00582', 'T070970', 4, 'lb', 15.0, 60.0),
 ('C006654', 'I00236', 'P024', 'S00169', 'T094539', 10, 'tins', 12.0, 120.0),
 ('C004238', 'I00192', 'P029', 'S0043', 'T043327', 3, 'ct', 24.0, 72.0),
 ('C005911', 'I00007', 'P028', 'S00105', 'T047958', 1, 'cans', 6.75, 6.75),
 ('C002711', 'I00007', 'P035', 'S00291', 'T099187', 10, 'cans', 6.75, 67.5),
 ('C002588', 'I00156', 'P020', 'S00416', 'T067143', 4, 'bags', 17.0, 68.0),
 ('C001376', 'I00240', 'P012', 'S00483', 'T095018', 9, 'ct', 14.0, 126.0),
 ('C005655', 'I00028', 'P032', 'S0040', 'T013343', 3, 'cans', 6.75, 20.25),
 ('C000616', 'I00155', 'P037', 'S00704', 'T046239', 9, 'bags', 17.0, 153.0),
 ('C006210', 'I00237', 'P029', 'S00389', 'T012085', 11, 'ct', 16.0, 176.0),
 ('C005781', 'I00037', 'P014', 'S00362', 'T089241', 7, 'cans', 16.0, 112.0),
 ('C000769', 'I00123', 'P033', 'S00716', 'T048488', 2, 'ct', 45.0, 90.0),
 ('C005135', 'I00109', 'P006', 'S00630', 'T012987', 3, 'oz', 17.0, 51.0),
 ('C001614', 'I00121', 'P003', 'S00518', 'T073649', 9, 'ct', 17.0, 153.0),
 ('C007507', 'I00137', 'P004', 'S00591', 'T099848', 1, 'ct', 24.0, 24.0),
 ('C005973', 'I00071', 'P032', 'S00143', 'T035211', 3, 'bottles', 17.5, 52.5),
 ('C009137', 'I00106', 'P037', 'S00378', 'T052586', 3, 'oz', 17.0, 51.0),
 ('C001890', 'I00073', 'P002', 'S00257', 'T04692', 11, 'bottles', 20.0, 220.0),
 ('C005857', 'I00261', 'P032', 'S00558', 'T079642', 9, 'ct', 33.0, 297.0),
 ('C001213', 'I00111', 'P029', 'S00485', 'T088078', 3, 'ct', 16.0, 48.0),
 ('C008426', 'I00215', 'P015', 'S00537', 'T075777', 7, 'ct.', 14.0, 98.0),
 ('C005265', 'I00010', 'P028', 'S0045', 'T084200', 3, 'cans', 6.75, 20.25),
 ('C007155', 'I00247', 'P011', 'S00372', 'T015488', 8, 'oz', 15.0, 120.0),
 ('C008945', 'I00008', 'P017', 'S00715', 'T091863', 2, 'cans', 16.25, 32.5),
 ('C006321', 'I00256', 'P010', 'S00455', 'T075495', 8, 'pack', 20.0, 160.0),
 ('C000850', 'I00129', 'P002', 'S00355', 'T023269', 11, 'pk', 18.0, 198.0),
 ('C006253', 'I00056', 'P006', 'S00206', 'T038332', 4, 'bottles', 24.0, 96.0),
 ('C001743', 'I00230', 'P001', 'S00660', 'T080396', 7, 'pk', 15.0, 105.0),
 ('C004020', 'I00218', 'P028', 'S00250', 'T038853', 11, 'ct', 6.0, 66.0),
 ('C006064',
  'I00080',
  'P014',
  'S00670',
  'T086284',
  10,
  'bottles',
  22.0,
  220.0),
 ('C007452', 'I00066', 'P026', 'S00382', 'T04952', 10, 'bottles', 20.0, 200.0),
 ('C001606', 'I00262', 'P015', 'S00601', 'T086625', 4, 'ct', 14.0, 56.0),
 ('C005146', 'I00078', 'P027', 'S0007', 'T047358', 4, 'bottles', 17.0, 68.0),
 ('C004369', 'I00125', 'P025', 'S00680', 'T046539', 11, 'ct', 15.0, 165.0),
 ('C000367', 'I00008', 'P036', 'S00454', 'T038514', 3, 'cans', 16.25, 48.75),
 ('C000687', 'I00151', 'P022', 'S00500', 'T072412', 8, 'bags', 17.0, 136.0),
 ('C007347', 'I00254', 'P030', 'S00652', 'T07448', 7, 'oz', 13.0, 91.0),
 ('C004023', 'I00189', 'P030', 'S00359', 'T093578', 1, 'ct.', 13.0, 13.0),
 ('C008650', 'I00064', 'P026', 'S00234', 'T031242', 8, 'cans', 40.0, 320.0),
 ('C007983', 'I00228', 'P004', 'S00581', 'T064100', 4, 'pk', 14.0, 56.0),
 ('C009083', 'I00033', 'P038', 'S00113', 'T065828', 6, 'cans', 16.0, 96.0),
 ('C002504', 'I00107', 'P035', 'S0004', 'T084697', 8, 'oz', 20.0, 160.0),
 ('C006203', 'I00229', 'P022', 'S00636', 'T056597', 2, 'ct', 13.0, 26.0),
 ('C001921', 'I00189', 'P017', 'S00435', 'T058671', 5, 'ct.', 13.0, 65.0),
 ('C007064', 'I00138', 'P021', 'S00267', 'T035360', 7, 'ct', 32.0, 224.0),
 ('C001108', 'I00017', 'P037', 'S00240', 'T012049', 10, 'cans', 6.75, 67.5),
 ('C006657', 'I00044', 'P013', 'S00628', 'T058776', 1, 'cans', 8.0, 8.0),
 ('C006206', 'I00007', 'P025', 'S00312', 'T087559', 6, 'cans', 6.75, 40.5),
 ('C008525', 'I00146', 'P034', 'S00670', 'T054312', 5, 'ct', 21.0, 105.0),
 ('C005322', 'I00213', 'P001', 'S00381', 'T090099', 6, 'ct', 12.0, 72.0),
 ('C009017', 'I00243', 'P029', 'S00698', 'T035589', 1, 'oz', 16.0, 16.0),
 ('C003121', 'I00069', 'P034', 'S00340', 'T038507', 2, 'bottles', 17.5, 35.0),
 ('C004972', 'I00216', 'P018', 'S00264', 'T045622', 11, 'ct', 16.5, 181.5),
 ('C007493', 'I00151', 'P013', 'S00123', 'T028965', 8, 'bags', 17.0, 136.0),
 ('C007851', 'I00098', 'P001', 'S00664', 'T018452', 10, 'oz', 10.0, 100.0),
 ('C004867', 'I00079', 'P016', 'S00271', 'T063981', 4, 'bottles', 17.0, 68.0),
 ('C000893', 'I00144', 'P032', 'S00147', 'T036720', 4, 'ct', 20.0, 80.0),
 ('C002529', 'I00068', 'P008', 'S0049', 'T06611', 1, 'bottles', 20.0, 20.0),
 ('C008597', 'I00186', 'P005', 'S00282', 'T04776', 8, 'ct', 13.0, 104.0),
 ('C004165', 'I00060', 'P026', 'S00566', 'T018323', 7, 'bottles', 22.0, 154.0),
 ('C007895', 'I00192', 'P018', 'S00107', 'T041053', 9, 'ct', 24.0, 216.0),
 ('C006255', 'I00092', 'P037', 'S00289', 'T053308', 8, 'bottles', 10.0, 80.0),
 ('C000553', 'I00223', 'P026', 'S00551', 'T078183', 1, 'ct', 13.5, 13.5),
 ('C008077', 'I00216', 'P003', 'S00495', 'T023535', 3, 'ct', 16.5, 49.5),
 ('C005936', 'I00048', 'P032', 'S00429', 'T057062', 3, 'cans', 8.0, 24.0),
 ('C000180', 'I00083', 'P005', 'S00159', 'T033556', 5, 'bottles', 14.0, 70.0),
 ('C001090', 'I00250', 'P008', 'S00133', 'T059539', 10, 'pack', 19.5, 195.0),
 ('C006813', 'I00236', 'P020', 'S00705', 'T067589', 11, 'tins', 12.0, 132.0),
 ('C007874', 'I00084', 'P018', 'S00703', 'T096180', 3, 'bottles', 18.0, 54.0),
 ('C007479',
  'I00096',
  'P015',
  'S00530',
  'T054398',
  11,
  'bottles',
  20.0,
  220.0),
 ('C005106', 'I00144', 'P017', 'S00447', 'T046729', 7, 'ct', 20.0, 140.0),
 ('C007116', 'I00255', 'P011', 'S00414', 'T07168', 2, 'pack', 20.0, 40.0),
 ('C003706', 'I00219', 'P024', 'S00440', 'T022229', 8, 'ct', 22.0, 176.0),
 ('C004751', 'I00238', 'P027', 'S00705', 'T060647', 11, 'ct', 12.0, 132.0),
 ('C002036', 'I00221', 'P035', 'S00378', 'T046246', 11, 'ct', 14.0, 154.0),
 ('C004365', 'I00150', 'P014', 'S00505', 'T097325', 10, 'bags', 16.0, 160.0),
 ('C004483', 'I00180', 'P032', 'S00545', 'T01568', 8, 'ct', 19.0, 152.0),
 ('C001600', 'I00102', 'P022', 'S00469', 'T073347', 11, 'tubs', 16.0, 176.0),
 ('C006222', 'I00063', 'P016', 'S00530', 'T035980', 11, 'cans', 40.0, 440.0),
 ('C006521', 'I00258', 'P015', 'S00239', 'T085091', 2, 'pk', 21.0, 42.0),
 ('C000984', 'I00126', 'P032', 'S00252', 'T039667', 5, 'ct', 25.0, 125.0),
 ('C003786', 'I00189', 'P018', 'S00358', 'T050797', 1, 'ct.', 13.0, 13.0),
 ('C006609', 'I00250', 'P020', 'S00454', 'T094332', 11, 'pack', 19.5, 214.5),
 ('C003761', 'I00193', 'P015', 'S0014', 'T069778', 8, 'ct', 18.0, 144.0),
 ('C000356', 'I00198', 'P006', 'S0045', 'T022453', 1, 'ct', 12.0, 12.0),
 ('C004585', 'I00006', 'P006', 'S00694', 'T018609', 2, 'cans', 16.25, 32.5),
 ('C000309', 'I00213', 'P003', 'S00537', 'T037201', 5, 'ct', 12.0, 60.0),
 ('C000696', 'I00134', 'P022', 'S00275', 'T032934', 4, 'ct', 16.0, 64.0),
 ('C005792', 'I00212', 'P013', 'S00159', 'T089252', 7, 'ct', 12.0, 84.0),
 ('C008240', 'I00075', 'P034', 'S00621', 'T069978', 6, 'cans', 15.5, 93.0),
 ('C006506', 'I00073', 'P022', 'S00507', 'T016439', 8, 'bottles', 20.0, 160.0),
 ('C008485', 'I00169', 'P029', 'S00433', 'T050211', 9, 'ct', 17.0, 153.0),
 ('C001377', 'I00253', 'P030', 'S00380', 'T090005', 5, 'bags', 21.0, 105.0),
 ('C001951', 'I00077', 'P006', 'S00282', 'T03982', 7, 'cans', 6.75, 47.25),
 ('C000468', 'I00042', 'P010', 'S00652', 'T027342', 5, 'bottles', 28.0, 140.0),
 ('C008169', 'I00042', 'P028', 'S00434', 'T027854', 7, 'bottles', 28.0, 196.0),
 ('C003589', 'I00043', 'P026', 'S00306', 'T095881', 2, 'bottles', 24.0, 48.0),
 ('C004255', 'I00060', 'P011', 'S00380', 'T092822', 5, 'bottles', 22.0, 110.0),
 ('C000265', 'I00242', 'P011', 'S00274', 'T092821', 9, 'pk', 12.0, 108.0),
 ('C000475', 'I00198', 'P021', 'S00300', 'T099595', 6, 'ct', 12.0, 72.0),
 ('C006453', 'I00245', 'P014', 'S0087', 'T093060', 2, 'rolls', 26.0, 52.0),
 ('C004605', 'I00133', 'P021', 'S00306', 'T065030', 3, 'ct', 15.0, 45.0),
 ('C004081', 'I00150', 'P017', 'S0051', 'T097295', 6, 'bags', 16.0, 96.0),
 ('C002750', 'I00074', 'P023', 'S00615', 'T068178', 7, 'bottles', 20.0, 140.0),
 ('C004401', 'I00227', 'P022', 'S00426', 'T085077', 2, 'pk', 15.0, 30.0),
 ('C008525', 'I00247', 'P034', 'S00194', 'T020322', 4, 'oz', 15.0, 60.0),
 ('C002110', 'I00126', 'P009', 'S00142', 'T017049', 3, 'ct', 25.0, 75.0),
 ('C007170', 'I00241', 'P031', 'S00322', 'T062404', 10, 'ct', 12.0, 120.0),
 ('C001647', 'I00042', 'P012', 'S00342', 'T059671', 2, 'bottles', 28.0, 56.0),
 ('C009083', 'I00232', 'P018', 'S0042', 'T063522', 8, 'ct', 12.0, 96.0),
 ('C009085', 'I00180', 'P024', 'S00467', 'T077489', 2, 'ct', 19.0, 38.0),
 ('C003950', 'I00250', 'P028', 'S00312', 'T089335', 5, 'pack', 19.5, 97.5),
 ('C007980', 'I00024', 'P006', 'S00677', 'T022421', 2, 'cans', 16.25, 32.5),
 ('C005512', 'I00125', 'P025', 'S00127', 'T072405', 11, 'ct', 15.0, 165.0),
 ('C005690', 'I00262', 'P032', 'S00461', 'T04866', 2, 'ct', 14.0, 28.0),
 ('C005423', 'I00246', 'P019', 'S00205', 'T081628', 1, 'ct', 20.0, 20.0),
 ('C007461', 'I00232', 'P002', 'S00178', 'T016602', 7, 'ct', 12.0, 84.0),
 ('C005548', 'I00101', 'P002', 'S00357', 'T057813', 2, 'tubs', 15.0, 30.0),
 ('C009187', 'I00121', 'P020', 'S00394', 'T080308', 2, 'ct', 17.0, 34.0),
 ('C007335', 'I00082', 'P021', 'S00566', 'T051185', 1, 'ct', 15.0, 15.0),
 ('C002760', 'I00064', 'P034', 'S00582', 'T084238', 4, 'cans', 40.0, 160.0),
 ('C006111', 'I00108', 'P011', 'S00377', 'T05728', 4, 'oz', 15.0, 60.0),
 ('C000827', 'I00107', 'P033', 'S00648', 'T075378', 6, 'oz', 20.0, 120.0),
 ('C000247', 'I00096', 'P025', 'S00389', 'T019329', 3, 'bottles', 20.0, 60.0),
 ('C005046', 'I00198', 'P003', 'S00662', 'T033517', 7, 'ct', 12.0, 84.0),
 ('C005367', 'I00171', 'P013', 'S00243', 'T013761', 4, 'ct', 16.0, 64.0),
 ('C007465', 'I00035', 'P007', 'S00474', 'T054055', 8, 'cans', 16.0, 128.0),
 ('C004321', 'I00150', 'P012', 'S00288', 'T038449', 9, 'bags', 16.0, 144.0),
 ('C008394', 'I00029', 'P026', 'S00242', 'T013267', 8, 'cans', 11.5, 92.0),
 ('C004333', 'I00136', 'P039', 'S00347', 'T087002', 8, 'ct', 19.5, 156.0),
 ('C008928', 'I00091', 'P001', 'S00450', 'T080527', 11, 'bottles', 7.5, 82.5),
 ('C008992', 'I00125', 'P021', 'S0055', 'T099538', 3, 'ct', 15.0, 45.0),
 ('C008381', 'I00073', 'P020', 'S00543', 'T068587', 5, 'bottles', 20.0, 100.0),
 ('C005131', 'I00163', 'P021', 'S00239', 'T099005', 6, 'bags', 15.0, 90.0),
 ('C006179', 'I00137', 'P039', 'S00544', 'T074779', 9, 'ct', 24.0, 216.0),
 ('C005302', 'I00113', 'P014', 'S00378', 'T049751', 10, 'ct', 42.0, 420.0),
 ('C006607', 'I00106', 'P014', 'S00608', 'T086204', 2, 'oz', 17.0, 34.0),
 ('C007110', 'I00170', 'P025', 'S00473', 'T021185', 6, 'ct.', 15.0, 90.0),
 ('C006397', 'I00181', 'P010', 'S00460', 'T020301', 8, 'ct', 26.0, 208.0),
 ('C001432', 'I00140', 'P005', 'S00177', 'T026282', 4, 'ct', 29.0, 116.0),
 ('C000360', 'I00020', 'P025', 'S00367', 'T03072', 9, 'cans', 6.75, 60.75),
 ('C002796', 'I00166', 'P002', 'S00624', 'T068914', 6, 'bags', 17.0, 102.0),
 ('C005519', 'I00167', 'P032', 'S00549', 'T050958', 3, 'ct', 14.0, 42.0),
 ('C003460', 'I00098', 'P004', 'S0034', 'T025941', 4, 'oz', 10.0, 40.0),
 ('C005672', 'I00122', 'P006', 'S00248', 'T044432', 6, 'ct', 15.0, 90.0),
 ('C007281', 'I00257', 'P034', 'S00451', 'T083858', 4, 'ct', 21.0, 84.0),
 ('C008944', 'I00028', 'P038', 'S00505', 'T07376', 4, 'cans', 6.75, 27.0),
 ('C007426', 'I00144', 'P032', 'S00670', 'T045335', 3, 'ct', 20.0, 60.0),
 ('C004033', 'I00055', 'P024', 'S00515', 'T068656', 10, 'cans', 40.0, 400.0),
 ('C007308', 'I00257', 'P025', 'S00362', 'T065074', 4, 'ct', 21.0, 84.0),
 ('C008308', 'I00044', 'P005', 'S00214', 'T027450', 11, 'cans', 8.0, 88.0),
 ('C000369', 'I00094', 'P009', 'S00148', 'T038151', 6, 'bottles', 11.0, 66.0),
 ('C002064', 'I00255', 'P033', 'S00540', 'T010382', 6, 'pack', 20.0, 120.0),
 ('C007492', 'I00034', 'P010', 'S00680', 'T037984', 9, 'cans', 16.0, 144.0),
 ('C000758', 'I00233', 'P008', 'S0002', 'T027289', 8, 'ct', 12.0, 96.0),
 ('C004895', 'I00009', 'P021', 'S00501', 'T071088', 7, 'cans', 16.25, 113.75),
 ('C006846', 'I00235', 'P031', 'S00479', 'T00278', 9, 'ct', 14.0, 126.0),
 ('C007703', 'I00252', 'P039', 'S00169', 'T028363', 6, 'ct', 11.0, 66.0),
 ('C007584', 'I00041', 'P013', 'S00283', 'T043743', 8, 'bottles', 23.0, 184.0),
 ('C001545', 'I00058', 'P038', 'S0055', 'T038381', 6, 'bottles', 22.0, 132.0),
 ('C006072', 'I00136', 'P037', 'S00276', 'T085298', 5, 'ct', 19.5, 97.5),
 ('C007037', 'I00110', 'P017', 'S00221', 'T026396', 8, 'oz', 22.5, 180.0),
 ('C005164', 'I00036', 'P013', 'S0010', 'T082585', 10, 'cans', 16.0, 160.0),
 ('C001344', 'I00073', 'P013', 'S00630', 'T051293', 9, 'bottles', 20.0, 180.0),
 ('C004922', 'I00167', 'P034', 'S00111', 'T064798', 3, 'ct', 14.0, 42.0),
 ('C001275', 'I00189', 'P037', 'S00601', 'T032532', 2, 'ct.', 13.0, 26.0),
 ('C003776', 'I00215', 'P015', 'S00289', 'T082823', 4, 'ct.', 14.0, 56.0),
 ('C000793', 'I00063', 'P012', 'S00215', 'T061423', 6, 'cans', 40.0, 240.0),
 ('C007650', 'I00186', 'P038', 'S0090', 'T036396', 1, 'ct', 13.0, 13.0),
 ('C001380', 'I00167', 'P030', 'S00336', 'T022770', 4, 'ct', 14.0, 56.0),
 ('C007918', 'I00126', 'P036', 'S00646', 'T089048', 10, 'ct', 25.0, 250.0),
 ('C007540', 'I00156', 'P009', 'S00259', 'T067515', 7, 'bags', 17.0, 119.0),
 ('C002403', 'I00128', 'P025', 'S0059', 'T035707', 11, 'pk', 16.0, 176.0),
 ('C008334', 'I00255', 'P009', 'S00721', 'T03819', 4, 'pack', 20.0, 80.0),
 ('C002273', 'I00187', 'P032', 'S00405', 'T084158', 10, 'ct.', 13.0, 130.0),
 ('C003291', 'I00076', 'P035', 'S0074', 'T079034', 5, 'cans', 6.75, 33.75),
 ('C008759', 'I00122', 'P034', 'S00509', 'T022074', 5, 'ct', 15.0, 75.0),
 ('C007688', 'I00183', 'P024', 'S00194', 'T028134', 11, 'ct', 35.0, 385.0),
 ('C001301', 'I00165', 'P039', 'S00251', 'T033815', 2, 'bags', 16.0, 32.0),
 ('C004865', 'I00113', 'P009', 'S00353', 'T044907', 8, 'ct', 42.0, 336.0),
 ('C000956', 'I00213', 'P016', 'S00139', 'T072906', 2, 'ct', 12.0, 24.0),
 ('C003334', 'I00195', 'P021', 'S00338', 'T02647', 7, 'ct', 12.5, 87.5),
 ('C007896', 'I00061', 'P026', 'S00617', 'T077414', 7, 'cans', 55.0, 385.0),
 ('C007055', 'I00049', 'P015', 'S00218', 'T015735', 4, 'cans', 8.0, 32.0),
 ('C001641', 'I00053', 'P031', 'S00167', 'T010429', 8, 'cans', 40.0, 320.0),
 ('C004228', 'I00179', 'P003', 'S00265', 'T054067', 4, 'ct', 19.0, 76.0),
 ('C003178', 'I00088', 'P020', 'S00380', 'T079891', 3, 'bottles', 17.0, 51.0),
 ('C000730', 'I00045', 'P033', 'S00102', 'T02743', 5, 'cans', 8.0, 40.0),
 ('C008065', 'I00055', 'P010', 'S00324', 'T039330', 3, 'cans', 40.0, 120.0),
 ('C004292', 'I00121', 'P033', 'S00694', 'T020735', 10, 'ct', 17.0, 170.0),
 ('C008389', 'I00068', 'P003', 'S00555', 'T069983', 3, 'bottles', 20.0, 60.0),
 ('C004994', 'I00153', 'P034', 'S00238', 'T077509', 5, 'bags', 15.0, 75.0),
 ('C004062', 'I00089', 'P033', 'S0084', 'T051773', 10, 'bottles', 9.0, 90.0),
 ('C008732', 'I00071', 'P031', 'S00659', 'T072207', 4, 'bottles', 17.5, 70.0),
 ('C004010', 'I00194', 'P033', 'S00649', 'T015895', 10, 'bars', 23.0, 230.0),
 ('C003404', 'I00247', 'P025', 'S0015', 'T087793', 2, 'oz', 15.0, 30.0),
 ('C008558', 'I00179', 'P027', 'S00559', 'T024637', 3, 'ct', 19.0, 57.0),
 ('C004462', 'I00014', 'P033', 'S0063', 'T07750', 1, 'cans', 6.75, 6.75),
 ('C003760', 'I00113', 'P016', 'S00126', 'T037494', 9, 'ct', 42.0, 378.0),
 ('C002286', 'I00197', 'P016', 'S00295', 'T038418', 5, 'bars', 15.0, 75.0),
 ('C007463', 'I00230', 'P036', 'S00296', 'T00022', 9, 'pk', 15.0, 135.0),
 ('C005848', 'I00198', 'P017', 'S00399', 'T087749', 5, 'ct', 12.0, 60.0),
 ('C003816', 'I00067', 'P021', 'S00423', 'T049774', 8, 'bottles', 8.0, 64.0),
 ('C005041', 'I00231', 'P035', 'S00256', 'T040305', 10, 'pk', 16.0, 160.0),
 ('C005839', 'I00241', 'P011', 'S00197', 'T085441', 7, 'ct', 12.0, 84.0),
 ('C007131', 'I00025', 'P010', 'S00592', 'T084462', 11, 'cans', 11.5, 126.5),
 ('C003607', 'I00033', 'P023', 'S00325', 'T066510', 10, 'cans', 16.0, 160.0),
 ('C004715', 'I00138', 'P039', 'S0066', 'T016438', 8, 'ct', 32.0, 256.0),
 ('C005378', 'I00159', 'P001', 'S00143', 'T090427', 7, 'bags', 17.0, 119.0),
 ('C003119', 'I00116', 'P013', 'S00373', 'T023962', 8, 'ct', 48.0, 384.0),
 ('C009156', 'I00184', 'P024', 'S00275', 'T033041', 6, 'ct', 12.0, 72.0),
 ('C005784', 'I00244', 'P027', 'S00269', 'T056628', 8, 'oz', 18.0, 144.0),
 ('C004410', 'I00201', 'P030', 'S00663', 'T051656', 6, 'bars', 23.0, 138.0),
 ('C007610', 'I00115', 'P003', 'S00485', 'T078656', 10, 'ct', 53.0, 530.0),
 ('C002237',
  'I00078',
  'P014',
  'S00336',
  'T010822',
  10,
  'bottles',
  17.0,
  170.0),
 ('C009152', 'I00253', 'P021', 'S00298', 'T097386', 5, 'bags', 21.0, 105.0),
 ('C007931', 'I00225', 'P028', 'S00384', 'T010481', 10, 'ct', 17.0, 170.0),
 ('C007309', 'I00145', 'P029', 'S00123', 'T059228', 1, 'ct', 17.0, 17.0),

In [57]:
fact_df = pd.DataFrame(list(records4), columns=['coustomer_key', 'item_key', 'payment_key', 'store_key' , 'time_key', 'quantity', 'unit', 'unit_price', 'total_price'])
fact_df

,coustomer_key,item_key,payment_key,store_key,time_key,quantity,unit,unit_price,total_price
0,C004510,I00177,P026,S00307,T049189,1,ct,35.0,35.0
1,C008967,I00248,P022,S00595,T041209,1,rolls,26.0,26.0
2,C007261,I00195,P030,S00496,T03633,8,ct,12.5,100.0
3,C007048,I00131,P032,S0086,T084631,8,ct,14.0,112.0
4,C006430,I00050,P014,S00488,T071276,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,C003726,I00063,P010,S00502,T09247,5,cans,40.0,200.0
999996,C002581,I00252,P021,S00225,T023483,1,ct,11.0,11.0
999997,C006133,I00119,P035,S00555,T039372,7,ct,53.0,371.0
999998,C008735,I00257,P031,S00440,T097975,2,ct,21.0,42.0
999999,C004067,I00044,P032,S00326,T018028,10,cans,8.0,80.0

In [63]:
cur5 = con.cursor()
select_item = " SELECT  t.item_key , t.item_name, t.desc_item, t.unit_price, t.man_country, t.supplier, t.unit " \
              "FROM ecomdb_star_schema.item_dim t;"
cur5.execute(select_item)
records5 = cur5.fetchall()
records5

[('I00001',
  'A&W Root Beer - 12 oz cans',
  'a. Beverage - Soda',
  '11.5',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00002',
  'A&W Root Beer Diet - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00003',
  "Barq's Root Beer - 12 oz cans",
  'a. Beverage - Soda',
  '6.75',
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00004',
  'Cherry Coke 12oz',
  'a. Beverage - Soda',
  '6.75',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00005',
  'Cherry Coke Zero 12 pack',
  'a. Beverage - Soda',
  '6.75',
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00006',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00007',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00008',
  'Coke Zero Sugar 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00009',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00010',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00011',
  'Diet Coke Caffeine Free 12oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00012',
  'Diet Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00013',
  'Diet Gingerale 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00014',
  'Diet Mountain Dew 12oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00015',
  'Diet Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00016',
  'Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00017',
  'Fresca Black Cherry - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00018',
  'Fresca Original - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00019',
  'Fresca Peach Citrus - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00020',
  'Ginger Ale - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00021',
  'Hawaiian Punch - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00022',
  'Mountain Dew - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00023',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00024',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00025',
  'Seven Up - 12 oz cans',
  'a. Beverage - Soda',
  '11.5',
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00026',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  '6.75',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00027',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  '16.25',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00028',
  'Sprite Zero - 12 pack',
  'a. Beverage - Soda',
  '6.75',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00029',
  'Sunkist Orange - 12 oz cans',
  'a. Beverage - Soda',
  '11.5',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00030',
  'La Croix Sparkling Berry 12 ozv',
  'a. Beverage Sparkling Water',
  '16.0',
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00031',
  'La Croix Sparkling Coconut 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00032',
  'La Croix Sparkling Cran-Raspberry 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00033',
  'La Croix Sparkling Grapefruit 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00034',
  'La Croix Sparkling Lemon 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00035',
  'La Croix Sparkling Lime 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00036',
  'La Croix Sparkling Orange 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00037',
  'La Croix Sparkling Pure 12 oz',
  'a. Beverage Sparkling Water',
  '16.0',
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00038',
  'Perrier Flavors Sparkling Water 16.9oz',
  'a. Beverage Sparkling Water',
  '23.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00039',
  'Perrier Sparkling Water glass 11oz',
  'a. Beverage Sparkling Water',
  '26.0',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00040',
  'Perrier Sparkling Water plastic 16.9oz',
  'a. Beverage Sparkling Water',
  '22.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00041',
  'San Pelligrino 16oz Plastic ',
  'a. Beverage Sparkling Water',
  '23.0',
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00042',
  'Topo Chico 12 oz glass',
  'a. Beverage Sparkling Water',
  '28.0',
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00043',
  'Topo Chico 20oz plastic',
  'a. Beverage Sparkling Water',
  '24.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00044',
  'Waterloo Sparkling Blackcherry 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00045',
  'Waterloo Sparkling Grapefruit 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00046',
  'Waterloo Sparkling Lemon 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00047',
  'Waterloo Sparkling Lime 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00048',
  'Waterloo Sparkling Mango 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00049',
  'Waterloo Sparkling Original 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00050',
  'Waterloo Sparkling Watermelon 12oz',
  'a. Beverage Sparkling Water',
  '8.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00051',
  'Monster Java 15 oz',
  'Beverage - Energy/Protein ',
  '23.0',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00052',
  'Monster Lo-Carb 16 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00053',
  'Monster Original Green 16 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00054',
  'Monster Zero Ultra 16 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00055',
  'Monster Zero Ultra Variety 16 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00056',
  'Muscle Milk Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  '24.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00057',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  '24.0',
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00058',
  'Premier Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  '22.0',
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00059',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  '22.0',
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00060',
  'Muscle Milk Protein Shake Strbry. 11oz',
  'Beverage - Energy/Protein',
  '22.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'bottles'),
 ('I00061',
  'Red Bull 12oz',
  'Beverage - Energy/Protein',
  '55.0',
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00062',
  'Red Bull 16oz',
  'Beverage - Energy/Protein',
  '37.0',
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00063',
  'Red Bull 8.4 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00064',
  'Red Bull Sugar Free 8.4 oz',
  'Beverage - Energy/Protein',
  '40.0',
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00065',
  'G2 Lo Calorie Variety 20 oz',
  'Beverage - Gatorade',
  '20.0',
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00066',
  'Gatorade Frost Variety 20 oz ',
  'Beverage - Gatorade',
  '20.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00067',
  'Gatorade Lemon Lime 12oz',
  'Beverage - Gatorade',
  '8.0',
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00068',
  'Gatorade Liberty Variety 20 oz ',
  'Beverage - Gatorade',
  '20.0',
  'India',
  'Indo Count Industries Ltd',
  'bottles'),
 ('I00069',
  'Gatorade Frost Variety 12 oz',
  'Beverage - Gatorade',
  '17.5',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00070',
  'Gatorade Liberty Variety 12 oz',
  'Beverage - Gatorade',
  '17.5',
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00071',
  'Gatorade Original Variety 12 oz',
  'Beverage - Gatorade',
  '17.5',
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00072',
  'Gatorade Variety 20 oz ',
  'Beverage - Gatorade',
  '20.0',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00073',
  'Gatorade X-Factor Fierce Variety 20 oz',
  'Beverage - Gatorade',
  '20.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00074',
  'Gatorade Zero Variety 20 oz',
  'Beverage - Gatorade',
  '20.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00075',
  'Brisk Lemon Iced Tea - 12 oz cans',
  'Beverage - Iced Tea',
  '15.5',
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00076',
  'Diet Fuze Iced Tea',
  'Beverage - Iced Tea',
  '6.75',
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00077',
  'Fuze Iced Tea',
  'Beverage - Iced Tea',
  '6.75',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00078',
  'Pure Leaf Sweet Tea 8.5oz',
  'Beverage - Iced Tea',
  '17.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00079',
  'Pure Leaf Unsweetened Tea 18.5oz',
  'Beverage - Iced Tea',
  '17.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00080',
  'Snapple Variety Pack 20oz',
  'Beverage - Iced Tea',
  '22.0',
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00081',
  'Tejava Unsweetened Black Tea 16.9oz',
  'Beverage - Iced Tea',
  '29.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00082',
  '100% Juice Box Variety 6.75 oz ',
  'Beverage - Juice',
  '15.0',
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00083',
  'Ocean Spray Cranberry Juice Cocktail 15oz ',
  'Beverage - Juice',
  '14.0',
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00084',
  'Tropicana Apple Juice 10 oz 100% ',
  'Beverage - Juice',
  '18.0',
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00085',
  'Tropicana Orange Juice 10 oz 100% ',
  'Beverage - Juice',
  '18.0',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00086',
  'V8 100% Vegetable Juice 11oz cans',
  'Beverage - Juice',
  '18.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00087',
  'V-8 Splash Variety 20 oz',
  'Beverage - Juice',
  '15.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00088',
  "Welch's 100% Juice Variety10 oz",
  'Beverage - Juice',
  '17.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00089',
  'AquaFina Purified Drinking Water 16oz',
  'Beverage Water',
  '9.0',
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00090',
  'Dasani Bottled Water 16.9 oz',
  'Beverage Water',
  '9.0',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00091',
  'Nestle Purelife 16oz ',
  'Beverage Water',
  '7.5',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00092',
  'Ozarka Spring Water 16.9 oz bottles',
  'Beverage Water',
  '10.0',
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00093',
  'Ozarka Spring Water 20 oz',
  'Beverage Water',
  '13.0',
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00094',
  'Ozarka Spring Water Mini 8oz',
  'Beverage Water',
  '11.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00095',
  'Propel Zero Variety 20 oz',
  'Beverage Water',
  '16.0',
  'Finland',
  'HARDFORD AB',
  'botlltes'),
 ('I00096',
  'Sobe Zero Lifewater Variety 20 oz',
  'Beverage Water',
  '20.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00097',
  'Vita Coconut Water 10oz ',
  'Beverage Water',
  '19.0',
  'India',
  'Indo Count Industries Ltd',
  'cartons'),
 ('I00098',
  'Coffee-Mate French Vanilla Cold',
  'Coffee Cream',
  '10.0',
  'Finland',
  'HARDFORD AB',
  'oz'),
 ('I00099',
  'Coffee-Mate Original Flavor Cold',
  'Coffee Cream',
  '6.0',
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00100',
  'Coffee-mate Original Powdered Creamer',
  'Coffee Cream',
  '10.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'oz.'),
 ('I00101',
  'French Vanilla International Delight',
  'Coffee Cream',
  '15.0',
  'Germany',
  'Friedola 1888 GmbH',
  'tubs'),
 ('I00102',
  "Half & Half -Land o Lakes Mini Moo's",
  'Coffee Cream',
  '16.0',
  'Lithuania',
  'BIGSO AB',
  'tubs'),
 ('I00103',
  'Hazelnut International Delight',
  'Coffee Cream',
  '15.0',
  'Finland',
  'HARDFORD AB',
  'tubs'),
 ('I00104',
  'Njoy Creamer Canister 16 oz',
  'Coffee Creamer',
  '14.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00105',
  'Njoy Creamer Packs',
  'Coffee Creamer',
  '16.5',
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00106',
  'Community Coffee Dark Roast',
  'Coffee Ground',
  '17.0',
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00107',
  'Dunkin Donuts Original Blend',
  'Coffee Ground',
  '20.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'oz'),
 ('I00108',
  'Folgers 100% Colombian Coffee',
  'Coffee Ground',
  '15.0',
  'Lithuania',
  'BIGSO AB',
  'oz'),
 ('I00109',
  'Folgers Classic Roast Coffee',
  'Coffee Ground',
  '17.0',
  'Germany',
  'Friedola 1888 GmbH',
  'oz'),
 ('I00110',
  "Starbuck's Pike Place",
  'Coffee Ground',
  '22.5',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'oz'),
 ('I00111',
  'K Cups Hot Cocoa',
  'Coffee Hot Cocoa',
  '16.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00112',
  'Swiss Miss Hot Cocoa Mix 1 oz',
  'Coffee Hot Cocoa',
  '14.0',
  'India',
  'Indo Count Industries Ltd',
  'ct.'),
 ('I00113',
  'K Cups - McCafe Premium Roast',
  'Coffee K-Cups',
  '42.0',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00114',
  "K Cups - Starbuck's Pike Place",
  'Coffee K-Cups',
  '44.0',
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00115',
  'K Cups Daily Chef Columbian Supremo',
  'Coffee K-Cups',
  '53.0',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00116',
  'K Cups Dunkin Donuts Medium Roast',
  'Coffee K-Cups',
  '48.0',
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00117',
  'K Cups Folgers Lively Columbian',
  'Coffee K-Cups',
  '46.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00118',
  'K Cups - Organic Breakfast Blend',
  'Coffee K-Cups',
  '42.0',
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00119',
  'K Cups Original Donut Shop Med. Roast',
  'Coffee K-Cups',
  '53.0',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00120',
  'K Cups - Green Tea',
  'Coffee K-Cups Tea',
  '9.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00121',
  'Stirrers Coffee Stirs 7inch',
  'Coffee Stirrers',
  '17.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'ct'),
 ('I00122',
  'Equal Sweetener',
  'Coffee Sweetener',
  '15.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00123',
  'Honey Packets  ',
  'Coffee Sweetener',
  '45.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00124',
  'Njoy Sugar Canister 22 oz',
  'Coffee Sweetener',
  '15.0',
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00125',
  'Pure White Sugar Packets',
  'Coffee Sweetener',
  '15.0',
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00126',
  'Splenda Sweetener',
  'Coffee Sweetener',
  '25.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00127',
  'Sugar in the Raw Packets',
  'Coffee Sweetener',
  '12.5',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00128',
  'Sweet N Low Sweetener',
  'Coffee Sweetener',
  '16.0',
  'Germany',
  'Friedola 1888 GmbH',
  'pk'),
 ('I00129',
  'Truvia Natural Sweetener',
  'Coffee Sweetener',
  '18.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00130',
  'Hefty Supreme Foam Bowls 12oz',
  'Dishware - Bowls',
  '14.0',
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00131',
  'Paper Bowls 20 oz Ultra Strong',
  'Dishware - Bowls',
  '14.0',
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00132',
  'Clear Plastic 12 oz Cups',
  'Dishware - Cups Cold',
  '14.0',
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00133',
  'Clear Plastic Cups 9oz',
  'Dishware - Cups Cold',
  '15.0',
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00134',
  'Red Plastic Cups 18oz',
  'Dishware - Cups Cold',
  '16.0',
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00135',
  'Chinet Comfort Hot Cups with Lids 16oz',
  'Dishware - Cups Hot',
  '14.0',
  'United States',
  'MAESA SAS',
  'ct.'),
 ('I00136',
  'Dixie Perfecttouch Paper Cups 12oz',
  'Dishware - Cups Hot',
  '19.5',
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00137',
  'Foam Coffee Cups - 08 ounce',
  'Dishware - Cups Hot',
  '24.0',
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00138',
  'Foam Coffee Cups - 12 ounce',
  'Dishware - Cups Hot',
  '32.0',
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00139',
  'Foam Coffee Cups - 16 ounce',
  'Dishware - Cups Hot',
  '24.0',
  'Germany',
  'Friedola 1888 GmbH',
  'ct'),
 ('I00140',
  'Foam Coffee Cups - 20 ounce',
  'Dishware - Cups Hot',
  '29.0',
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00141',
  "Hefty Cmprtmnt Plates Foam 10'",
  'Dishware - Plates',
  '18.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00142',
  'Hefty Supreme Foam Plates 6 inch',
  'Dishware - Plates',
  '12.5',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00143',
  'Hefty Supreme Foam Plates 9 inch',
  'Dishware - Plates',
  '16.0',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00144',
  'Paper Plate 10 inch Ultra Strong',
  'Dishware - Plates',
  '20.0',
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00145',
  'Paper Plates 7 inch  Ultra Strong',
  'Dishware - Plates',
  '17.0',
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00146',
  'Paper Plates 8.5 inch Ultra Strong',
  'Dishware - Plates',
  '21.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00147',
  'Plastic Forks White Heavyweight',
  'Dishware - Utensils',
  '15.0',
  'China',
  'CHERRY GROUP CO.,LTD',
  'ct'),
 ('I00148',
  'Plastic Knives White  Heavyweight',
  'Dishware - Utensils',
  '15.0',
  'Germany',
  'Friedola 1888 GmbH',
  'ct'),
 ('I00149',
  'Plastic Spoons White  Heavyweight',
  'Dishware - Utensils',
  '15.0',
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00150',
  'Baked Chips Variety Mix Frito',
  'Food - Chips',
  '16.0',
  'India',
  'Indo Count Industries Ltd',
  'bags'),
 ('I00151',
  "Cheetos Flamin' Hot 1 oz",
  'Food - Chips',
  '17.0',
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bags'),
 ('I00152',
  'Cheez It Original Crackers 1.5oz',
  'Food - Chips',
  '15.0',
  'poland',
  'CHROMADURLIN S.A.S',
  'bags'),
 ('I00153',
  'Cheez It White Cheddar 1.5 oz',
  'Food - Chips',
  '15.0',
  'India',
  'Indo Count Industries Ltd',
  'bags'),
 ('I00154',
  'Chex Mix Original',
  'Food - Chips',
  '15.0',
  'Finland',
  'HARDFORD AB',
  'Bags'),
 ('I00155',
  'Doritos Nacho Cheese 1 oz',
  'Food - Chips',
  '17.0',
  'India',
  'Indo Count Industries Ltd',
  'bags'),
 ('I00156',
  'Flamin Hot Chip Mix 1oz',
  'Food - Chips',
  '17.0',
  'Bangladesh',
  'DENIMACH LTD',

In [64]:
item_df = pd.DataFrame(list(records5), columns=['item_key', 'item_name', 'desc_item', 'unit_price' , 'man_country', 'supplier', 'unit'])
item_df

,item_key,item_name,desc_item,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.5,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.0,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.0,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.0,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.0,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.0,India,Indo Count Industries Ltd,Ct

In [65]:
cur6 = con.cursor()
select_store = " SELECT  t.store_key , t.division, t.district, t.upazila " \
              "FROM ecomdb_star_schema.store_dim t;"
cur6.execute(select_store)
records6 = cur6.fetchall()
records6

[('S0001', 'SYLHET', 'HABIGANJ', 'AJMIRIGANJ'),
 ('S0002', 'SYLHET', 'HABIGANJ', 'BAHUBAL'),
 ('S0003', 'SYLHET', 'HABIGANJ', 'BANIACHONG'),
 ('S0004', 'SYLHET', 'HABIGANJ', 'CHUNARUGHAT'),
 ('S0005', 'SYLHET', 'HABIGANJ', 'HABIGANJ SADAR'),
 ('S0006', 'SYLHET', 'HABIGANJ', 'LAKHAI'),
 ('S0007', 'SYLHET', 'HABIGANJ', 'MADHABPUR'),
 ('S0008', 'SYLHET', 'HABIGANJ', 'NABIGANJ'),
 ('S0009', 'SYLHET', 'MAULVIBAZAR', 'BARLEKHA'),
 ('S0010', 'SYLHET', 'MAULVIBAZAR', 'JURI'),
 ('S0011', 'SYLHET', 'MAULVIBAZAR', 'KAMALGANJ'),
 ('S0012', 'SYLHET', 'MAULVIBAZAR', 'KULAURA'),
 ('S0013', 'SYLHET', 'MAULVIBAZAR', 'MAULVIBAZAR SADAR'),
 ('S0014', 'SYLHET', 'MAULVIBAZAR', 'RAJNAGAR'),
 ('S0015', 'SYLHET', 'MAULVIBAZAR', 'SREEMANGAL'),
 ('S0016', 'SYLHET', 'SUNAMGANJ', 'BISHWAMBARPUR'),
 ('S0017', 'SYLHET', 'SUNAMGANJ', 'CHHATAK'),
 ('S0018', 'SYLHET', 'SUNAMGANJ', 'DAKSHIN SUNAMGANJ'),
 ('S0019', 'SYLHET', 'SUNAMGANJ', 'DERAI'),
 ('S0020', 'SYLHET', 'SUNAMGANJ', 'DHARAMPASHA'),
 ('S0021', 'SYLHET', 'SUNAMGANJ', 'DOWARABAZAR'),
 ('S0022', 'SYLHET', 'SUNAMGANJ', 'JAGANNATHPUR'),
 ('S0023', 'SYLHET', 'SUNAMGANJ', 'JAMALGANJ'),
 ('S0024', 'SYLHET', 'SUNAMGANJ', 'SULLA'),
 ('S0025', 'SYLHET', 'SUNAMGANJ', 'SUNAMGANJ SADAR'),
 ('S0026', 'SYLHET', 'SUNAMGANJ', 'TAHIRPUR'),
 ('S0027', 'SYLHET', 'SYLHET', 'BALAGANJ'),
 ('S0028', 'SYLHET', 'SYLHET', 'BEANI BAZAR'),
 ('S0029', 'SYLHET', 'SYLHET', 'BISHWANATH'),
 ('S0030', 'SYLHET', 'SYLHET', 'COMPANIGANJ'),
 ('S0031', 'SYLHET', 'SYLHET', 'DAKSHIN SURMA'),
 ('S0032', 'SYLHET', 'SYLHET', 'FENCHUGANJ'),
 ('S0033', 'SYLHET', 'SYLHET', 'GOLAPGANJ'),
 ('S0034', 'SYLHET', 'SYLHET', 'GOWAINGHAT'),
 ('S0035', 'SYLHET', 'SYLHET', 'JAINTIAPUR'),
 ('S0036', 'SYLHET', 'SYLHET', 'KANAIGHAT'),
 ('S0037', 'SYLHET', 'SYLHET', 'SYLHET SADAR'),
 ('S0038', 'SYLHET', 'SYLHET', 'ZAKIGANJ'),
 ('S0039', 'RANGPUR', 'DINAJPUR', 'BIRAMPUR'),
 ('S0040', 'RANGPUR', 'DINAJPUR', 'BIRGANJ'),
 ('S0041', 'RANGPUR', 'DINAJPUR', 'BIRAL'),
 ('S0042', 'RANGPUR', 'DINAJPUR', 'BOCHAGANJ'),
 ('S0043', 'RANGPUR', 'DINAJPUR', 'CHIRIRBANDAR'),
 ('S0044', 'RANGPUR', 'DINAJPUR', 'FULBARI'),
 ('S0045', 'RANGPUR', 'DINAJPUR', 'GHORAGHAT'),
 ('S0046', 'RANGPUR', 'DINAJPUR', 'HAKIMPUR'),
 ('S0047', 'RANGPUR', 'DINAJPUR', 'KAHAROLE'),
 ('S0048', 'RANGPUR', 'DINAJPUR', 'KHANSAMA'),
 ('S0049', 'RANGPUR', 'DINAJPUR', 'DINAJPUR SADAR'),
 ('S0050', 'RANGPUR', 'DINAJPUR', 'NAWABGANJ'),
 ('S0051', 'RANGPUR', 'DINAJPUR', 'PARBATIPUR'),
 ('S0052', 'RANGPUR', 'GAIBANDHA', 'FULCHHARI'),
 ('S0053', 'RANGPUR', 'GAIBANDHA', 'GAIBANDHA SADAR'),
 ('S0054', 'RANGPUR', 'GAIBANDHA', 'GOBINDAGANJ'),
 ('S0055', 'RANGPUR', 'GAIBANDHA', 'PALASHBARI'),
 ('S0056', 'RANGPUR', 'GAIBANDHA', 'SADULLAPUR'),
 ('S0057', 'RANGPUR', 'GAIBANDHA', 'SAGHATA'),
 ('S0058', 'RANGPUR', 'GAIBANDHA', 'SUNDARGANJ'),
 ('S0059', 'RANGPUR', 'KURIGRAM', 'BHURUNGAMARI'),
 ('S0060', 'RANGPUR', 'KURIGRAM', 'CHAR RAJIBPUR'),
 ('S0061', 'RANGPUR', 'KURIGRAM', 'CHILMARI'),
 ('S0062', 'RANGPUR', 'KURIGRAM', 'PHULBARI'),
 ('S0063', 'RANGPUR', 'KURIGRAM', 'KURIGRAM SADAR'),
 ('S0064', 'RANGPUR', 'KURIGRAM', 'NAGESHWARI'),
 ('S0065', 'RANGPUR', 'KURIGRAM', 'RAJARHAT'),
 ('S0066', 'RANGPUR', 'KURIGRAM', 'RAUMARI'),
 ('S0067', 'RANGPUR', 'KURIGRAM', 'ULIPUR'),
 ('S0068', 'RANGPUR', 'LALMONIRHAT', 'ADITMARI'),
 ('S0069', 'RANGPUR', 'LALMONIRHAT', 'HATIBANDHA'),
 ('S0070', 'RANGPUR', 'LALMONIRHAT', 'KALIGANJ'),
 ('S0071', 'RANGPUR', 'LALMONIRHAT', 'LALMONIRHAT SADAR'),
 ('S0072', 'RANGPUR', 'LALMONIRHAT', 'PATGRAM'),
 ('S0073', 'RANGPUR', 'NILPHAMARI', 'DIMLA'),
 ('S0074', 'RANGPUR', 'NILPHAMARI', 'DOMAR UPAZILA'),
 ('S0075', 'RANGPUR', 'NILPHAMARI', 'JALDHAKA'),
 ('S0076', 'RANGPUR', 'NILPHAMARI', 'KISHOREGANJ'),
 ('S0077', 'RANGPUR', 'NILPHAMARI', 'NILPHAMARI SADAR'),
 ('S0078', 'RANGPUR', 'NILPHAMARI', 'SAIDPUR UPAZILA'),
 ('S0079', 'RANGPUR', 'PANCHAGARH', 'ATWARI'),
 ('S0080', 'RANGPUR', 'PANCHAGARH', 'BODA'),
 ('S0081', 'RANGPUR', 'PANCHAGARH', 'DEBIGANJ'),
 ('S0082', 'RANGPUR', 'PANCHAGARH', 'PANCHAGARH SADAR'),
 ('S0083', 'RANGPUR', 'PANCHAGARH', 'TENTULIA'),
 ('S0084', 'RANGPUR', 'RANGPUR', 'BADARGANJ'),
 ('S0085', 'RANGPUR', 'RANGPUR', 'GANGACHARA'),
 ('S0086', 'RANGPUR', 'RANGPUR', 'KAUNIA'),
 ('S0087', 'RANGPUR', 'RANGPUR', 'RANGPUR SADAR'),
 ('S0088', 'RANGPUR', 'RANGPUR', 'MITHA PUKUR'),
 ('S0089', 'RANGPUR', 'RANGPUR', 'PIRGACHHA'),
 ('S0090', 'RANGPUR', 'RANGPUR', 'PIRGANJ'),
 ('S0091', 'RANGPUR', 'RANGPUR', 'TARAGANJ'),
 ('S0092', 'RANGPUR', 'THAKURGAON', 'BALIADANGI'),
 ('S0093', 'RANGPUR', 'THAKURGAON', 'HARIPUR'),
 ('S0094', 'RANGPUR', 'THAKURGAON', 'PIRGANJ'),
 ('S0095', 'RANGPUR', 'THAKURGAON', 'RANISANKAIL'),
 ('S0096', 'RANGPUR', 'THAKURGAON', 'THAKURGAON SADAR'),
 ('S0097', 'RAJSHAHI', 'BOGRA', 'ADAMDIGHI'),
 ('S0098', 'RAJSHAHI', 'BOGRA', 'BOGRA SADAR'),
 ('S0099', 'RAJSHAHI', 'BOGRA', 'DHUNAT'),
 ('S00100', 'RAJSHAHI', 'BOGRA', 'DHUPCHANCHIA'),
 ('S00101', 'RAJSHAHI', 'BOGRA', 'GABTALI'),
 ('S00102', 'RAJSHAHI', 'BOGRA', 'KAHALOO'),
 ('S00103', 'RAJSHAHI', 'BOGRA', 'NANDIGRAM'),
 ('S00104', 'RAJSHAHI', 'BOGRA', 'SARIAKANDI'),
 ('S00105', 'RAJSHAHI', 'BOGRA', 'SHAJAHANPUR'),
 ('S00106', 'RAJSHAHI', 'BOGRA', 'SHERPUR'),
 ('S00107', 'RAJSHAHI', 'BOGRA', 'SHIBGANJ'),
 ('S00108', 'RAJSHAHI', 'BOGRA', 'SONATOLA'),
 ('S00109', 'RAJSHAHI', 'JOYPURHAT', 'AKKELPUR'),
 ('S00110', 'RAJSHAHI', 'JOYPURHAT', 'JOYPURHAT SADAR'),
 ('S00111', 'RAJSHAHI', 'JOYPURHAT', 'KALAI'),
 ('S00112', 'RAJSHAHI', 'JOYPURHAT', 'KHETLAL'),
 ('S00113', 'RAJSHAHI', 'JOYPURHAT', 'PANCHBIBI'),
 ('S00114', 'RAJSHAHI', 'NAOGAON', 'ATRAI'),
 ('S00115', 'RAJSHAHI', 'NAOGAON', 'BADALGACHHI'),
 ('S00116', 'RAJSHAHI', 'NAOGAON', 'DHAMOIRHAT'),
 ('S00117', 'RAJSHAHI', 'NAOGAON', 'MANDA'),
 ('S00118', 'RAJSHAHI', 'NAOGAON', 'MAHADEBPUR'),
 ('S00119', 'RAJSHAHI', 'NAOGAON', 'NAOGAON SADAR'),
 ('S00120', 'RAJSHAHI', 'NAOGAON', 'NIAMATPUR'),
 ('S00121', 'RAJSHAHI', 'NAOGAON', 'PATNITALA'),
 ('S00122', 'RAJSHAHI', 'NAOGAON', 'PORSHA'),
 ('S00123', 'RAJSHAHI', 'NAOGAON', 'RANINAGAR'),
 ('S00124', 'RAJSHAHI', 'NAOGAON', 'SAPAHAR'),
 ('S00125', 'RAJSHAHI', 'NATORE', 'BAGATIPARA'),
 ('S00126', 'RAJSHAHI', 'NATORE', 'BARAIGRAM'),
 ('S00127', 'RAJSHAHI', 'NATORE', 'GURUDASPUR'),
 ('S00128', 'RAJSHAHI', 'NATORE', 'LALPUR'),
 ('S00129', 'RAJSHAHI', 'NATORE', 'NALDANGA'),
 ('S00130', 'RAJSHAHI', 'NATORE', 'NATORE SADAR'),
 ('S00131', 'RAJSHAHI', 'NATORE', 'SINGRA'),
 ('S00132', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'BHOLAHAT'),
 ('S00133', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'GOMASTAPUR'),
 ('S00134', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'NACHOLE'),
 ('S00135', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'CHAPAI NABABGANJ SADAR'),
 ('S00136', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'SHIBGANJ'),
 ('S00137', 'RAJSHAHI', 'PABNA', 'ATGHARIA'),
 ('S00138', 'RAJSHAHI', 'PABNA', 'BERA'),
 ('S00139', 'RAJSHAHI', 'PABNA', 'BHANGURA'),
 ('S00140', 'RAJSHAHI', 'PABNA', 'CHATMOHAR'),
 ('S00141', 'RAJSHAHI', 'PABNA', 'FARIDPUR'),
 ('S00142', 'RAJSHAHI', 'PABNA', 'ISHWARDI'),
 ('S00143', 'RAJSHAHI', 'PABNA', 'PABNA SADAR'),
 ('S00144', 'RAJSHAHI', 'PABNA', 'SANTHIA'),
 ('S00145', 'RAJSHAHI', 'PABNA', 'SUJANAGAR'),
 ('S00146', 'RAJSHAHI', 'RAJSHAHI', 'BAGHA'),
 ('S00147', 'RAJSHAHI', 'RAJSHAHI', 'BAGHMARA'),
 ('S00148', 'RAJSHAHI', 'RAJSHAHI', 'BOALIA'),
 ('S00149', 'RAJSHAHI', 'RAJSHAHI', 'CHARGHAT'),
 ('S00150', 'RAJSHAHI', 'RAJSHAHI', 'DURGAPUR'),
 ('S00151', 'RAJSHAHI', 'RAJSHAHI', 'GODAGARI'),
 ('S00152', 'RAJSHAHI', 'RAJSHAHI', 'MATIHAR'),
 ('S00153', 'RAJSHAHI', 'RAJSHAHI', 'MOHANPUR'),
 ('S00154', 'RAJSHAHI', 'RAJSHAHI', 'PABA'),
 ('S00155', 'RAJSHAHI', 'RAJSHAHI', 'PUTHIA'),
 ('S00156', 'RAJSHAHI', 'RAJSHAHI', 'RAJPARA'),
 ('S00157', 'RAJSHAHI', 'RAJSHAHI', 'SHAH MAKHDUM'),
 ('S00158', 'RAJSHAHI', 'RAJSHAHI', 'TANORE'),
 ('S00159', 'RAJSHAHI', 'SIRAJGANJ', 'BELKUCHI'),
 ('S00160', 'RAJSHAHI', 'SIRAJGANJ', 'CHAUHALI'),
 ('S00161', 'RAJSHAHI', 'SIRAJGANJ', 'KAMARKHANDA'),
 ('S00162', 'RAJSHAHI', 'SIRAJGANJ', 'KAZIPUR'),
 ('S00163', 'RAJSHAHI', 'SIRAJGANJ', 'ROYGANJ'),
 ('S00164', 'RAJSHAHI', 'SIRAJGANJ', 'SHAHJADPUR'),
 ('S00165', 'RAJSHAHI', 'SIRAJGANJ', 'SIRAJGANJ SADAR'),
 ('S00166', 'RAJSHAHI', 'SIRAJGANJ', 'TARASH'),
 ('S00167', 'RAJSHAHI', 'SIRAJGANJ', 'ULLAH PARA'),
 ('S00168', 'KHULNA', 'BAGERHAT', 'BAGERHAT SADAR'),
 ('S00169', 'KHULNA', 'BAGERHAT', 'CHITALMARI'),
 ('S00170', 'KHULNA', 'BAGERHAT', 'FAKIRHAT'),
 ('S00171', 'KHULNA', 'BAGERHAT', 'KACHUA'),
 ('S00172', 'KHULNA', 'BAGERHAT', 'MOLLAHAT'),
 ('S00173', 'KHULNA', 'BAGERHAT', 'MONGLA'),
 ('S00174', 'KHULNA', 'BAGERHAT', 'MORRELGANJ'),
 ('S00175', 'KHULNA', 'BAGERHAT', 'RAMPAL'),
 ('S00176', 'KHULNA', 'BAGERHAT', 'SARANKHOLA'),
 ('S00177', 'KHULNA', 'CHUADANGA', 'ALAMDANGA'),
 ('S00178', 'KHULNA', 'CHUADANGA', 'CHUADANGA SADAR'),
 ('S00179', 'KHULNA', 'CHUADANGA', 'DAMURHUDA'),
 ('S00180', 'KHULNA', 'CHUADANGA', 'JIBAN NAGAR'),
 ('S00181', 'KHULNA', 'JESSORE', 'ABHAYNAGAR'),
 ('S00182', 'KHULNA', 'JESSORE', 'BAGHER PARA'),
 ('S00183', 'KHULNA', 'JESSORE', 'CHAUGACHHA'),
 ('S00184', 'KHULNA', 'JESSORE', 'JHIKARGACHHA'),
 ('S00185', 'KHULNA', 'JESSORE', 'KESHABPUR'),
 ('S00186', 'KHULNA', 'JESSORE', 'JESSORE SADAR'),
 ('S00187', 'KHULNA', 'JESSORE', 'MANIRAMPUR'),
 ('S00188', 'KHULNA', 'JESSORE', 'SHARSHA'),
 ('S00189', 'KHULNA', 'JHENAIDAH', 'HARINAKUNDA'),
 ('S00190', 'KHULNA', 'JHENAIDAH', 'JHENAIDAH SADAR'),
 ('S00191', 'KHULNA', 'JHENAIDAH', 'KALIGANJ'),
 ('S00192', 'KHULNA', 'JHENAIDAH', 'KOTCHANDPUR'),
 ('S00193', 'KHULNA', 'JHENAIDAH', 'MAHESHPUR'),
 ('S00194', 'KHULNA', 'JHENAIDAH', 'SHAILKUPA'),
 ('S00195', 'KHULNA', 'KHULNA', 'BATIAGHATA'),
 ('S00196', 'KHULNA', 'KHULNA', 'DACOPE'),
 ('S00197', 'KHULNA', 'KHULNA', 'DAULATPUR'),
 ('S00198', 'KHULNA', 'KHULNA', 'DUMURIA'),
 ('S00199', 'KHULNA', 'KHULNA', 'DIGHALIA'),
 ('S00200', 'KHULNA', 'KHULNA', 'KHALISHPUR'),
 ('S00201', 'KHULNA', 'KHULNA', 'KHAN JAHAN ALI'),
 ('S00202', 'KHULNA', 'KHULNA', 'KHULNA SADAR'),
 ('S00203', 'KHULNA', 'KHULNA', 'KOYRA'),
 ('S00204', 'KHULNA', 'KHULNA', 'PAIKGACHHA'),
 ('S00205', 'KHULNA', 'KHULNA', 'PHULTALA'),
 ('S00206', 'KHULNA', 'KHULNA', 'RUPSA'),
 ('S00207', 'KHULNA', 'KHULNA', 'SONADANGA'),
 ('S00208', 'KHULNA', 'KHULNA', 'TEROKHADA'),
 ('S00209', 'KHULNA', 'KUSHTIA', 'BHERAMARA'),
 ('S00210', 'KHULNA', 'KUSHTIA', 'DAULATPUR'),
 ('S00211', 'KHULNA', 'KUSHTIA', 'KHOKSA'),
 ('S00212', 'KHULNA', 'KUSHTIA', 'KUMARKHALI'),
 ('S00213', 'KHULNA', 'KUSHTIA', 'KUSHTIA SADAR'),
 ('S00214', 'KHULNA', 'KUSHTIA', 'MIRPUR'),
 ('S00215', 'KHULNA', 'MAGURA', 'MAGURA SADAR'),
 ('S00216', 'KHULNA', 'MAGURA', 'MOHAMMADPUR'),
 ('S00217', 'KHULNA', 'MAGURA', 'SHALIKHA'),
 ('S00218', 'KHULNA', 'MAGURA', 'SREEPUR'),
 ('S00219', 'KHULNA', 'MEHERPUR', 'GANGNI'),
 ('S00220', 'KHULNA', 'MEHERPUR', 'MUJIB NAGAR'),
 ('S00221', 'KHULNA', 'MEHERPUR', 'MEHERPUR SADAR'),
 ('S00222', 'KHULNA', 'NARAIL', 'KALIA'),
 ('S00223', 'KHULNA', 'NARAIL', 'LOHAGARA'),
 ('S00224', 'KHULNA', 'NARAIL', 'NARAIL SADAR'),
 ('S00225', 'KHULNA', 'SATKHIRA', 'ASSASUNI'),
 ('S00226', 'KHULNA', 'SATKHIRA', 'DEBHATA'),
 ('S00227', 'KHULNA', 'SATKHIRA', 'KALAROA'),
 ('S00228', 'KHULNA', 'SATKHIRA', 'KALIGANJ'),
 ('S00229', 'KHULNA', 'SATKHIRA', 'SATKHIRA SADAR'),
 ('S00230', 'KHULNA', 'SATKHIRA', 'SHYAMNAGAR'),
 ('S00231', 'KHULNA', 'SATKHIRA', 'TALA'),
 ('S00232', 'DHAKA', 'DHAKA', 'ADABOR'),
 ('S00233', 'DHAKA', 'DHAKA', 'BADDA'),
 ('S00234', 'DHAKA', 'DHAKA', 'BANGSHAL'),
 ('S00235', 'DHAKA', 'DHAKA', 'BIMAN BANDAR'),
 ('S00236', 'DHAKA', 'DHAKA', 'BANANI'),
 ('S00237', 'DHAKA', 'DHAKA', 'CANTONMENT'),
 ('S00238', 'DHAKA', 'DHAKA', 'CHAK BAZAR'),
 ('S00239', 'DHAKA', 'DHAKA', 'DAKSHINKHAN'),
 ('S00240', 'DHAKA', 'DHAKA', 'DARUS SALAM'),
 ('S00241', 'DHAKA', 'DHAKA', 'DEMRA'),
 ('S00242', 'DHAKA', 'DHAKA', 'DHAMRAI'),
 ('S00243', 'DHAKA', 'DHAKA', 'DHANMONDI'),
 ('S00244', 'DHAKA', 'DHAKA', 'DOHAR'),
 ('S00245', 'DHAKA', 'DHAKA', 'BHASAN TEK'),
 ('S00246', 'DHAKA', 'DHAKA', 'BHATARA'),
 ('S00247', 'DHAKA', 'DHAKA', 'GENDARIA'),
 ('S00248', 'DHAKA', 'DHAKA', 'GULSHAN'),
 ('S00249', 'DHAKA', 'DHAKA', 'HAZARIBAGH'),
 ('S00250', 'DHAKA', 'DHAKA', 'JATRABARI'),
 ('S00251', 'DHAKA', 'DHAKA', 'KAFRUL'),
 ('S00252', 'DHAKA', 'DHAKA', 'KADAMTALI'),
 ('S00253', 'DHAKA', 'DHAKA', 'KALABAGAN'),
 ('S00254', 'DHAKA', 'DHAKA', 'KAMRANGIR CHAR'),
 ('S00255', 'DHAKA', 'DHAKA', 'KHILGAON'),
 ('S00256', 'DHAKA', 'DHAKA', 'KHILKHET'),
 ('S00257', 'DHAKA', 'DHAKA', 'KERANIGANJ'),
 ('S00258', 'DHAKA', 'DHAKA', 'KOTWALI'),
 ('S00259', 'DHAKA', 'DHAKA', 'LALBAGH'),
 ('S00260', 'DHAKA', 'DHAKA', 'MIRPUR'),
 ('S00261', 'DHAKA', 'DHAKA', 'MOHAMMADPUR'),
 ('S00262', 'DHAKA', 'DHAKA', 'MOTIJHEEL'),
 ('S00263', 'DHAKA', 'DHAKA', 'MUGDA PARA'),
 ('S00264', 'DHAKA', 'DHAKA', 'NAWABGANJ'),
 ('S00265', 'DHAKA', 'DHAKA', 'NEW MARKET'),
 ('S00266', 'DHAKA', 'DHAKA', 'PALLABI'),
 ('S00267', 'DHAKA', 'DHAKA', 'PALTAN'),
 ('S00268', 'DHAKA', 'DHAKA', 'RAMNA'),
 ('S00269', 'DHAKA', 'DHAKA', 'RAMPURA'),
 ('S00270', 'DHAKA', 'DHAKA', 'SABUJBAGH'),
 ('S00271', 'DHAKA', 'DHAKA', 'RUPNAGAR'),
 ('S00272', 'DHAKA', 'DHAKA', 'SAVAR'),
 ('S00273', 'DHAKA', 'DHAKA', 'SHAHJAHANPUR'),
 ('S00274', 'DHAKA', 'DHAKA', 'SHAH ALI'),
 ('S00275', 'DHAKA', 'DHAKA', 'SHAHBAGH'),
 ('S00276', 'DHAKA', 'DHAKA', 'SHYAMPUR'),
 ('S00277', 'DHAKA', 'DHAKA', 'SHER-E-BANGLA NAGAR'),
 ('S00278', 'DHAKA', 'DHAKA', 'SUTRAPUR'),
 ('S00279', 'DHAKA', 'DHAKA', 'TEJGAON'),
 ('S00280', 'DHAKA', 'DHAKA', 'TEJGAON IND. AREA'),
 ('S00281', 'DHAKA', 'DHAKA', 'TURAG'),
 ('S00282', 'DHAKA', 'DHAKA', 'UTTARA  PASCHIM'),
 ('S00283', 'DHAKA', 'DHAKA', 'UTTARA  PURBA'),
 ('S00284', 'DHAKA', 'DHAKA', 'UTTAR KHAN'),
 ('S00285', 'DHAKA', 'DHAKA', 'WARI'),
 ('S00286', 'DHAKA', 'FARIDPUR', 'ALFADANGA'),
 ('S00287', 'DHAKA', 'FARIDPUR', 'BHANGA'),
 ('S00288', 'DHAKA', 'FARIDPUR', 'BOALMARI'),
 ('S00289', 'DHAKA', 'FARIDPUR', 'CHAR BHADRASAN'),
 ('S00290', 'DHAKA', 'FARIDPUR', 'FARIDPUR SADAR'),
 ('S00291', 'DHAKA', 'FARIDPUR', 'MADHUKHALI'),
 ('S00292', 'DHAKA', 'FARIDPUR', 'NAGARKANDA'),
 ('S00293', 'DHAKA', 'FARIDPUR', 'SADARPUR'),
 ('S00294', 'DHAKA', 'FARIDPUR', 'SALTHA'),
 ('S00295', 'DHAKA', 'GAZIPUR', 'GAZIPUR SADAR'),
 ('S00296', 'DHAKA', 'GAZIPUR', 'KALIAKAIR'),
 ('S00297', 'DHAKA', 'GAZIPUR', 'KALIGANJ'),
 ('S00298', 'DHAKA', 'GAZIPUR', 'KAPASIA'),
 ('S00299', 'DHAKA', 'GAZIPUR', 'SREEPUR'),
 ('S00300', 'DHAKA', 'GOPALGANJ', 'GOPALGANJ SADAR'),
 ('S00301', 'DHAKA', 'GOPALGANJ', 'KASHIANI'),
 ('S00302', 'DHAKA', 'GOPALGANJ', 'KOTALIPARA'),
 ('S00303', 'DHAKA', 'GOPALGANJ', 'MUKSUDPUR'),
 ('S00304', 'DHAKA', 'GOPALGANJ', 'TUNGIPARA'),
 ('S00305', 'DHAKA', 'JAMALPUR', 'BAKSHIGANJ'),
 ('S00306', 'DHAKA', 'JAMALPUR', 'DEWANGANJ'),
 ('S00307', 'DHAKA', 'JAMALPUR', 'ISLAMPUR'),
 ('S00308', 'DHAKA', 'JAMALPUR', 'JAMALPUR SADAR'),
 ('S00309', 'DHAKA', 'JAMALPUR', 'MADARGANJ'),
 ('S00310', 'DHAKA', 'JAMALPUR', 'MELANDAHA'),
 ('S00311', 'DHAKA', 'JAMALPUR', 'SARISHABARI UPAZILA'),
 ('S00312', 'DHAKA', 'KISHOREGONJ', 'AUSTAGRAM'),
 ('S00313', 'DHAKA', 'KISHOREGONJ', 'BAJITPUR'),
 ('S00314', 'DHAKA', 'KISHOREGONJ', 'BHAIRAB'),
 ('S00315', 'DHAKA', 'KISHOREGONJ', 'HOSSAINPUR'),
 ('S00316', 'DHAKA', 'KISHOREGONJ', 'ITNA'),
 ('S00317', 'DHAKA', 'KISHOREGONJ', 'KARIMGANJ'),
 ('S00318', 'DHAKA', 'KISHOREGONJ', 'KATIADI'),
 ('S00319', 'DHAKA', 'KISHOREGONJ', 'KISHOREGANJ SADAR'),
 ('S00320', 'DHAKA', 'KISHOREGONJ', 'KULIAR CHAR'),
 ('S00321', 'DHAKA', 'KISHOREGONJ', 'MITHAMAIN'),
 ('S00322', 'DHAKA', 'KISHOREGONJ', 'NIKLI'),
 ('S00323', 'DHAKA', 'KISHOREGONJ', 'PAKUNDIA'),
 ('S00324', 'DHAKA', 'KISHOREGONJ', 'TARAIL'),
 ('S00325', 'DHAKA', 'MADARIPUR', 'KALKINI'),
 ('S00326', 'DHAKA', 'MADARIPUR', 'MADARIPUR SADAR'),
 ('S00327', 'DHAKA', 'MADARIPUR', 'RAJOIR'),
 ('S00328', 'DHAKA', 'MADARIPUR', 'SHIBCHAR'),
 ('S00329', 'DHAKA', 'MANIKGANJ', 'DAULATPUR'),
 ('S00330', 'DHAKA', 'MANIKGANJ', 'GHIOR'),
 ('S00331', 'DHAKA', 'MANIKGANJ', 'HARIRAMPUR'),
 ('S00332', 'DHAKA', 'MANIKGANJ', 'MANIKGANJ SADAR'),
 ('S00333', 'DHAKA', 'MANIKGANJ', 'SATURIA'),
 ('S00334', 'DHAKA', 'MANIKGANJ', 'SHIBALAYA'),
 ('S00335', 'DHAKA', 'MANIKGANJ', 'SINGAIR'),
 ('S00336', 'DHAKA', 'MUNSHIGANJ', 'GAZARIA'),
 ('S00337', 'DHAKA', 'MUNSHIGANJ', 'LOHAJANG'),
 ('S00338', 'DHAKA', 'MUNSHIGANJ', 'MUNSHIGANJ SADAR'),
 ('S00339', 'DHAKA', 'MUNSHIGANJ', 'SERAJDIKHAN'),
 ('S00340', 'DHAKA', 'MUNSHIGANJ', 'SREENAGAR'),
 ('S00341', 'DHAKA', 'MUNSHIGANJ', 'TONGIBARI'),
 ('S00342', 'DHAKA', 'MYMENSINGH', 'BHALUKA'),
 ('S00343', 'DHAKA', 'MYMENSINGH', 'DHOBAURA'),
 ('S00344', 'DHAKA', 'MYMENSINGH', 'FULBARIA'),
 ('S00345', 'DHAKA', 'MYMENSINGH', 'GAFFARGAON'),
 ('S00346', 'DHAKA', 'MYMENSINGH', 'GAURIPUR'),
 ('S00347', 'DHAKA', 'MYMENSINGH', 'HALUAGHAT'),
 ('S00348', 'DHAKA', 'MYMENSINGH', 'ISHWARGANJ'),
 ('S00349', 'DHAKA', 'MYMENSINGH', 'MYMENSINGH SADAR'),
 ('S00350', 'DHAKA', 'MYMENSINGH', 'MUKTAGACHHA'),
 ('S00351', 'DHAKA', 'MYMENSINGH', 'NANDAIL'),
 ('S00352', 'DHAKA', 'MYMENSINGH', 'PHULPUR'),
 ('S00353', 'DHAKA', 'MYMENSINGH', 'TARAKANDA'),
 ('S00354', 'DHAKA', 'MYMENSINGH', 'TRISHAL'),
 ('S00355', 'DHAKA', 'NARAYANGANJ', 'ARAIHAZAR'),
 ('S00356', 'DHAKA', 'NARAYANGANJ', 'SONARGAON'),
 ('S00357', 'DHAKA', 'NARAYANGANJ', 'BANDAR'),
 ('S00358', 'DHAKA', 'NARAYANGANJ', 'NARAYANGANJ SADAR'),
 ('S00359', 'DHAKA', 'NARAYANGANJ', 'RUPGANJ'),
 ('S00360', 'DHAKA', 'NARSINGDI', 'BELABO'),
 ('S00361', 'DHAKA', 'NARSINGDI', 'MANOHARDI'),
 ('S00362', 'DHAKA', 'NARSINGDI', 'NARSINGDI SADAR'),
 ('S00363', 'DHAKA', 'NARSINGDI', 'PALASH'),
 ('S00364', 'DHAKA', 'NARSINGDI', 'ROYPURA'),
 ('S00365', 'DHAKA', 'NARSINGDI', 'SHIBPUR'),
 ('S00366', 'DHAKA', 'NETRAKONA', 'ATPARA'),
 ('S00367', 'DHAKA', 'NETRAKONA', 'BARHATTA'),
 ('S00368', 'DHAKA', 'NETRAKONA', 'DURGAPUR'),
 ('S00369', 'DHAKA', 'NETRAKONA', 'KHALIAJURI'),
 ('S00370', 'DHAKA', 'NETRAKONA', 'KALMAKANDA'),
 ('S00371', 'DHAKA', 'NETRAKONA', 'KENDUA'),
 ('S00372', 'DHAKA', 'NETRAKONA', 'MADAN'),
 ('S00373', 'DHAKA', 'NETRAKONA', 'MOHANGANJ'),
 ('S00374', 'DHAKA', 'NETRAKONA', 'NETROKONA SADAR'),
 ('S00375', 'DHAKA', 'NETRAKONA', 'PURBADHALA'),
 ('S00376', 'DHAKA', 'RAJBARI', 'BALIAKANDI'),
 ('S00377', 'DHAKA', 'RAJBARI', 'GOALANDA'),
 ('S00378', 'DHAKA', 'RAJBARI', 'KALUKHALI'),
 ('S00379', 'DHAKA', 'RAJBARI', 'PANGSHA'),
 ('S00380', 'DHAKA', 'RAJBARI', 'RAJBARI SADAR'),
 ('S00381', 'DHAKA', 'SHARIATPUR', 'BHEDARGANJ'),
 ('S00382', 'DHAKA', 'SHARIATPUR', 'DAMUDYA'),
 ('S00383', 'DHAKA', 'SHARIATPUR', 'GOSAIRHAT'),
 ('S00384', 'DHAKA', 'SHARIATPUR', 'NARIA'),
 ('S00385', 'DHAKA', 'SHARIATPUR', 'SHARIATPUR SADAR'),
 ('S00386', 'DHAKA', 'SHARIATPUR', 'ZANJIRA'),
 ('S00387', 'DHAKA', 'SHERPUR', 'JHENAIGATI'),
 ('S00388', 'DHAKA', 'SHERPUR', 'NAKLA'),
 ('S00389', 'DHAKA', 'SHERPUR', 'NALITABARI'),
 ('S00390', 'DHAKA', 'SHERPUR', 'SHERPUR SADAR'),
 ('S00391', 'DHAKA', 'SHERPUR', 'SREEBARDI'),
 ('S00392', 'DHAKA', 'TANGAIL', 'BASAIL'),
 ('S00393', 'DHAKA', 'TANGAIL', 'BHUAPUR'),
 ('S00394', 'DHAKA', 'TANGAIL', 'DELDUAR'),
 ('S00395', 'DHAKA', 'TANGAIL', 'DHANBARI'),
 ('S00396', 'DHAKA', 'TANGAIL', 'GHATAIL'),
 ('S00397', 'DHAKA', 'TANGAIL', 'GOPALPUR'),
 ('S00398', 'DHAKA', 'TANGAIL', 'KALIHATI'),
 ('S00399', 'DHAKA', 'TANGAIL', 'MADHUPUR'),
 ('S00400', 'DHAKA', 'TANGAIL', 'MIRZAPUR'),
 ('S00401', 'DHAKA', 'TANGAIL', 'NAGARPUR'),
 ('S00402', 'DHAKA', 'TANGAIL', 'SAKHIPUR'),
 ('S00403', 'DHAKA', 'TANGAIL', 'TANGAIL SADAR'),
 ('S00404', 'CHITTAGONG', 'BANDARBAN', 'ALIKADAM'),
 ('S00405', 'CHITTAGONG', 'BANDARBAN', 'BANDARBAN SADAR'),
 ('S00406', 'CHITTAGONG', 'BANDARBAN', 'LAMA'),
 ('S00407', 'CHITTAGONG', 'BANDARBAN', 'NAIKHONGCHHARI'),
 ('S00408', 'CHITTAGONG', 'BANDARBAN', 'ROWANGCHHARI'),
 ('S00409', 'CHITTAGONG', 'BANDARBAN', 'RUMA'),
 ('S00410', 'CHITTAGONG', 'BANDARBAN', 'THANCHI'),
 ('S00411', 'CHITTAGONG', 'BRAHMANBARIA', 'AKHAURA'),
 ('S00412', 'CHITTAGONG', 'BRAHMANBARIA', 'BANCHHARAMPUR'),
 ('S00413', 'CHITTAGONG', 'BRAHMANBARIA', 'BIJOYNAGAR'),
 ('S00414', 'CHITTAGONG', 'BRAHMANBARIA', 'BRAHMANBARIA SADAR'),
 ('S00415', 'CHITTAGONG', 'BRAHMANBARIA', 'ASHUGANJ'),
 ('S00416', 'CHITTAGONG', 'BRAHMANBARIA', 'KASBA'),

In [67]:
store_df = pd.DataFrame(list(records6), columns=['store_key', 'division', 'district', 'upazila'])
store_df

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]