### Package call

In [3]:
import psycopg2
import pandas as pd
import numpy as np

### Extract

***Read from excel file***

In [12]:
df_Fact_table = pd.read_excel('e-commerece_data.xlsx', sheet_name='Fact_table')
print (df_Fact_table)

       payment_key coustomer_key time_key item_key store_key  quantity   unit  \
0             P026       C004510  T049189   I00177    S00307         1     ct
1             P022       C008967  T041209   I00248    S00595         1  rolls
2             P030       C007261   T03633   I00195    S00496         8     ct
3             P032       C007048  T084631   I00131     S0086         8     ct
4             P014       C006430  T071276   I00050    S00488         8   cans
...            ...           ...      ...      ...       ...       ...    ...
999995        P010       C003726   T09247   I00063    S00502         5   cans
999996        P021       C002581  T023483   I00252    S00225         1     ct
999997        P035       C006133  T039372   I00119    S00555         7     ct
999998        P031       C008735  T097975   I00257    S00440         2     ct
999999        P032       C004067  T018028   I00044    S00326        10   cans

        unit_price  total_price
0             35.0         35.0
1             26.0         26.0
2             12.5        100.0
3             14.0        112.0
4              8.0         64.0
...            ...          ...
999995        40.0        200.0
999996        11.0         11.0
999997        53.0        371.0
999998        21.0         42.0
999999         8.0         80.0

[1000000 rows x 9 columns]

In [13]:
df_Trans_dim = pd.read_excel('e-commerece_data.xlsx', sheet_name='Trans_dim')
print (df_Trans_dim)

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [14]:
df_Item_dim = pd.read_excel('e-commerece_data.xlsx', sheet_name='Item_dim')
print (df_Item_dim)

    item_key                              item_name                desc  \
0     I00001             A&W Root Beer - 12 oz cans  a. Beverage - Soda
1     I00002        A&W Root Beer Diet - 12 oz cans  a. Beverage - Soda
2     I00003          Barq's Root Beer - 12 oz cans  a. Beverage - Soda
3     I00004                       Cherry Coke 12oz  a. Beverage - Soda
4     I00005               Cherry Coke Zero 12 pack  a. Beverage - Soda
..       ...                                    ...                 ...
259   I00260                   Napkins Square Lunch    Kitchen Supplies
260   I00261                 POM 2 ply paper towels    Kitchen Supplies
261   I00262                Strong Everyday Napkins    Kitchen Supplies
262   I00263                   Advil 2 pill packets            Medicine
263   I00264  Tylenol Extra Strength 2 pill packets            Medicine

     unit_price  man_country                        supplier  unit
0         11.50  Netherlands                 Bolsius Boxmeer  cans
1          6.75       poland              CHROMADURLIN S.A.S  cans
2          6.75   Bangladesh                    DENIMACH LTD  cans
3          6.75  Netherlands                 Bolsius Boxmeer  cans
4          6.75      Finland                     HARDFORD AB  cans
..          ...          ...                             ...   ...
259       15.00     Cambodia  NINGBO SEDUNO IMP & EXP CO.LTD    ct
260       33.00    Lithuania                        BIGSO AB    ct
261       14.00  Netherlands                 Bolsius Boxmeer    ct
262       14.00    Lithuania                        BIGSO AB    Ct
263       15.00        India       Indo Count Industries Ltd    Ct

[264 rows x 7 columns]

In [16]:
df_Customer_dim = pd.read_excel('e-commerece_data.xlsx', sheet_name='Coustomer_dim')
print (df_Customer_dim)

     coustomer_key             name     contact_no            nid
0          C000001            sumit  8801920345851  7505075708899
1          C000002         tammanne  8801817069329  1977731324842
2          C000003    kailash kumar  8801663795774  3769494056318
3          C000004  bhagwati prasad  8801533627961  9378834712725
4          C000005             ajay  8801943715786  3540815556323
...            ...              ...            ...            ...
9186       C009187        smt radha  8801563029753  1057824928189
9187       C009188     tulsi sharma  8801794982266  7970880905205
9188       C009189        madhubala  8801890032435  3101930298150
9189       C009190       pintu devi  8801563290767  7234328323528
9190       C009191            roopa  8801524507359  5682728390307

[9191 rows x 4 columns]

In [11]:
df_Time_dim = pd.read_excel('e-commerece_data.xlsx', sheet_name='Time_dim')
print (df_Time_dim)

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [22]:
from sqlalchemy import create_engine

In [ ]:
dataFrame   = pds.DataFrame(studentScores,

              index=(1211,1212,1213), # Student ids as index

              columns=("Physics", "Chemistry", "Biology", "Mathematics", "Language")

              );

In [ ]:
alchemyEngine           = create_engine('postgresql+psycopg2://test:test@127.0.0.1/test', pool_recycle=3600);

postgreSQLConnection    = alchemyEngine.connect();

postgreSQLTable         = "StudentScores";

### Transform

### Load

***Connect to the database***

In [20]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="dvdrental",
                                           user = "postgres",
                                           password = "123456",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [21]:
con = PostgresConnection().getConnection()

successfully connected to database

In [ ]:
mycursor = con.cursor()
query = "SELECT t.age, count(DISTINCT(t.pik)) " \
        "FROM datamarts.diabetes_datamart t " \
        "WHERE t.diabetes_status = 1 " \
        "GROUP BY t.age"
mycursor.execute(query)
record = mycursor.fetchall()