### Package installation

In [23]:
# pip install psycopg2
# pip install pandas
# pip install openpyxl

### Package call

In [46]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Connect to the database

In [47]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "123456",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [69]:
con = PostgresConnection().getConnection()

successfully connected to database

### Creating Table

In [55]:
def create_tables():
    """ create tables in the PostgreSQL database"""
    commands = (
        """ CREATE TABLE ecomdb_star_schema.trans_dim
            (
             payment_key  varchar(10) NOT NULL,
             trans_type varchar(10) NOT NULL,
             bank_name  text NOT NULL,
             CONSTRAINT PK_10 PRIMARY KEY ( payment_key )
            )
        """,
        
        """ CREATE TABLE ecomdb_star_schema.coustomer_dim
            (
             coustomer_key varchar(10) NOT NULL,
             name          varchar(20) NOT NULL,
             contact_no    bigint NOT NULL,
             nid           bigint NOT NULL,
             CONSTRAINT PK_62 PRIMARY KEY ( coustomer_key )
            )
        """
        ,
        
        """
         CREATE TABLE Time_dim(
             time_key varchar(10) NOT NULL,
             "date"     timestamp NOT NULL,
             day      int NOT NULL,
             hour     int NOT NULL,
             week     varchar(10) NOT NULL,
             month    int NOT NULL,
             quarter  varchar(5) NOT NULL,
             year     int NOT NULL,
             CONSTRAINT PK_77 PRIMARY KEY ( time_key )
            )
        """
        ,
        
        """
         CREATE TABLE item_dim(
             item_key    varchar(50) NOT NULL,
             item_name   text NOT NULL,
             "desc"        text NOT NULL,
             unit_price  numeric NOT NULL,
             man_country varchar(50) NOT NULL,
             supplier    varchar(50) NOT NULL,
             unit        varchar(10) NOT NULL,
             CONSTRAINT PK_35 PRIMARY KEY ( item_key )
            )
        
        """
        ,
        
        """ CREATE TABLE ecomdb_star_schema.store_dim
            (
             store_key varchar(10) NOT NULL,
             division  varchar(50) NOT NULL,
             district  varchar(50) NOT NULL,
             upazila   varchar(50) NOT NULL,
             CONSTRAINT PK_71 PRIMARY KEY ( store_key )
            )
            
        """
        ,
        
        """  CREATE TABLE ecomdb_star_schema.fact_table
                (
                 "id"              int NOT NULL,
                 payment_key     varchar(30) NOT NULL,
                 time_key_1      varchar(10) NOT NULL,
                 store_key_1     varchar(10) NOT NULL,
                 payment_key_1   varchar(10) NOT NULL,
                 coustomer_key_1 varchar(10) NOT NULL,
                 coustomer_key   varchar(30) NOT NULL,
                 time_key        varchar(30) NOT NULL,
                 item_key        varchar(30) NOT NULL,
                 store_key       varchar(30) NOT NULL,
                 quantity        integer NOT NULL,
                 unit            varchar(10) NOT NULL,
                 unit_price      decimal(18,0) NOT NULL,
                 total_price     decimal(18,0) NOT NULL,
                 item_key_1      varchar(50) NOT NULL,
                 CONSTRAINT PK_19 PRIMARY KEY ( "id" ),
                 CONSTRAINT FK_108 FOREIGN KEY ( time_key_1 ) REFERENCES ecomdb_star_schema.time_dim ( time_key ),
                 CONSTRAINT FK_33 FOREIGN KEY ( item_key_1 ) REFERENCES ecomdb_star_schema.item_dim ( item_key ),
                 CONSTRAINT FK_86 FOREIGN KEY ( coustomer_key_1 ) REFERENCES ecomdb_star_schema.coustomer_dim ( coustomer_key ),
                 CONSTRAINT FK_89 FOREIGN KEY ( payment_key_1 ) REFERENCES ecomdb_star_schema.trans_dim ( payment_key ),
                 CONSTRAINT FK_92 FOREIGN KEY ( store_key_1 ) REFERENCES ecomdb_star_schema.store_dim ( store_key )
                )

        """
        ,
        
        """
        CREATE INDEX FK_91 ON ecomdb_star_schema.fact_table
            (
             payment_key_1
            )
        """
        ,
        
        """ CREATE INDEX FK_88 ON ecomdb_star_schema.fact_table
            (
             coustomer_key_1
            )
        """
        ,
        
        """ CREATE INDEX FK_110 ON ecomdb_star_schema.fact_table
            (
             time_key_1
            )
        """ 
        ,
        
        """ CREATE INDEX FK_36 ON ecomdb_star_schema.fact_table
            (
             item_key_1
            )
        """
        ,
        
        """
        CREATE INDEX FK_94 ON ecomdb_star_schema.fact_table
            (
             store_key_1
            )
        """
        )
    try:
        cur = con.cursor()
        # create table one by one
        for command in commands:
            cur.execute(command)
        cur.close() # close communication with the PostgreSQL database server
        con.commit()# commit the changes
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
    finally:
        if con is not None:
            con.close()


if __name__ == '__main__':
 

   create_tables()

SyntaxError: invalid syntax (182322120.py, line 23)

### Extract
***Read from excel file***

In [3]:
# DATA_DIR = "/home/raihan/eSRD-Lab/HDA/dataset/"
DATA_DIR = "D:/eSRD_Lab/DataBase/"

In [31]:
# can ignore engine name . 
# can use name text instead of number. 
# Can ignore read mode also as it is byv default
# trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')

#### Extracting Fact_table to data frame  and data preprocessing

In [4]:
df_fact_table = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Fact_table")
df_fact_table

df_fact_table.isna()
df_fact_table.isna().sum()
# male = df['Sex'][df['Sex'] == 'male'].count()
# male

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

In [18]:
df_fact_table.isna().sum()

payment_key         0
coustomer_key       0
time_key            0
item_key            0
store_key           0
quantity            0
unit             3723
unit_price          0
total_price         0
dtype: int64

In [27]:
df_fact_table['unit'].unique()

array(['ct', 'rolls', 'cans', 'bottles', 'bags', 'oz', 'tubs', 'cartons',
       'lb', 'tins', 'ct.', 'pack', 'pk', 'bars', 'Bags', 'oz.', nan,
       'Ct', 'botlltes'], dtype=object)

In [28]:
df_fact_table["unit"].fillna("ct", inplace = True)
df_fact_table.isna().sum()

payment_key      0
coustomer_key    0
time_key         0
item_key         0
store_key        0
quantity         0
unit             0
unit_price       0
total_price      0
dtype: int64

### Extracting trans_dim to data frame  and data Preprocessing

In [5]:
df_trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Trans_dim")
df_trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

***Insert and check trans dim data***

In [30]:
insert_stmt = "INSERT INTO ecomdb_star_schema.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, df_trans_dim.values)
con.commit()
cur.close()

In [15]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecomdb_star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [16]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

### Extracting item_dim to data frame  and data Preprocessing

In [62]:
df_item_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Item_dim")
df_item_dim = df_item_dim.rename(columns = {'desc':'description'}, inplace = False)
df_item_dim

,item_key,item_name,description,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

In [63]:
df_item_dim.isna().sum()

item_key       0
item_name      0
description    0
unit_price     0
man_country    0
supplier       0
unit           1
dtype: int64

In [64]:
# df_item_dim.loc[(df_item_dim.unit == null),'unit']='ct'
df_item_dim["unit"].fillna("ct", inplace = True)
df_item_dim.isna().sum()

item_key       0
item_name      0
description    0
unit_price     0
man_country    0
supplier       0
unit           0
dtype: int64

In [26]:
df_item_dim['supplier'].unique()

array(['Bolsius Boxmeer', 'CHROMADURLIN S.A.S', 'DENIMACH LTD',
       'HARDFORD AB', 'BIGSO AB', 'Indo Count Industries Ltd',
       'Friedola 1888 GmbH', 'CHERRY GROUP CO.,LTD', 'MAESA SAS',
       'NINGBO SEDUNO IMP & EXP CO.LTD'], dtype=object)

In [70]:
def insert_table_data(insert_stmt, df):
    try:
        cur = con.cursor()
        psycopg2.extras.execute_batch(cur, insert_stmt, df.values)
        con.commit()
        cur.close() # close communication with the PostgreSQL database server
       
    except (Exception, psycopg2.DatabaseError) as error:
        con.rollback()
        print(error)
    finally:
        if con is not None:
            con.close()

In [71]:
insert_stmt = "INSERT INTO ecomdb_star_schema.item_dim ( item_key, item_name, description, unit_price, man_country, supplier, unit)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s)"
insert_table_data(insert_stmt,df_item_dim)

# Extracting coustomer_dim to data frame  and data Cleaning

In [7]:
df_coustomer_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Coustomer_dim")
df_coustomer_dim

     coustomer_key             name     contact_no            nid
0          C000001            sumit  8801920345851  7505075708899
1          C000002         tammanne  8801817069329  1977731324842
2          C000003    kailash kumar  8801663795774  3769494056318
3          C000004  bhagwati prasad  8801533627961  9378834712725
4          C000005             ajay  8801943715786  3540815556323
...            ...              ...            ...            ...
9186       C009187        smt radha  8801563029753  1057824928189
9187       C009188     tulsi sharma  8801794982266  7970880905205
9188       C009189        madhubala  8801890032435  3101930298150
9189       C009190       pintu devi  8801563290767  7234328323528
9190       C009191            roopa  8801524507359  5682728390307

[9191 rows x 4 columns]

In [8]:
df_time_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Time_dim")
df_time_dim

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

# Extracting store_dim to data frame  and data preprocessing

In [9]:
df_store_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name="Store_dim")
df_store_dim

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

In [35]:
# df_store_dim["unit"].fillna("ct", inplace = True)
df_store_dim.isna().sum()

store_key    0
division     0
district     0
upazila      0
dtype: int64

#insert and check store data

In [43]:
insert_stmt = "INSERT INTO ecomdb_star_schema.store_dim (store_key, division, district,upazila)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, df_store_dim.values)
con.commit()
cur.close()

In [44]:
cur = con.cursor()
select_stmt = "SELECT * FROM ecomdb_star_schema.store_dim"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('S0001', 'SYLHET', 'HABIGANJ', 'AJMIRIGANJ'),
 ('S0002', 'SYLHET', 'HABIGANJ', 'BAHUBAL'),
 ('S0003', 'SYLHET', 'HABIGANJ', 'BANIACHONG'),
 ('S0004', 'SYLHET', 'HABIGANJ', 'CHUNARUGHAT'),
 ('S0005', 'SYLHET', 'HABIGANJ', 'HABIGANJ SADAR'),
 ('S0006', 'SYLHET', 'HABIGANJ', 'LAKHAI'),
 ('S0007', 'SYLHET', 'HABIGANJ', 'MADHABPUR'),
 ('S0008', 'SYLHET', 'HABIGANJ', 'NABIGANJ'),
 ('S0009', 'SYLHET', 'MAULVIBAZAR', 'BARLEKHA'),
 ('S0010', 'SYLHET', 'MAULVIBAZAR', 'JURI'),
 ('S0011', 'SYLHET', 'MAULVIBAZAR', 'KAMALGANJ'),
 ('S0012', 'SYLHET', 'MAULVIBAZAR', 'KULAURA'),
 ('S0013', 'SYLHET', 'MAULVIBAZAR', 'MAULVIBAZAR SADAR'),
 ('S0014', 'SYLHET', 'MAULVIBAZAR', 'RAJNAGAR'),
 ('S0015', 'SYLHET', 'MAULVIBAZAR', 'SREEMANGAL'),
 ('S0016', 'SYLHET', 'SUNAMGANJ', 'BISHWAMBARPUR'),
 ('S0017', 'SYLHET', 'SUNAMGANJ', 'CHHATAK'),
 ('S0018', 'SYLHET', 'SUNAMGANJ', 'DAKSHIN SUNAMGANJ'),
 ('S0019', 'SYLHET', 'SUNAMGANJ', 'DERAI'),
 ('S0020', 'SYLHET', 'SUNAMGANJ', 'DHARAMPASHA'),
 ('S0021', 'SYLHET', 'SUNAMGANJ', 'DOWARABAZAR'),
 ('S0022', 'SYLHET', 'SUNAMGANJ', 'JAGANNATHPUR'),
 ('S0023', 'SYLHET', 'SUNAMGANJ', 'JAMALGANJ'),
 ('S0024', 'SYLHET', 'SUNAMGANJ', 'SULLA'),
 ('S0025', 'SYLHET', 'SUNAMGANJ', 'SUNAMGANJ SADAR'),
 ('S0026', 'SYLHET', 'SUNAMGANJ', 'TAHIRPUR'),
 ('S0027', 'SYLHET', 'SYLHET', 'BALAGANJ'),
 ('S0028', 'SYLHET', 'SYLHET', 'BEANI BAZAR'),
 ('S0029', 'SYLHET', 'SYLHET', 'BISHWANATH'),
 ('S0030', 'SYLHET', 'SYLHET', 'COMPANIGANJ'),
 ('S0031', 'SYLHET', 'SYLHET', 'DAKSHIN SURMA'),
 ('S0032', 'SYLHET', 'SYLHET', 'FENCHUGANJ'),
 ('S0033', 'SYLHET', 'SYLHET', 'GOLAPGANJ'),
 ('S0034', 'SYLHET', 'SYLHET', 'GOWAINGHAT'),
 ('S0035', 'SYLHET', 'SYLHET', 'JAINTIAPUR'),
 ('S0036', 'SYLHET', 'SYLHET', 'KANAIGHAT'),
 ('S0037', 'SYLHET', 'SYLHET', 'SYLHET SADAR'),
 ('S0038', 'SYLHET', 'SYLHET', 'ZAKIGANJ'),
 ('S0039', 'RANGPUR', 'DINAJPUR', 'BIRAMPUR'),
 ('S0040', 'RANGPUR', 'DINAJPUR', 'BIRGANJ'),
 ('S0041', 'RANGPUR', 'DINAJPUR', 'BIRAL'),
 ('S0042', 'RANGPUR', 'DINAJPUR', 'BOCHAGANJ'),
 ('S0043', 'RANGPUR', 'DINAJPUR', 'CHIRIRBANDAR'),
 ('S0044', 'RANGPUR', 'DINAJPUR', 'FULBARI'),
 ('S0045', 'RANGPUR', 'DINAJPUR', 'GHORAGHAT'),
 ('S0046', 'RANGPUR', 'DINAJPUR', 'HAKIMPUR'),
 ('S0047', 'RANGPUR', 'DINAJPUR', 'KAHAROLE'),
 ('S0048', 'RANGPUR', 'DINAJPUR', 'KHANSAMA'),
 ('S0049', 'RANGPUR', 'DINAJPUR', 'DINAJPUR SADAR'),
 ('S0050', 'RANGPUR', 'DINAJPUR', 'NAWABGANJ'),
 ('S0051', 'RANGPUR', 'DINAJPUR', 'PARBATIPUR'),
 ('S0052', 'RANGPUR', 'GAIBANDHA', 'FULCHHARI'),
 ('S0053', 'RANGPUR', 'GAIBANDHA', 'GAIBANDHA SADAR'),
 ('S0054', 'RANGPUR', 'GAIBANDHA', 'GOBINDAGANJ'),
 ('S0055', 'RANGPUR', 'GAIBANDHA', 'PALASHBARI'),
 ('S0056', 'RANGPUR', 'GAIBANDHA', 'SADULLAPUR'),
 ('S0057', 'RANGPUR', 'GAIBANDHA', 'SAGHATA'),
 ('S0058', 'RANGPUR', 'GAIBANDHA', 'SUNDARGANJ'),
 ('S0059', 'RANGPUR', 'KURIGRAM', 'BHURUNGAMARI'),
 ('S0060', 'RANGPUR', 'KURIGRAM', 'CHAR RAJIBPUR'),
 ('S0061', 'RANGPUR', 'KURIGRAM', 'CHILMARI'),
 ('S0062', 'RANGPUR', 'KURIGRAM', 'PHULBARI'),
 ('S0063', 'RANGPUR', 'KURIGRAM', 'KURIGRAM SADAR'),
 ('S0064', 'RANGPUR', 'KURIGRAM', 'NAGESHWARI'),
 ('S0065', 'RANGPUR', 'KURIGRAM', 'RAJARHAT'),
 ('S0066', 'RANGPUR', 'KURIGRAM', 'RAUMARI'),
 ('S0067', 'RANGPUR', 'KURIGRAM', 'ULIPUR'),
 ('S0068', 'RANGPUR', 'LALMONIRHAT', 'ADITMARI'),
 ('S0069', 'RANGPUR', 'LALMONIRHAT', 'HATIBANDHA'),
 ('S0070', 'RANGPUR', 'LALMONIRHAT', 'KALIGANJ'),
 ('S0071', 'RANGPUR', 'LALMONIRHAT', 'LALMONIRHAT SADAR'),
 ('S0072', 'RANGPUR', 'LALMONIRHAT', 'PATGRAM'),
 ('S0073', 'RANGPUR', 'NILPHAMARI', 'DIMLA'),
 ('S0074', 'RANGPUR', 'NILPHAMARI', 'DOMAR UPAZILA'),
 ('S0075', 'RANGPUR', 'NILPHAMARI', 'JALDHAKA'),
 ('S0076', 'RANGPUR', 'NILPHAMARI', 'KISHOREGANJ'),
 ('S0077', 'RANGPUR', 'NILPHAMARI', 'NILPHAMARI SADAR'),
 ('S0078', 'RANGPUR', 'NILPHAMARI', 'SAIDPUR UPAZILA'),
 ('S0079', 'RANGPUR', 'PANCHAGARH', 'ATWARI'),
 ('S0080', 'RANGPUR', 'PANCHAGARH', 'BODA'),
 ('S0081', 'RANGPUR', 'PANCHAGARH', 'DEBIGANJ'),
 ('S0082', 'RANGPUR', 'PANCHAGARH', 'PANCHAGARH SADAR'),
 ('S0083', 'RANGPUR', 'PANCHAGARH', 'TENTULIA'),
 ('S0084', 'RANGPUR', 'RANGPUR', 'BADARGANJ'),
 ('S0085', 'RANGPUR', 'RANGPUR', 'GANGACHARA'),
 ('S0086', 'RANGPUR', 'RANGPUR', 'KAUNIA'),
 ('S0087', 'RANGPUR', 'RANGPUR', 'RANGPUR SADAR'),
 ('S0088', 'RANGPUR', 'RANGPUR', 'MITHA PUKUR'),
 ('S0089', 'RANGPUR', 'RANGPUR', 'PIRGACHHA'),
 ('S0090', 'RANGPUR', 'RANGPUR', 'PIRGANJ'),
 ('S0091', 'RANGPUR', 'RANGPUR', 'TARAGANJ'),
 ('S0092', 'RANGPUR', 'THAKURGAON', 'BALIADANGI'),
 ('S0093', 'RANGPUR', 'THAKURGAON', 'HARIPUR'),
 ('S0094', 'RANGPUR', 'THAKURGAON', 'PIRGANJ'),
 ('S0095', 'RANGPUR', 'THAKURGAON', 'RANISANKAIL'),
 ('S0096', 'RANGPUR', 'THAKURGAON', 'THAKURGAON SADAR'),
 ('S0097', 'RAJSHAHI', 'BOGRA', 'ADAMDIGHI'),
 ('S0098', 'RAJSHAHI', 'BOGRA', 'BOGRA SADAR'),
 ('S0099', 'RAJSHAHI', 'BOGRA', 'DHUNAT'),
 ('S00100', 'RAJSHAHI', 'BOGRA', 'DHUPCHANCHIA'),
 ('S00101', 'RAJSHAHI', 'BOGRA', 'GABTALI'),
 ('S00102', 'RAJSHAHI', 'BOGRA', 'KAHALOO'),
 ('S00103', 'RAJSHAHI', 'BOGRA', 'NANDIGRAM'),
 ('S00104', 'RAJSHAHI', 'BOGRA', 'SARIAKANDI'),
 ('S00105', 'RAJSHAHI', 'BOGRA', 'SHAJAHANPUR'),
 ('S00106', 'RAJSHAHI', 'BOGRA', 'SHERPUR'),
 ('S00107', 'RAJSHAHI', 'BOGRA', 'SHIBGANJ'),
 ('S00108', 'RAJSHAHI', 'BOGRA', 'SONATOLA'),
 ('S00109', 'RAJSHAHI', 'JOYPURHAT', 'AKKELPUR'),
 ('S00110', 'RAJSHAHI', 'JOYPURHAT', 'JOYPURHAT SADAR'),
 ('S00111', 'RAJSHAHI', 'JOYPURHAT', 'KALAI'),
 ('S00112', 'RAJSHAHI', 'JOYPURHAT', 'KHETLAL'),
 ('S00113', 'RAJSHAHI', 'JOYPURHAT', 'PANCHBIBI'),
 ('S00114', 'RAJSHAHI', 'NAOGAON', 'ATRAI'),
 ('S00115', 'RAJSHAHI', 'NAOGAON', 'BADALGACHHI'),
 ('S00116', 'RAJSHAHI', 'NAOGAON', 'DHAMOIRHAT'),
 ('S00117', 'RAJSHAHI', 'NAOGAON', 'MANDA'),
 ('S00118', 'RAJSHAHI', 'NAOGAON', 'MAHADEBPUR'),
 ('S00119', 'RAJSHAHI', 'NAOGAON', 'NAOGAON SADAR'),
 ('S00120', 'RAJSHAHI', 'NAOGAON', 'NIAMATPUR'),
 ('S00121', 'RAJSHAHI', 'NAOGAON', 'PATNITALA'),
 ('S00122', 'RAJSHAHI', 'NAOGAON', 'PORSHA'),
 ('S00123', 'RAJSHAHI', 'NAOGAON', 'RANINAGAR'),
 ('S00124', 'RAJSHAHI', 'NAOGAON', 'SAPAHAR'),
 ('S00125', 'RAJSHAHI', 'NATORE', 'BAGATIPARA'),
 ('S00126', 'RAJSHAHI', 'NATORE', 'BARAIGRAM'),
 ('S00127', 'RAJSHAHI', 'NATORE', 'GURUDASPUR'),
 ('S00128', 'RAJSHAHI', 'NATORE', 'LALPUR'),
 ('S00129', 'RAJSHAHI', 'NATORE', 'NALDANGA'),
 ('S00130', 'RAJSHAHI', 'NATORE', 'NATORE SADAR'),
 ('S00131', 'RAJSHAHI', 'NATORE', 'SINGRA'),
 ('S00132', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'BHOLAHAT'),
 ('S00133', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'GOMASTAPUR'),
 ('S00134', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'NACHOLE'),
 ('S00135', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'CHAPAI NABABGANJ SADAR'),
 ('S00136', 'RAJSHAHI', 'CHAPAI NABABGANJ', 'SHIBGANJ'),
 ('S00137', 'RAJSHAHI', 'PABNA', 'ATGHARIA'),
 ('S00138', 'RAJSHAHI', 'PABNA', 'BERA'),
 ('S00139', 'RAJSHAHI', 'PABNA', 'BHANGURA'),
 ('S00140', 'RAJSHAHI', 'PABNA', 'CHATMOHAR'),
 ('S00141', 'RAJSHAHI', 'PABNA', 'FARIDPUR'),
 ('S00142', 'RAJSHAHI', 'PABNA', 'ISHWARDI'),
 ('S00143', 'RAJSHAHI', 'PABNA', 'PABNA SADAR'),
 ('S00144', 'RAJSHAHI', 'PABNA', 'SANTHIA'),
 ('S00145', 'RAJSHAHI', 'PABNA', 'SUJANAGAR'),
 ('S00146', 'RAJSHAHI', 'RAJSHAHI', 'BAGHA'),
 ('S00147', 'RAJSHAHI', 'RAJSHAHI', 'BAGHMARA'),
 ('S00148', 'RAJSHAHI', 'RAJSHAHI', 'BOALIA'),
 ('S00149', 'RAJSHAHI', 'RAJSHAHI', 'CHARGHAT'),
 ('S00150', 'RAJSHAHI', 'RAJSHAHI', 'DURGAPUR'),
 ('S00151', 'RAJSHAHI', 'RAJSHAHI', 'GODAGARI'),
 ('S00152', 'RAJSHAHI', 'RAJSHAHI', 'MATIHAR'),
 ('S00153', 'RAJSHAHI', 'RAJSHAHI', 'MOHANPUR'),
 ('S00154', 'RAJSHAHI', 'RAJSHAHI', 'PABA'),
 ('S00155', 'RAJSHAHI', 'RAJSHAHI', 'PUTHIA'),
 ('S00156', 'RAJSHAHI', 'RAJSHAHI', 'RAJPARA'),
 ('S00157', 'RAJSHAHI', 'RAJSHAHI', 'SHAH MAKHDUM'),
 ('S00158', 'RAJSHAHI', 'RAJSHAHI', 'TANORE'),
 ('S00159', 'RAJSHAHI', 'SIRAJGANJ', 'BELKUCHI'),
 ('S00160', 'RAJSHAHI', 'SIRAJGANJ', 'CHAUHALI'),
 ('S00161', 'RAJSHAHI', 'SIRAJGANJ', 'KAMARKHANDA'),
 ('S00162', 'RAJSHAHI', 'SIRAJGANJ', 'KAZIPUR'),
 ('S00163', 'RAJSHAHI', 'SIRAJGANJ', 'ROYGANJ'),
 ('S00164', 'RAJSHAHI', 'SIRAJGANJ', 'SHAHJADPUR'),
 ('S00165', 'RAJSHAHI', 'SIRAJGANJ', 'SIRAJGANJ SADAR'),
 ('S00166', 'RAJSHAHI', 'SIRAJGANJ', 'TARASH'),
 ('S00167', 'RAJSHAHI', 'SIRAJGANJ', 'ULLAH PARA'),
 ('S00168', 'KHULNA', 'BAGERHAT', 'BAGERHAT SADAR'),
 ('S00169', 'KHULNA', 'BAGERHAT', 'CHITALMARI'),
 ('S00170', 'KHULNA', 'BAGERHAT', 'FAKIRHAT'),
 ('S00171', 'KHULNA', 'BAGERHAT', 'KACHUA'),
 ('S00172', 'KHULNA', 'BAGERHAT', 'MOLLAHAT'),
 ('S00173', 'KHULNA', 'BAGERHAT', 'MONGLA'),
 ('S00174', 'KHULNA', 'BAGERHAT', 'MORRELGANJ'),
 ('S00175', 'KHULNA', 'BAGERHAT', 'RAMPAL'),
 ('S00176', 'KHULNA', 'BAGERHAT', 'SARANKHOLA'),
 ('S00177', 'KHULNA', 'CHUADANGA', 'ALAMDANGA'),
 ('S00178', 'KHULNA', 'CHUADANGA', 'CHUADANGA SADAR'),
 ('S00179', 'KHULNA', 'CHUADANGA', 'DAMURHUDA'),
 ('S00180', 'KHULNA', 'CHUADANGA', 'JIBAN NAGAR'),
 ('S00181', 'KHULNA', 'JESSORE', 'ABHAYNAGAR'),
 ('S00182', 'KHULNA', 'JESSORE', 'BAGHER PARA'),
 ('S00183', 'KHULNA', 'JESSORE', 'CHAUGACHHA'),
 ('S00184', 'KHULNA', 'JESSORE', 'JHIKARGACHHA'),
 ('S00185', 'KHULNA', 'JESSORE', 'KESHABPUR'),
 ('S00186', 'KHULNA', 'JESSORE', 'JESSORE SADAR'),
 ('S00187', 'KHULNA', 'JESSORE', 'MANIRAMPUR'),
 ('S00188', 'KHULNA', 'JESSORE', 'SHARSHA'),
 ('S00189', 'KHULNA', 'JHENAIDAH', 'HARINAKUNDA'),
 ('S00190', 'KHULNA', 'JHENAIDAH', 'JHENAIDAH SADAR'),
 ('S00191', 'KHULNA', 'JHENAIDAH', 'KALIGANJ'),
 ('S00192', 'KHULNA', 'JHENAIDAH', 'KOTCHANDPUR'),
 ('S00193', 'KHULNA', 'JHENAIDAH', 'MAHESHPUR'),
 ('S00194', 'KHULNA', 'JHENAIDAH', 'SHAILKUPA'),
 ('S00195', 'KHULNA', 'KHULNA', 'BATIAGHATA'),
 ('S00196', 'KHULNA', 'KHULNA', 'DACOPE'),
 ('S00197', 'KHULNA', 'KHULNA', 'DAULATPUR'),
 ('S00198', 'KHULNA', 'KHULNA', 'DUMURIA'),
 ('S00199', 'KHULNA', 'KHULNA', 'DIGHALIA'),
 ('S00200', 'KHULNA', 'KHULNA', 'KHALISHPUR'),
 ('S00201', 'KHULNA', 'KHULNA', 'KHAN JAHAN ALI'),
 ('S00202', 'KHULNA', 'KHULNA', 'KHULNA SADAR'),
 ('S00203', 'KHULNA', 'KHULNA', 'KOYRA'),
 ('S00204', 'KHULNA', 'KHULNA', 'PAIKGACHHA'),
 ('S00205', 'KHULNA', 'KHULNA', 'PHULTALA'),
 ('S00206', 'KHULNA', 'KHULNA', 'RUPSA'),
 ('S00207', 'KHULNA', 'KHULNA', 'SONADANGA'),
 ('S00208', 'KHULNA', 'KHULNA', 'TEROKHADA'),
 ('S00209', 'KHULNA', 'KUSHTIA', 'BHERAMARA'),
 ('S00210', 'KHULNA', 'KUSHTIA', 'DAULATPUR'),
 ('S00211', 'KHULNA', 'KUSHTIA', 'KHOKSA'),
 ('S00212', 'KHULNA', 'KUSHTIA', 'KUMARKHALI'),
 ('S00213', 'KHULNA', 'KUSHTIA', 'KUSHTIA SADAR'),
 ('S00214', 'KHULNA', 'KUSHTIA', 'MIRPUR'),
 ('S00215', 'KHULNA', 'MAGURA', 'MAGURA SADAR'),
 ('S00216', 'KHULNA', 'MAGURA', 'MOHAMMADPUR'),
 ('S00217', 'KHULNA', 'MAGURA', 'SHALIKHA'),
 ('S00218', 'KHULNA', 'MAGURA', 'SREEPUR'),
 ('S00219', 'KHULNA', 'MEHERPUR', 'GANGNI'),
 ('S00220', 'KHULNA', 'MEHERPUR', 'MUJIB NAGAR'),
 ('S00221', 'KHULNA', 'MEHERPUR', 'MEHERPUR SADAR'),
 ('S00222', 'KHULNA', 'NARAIL', 'KALIA'),
 ('S00223', 'KHULNA', 'NARAIL', 'LOHAGARA'),
 ('S00224', 'KHULNA', 'NARAIL', 'NARAIL SADAR'),
 ('S00225', 'KHULNA', 'SATKHIRA', 'ASSASUNI'),
 ('S00226', 'KHULNA', 'SATKHIRA', 'DEBHATA'),
 ('S00227', 'KHULNA', 'SATKHIRA', 'KALAROA'),
 ('S00228', 'KHULNA', 'SATKHIRA', 'KALIGANJ'),
 ('S00229', 'KHULNA', 'SATKHIRA', 'SATKHIRA SADAR'),
 ('S00230', 'KHULNA', 'SATKHIRA', 'SHYAMNAGAR'),
 ('S00231', 'KHULNA', 'SATKHIRA', 'TALA'),
 ('S00232', 'DHAKA', 'DHAKA', 'ADABOR'),
 ('S00233', 'DHAKA', 'DHAKA', 'BADDA'),
 ('S00234', 'DHAKA', 'DHAKA', 'BANGSHAL'),
 ('S00235', 'DHAKA', 'DHAKA', 'BIMAN BANDAR'),
 ('S00236', 'DHAKA', 'DHAKA', 'BANANI'),
 ('S00237', 'DHAKA', 'DHAKA', 'CANTONMENT'),
 ('S00238', 'DHAKA', 'DHAKA', 'CHAK BAZAR'),
 ('S00239', 'DHAKA', 'DHAKA', 'DAKSHINKHAN'),
 ('S00240', 'DHAKA', 'DHAKA', 'DARUS SALAM'),
 ('S00241', 'DHAKA', 'DHAKA', 'DEMRA'),
 ('S00242', 'DHAKA', 'DHAKA', 'DHAMRAI'),
 ('S00243', 'DHAKA', 'DHAKA', 'DHANMONDI'),
 ('S00244', 'DHAKA', 'DHAKA', 'DOHAR'),
 ('S00245', 'DHAKA', 'DHAKA', 'BHASAN TEK'),
 ('S00246', 'DHAKA', 'DHAKA', 'BHATARA'),
 ('S00247', 'DHAKA', 'DHAKA', 'GENDARIA'),
 ('S00248', 'DHAKA', 'DHAKA', 'GULSHAN'),
 ('S00249', 'DHAKA', 'DHAKA', 'HAZARIBAGH'),
 ('S00250', 'DHAKA', 'DHAKA', 'JATRABARI'),
 ('S00251', 'DHAKA', 'DHAKA', 'KAFRUL'),
 ('S00252', 'DHAKA', 'DHAKA', 'KADAMTALI'),
 ('S00253', 'DHAKA', 'DHAKA', 'KALABAGAN'),
 ('S00254', 'DHAKA', 'DHAKA', 'KAMRANGIR CHAR'),
 ('S00255', 'DHAKA', 'DHAKA', 'KHILGAON'),
 ('S00256', 'DHAKA', 'DHAKA', 'KHILKHET'),
 ('S00257', 'DHAKA', 'DHAKA', 'KERANIGANJ'),
 ('S00258', 'DHAKA', 'DHAKA', 'KOTWALI'),
 ('S00259', 'DHAKA', 'DHAKA', 'LALBAGH'),
 ('S00260', 'DHAKA', 'DHAKA', 'MIRPUR'),
 ('S00261', 'DHAKA', 'DHAKA', 'MOHAMMADPUR'),
 ('S00262', 'DHAKA', 'DHAKA', 'MOTIJHEEL'),
 ('S00263', 'DHAKA', 'DHAKA', 'MUGDA PARA'),
 ('S00264', 'DHAKA', 'DHAKA', 'NAWABGANJ'),
 ('S00265', 'DHAKA', 'DHAKA', 'NEW MARKET'),
 ('S00266', 'DHAKA', 'DHAKA', 'PALLABI'),
 ('S00267', 'DHAKA', 'DHAKA', 'PALTAN'),
 ('S00268', 'DHAKA', 'DHAKA', 'RAMNA'),
 ('S00269', 'DHAKA', 'DHAKA', 'RAMPURA'),
 ('S00270', 'DHAKA', 'DHAKA', 'SABUJBAGH'),
 ('S00271', 'DHAKA', 'DHAKA', 'RUPNAGAR'),
 ('S00272', 'DHAKA', 'DHAKA', 'SAVAR'),
 ('S00273', 'DHAKA', 'DHAKA', 'SHAHJAHANPUR'),
 ('S00274', 'DHAKA', 'DHAKA', 'SHAH ALI'),
 ('S00275', 'DHAKA', 'DHAKA', 'SHAHBAGH'),
 ('S00276', 'DHAKA', 'DHAKA', 'SHYAMPUR'),
 ('S00277', 'DHAKA', 'DHAKA', 'SHER-E-BANGLA NAGAR'),
 ('S00278', 'DHAKA', 'DHAKA', 'SUTRAPUR'),
 ('S00279', 'DHAKA', 'DHAKA', 'TEJGAON'),
 ('S00280', 'DHAKA', 'DHAKA', 'TEJGAON IND. AREA'),
 ('S00281', 'DHAKA', 'DHAKA', 'TURAG'),
 ('S00282', 'DHAKA', 'DHAKA', 'UTTARA  PASCHIM'),
 ('S00283', 'DHAKA', 'DHAKA', 'UTTARA  PURBA'),
 ('S00284', 'DHAKA', 'DHAKA', 'UTTAR KHAN'),
 ('S00285', 'DHAKA', 'DHAKA', 'WARI'),
 ('S00286', 'DHAKA', 'FARIDPUR', 'ALFADANGA'),
 ('S00287', 'DHAKA', 'FARIDPUR', 'BHANGA'),
 ('S00288', 'DHAKA', 'FARIDPUR', 'BOALMARI'),
 ('S00289', 'DHAKA', 'FARIDPUR', 'CHAR BHADRASAN'),
 ('S00290', 'DHAKA', 'FARIDPUR', 'FARIDPUR SADAR'),
 ('S00291', 'DHAKA', 'FARIDPUR', 'MADHUKHALI'),
 ('S00292', 'DHAKA', 'FARIDPUR', 'NAGARKANDA'),
 ('S00293', 'DHAKA', 'FARIDPUR', 'SADARPUR'),
 ('S00294', 'DHAKA', 'FARIDPUR', 'SALTHA'),
 ('S00295', 'DHAKA', 'GAZIPUR', 'GAZIPUR SADAR'),
 ('S00296', 'DHAKA', 'GAZIPUR', 'KALIAKAIR'),
 ('S00297', 'DHAKA', 'GAZIPUR', 'KALIGANJ'),
 ('S00298', 'DHAKA', 'GAZIPUR', 'KAPASIA'),
 ('S00299', 'DHAKA', 'GAZIPUR', 'SREEPUR'),
 ('S00300', 'DHAKA', 'GOPALGANJ', 'GOPALGANJ SADAR'),
 ('S00301', 'DHAKA', 'GOPALGANJ', 'KASHIANI'),
 ('S00302', 'DHAKA', 'GOPALGANJ', 'KOTALIPARA'),
 ('S00303', 'DHAKA', 'GOPALGANJ', 'MUKSUDPUR'),
 ('S00304', 'DHAKA', 'GOPALGANJ', 'TUNGIPARA'),
 ('S00305', 'DHAKA', 'JAMALPUR', 'BAKSHIGANJ'),
 ('S00306', 'DHAKA', 'JAMALPUR', 'DEWANGANJ'),
 ('S00307', 'DHAKA', 'JAMALPUR', 'ISLAMPUR'),
 ('S00308', 'DHAKA', 'JAMALPUR', 'JAMALPUR SADAR'),
 ('S00309', 'DHAKA', 'JAMALPUR', 'MADARGANJ'),
 ('S00310', 'DHAKA', 'JAMALPUR', 'MELANDAHA'),
 ('S00311', 'DHAKA', 'JAMALPUR', 'SARISHABARI UPAZILA'),
 ('S00312', 'DHAKA', 'KISHOREGONJ', 'AUSTAGRAM'),
 ('S00313', 'DHAKA', 'KISHOREGONJ', 'BAJITPUR'),
 ('S00314', 'DHAKA', 'KISHOREGONJ', 'BHAIRAB'),
 ('S00315', 'DHAKA', 'KISHOREGONJ', 'HOSSAINPUR'),
 ('S00316', 'DHAKA', 'KISHOREGONJ', 'ITNA'),
 ('S00317', 'DHAKA', 'KISHOREGONJ', 'KARIMGANJ'),
 ('S00318', 'DHAKA', 'KISHOREGONJ', 'KATIADI'),
 ('S00319', 'DHAKA', 'KISHOREGONJ', 'KISHOREGANJ SADAR'),
 ('S00320', 'DHAKA', 'KISHOREGONJ', 'KULIAR CHAR'),
 ('S00321', 'DHAKA', 'KISHOREGONJ', 'MITHAMAIN'),
 ('S00322', 'DHAKA', 'KISHOREGONJ', 'NIKLI'),
 ('S00323', 'DHAKA', 'KISHOREGONJ', 'PAKUNDIA'),
 ('S00324', 'DHAKA', 'KISHOREGONJ', 'TARAIL'),
 ('S00325', 'DHAKA', 'MADARIPUR', 'KALKINI'),
 ('S00326', 'DHAKA', 'MADARIPUR', 'MADARIPUR SADAR'),
 ('S00327', 'DHAKA', 'MADARIPUR', 'RAJOIR'),
 ('S00328', 'DHAKA', 'MADARIPUR', 'SHIBCHAR'),
 ('S00329', 'DHAKA', 'MANIKGANJ', 'DAULATPUR'),
 ('S00330', 'DHAKA', 'MANIKGANJ', 'GHIOR'),
 ('S00331', 'DHAKA', 'MANIKGANJ', 'HARIRAMPUR'),
 ('S00332', 'DHAKA', 'MANIKGANJ', 'MANIKGANJ SADAR'),
 ('S00333', 'DHAKA', 'MANIKGANJ', 'SATURIA'),
 ('S00334', 'DHAKA', 'MANIKGANJ', 'SHIBALAYA'),
 ('S00335', 'DHAKA', 'MANIKGANJ', 'SINGAIR'),
 ('S00336', 'DHAKA', 'MUNSHIGANJ', 'GAZARIA'),
 ('S00337', 'DHAKA', 'MUNSHIGANJ', 'LOHAJANG'),
 ('S00338', 'DHAKA', 'MUNSHIGANJ', 'MUNSHIGANJ SADAR'),
 ('S00339', 'DHAKA', 'MUNSHIGANJ', 'SERAJDIKHAN'),
 ('S00340', 'DHAKA', 'MUNSHIGANJ', 'SREENAGAR'),
 ('S00341', 'DHAKA', 'MUNSHIGANJ', 'TONGIBARI'),
 ('S00342', 'DHAKA', 'MYMENSINGH', 'BHALUKA'),
 ('S00343', 'DHAKA', 'MYMENSINGH', 'DHOBAURA'),
 ('S00344', 'DHAKA', 'MYMENSINGH', 'FULBARIA'),
 ('S00345', 'DHAKA', 'MYMENSINGH', 'GAFFARGAON'),
 ('S00346', 'DHAKA', 'MYMENSINGH', 'GAURIPUR'),
 ('S00347', 'DHAKA', 'MYMENSINGH', 'HALUAGHAT'),
 ('S00348', 'DHAKA', 'MYMENSINGH', 'ISHWARGANJ'),
 ('S00349', 'DHAKA', 'MYMENSINGH', 'MYMENSINGH SADAR'),
 ('S00350', 'DHAKA', 'MYMENSINGH', 'MUKTAGACHHA'),
 ('S00351', 'DHAKA', 'MYMENSINGH', 'NANDAIL'),
 ('S00352', 'DHAKA', 'MYMENSINGH', 'PHULPUR'),
 ('S00353', 'DHAKA', 'MYMENSINGH', 'TARAKANDA'),
 ('S00354', 'DHAKA', 'MYMENSINGH', 'TRISHAL'),
 ('S00355', 'DHAKA', 'NARAYANGANJ', 'ARAIHAZAR'),
 ('S00356', 'DHAKA', 'NARAYANGANJ', 'SONARGAON'),
 ('S00357', 'DHAKA', 'NARAYANGANJ', 'BANDAR'),
 ('S00358', 'DHAKA', 'NARAYANGANJ', 'NARAYANGANJ SADAR'),
 ('S00359', 'DHAKA', 'NARAYANGANJ', 'RUPGANJ'),
 ('S00360', 'DHAKA', 'NARSINGDI', 'BELABO'),
 ('S00361', 'DHAKA', 'NARSINGDI', 'MANOHARDI'),
 ('S00362', 'DHAKA', 'NARSINGDI', 'NARSINGDI SADAR'),
 ('S00363', 'DHAKA', 'NARSINGDI', 'PALASH'),
 ('S00364', 'DHAKA', 'NARSINGDI', 'ROYPURA'),
 ('S00365', 'DHAKA', 'NARSINGDI', 'SHIBPUR'),
 ('S00366', 'DHAKA', 'NETRAKONA', 'ATPARA'),
 ('S00367', 'DHAKA', 'NETRAKONA', 'BARHATTA'),
 ('S00368', 'DHAKA', 'NETRAKONA', 'DURGAPUR'),
 ('S00369', 'DHAKA', 'NETRAKONA', 'KHALIAJURI'),
 ('S00370', 'DHAKA', 'NETRAKONA', 'KALMAKANDA'),
 ('S00371', 'DHAKA', 'NETRAKONA', 'KENDUA'),
 ('S00372', 'DHAKA', 'NETRAKONA', 'MADAN'),
 ('S00373', 'DHAKA', 'NETRAKONA', 'MOHANGANJ'),
 ('S00374', 'DHAKA', 'NETRAKONA', 'NETROKONA SADAR'),
 ('S00375', 'DHAKA', 'NETRAKONA', 'PURBADHALA'),
 ('S00376', 'DHAKA', 'RAJBARI', 'BALIAKANDI'),
 ('S00377', 'DHAKA', 'RAJBARI', 'GOALANDA'),
 ('S00378', 'DHAKA', 'RAJBARI', 'KALUKHALI'),
 ('S00379', 'DHAKA', 'RAJBARI', 'PANGSHA'),
 ('S00380', 'DHAKA', 'RAJBARI', 'RAJBARI SADAR'),
 ('S00381', 'DHAKA', 'SHARIATPUR', 'BHEDARGANJ'),
 ('S00382', 'DHAKA', 'SHARIATPUR', 'DAMUDYA'),
 ('S00383', 'DHAKA', 'SHARIATPUR', 'GOSAIRHAT'),
 ('S00384', 'DHAKA', 'SHARIATPUR', 'NARIA'),
 ('S00385', 'DHAKA', 'SHARIATPUR', 'SHARIATPUR SADAR'),
 ('S00386', 'DHAKA', 'SHARIATPUR', 'ZANJIRA'),
 ('S00387', 'DHAKA', 'SHERPUR', 'JHENAIGATI'),
 ('S00388', 'DHAKA', 'SHERPUR', 'NAKLA'),
 ('S00389', 'DHAKA', 'SHERPUR', 'NALITABARI'),
 ('S00390', 'DHAKA', 'SHERPUR', 'SHERPUR SADAR'),
 ('S00391', 'DHAKA', 'SHERPUR', 'SREEBARDI'),
 ('S00392', 'DHAKA', 'TANGAIL', 'BASAIL'),
 ('S00393', 'DHAKA', 'TANGAIL', 'BHUAPUR'),
 ('S00394', 'DHAKA', 'TANGAIL', 'DELDUAR'),
 ('S00395', 'DHAKA', 'TANGAIL', 'DHANBARI'),
 ('S00396', 'DHAKA', 'TANGAIL', 'GHATAIL'),
 ('S00397', 'DHAKA', 'TANGAIL', 'GOPALPUR'),
 ('S00398', 'DHAKA', 'TANGAIL', 'KALIHATI'),
 ('S00399', 'DHAKA', 'TANGAIL', 'MADHUPUR'),
 ('S00400', 'DHAKA', 'TANGAIL', 'MIRZAPUR'),
 ('S00401', 'DHAKA', 'TANGAIL', 'NAGARPUR'),
 ('S00402', 'DHAKA', 'TANGAIL', 'SAKHIPUR'),
 ('S00403', 'DHAKA', 'TANGAIL', 'TANGAIL SADAR'),
 ('S00404', 'CHITTAGONG', 'BANDARBAN', 'ALIKADAM'),
 ('S00405', 'CHITTAGONG', 'BANDARBAN', 'BANDARBAN SADAR'),
 ('S00406', 'CHITTAGONG', 'BANDARBAN', 'LAMA'),
 ('S00407', 'CHITTAGONG', 'BANDARBAN', 'NAIKHONGCHHARI'),
 ('S00408', 'CHITTAGONG', 'BANDARBAN', 'ROWANGCHHARI'),
 ('S00409', 'CHITTAGONG', 'BANDARBAN', 'RUMA'),
 ('S00410', 'CHITTAGONG', 'BANDARBAN', 'THANCHI'),
 ('S00411', 'CHITTAGONG', 'BRAHMANBARIA', 'AKHAURA'),
 ('S00412', 'CHITTAGONG', 'BRAHMANBARIA', 'BANCHHARAMPUR'),
 ('S00413', 'CHITTAGONG', 'BRAHMANBARIA', 'BIJOYNAGAR'),
 ('S00414', 'CHITTAGONG', 'BRAHMANBARIA', 'BRAHMANBARIA SADAR'),
 ('S00415', 'CHITTAGONG', 'BRAHMANBARIA', 'ASHUGANJ'),
 ('S00416', 'CHITTAGONG', 'BRAHMANBARIA', 'KASBA'),

### Transform