### Package installation

In [ ]:
pip install psycopg2

In [ ]:
pip install pandas

In [ ]:
pip install openpyxl

### Package call

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract

***Read from excel file***

In [2]:
DATA_DIR = "H:/Vinternship/"

In [3]:
trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

In [5]:
item_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=2, engine='openpyxl')
item_dim

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.00,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.00,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.00,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.00,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.00,India,Indo Count Industries Ltd,Ct

In [6]:
customer_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=3, engine='openpyxl')
customer_dim

     coustomer_key             name     contact_no            nid
0          C000001            sumit  8801920345851  7505075708899
1          C000002         tammanne  8801817069329  1977731324842
2          C000003    kailash kumar  8801663795774  3769494056318
3          C000004  bhagwati prasad  8801533627961  9378834712725
4          C000005             ajay  8801943715786  3540815556323
...            ...              ...            ...            ...
9186       C009187        smt radha  8801563029753  1057824928189
9187       C009188     tulsi sharma  8801794982266  7970880905205
9188       C009189        madhubala  8801890032435  3101930298150
9189       C009190       pintu devi  8801563290767  7234328323528
9190       C009191            roopa  8801524507359  5682728390307

[9191 rows x 4 columns]

In [7]:
time_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=4, engine='openpyxl')
time_dim

      time_key              date  hour  day      week  month quarter  year
0       T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1       T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2       T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3       T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4       T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
...        ...               ...   ...  ...       ...    ...     ...   ...
99994  T099995  04-01-2015 17:22    17    4  1st Week      1      Q1  2015
99995  T099996  17-01-2015 21:09    21   17  3rd Week      1      Q1  2015
99996  T099997  23-01-2020 14:42    14   23  4th Week      1      Q1  2020
99997  T099998  31-10-2015 13:52    13   31  4th Week     10      Q4  2015
99998  T099999  08-06-2017 08:59     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

In [8]:
store_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=5, engine='openpyxl')
store_dim

    store_key division  district                  upazila
0       S0001   SYLHET  HABIGANJ               AJMIRIGANJ
1       S0002   SYLHET  HABIGANJ                  BAHUBAL
2       S0003   SYLHET  HABIGANJ               BANIACHONG
3       S0004   SYLHET  HABIGANJ              CHUNARUGHAT
4       S0005   SYLHET  HABIGANJ           HABIGANJ SADAR
..        ...      ...       ...                      ...
721    S00722  BARISAL   BARISAL                    HIZLA
722    S00723  BARISAL   BARISAL  BARISAL SADAR (KOTWALI)
723    S00724  BARISAL   BARISAL              MEHENDIGANJ
724    S00725  BARISAL   BARISAL                   MULADI
725    S00726  BARISAL   BARISAL                 WAZIRPUR

[726 rows x 4 columns]

In [14]:
fact_table= pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=0, engine='openpyxl')
fact_table

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

### Data type

In [9]:
trans_dim.dtypes

payment_key    object
trans_type     object
bank_name      object
dtype: object

In [10]:
item_dim.dtypes

item_key        object
item_name       object
desc            object
unit_price     float64
man_country     object
supplier        object
unit            object
dtype: object

In [11]:
customer_dim.dtypes

coustomer_key    object
name             object
contact_no        int64
nid               int64
dtype: object

In [12]:
time_dim.dtypes

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object

In [13]:
store_dim.dtypes

store_key    object
division     object
district     object
upazila      object
dtype: object

In [15]:
fact_table.dtypes

payment_key       object
coustomer_key     object
time_key          object
item_key          object
store_key         object
quantity           int64
unit              object
unit_price       float64
total_price      float64
dtype: object

### Checking null values

In [25]:
trans_dim.columns[trans_dim.isna().any()]

Index([], dtype='object')

In [23]:
item_dim.columns[item_dim.isna().any()]

Index(['unit'], dtype='object')

In [26]:
customer_dim.columns[customer_dim.isna().any()]

Index(['name'], dtype='object')

In [27]:
time_dim.columns[time_dim.isna().any()]

Index([], dtype='object')

In [28]:
store_dim.columns[store_dim.isna().any()]

Index([], dtype='object')

In [29]:
fact_table.columns[fact_table.isna().any()]

Index(['unit'], dtype='object')

### Fill null values

In [36]:
item_dim.unit = item_dim.unit.fillna('')
item_dim.columns[item_dim.isna().any()]

Index([], dtype='object')

In [35]:
customer_dim.name = customer_dim.name.fillna('')
customer_dim.columns[customer_dim.isna().any()]

Index([], dtype='object')

In [37]:
fact_table.unit = fact_table.unit.fillna('')
fact_table.columns[fact_table.isna().any()]

Index([], dtype='object')

### Load

***Connect to the database***

In [115]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "Nabila12345@",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database"),
        return self.connection

In [116]:
con = PostgresConnection().getConnection()

successfully connected to database

### Data Insertion

***Trans_dim***

In [61]:
insert_stmt = "INSERT INTO ecomdb_star_schema.trans_dim( payment_key, trans_type, bank_name)" \
              " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values);
con.commit()
cur.close()

UniqueViolation: duplicate key value violates unique constraint "pk_22"
DETAIL:  Key (payment_key)=(P001) already exists.

***item_dim***

In [69]:
insert_stmt2 = "INSERT INTO ecomdb_star_schema.item_dim(item_key, item_name, description, unit_price, man_country, supplier, unit)" \
              " VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt2, item_dim.values);
con.commit()
cur.close()

***Customer_dim***

In [83]:
insert_stmt3 = "INSERT INTO ecomdb_star_schema.coustomer_dim(coustomer_key, name, contact_no, nid)"\
              " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt3, customer_dim.values);
con.commit()
cur.close()

***Time_dim***

In [86]:
time_dim['date'] = time_dim['date'].replace('/', '-');
time_dim.dtypes

time_key    object
date        object
hour         int64
day          int64
week        object
month        int64
quarter     object
year         int64
dtype: object

In [88]:
time_dim['date']=time_dim['date'].astype('datetime64[ns]')
time_dim['date']

0       2017-05-20 14:56:00
1       2015-01-30 22:14:00
2       2020-03-14 02:34:00
3       2018-04-27 12:19:00
4       2018-04-14 10:43:00
                ...
99994   2015-04-01 17:22:00
99995   2015-01-17 21:09:00
99996   2020-01-23 14:42:00
99997   2015-10-31 13:52:00
99998   2017-08-06 08:59:00
Name: date, Length: 99999, dtype: datetime64[ns]

In [91]:
insert_stmt4 = "INSERT INTO ecomdb_star_schema.time_dim(time_key, date, hour, day, week, month, quarter, year)"\
              " VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt4, time_dim.values);
con.commit()
cur.close()

***Store_dim***

In [84]:
insert_stmt = "INSERT INTO ecomdb_star_schema.store_dim(store_key, division, district, upazila)" \
              " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_dim.values);
con.commit()
cur.close()

In [94]:
insert_stmt5 = "INSERT INTO ecomdb_star_schema.fact_table(payment_key, coustomer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price)" \
                "VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt5, fact_table.values)
con.commit()
cur.close()

### Data Selection

***Trans_dim***

In [44]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecomdb_star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [45]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

***Item_dim***

In [102]:
cur = con.cursor()
select_stmt = "SELECT t.item_key , t.item_name, t.description, t.unit_price, t.man_country, t.supplier, t.unit " \
              "FROM ecomdb_star_schema.item_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('I00001',
  'A&W Root Beer - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00002',
  'A&W Root Beer Diet - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00003',
  "Barq's Root Beer - 12 oz cans",
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00004',
  'Cherry Coke 12oz',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00005',
  'Cherry Coke Zero 12 pack',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00006',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00007',
  'Coke Classic 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00008',
  'Coke Zero Sugar 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00009',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00010',
  'Diet Coke - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00011',
  'Diet Coke Caffeine Free 12oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00012',
  'Diet Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00013',
  'Diet Gingerale 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00014',
  'Diet Mountain Dew 12oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00015',
  'Diet Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00016',
  'Dr. Pepper - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00017',
  'Fresca Black Cherry - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00018',
  'Fresca Original - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00019',
  'Fresca Peach Citrus - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00020',
  'Ginger Ale - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00021',
  'Hawaiian Punch - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00022',
  'Mountain Dew - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00023',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00024',
  'Pepsi - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00025',
  'Seven Up - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00026',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00027',
  'Sprite - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('16.25'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00028',
  'Sprite Zero - 12 pack',
  'a. Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00029',
  'Sunkist Orange - 12 oz cans',
  'a. Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00030',
  'La Croix Sparkling Berry 12 ozv',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00031',
  'La Croix Sparkling Coconut 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00032',
  'La Croix Sparkling Cran-Raspberry 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00033',
  'La Croix Sparkling Grapefruit 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00034',
  'La Croix Sparkling Lemon 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00035',
  'La Croix Sparkling Lime 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00036',
  'La Croix Sparkling Orange 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00037',
  'La Croix Sparkling Pure 12 oz',
  'a. Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00038',
  'Perrier Flavors Sparkling Water 16.9oz',
  'a. Beverage Sparkling Water',
  Decimal('23.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00039',
  'Perrier Sparkling Water glass 11oz',
  'a. Beverage Sparkling Water',
  Decimal('26.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00040',
  'Perrier Sparkling Water plastic 16.9oz',
  'a. Beverage Sparkling Water',
  Decimal('22.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00041',
  'San Pelligrino 16oz Plastic ',
  'a. Beverage Sparkling Water',
  Decimal('23.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00042',
  'Topo Chico 12 oz glass',
  'a. Beverage Sparkling Water',
  Decimal('28.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00043',
  'Topo Chico 20oz plastic',
  'a. Beverage Sparkling Water',
  Decimal('24.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00044',
  'Waterloo Sparkling Blackcherry 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00045',
  'Waterloo Sparkling Grapefruit 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00046',
  'Waterloo Sparkling Lemon 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00047',
  'Waterloo Sparkling Lime 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00048',
  'Waterloo Sparkling Mango 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00049',
  'Waterloo Sparkling Original 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00050',
  'Waterloo Sparkling Watermelon 12oz',
  'a. Beverage Sparkling Water',
  Decimal('8.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00051',
  'Monster Java 15 oz',
  'Beverage - Energy/Protein ',
  Decimal('23.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00052',
  'Monster Lo-Carb 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00053',
  'Monster Original Green 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00054',
  'Monster Zero Ultra 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00055',
  'Monster Zero Ultra Variety 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00056',
  'Muscle Milk Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00057',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00058',
  'Premier Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00059',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00060',
  'Muscle Milk Protein Shake Strbry. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'bottles'),
 ('I00061',
  'Red Bull 12oz',
  'Beverage - Energy/Protein',
  Decimal('55.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00062',
  'Red Bull 16oz',
  'Beverage - Energy/Protein',
  Decimal('37.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00063',
  'Red Bull 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00064',
  'Red Bull Sugar Free 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00065',
  'G2 Lo Calorie Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00066',
  'Gatorade Frost Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00067',
  'Gatorade Lemon Lime 12oz',
  'Beverage - Gatorade',
  Decimal('8.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00068',
  'Gatorade Liberty Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'India',
  'Indo Count Industries Ltd',
  'bottles'),
 ('I00069',
  'Gatorade Frost Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00070',
  'Gatorade Liberty Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00071',
  'Gatorade Original Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00072',
  'Gatorade Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00073',
  'Gatorade X-Factor Fierce Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00074',
  'Gatorade Zero Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00075',
  'Brisk Lemon Iced Tea - 12 oz cans',
  'Beverage - Iced Tea',
  Decimal('15.5'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00076',
  'Diet Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00077',
  'Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00078',
  'Pure Leaf Sweet Tea 8.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00079',
  'Pure Leaf Unsweetened Tea 18.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00080',
  'Snapple Variety Pack 20oz',
  'Beverage - Iced Tea',
  Decimal('22.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00081',
  'Tejava Unsweetened Black Tea 16.9oz',
  'Beverage - Iced Tea',
  Decimal('29.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00082',
  '100% Juice Box Variety 6.75 oz ',
  'Beverage - Juice',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00083',
  'Ocean Spray Cranberry Juice Cocktail 15oz ',
  'Beverage - Juice',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00084',
  'Tropicana Apple Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00085',
  'Tropicana Orange Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00086',
  'V8 100% Vegetable Juice 11oz cans',
  'Beverage - Juice',
  Decimal('18.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00087',
  'V-8 Splash Variety 20 oz',
  'Beverage - Juice',
  Decimal('15.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00088',
  "Welch's 100% Juice Variety10 oz",
  'Beverage - Juice',
  Decimal('17.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00089',
  'AquaFina Purified Drinking Water 16oz',
  'Beverage Water',
  Decimal('9.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00090',
  'Dasani Bottled Water 16.9 oz',
  'Beverage Water',
  Decimal('9.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00091',
  'Nestle Purelife 16oz ',
  'Beverage Water',
  Decimal('7.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00092',
  'Ozarka Spring Water 16.9 oz bottles',
  'Beverage Water',
  Decimal('10.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00093',
  'Ozarka Spring Water 20 oz',
  'Beverage Water',
  Decimal('13.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00094',
  'Ozarka Spring Water Mini 8oz',
  'Beverage Water',
  Decimal('11.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00095',
  'Propel Zero Variety 20 oz',
  'Beverage Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'botlltes'),
 ('I00096',
  'Sobe Zero Lifewater Variety 20 oz',
  'Beverage Water',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00097',
  'Vita Coconut Water 10oz ',
  'Beverage Water',
  Decimal('19.0'),
  'India',
  'Indo Count Industries Ltd',
  'cartons'),
 ('I00098',
  'Coffee-Mate French Vanilla Cold',
  'Coffee Cream',
  Decimal('10.0'),
  'Finland',
  'HARDFORD AB',
  'oz'),
 ('I00099',
  'Coffee-Mate Original Flavor Cold',
  'Coffee Cream',
  Decimal('6.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00100',
  'Coffee-mate Original Powdered Creamer',
  'Coffee Cream',
  Decimal('10.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'oz.'),
 ('I00101',
  'French Vanilla International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'tubs'),
 ('I00102',
  "Half & Half -Land o Lakes Mini Moo's",
  'Coffee Cream',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'tubs'),
 ('I00103',
  'Hazelnut International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'tubs'),
 ('I00104',
  'Njoy Creamer Canister 16 oz',
  'Coffee Creamer',
  Decimal('14.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00105',
  'Njoy Creamer Packs',
  'Coffee Creamer',
  Decimal('16.5'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00106',
  'Community Coffee Dark Roast',
  'Coffee Ground',
  Decimal('17.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00107',
  'Dunkin Donuts Original Blend',
  'Coffee Ground',
  Decimal('20.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'oz'),
 ('I00108',
  'Folgers 100% Colombian Coffee',
  'Coffee Ground',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'oz'),
 ('I00109',
  'Folgers Classic Roast Coffee',
  'Coffee Ground',
  Decimal('17.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'oz'),
 ('I00110',
  "Starbuck's Pike Place",
  'Coffee Ground',
  Decimal('22.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'oz'),
 ('I00111',
  'K Cups Hot Cocoa',
  'Coffee Hot Cocoa',
  Decimal('16.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00112',
  'Swiss Miss Hot Cocoa Mix 1 oz',
  'Coffee Hot Cocoa',
  Decimal('14.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct.'),
 ('I00113',
  'K Cups - McCafe Premium Roast',
  'Coffee K-Cups',
  Decimal('42.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00114',
  "K Cups – Starbuck's Pike Place",
  'Coffee K-Cups',
  Decimal('44.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00115',
  'K Cups Daily Chef Columbian Supremo',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00116',
  'K Cups Dunkin Donuts Medium Roast',
  'Coffee K-Cups',
  Decimal('48.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00117',
  'K Cups Folgers Lively Columbian',
  'Coffee K-Cups',
  Decimal('46.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00118',
  'K Cups –Organic Breakfast Blend',
  'Coffee K-Cups',
  Decimal('42.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00119',
  'K Cups Original Donut Shop Med. Roast',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00120',
  'K Cups - Green Tea',
  'Coffee K-Cups Tea',
  Decimal('9.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00121',
  'Stirrers Coffee Stirs 7inch',
  'Coffee Stirrers',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'ct'),
 ('I00122',
  'Equal Sweetener',
  'Coffee Sweetener',
  Decimal('15.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00123',
  'Honey Packets  ',
  'Coffee Sweetener',
  Decimal('45.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00124',
  'Njoy Sugar Canister 22 oz',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00125',
  'Pure White Sugar Packets',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00126',
  'Splenda Sweetener',
  'Coffee Sweetener',
  Decimal('25.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00127',
  'Sugar in the Raw Packets',
  'Coffee Sweetener',
  Decimal('12.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00128',
  'Sweet N Low Sweetener',
  'Coffee Sweetener',
  Decimal('16.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'pk'),
 ('I00129',
  'Truvia Natural Sweetener',
  'Coffee Sweetener',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00130',
  'Hefty Supreme Foam Bowls 12oz',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00131',
  'Paper Bowls 20 oz Ultra Strong',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00132',
  'Clear Plastic 12 oz Cups',
  'Dishware - Cups Cold',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00133',
  'Clear Plastic Cups 9oz',
  'Dishware - Cups Cold',
  Decimal('15.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00134',
  'Red Plastic Cups 18oz',
  'Dishware - Cups Cold',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00135',
  'Chinet Comfort Hot Cups with Lids 16oz',
  'Dishware - Cups Hot',
  Decimal('14.0'),
  'United States',
  'MAESA SAS',
  'ct.'),
 ('I00136',
  'Dixie Perfecttouch Paper Cups 12oz',
  'Dishware - Cups Hot',
  Decimal('19.5'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00137',
  'Foam Coffee Cups - 08 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00138',
  'Foam Coffee Cups - 12 ounce',
  'Dishware - Cups Hot',
  Decimal('32.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00139',
  'Foam Coffee Cups - 16 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'ct'),
 ('I00140',
  'Foam Coffee Cups - 20 ounce',
  'Dishware - Cups Hot',
  Decimal('29.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00141',
  "Hefty Cmprtmnt Plates Foam 10'",
  'Dishware - Plates',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00142',
  'Hefty Supreme Foam Plates 6 inch',
  'Dishware - Plates',
  Decimal('12.5'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00143',
  'Hefty Supreme Foam Plates 9 inch',
  'Dishware - Plates',
  Decimal('16.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00144',
  'Paper Plate 10 inch Ultra Strong',
  'Dishware - Plates',
  Decimal('20.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00145',
  'Paper Plates 7 inch  Ultra Strong',
  'Dishware - Plates',
  Decimal('17.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00146',
  'Paper Plates 8.5 inch Ultra Strong',

In [103]:
item_df = pd.DataFrame(list(records), columns=['item_key', 'item_name', 'description', 'unit_price', 'man_country', 'supplier','unit'])
item_df

,item_key,item_name,description,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.5,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
...,...,...,...,...,...,...,...
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.0,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.0,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.0,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.0,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.0,India,Indo Count Industries Ltd,Ct

***Time_dim***

In [113]:
cur = con.cursor()
select_stmt = "SELECT t.time_key, t.date, t.hour, t.day, t.week, t.month, t.quarter, t.year " \
              "FROM ecomdb_star_schema.time_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('T00001',
  datetime.datetime(2017, 5, 20, 14, 56),
  14,
  20,
  '3rd Week',
  5,
  'Q2',
  2017),
 ('T00002',
  datetime.datetime(2015, 1, 30, 22, 14),
  22,
  30,
  '4th Week',
  1,
  'Q1',
  2015),
 ('T00003',
  datetime.datetime(2020, 3, 14, 2, 34),
  2,
  14,
  '2nd Week',
  3,
  'Q1',
  2020),
 ('T00004',
  datetime.datetime(2018, 4, 27, 12, 19),
  12,
  27,
  '4th Week',
  4,
  'Q2',
  2018),
 ('T00005',
  datetime.datetime(2018, 4, 14, 10, 43),
  10,
  14,
  '2nd Week',
  4,
  'Q2',
  2018),
 ('T00006',
  datetime.datetime(2017, 10, 2, 6, 56),
  6,
  10,
  '2nd Week',
  2,
  'Q1',
  2017),
 ('T00007',
  datetime.datetime(2015, 6, 5, 17, 52),
  17,
  6,
  '1st Week',
  5,
  'Q2',
  2015),
 ('T00008',
  datetime.datetime(2014, 9, 23, 13, 59),
  13,
  23,
  '4th Week',
  9,
  'Q3',
  2014),
 ('T00009',
  datetime.datetime(2016, 4, 16, 6, 45),
  6,
  16,
  '3rd Week',
  4,
  'Q2',
  2016),
 ('T00010',
  datetime.datetime(2015, 10, 26, 22, 0),
  22,
  26,
  '4th Week',
  10,
  'Q4',
  2015),
 ('T00011',
  datetime.datetime(2018, 2, 5, 16, 40),
  16,
  2,
  '1st Week',
  5,
  'Q2',
  2018),
 ('T00012',
  datetime.datetime(2017, 11, 29, 18, 55),
  18,
  29,
  '4th Week',
  11,
  'Q4',
  2017),
 ('T00013',
  datetime.datetime(2014, 9, 17, 22, 46),
  22,
  17,
  '3rd Week',
  9,
  'Q3',
  2014),
 ('T00014',
  datetime.datetime(2020, 12, 6, 8, 22),
  8,
  12,
  '2nd Week',
  6,
  'Q2',
  2020),
 ('T00015',
  datetime.datetime(2018, 11, 22, 18, 52),
  18,
  22,
  '4th Week',
  11,
  'Q4',
  2018),
 ('T00016',
  datetime.datetime(2019, 5, 21, 12, 40),
  12,
  21,
  '3rd Week',
  5,
  'Q2',
  2019),
 ('T00017',
  datetime.datetime(2015, 3, 19, 22, 55),
  22,
  19,
  '3rd Week',
  3,
  'Q1',
  2015),
 ('T00018',
  datetime.datetime(2015, 7, 28, 15, 17),
  15,
  28,
  '4th Week',
  7,
  'Q3',
  2015),
 ('T00019',
  datetime.datetime(2017, 12, 11, 11, 13),
  11,
  12,
  '2nd Week',
  11,
  'Q4',
  2017),
 ('T00020',
  datetime.datetime(2016, 10, 5, 17, 47),
  17,
  10,
  '2nd Week',
  5,
  'Q2',
  2016),
 ('T00021',
  datetime.datetime(2016, 4, 24, 4, 31),
  4,
  24,
  '4th Week',
  4,
  'Q2',
  2016),
 ('T00022',
  datetime.datetime(2016, 6, 17, 20, 45),
  20,
  17,
  '3rd Week',
  6,
  'Q2',
  2016),
 ('T00023',
  datetime.datetime(2020, 5, 12, 15, 59),
  15,
  5,
  '1st Week',
  12,
  'Q4',
  2020),
 ('T00024',
  datetime.datetime(2018, 2, 4, 11, 40),
  11,
  2,
  '1st Week',
  4,
  'Q2',
  2018),
 ('T00025',
  datetime.datetime(2020, 2, 8, 23, 39),
  23,
  2,
  '1st Week',
  8,
  'Q3',
  2020),
 ('T00026',
  datetime.datetime(2016, 11, 21, 9, 26),
  9,
  21,
  '3rd Week',
  11,
  'Q4',
  2016),
 ('T00027',
  datetime.datetime(2020, 1, 24, 19, 36),
  19,
  24,
  '4th Week',
  1,
  'Q1',
  2020),
 ('T00028',
  datetime.datetime(2017, 3, 30, 1, 48),
  1,
  30,
  '4th Week',
  3,
  'Q1',
  2017),
 ('T00029',
  datetime.datetime(2020, 1, 15, 8, 34),
  8,
  15,
  '3rd Week',
  1,
  'Q1',
  2020),
 ('T00030',
  datetime.datetime(2016, 10, 7, 16, 49),
  16,
  10,
  '2nd Week',
  7,
  'Q3',
  2016),
 ('T00031',
  datetime.datetime(2016, 5, 17, 17, 25),
  17,
  17,
  '3rd Week',
  5,
  'Q2',
  2016),
 ('T00032',
  datetime.datetime(2019, 11, 5, 7, 55),
  7,
  11,
  '2nd Week',
  5,
  'Q2',
  2019),
 ('T00033',
  datetime.datetime(2016, 2, 11, 15, 4),
  15,
  2,
  '1st Week',
  11,
  'Q4',
  2016),
 ('T00034',
  datetime.datetime(2020, 7, 7, 17, 21),
  17,
  7,
  '1st Week',
  7,
  'Q3',
  2020),
 ('T00035',
  datetime.datetime(2017, 7, 4, 17, 56),
  17,
  7,
  '1st Week',
  4,
  'Q2',
  2017),
 ('T00036',
  datetime.datetime(2020, 4, 26, 4, 33),
  4,
  26,
  '4th Week',
  4,
  'Q2',
  2020),
 ('T00037',
  datetime.datetime(2017, 4, 20, 14, 16),
  14,
  20,
  '3rd Week',
  4,
  'Q2',
  2017),
 ('T00038',
  datetime.datetime(2018, 11, 1, 9, 43),
  9,
  11,
  '2nd Week',
  1,
  'Q1',
  2018),
 ('T00039',
  datetime.datetime(2015, 9, 17, 21, 33),
  21,
  17,
  '3rd Week',
  9,
  'Q3',
  2015),
 ('T00040',
  datetime.datetime(2020, 4, 29, 22, 26),
  22,
  29,
  '4th Week',
  4,
  'Q2',
  2020),
 ('T00041',
  datetime.datetime(2014, 4, 23, 2, 8),
  2,
  23,
  '4th Week',
  4,
  'Q2',
  2014),
 ('T00042',
  datetime.datetime(2015, 8, 26, 7, 8),
  7,
  26,
  '4th Week',
  8,
  'Q3',
  2015),
 ('T00043',
  datetime.datetime(2014, 9, 9, 0, 4),
  0,
  9,
  '2nd Week',
  9,
  'Q3',
  2014),
 ('T00044',
  datetime.datetime(2018, 10, 7, 14, 40),
  14,
  10,
  '2nd Week',
  7,
  'Q3',
  2018),
 ('T00045',
  datetime.datetime(2020, 4, 19, 19, 40),
  19,
  19,
  '3rd Week',
  4,
  'Q2',
  2020),
 ('T00046',
  datetime.datetime(2015, 3, 18, 7, 9),
  7,
  18,
  '3rd Week',
  3,
  'Q1',
  2015),
 ('T00047',
  datetime.datetime(2014, 7, 29, 1, 26),
  1,
  29,
  '4th Week',
  7,
  'Q3',
  2014),
 ('T00048',
  datetime.datetime(2018, 7, 16, 22, 14),
  22,
  16,
  '3rd Week',
  7,
  'Q3',
  2018),
 ('T00049',
  datetime.datetime(2015, 8, 5, 12, 54),
  12,
  8,
  '2nd Week',
  5,
  'Q2',
  2015),
 ('T00050',
  datetime.datetime(2019, 8, 19, 23, 24),
  23,
  19,
  '3rd Week',
  8,
  'Q3',
  2019),
 ('T00051',
  datetime.datetime(2017, 6, 26, 22, 1),
  22,
  26,
  '4th Week',
  6,
  'Q2',
  2017),
 ('T00052',
  datetime.datetime(2014, 6, 29, 11, 33),
  11,
  29,
  '4th Week',
  6,
  'Q2',
  2014),
 ('T00053',
  datetime.datetime(2014, 12, 8, 4, 35),
  4,
  12,
  '2nd Week',
  8,
  'Q3',
  2014),
 ('T00054',
  datetime.datetime(2015, 11, 4, 14, 17),
  14,
  11,
  '2nd Week',
  4,
  'Q2',
  2015),
 ('T00055',
  datetime.datetime(2016, 11, 21, 20, 26),
  20,
  21,
  '3rd Week',
  11,
  'Q4',
  2016),
 ('T00056',
  datetime.datetime(2014, 9, 23, 19, 25),
  19,
  23,
  '4th Week',
  9,
  'Q3',
  2014),
 ('T00057',
  datetime.datetime(2016, 10, 8, 16, 59),
  16,
  10,
  '2nd Week',
  8,
  'Q3',
  2016),
 ('T00058',
  datetime.datetime(2017, 8, 8, 14, 53),
  14,
  8,
  '2nd Week',
  8,
  'Q3',
  2017),
 ('T00059',
  datetime.datetime(2014, 4, 24, 6, 47),
  6,
  24,
  '4th Week',
  4,
  'Q2',
  2014),
 ('T00060',
  datetime.datetime(2020, 9, 25, 20, 2),
  20,
  25,
  '4th Week',
  9,
  'Q3',
  2020),
 ('T00061',
  datetime.datetime(2017, 1, 7, 5, 29),
  5,
  1,
  '1st Week',
  7,
  'Q3',
  2017),
 ('T00062',
  datetime.datetime(2016, 2, 17, 14, 51),
  14,
  17,
  '3rd Week',
  2,
  'Q1',
  2016),
 ('T00063',
  datetime.datetime(2018, 5, 26, 23, 53),
  23,
  26,
  '4th Week',
  5,
  'Q2',
  2018),
 ('T00064',
  datetime.datetime(2018, 1, 31, 16, 18),
  16,
  31,
  '4th Week',
  1,
  'Q1',
  2018),
 ('T00065',
  datetime.datetime(2019, 11, 28, 6, 38),
  6,
  28,
  '4th Week',
  11,
  'Q4',
  2019),
 ('T00066',
  datetime.datetime(2016, 4, 20, 17, 23),
  17,
  20,
  '3rd Week',
  4,
  'Q2',
  2016),
 ('T00067',
  datetime.datetime(2018, 6, 26, 14, 24),
  14,
  26,
  '4th Week',
  6,
  'Q2',
  2018),
 ('T00068',
  datetime.datetime(2014, 4, 20, 5, 31),
  5,
  20,
  '3rd Week',
  4,
  'Q2',
  2014),
 ('T00069',
  datetime.datetime(2014, 7, 18, 21, 24),
  21,
  18,
  '3rd Week',
  7,
  'Q3',
  2014),
 ('T00070',
  datetime.datetime(2016, 10, 13, 19, 7),
  19,
  13,
  '2nd Week',
  10,
  'Q4',
  2016),
 ('T00071',
  datetime.datetime(2015, 6, 14, 0, 40),
  0,
  14,
  '2nd Week',
  6,
  'Q2',
  2015),
 ('T00072',
  datetime.datetime(2019, 11, 3, 13, 12),
  13,
  11,
  '2nd Week',
  3,
  'Q1',
  2019),
 ('T00073',
  datetime.datetime(2019, 1, 6, 6, 10),
  6,
  1,
  '1st Week',
  6,
  'Q2',
  2019),
 ('T00074',
  datetime.datetime(2019, 4, 11, 22, 42),
  22,
  4,
  '1st Week',
  11,
  'Q4',
  2019),
 ('T00075',
  datetime.datetime(2017, 1, 6, 9, 25),
  9,
  1,
  '1st Week',
  6,
  'Q2',
  2017),
 ('T00076',
  datetime.datetime(2018, 9, 30, 19, 17),
  19,
  30,
  '4th Week',
  9,
  'Q3',
  2018),
 ('T00077',
  datetime.datetime(2015, 5, 21, 3, 40),
  3,
  21,
  '3rd Week',
  5,
  'Q2',
  2015),
 ('T00078',
  datetime.datetime(2014, 3, 26, 19, 45),
  19,
  26,
  '4th Week',
  3,
  'Q1',
  2014),
 ('T00079',
  datetime.datetime(2018, 6, 26, 21, 54),
  21,
  26,
  '4th Week',
  6,
  'Q2',
  2018),
 ('T00080',
  datetime.datetime(2017, 4, 2, 20, 49),
  20,
  4,
  '1st Week',
  2,
  'Q1',
  2017),
 ('T00081',
  datetime.datetime(2014, 8, 4, 20, 48),
  20,
  8,
  '2nd Week',
  4,
  'Q2',
  2014),
 ('T00082',
  datetime.datetime(2014, 3, 9, 20, 3),
  20,
  3,
  '1st Week',
  9,
  'Q3',
  2014),
 ('T00083',
  datetime.datetime(2018, 4, 14, 2, 28),
  2,
  14,
  '2nd Week',
  4,
  'Q2',
  2018),
 ('T00084',
  datetime.datetime(2019, 8, 12, 7, 22),
  7,
  8,
  '2nd Week',
  12,
  'Q4',
  2019),
 ('T00085',
  datetime.datetime(2014, 6, 22, 1, 3),
  1,
  22,
  '4th Week',
  6,
  'Q2',
  2014),
 ('T00086',
  datetime.datetime(2020, 5, 31, 7, 55),
  7,
  31,
  '4th Week',
  5,
  'Q2',
  2020),
 ('T00087',
  datetime.datetime(2015, 3, 27, 6, 6),
  6,
  27,
  '4th Week',
  3,
  'Q1',
  2015),
 ('T00088',
  datetime.datetime(2019, 6, 15, 21, 38),
  21,
  15,
  '3rd Week',
  6,
  'Q2',
  2019),
 ('T00089',
  datetime.datetime(2018, 7, 22, 3, 0),
  3,
  22,
  '4th Week',
  7,
  'Q3',
  2018),
 ('T00090',
  datetime.datetime(2017, 2, 2, 22, 17),
  22,
  2,
  '1st Week',
  2,
  'Q1',
  2017),
 ('T00091',
  datetime.datetime(2018, 5, 20, 13, 45),
  13,
  20,
  '3rd Week',
  5,
  'Q2',
  2018),
 ('T00092',
  datetime.datetime(2016, 8, 30, 23, 1),
  23,
  30,
  '4th Week',
  8,
  'Q3',
  2016),
 ('T00093',
  datetime.datetime(2015, 8, 19, 4, 44),
  4,
  19,
  '3rd Week',
  8,
  'Q3',
  2015),
 ('T00094',
  datetime.datetime(2021, 10, 1, 20, 40),
  20,
  10,
  '2nd Week',
  1,
  'Q1',
  2021),
 ('T00095',
  datetime.datetime(2017, 4, 15, 6, 59),
  6,
  15,
  '3rd Week',
  4,
  'Q2',
  2017),
 ('T00096',
  datetime.datetime(2018, 3, 5, 2, 42),
  2,
  3,
  '1st Week',
  5,
  'Q2',
  2018),
 ('T00097',
  datetime.datetime(2014, 5, 11, 8, 28),
  8,
  5,
  '1st Week',
  11,
  'Q4',
  2014),
 ('T00098',
  datetime.datetime(2015, 8, 17, 4, 35),
  4,
  17,
  '3rd Week',
  8,
  'Q3',
  2015),
 ('T00099',
  datetime.datetime(2014, 4, 20, 6, 41),
  6,
  20,
  '3rd Week',
  4,
  'Q2',
  2014),
 ('T00100',
  datetime.datetime(2018, 3, 21, 5, 51),
  5,
  21,
  '3rd Week',
  3,
  'Q1',
  2018),
 ('T00101',
  datetime.datetime(2016, 9, 9, 2, 45),
  2,
  9,
  '2nd Week',
  9,
  'Q3',
  2016),
 ('T00102',
  datetime.datetime(2016, 11, 7, 10, 8),
  10,
  11,
  '2nd Week',
  7,
  'Q3',
  2016),
 ('T00103',
  datetime.datetime(2017, 12, 31, 8, 38),
  8,
  31,
  '4th Week',
  12,
  'Q4',
  2017),
 ('T00104',
  datetime.datetime(2014, 10, 22, 17, 33),
  17,
  22,
  '4th Week',
  10,
  'Q4',
  2014),
 ('T00105',
  datetime.datetime(2017, 6, 30, 10, 14),
  10,
  30,
  '4th Week',
  6,
  'Q2',
  2017),
 ('T00106',
  datetime.datetime(2020, 1, 16, 5, 56),
  5,
  16,
  '3rd Week',
  1,
  'Q1',
  2020),
 ('T00107',
  datetime.datetime(2018, 5, 14, 1, 28),
  1,
  14,
  '2nd Week',
  5,
  'Q2',
  2018),
 ('T00108',
  datetime.datetime(2020, 12, 2, 20, 14),
  20,
  12,
  '2nd Week',
  2,
  'Q1',
  2020),
 ('T00109',
  datetime.datetime(2019, 8, 13, 9, 50),
  9,
  13,
  '2nd Week',
  8,
  'Q3',
  2019),
 ('T00110',
  datetime.datetime(2014, 4, 2, 22, 37),
  22,
  4,
  '1st Week',
  2,
  'Q1',
  2014),
 ('T00111',
  datetime.datetime(2014, 6, 24, 11, 50),
  11,
  24,
  '4th Week',
  6,
  'Q2',
  2014),
 ('T00112',
  datetime.datetime(2016, 7, 9, 12, 12),
  12,
  7,
  '1st Week',
  9,
  'Q3',
  2016),
 ('T00113',
  datetime.datetime(2018, 5, 31, 16, 46),
  16,
  31,
  '4th Week',
  5,
  'Q2',
  2018),
 ('T00114',
  datetime.datetime(2015, 5, 23, 3, 55),
  3,
  23,
  '4th Week',
  5,
  'Q2',
  2015),
 ('T00115',
  datetime.datetime(2018, 3, 3, 8, 48),
  8,
  3,
  '1st Week',
  3,
  'Q1',
  2018),
 ('T00116',
  datetime.datetime(2016, 9, 25, 18, 42),
  18,
  25,
  '4th Week',
  9,
  'Q3',
  2016),
 ('T00117',
  datetime.datetime(2015, 4, 26, 20, 14),
  20,
  26,
  '4th Week',
  4,
  'Q2',
  2015),
 ('T00118',
  datetime.datetime(2019, 12, 10, 10, 52),
  10,
  12,
  '2nd Week',
  10,
  'Q4',
  2019),
 ('T00119',
  datetime.datetime(2020, 9, 7, 15, 36),
  15,
  9,
  '2nd Week',
  7,
  'Q3',
  2020),
 ('T00120',
  datetime.datetime(2016, 2, 3, 11, 23),
  11,
  2,
  '1st Week',
  3,
  'Q1',
  2016),
 ('T00121',
  datetime.datetime(2018, 2, 10, 20, 52),
  20,
  2,
  '1st Week',
  10,
  'Q4',
  2018),
 ('T00122',
  datetime.datetime(2019, 3, 22, 13, 5),
  13,
  22,
  '4th Week',
  3,
  'Q1',
  2019),
 ('T00123',
  datetime.datetime(2016, 1, 26, 4, 39),
  4,
  26,
  '4th Week',
  1,
  'Q1',
  2016),
 ('T00124',
  datetime.datetime(2018, 12, 7, 23, 18),
  23,
  12,
  '2nd Week',
  7,
  'Q3',
  2018),
 ('T00125',
  datetime.datetime(2015, 5, 13, 18, 26),
  18,
  13,
  '2nd Week',
  5,
  'Q2',
  2015),
 ('T00126',
  datetime.datetime(2016, 6, 20, 4, 24),
  4,
  20,
  '3rd Week',
  6,
  'Q2',
  2016),
 ('T00127',
  datetime.datetime(2017, 7, 2, 4, 1),
  4,
  7,
  '1st Week',
  2,
  'Q1',
  2017),
 ('T00128',
  datetime.datetime(2017, 6, 18, 12, 3),
  12,
  18,
  '3rd Week',
  6,
  'Q2',
  2017),
 ('T00129',
  datetime.datetime(2019, 8, 16, 10, 53),
  10,
  16,
  '3rd Week',
  8,
  'Q3',
  2019),
 ('T00130',
  datetime.datetime(2021, 1, 20, 7, 25),
  7,
  20,
  '3rd Week',
  1,
  'Q1',
  2021),
 ('T00131',
  datetime.datetime(2018, 6, 23, 7, 39),
  7,
  23,
  '4th Week',
  6,
  'Q2',
  2018),
 ('T00132',
  datetime.datetime(2016, 8, 19, 8, 25),
  8,
  19,
  '3rd Week',
  8,
  'Q3',
  2016),
 ('T00133',
  datetime.datetime(2017, 1, 29, 19, 54),
  19,
  29,
  '4th Week',
  1,
  'Q1',
  2017),
 ('T00134',
  datetime.datetime(2014, 12, 23, 5, 18),
  5,
  23,
  '4th Week',
  12,
  'Q4',
  2014),
 ('T00135',
  datetime.datetime(2019, 9, 25, 17, 33),
  17,
  25,
  '4th Week',
  9,
  'Q3',
  2019),
 ('T00136',
  datetime.datetime(2014, 3, 3, 1, 57),
  1,
  3,
  '1st Week',
  3,
  'Q1',
  2014),
 ('T00137',
  datetime.datetime(2018, 1, 7, 18, 34),
  18,
  1,
  '1st Week',
  7,
  'Q3',
  2018),
 ('T00138',
  datetime.datetime(2019, 5, 20, 20, 39),
  20,
  20,
  '3rd Week',
  5,
  'Q2',
  2019),
 ('T00139',
  datetime.datetime(2018, 4, 5, 7, 42),
  7,
  4,
  '1st Week',
  5,
  'Q2',
  2018),
 ('T00140',
  datetime.datetime(2019, 7, 6, 19, 33),
  19,
  7,
  '1st Week',
  6,
  'Q2',
  2019),
 ('T00141',
  datetime.datetime(2014, 6, 28, 0, 58),
  0,
  28,
  '4th Week',
  6,
  'Q2',
  2014),
 ('T00142',
  datetime.datetime(2015, 12, 5, 23, 31),
  23,
  12,
  '2nd Week',
  5,
  'Q2',
  2015),
 ('T00143',
  datetime.datetime(2014, 3, 30, 6, 58),
  6,
  30,
  '4th Week',
  3,
  'Q1',
  2014),
 ('T00144',
  datetime.datetime(2018, 1, 6, 12, 45),
  12,
  1,
  '1st Week',
  6,
  'Q2',
  2018),
 ('T00145',
  datetime.datetime(2017, 11, 1, 22, 21),
  22,
  11,
  '2nd Week',
  1,
  'Q1',
  2017),
 ('T00146',
  datetime.datetime(2019, 7, 24, 11, 39),
  11,
  24,
  '4th Week',
  7,
  'Q3',
  2019),
 ('T00147',
  datetime.datetime(2014, 4, 13, 17, 22),
  17,
  13,
  '2nd Week',
  4,
  'Q2',
  2014),
 ('T00148',
  datetime.datetime(2014, 10, 15, 13, 30),
  13,
  15,
  '3rd Week',
  10,
  'Q4',
  2014),
 ('T00149',
  datetime.datetime(2015, 7, 21, 11, 11),
  11,
  21,
  '3rd Week',
  7,
  'Q3',
  2015),
 ('T00150',
  datetime.datetime(2020, 2, 3, 4, 14),
  4,
  2,
  '1st Week',
  3,
  'Q1',
  2020),
 ('T00151',
  datetime.datetime(2017, 2, 18, 9, 32),
  9,
  18,
  '3rd Week',
  2,
  'Q1',
  2017),
 ('T00152',
  datetime.datetime(2020, 6, 4, 15, 3),
  15,
  6,
  '1st Week',
  4,
  'Q2',
  2020),
 ('T00153',
  datetime.datetime(2017, 5, 21, 20, 59),
  20,
  21,
  '3rd Week',
  5,
  'Q2',
  2017),
 ('T00154',
  datetime.datetime(2015, 10, 31, 22, 49),
  22,
  31,
  '4th Week',
  10,
  'Q4',
  2015),
 ('T00155',
  datetime.datetime(2019, 7, 23, 21, 50),
  21,
  23,
  '4th Week',
  7,
  'Q3',
  2019),
 ('T00156',
  datetime.datetime(2015, 4, 12, 17, 3),
  17,
  4,
  '1st Week',
  12,
  'Q4',
  2015),
 ('T00157',
  datetime.datetime(2020, 12, 29, 3, 52),
  3,
  29,
  '4th Week',
  12,
  'Q4',
  2020),
 ('T00158',
  datetime.datetime(2017, 8, 11, 8, 20),
  8,
  8,
  '2nd Week',
  11,
  'Q4',
  2017),
 ('T00159',
  datetime.datetime(2020, 3, 1, 5, 38),
  5,
  3,
  '1st Week',
  1,
  'Q1',
  2020),
 ('T00160',
  datetime.datetime(2015, 10, 2, 15, 3),
  15,
  10,
  '2nd Week',
  2,
  'Q1',
  2015),
 ('T00161',
  datetime.datetime(2016, 11, 30, 13, 15),
  13,
  30,
  '4th Week',
  11,
  'Q4',
  2016),
 ('T00162',
  datetime.datetime(2017, 5, 19, 23, 59),
  23,
  19,
  '3rd Week',
  5,
  'Q2',
  2017),
 ('T00163',
  datetime.datetime(2019, 5, 4, 10, 41),
  10,
  5,
  '1st Week',
  4,
  'Q2',
  2019),
 ('T00164',
  datetime.datetime(2014, 5, 28, 9, 59),
  9,
  28,
  '4th Week',
  5,
  'Q2',
  2014),
 ('T00165',
  datetime.datetime(2020, 10, 21, 0, 26),
  0,
  21,
  '3rd Week',
  10,
  'Q4',
  2020),
 ('T00166',
  datetime.datetime(2015, 7, 9, 23, 18),
  23,
  7,
  '1st Week',
  9,
  'Q3',
  2015),
 ('T00167',
  datetime.datetime(2019, 9, 2, 17, 49),
  17,
  9,
  '2nd Week',
  2,
  'Q1',
  2019),
 ('T00168',
  datetime.datetime(2015, 3, 14, 23, 46),
  23,
  14,
  '2nd Week',
  3,
  'Q1',
  2015),
 ('T00169',
  datetime.datetime(2017, 8, 7, 10, 0),
  10,
  8,
  '2nd Week',
  7,
  'Q3',
  2017),
 ('T00170',
  datetime.datetime(2015, 8, 10, 13, 11),
  13,
  8,
  '2nd Week',
  10,
  'Q4',
  2015),
 ('T00171',
  datetime.datetime(2019, 10, 17, 8, 7),
  8,
  17,
  '3rd Week',
  10,
  'Q4',
  2019),
 ('T00172',
  datetime.datetime(2016, 3, 20, 7, 26),
  7,
  20,
  '3rd Week',
  3,
  'Q1',
  2016),
 ('T00173',
  datetime.datetime(2018, 10, 3, 3, 16),
  3,
  10,
  '2nd Week',
  3,
  'Q1',
  2018),
 ('T00174',
  datetime.datetime(2017, 9, 20, 23, 26),
  23,
  20,
  '3rd Week',
  9,
  'Q3',
  2017),
 ('T00175',
  datetime.datetime(2017, 6, 30, 18, 9),
  18,
  30,
  '4th Week',
  6,
  'Q2',
  2017),
 ('T00176',
  datetime.datetime(2016, 8, 20, 4, 36),
  4,
  20,
  '3rd Week',
  8,
  'Q3',
  2016),
 ('T00177',
  datetime.datetime(2020, 6, 19, 12, 10),
  12,
  19,
  '3rd Week',
  6,
  'Q2',
  2020),
 ('T00178',
  datetime.datetime(2018, 1, 14, 13, 51),
  13,
  14,
  '2nd Week',
  1,
  'Q1',
  2018),
 ('T00179',
  datetime.datetime(2018, 5, 23, 21, 31),
  21,
  23,
  '4th Week',
  5,
  'Q2',
  2018),
 ('T00180',
  datetime.datetime(2020, 5, 23, 23, 58),
  23,
  23,
  '4th Week',
  5,
  'Q2',
  2020),
 ('T00181',
  datetime.datetime(2014, 12, 11, 4, 30),
  4,
  12,
  '2nd Week',
  11,
  'Q4',
  2014),
 ('T00182',
  datetime.datetime(2015, 2, 22, 7, 6),
  7,
  22,
  '4th Week',
  2,
  'Q1',
  2015),
 ('T00183',
  datetime.datetime(2019, 9, 5, 0, 52),
  0,
  9,
  '2nd Week',
  5,
  'Q2',
  2019),
 ('T00184',
  datetime.datetime(2018, 12, 10, 4, 41),
  4,
  12,
  '2nd Week',
  10,
  'Q4',
  2018),
 ('T00185',
  datetime.datetime(2020, 3, 16, 9, 35),
  9,
  16,
  '3rd Week',
  3,
  'Q1',
  2020),
 ('T00186',
  datetime.datetime(2017, 5, 28, 11, 43),
  11,
  28,
  '4th Week',
  5,
  'Q2',
  2017),
 ('T00187',
  datetime.datetime(2017, 11, 21, 7, 58),
  7,
  21,
  '3rd Week',
  11,
  'Q4',
  2017),
 ('T00188',
  datetime.datetime(2019, 2, 8, 6, 51),
  6,
  2,
  '1st Week',
  8,
  'Q3',
  2019),
 ('T00189',
  datetime.datetime(2015, 10, 10, 1, 35),
  1,
  10,
  '2nd Week',
  10,
  'Q4',
  2015),
 ('T00190',
  datetime.datetime(2016, 11, 24, 0, 54),
  0,
  24,
  '4th Week',
  11,
  'Q4',
  2016),
 ('T00191',
  datetime.datetime(2019, 4, 20, 14, 26),
  14,
  20,
  '3rd Week',
  4,
  'Q2',
  2019),
 ('T00192',
  datetime.datetime(2020, 7, 12, 12, 5),
  12,
  7,
  '1st Week',
  12,
  'Q4',
  2020),
 ('T00193',
  datetime.datetime(2014, 9, 12, 7, 43),
  7,
  9,
  '2nd Week',
  12,
  'Q4',
  2014),
 ('T00194',
  datetime.datetime(2020, 11, 15, 0, 48),
  0,
  15,
  '3rd Week',
  11,
  'Q4',
  2020),
 ('T00195',
  datetime.datetime(2015, 10, 4, 3, 42),
  3,
  10,
  '2nd Week',
  4,
  'Q2',
  2015),
 ('T00196',
  datetime.datetime(2019, 12, 8, 5, 39),
  5,
  12,
  '2nd Week',
  8,
  'Q3',
  2019),
 ('T00197',
  datetime.datetime(2020, 8, 24, 8, 20),
  8,
  24,
  '4th Week',
  8,
  'Q3',
  2020),
 ('T00198',
  datetime.datetime(2017, 3, 12, 0, 42),
  0,
  3,
  '1st Week',
  12,
  'Q4',
  2017),
 ('T00199',

In [114]:
time_df = pd.DataFrame(list(records), columns=['time_key', 'date', 'hour', 'day', 'week','month','quarter','year'])
time_df

      time_key                date  hour  day      week  month quarter  year
0       T00001 2017-05-20 14:56:00    14   20  3rd Week      5      Q2  2017
1       T00002 2015-01-30 22:14:00    22   30  4th Week      1      Q1  2015
2       T00003 2020-03-14 02:34:00     2   14  2nd Week      3      Q1  2020
3       T00004 2018-04-27 12:19:00    12   27  4th Week      4      Q2  2018
4       T00005 2018-04-14 10:43:00    10   14  2nd Week      4      Q2  2018
...        ...                 ...   ...  ...       ...    ...     ...   ...
99994  T099995 2015-04-01 17:22:00    17    4  1st Week      1      Q1  2015
99995  T099996 2015-01-17 21:09:00    21   17  3rd Week      1      Q1  2015
99996  T099997 2020-01-23 14:42:00    14   23  4th Week      1      Q1  2020
99997  T099998 2015-10-31 13:52:00    13   31  4th Week     10      Q4  2015
99998  T099999 2017-08-06 08:59:00     8    8  2nd Week      6      Q2  2017

[99999 rows x 8 columns]

***Fact_table***

In [118]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key, t.coustomer_key, t.time_key, t.store_key, t.quantity, t.unit, t.unit_price, t.total_price " \
              "FROM ecomdb_star_schema.fact_table t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P026',
  'C004510',
  'T049189',
  'S00307',
  1,
  'ct',
  Decimal('35.0'),
  Decimal('35.0')),
 ('P022',
  'C008967',
  'T041209',
  'S00595',
  1,
  'rolls',
  Decimal('26.0'),
  Decimal('26.0')),
 ('P030',
  'C007261',
  'T03633',
  'S00496',
  8,
  'ct',
  Decimal('12.5'),
  Decimal('100.0')),
 ('P032',
  'C007048',
  'T084631',
  'S0086',
  8,
  'ct',
  Decimal('14.0'),
  Decimal('112.0')),
 ('P014',
  'C006430',
  'T071276',
  'S00488',
  8,
  'cans',
  Decimal('8.0'),
  Decimal('64.0')),
 ('P006',
  'C007574',
  'T026950',
  'S00328',
  5,
  'bottles',
  Decimal('22.0'),
  Decimal('110.0')),
 ('P023',
  'C005695',
  'T096704',
  'S00196',
  2,
  'cans',
  Decimal('15.5'),
  Decimal('31.0')),
 ('P027',
  'C008728',
  'T010756',
  'S0010',
  1,
  'ct',
  Decimal('14.0'),
  Decimal('14.0')),
 ('P025',
  'C002764',
  'T017598',
  'S00164',
  11,
  'cans',
  Decimal('6.75'),
  Decimal('74.25')),
 ('P019',
  'C003128',
  'T048812',
  'S00640',
  10,
  'ct',
  Decimal('15.0'),
  Decimal('150.0')),
 ('P018',
  'C006613',
  'T078755',
  'S00540',
  8,
  'bottles',
  Decimal('20.0'),
  Decimal('160.0')),
 ('P030',
  'C009139',
  'T037206',
  'S0032',
  10,
  'cans',
  Decimal('6.75'),
  Decimal('67.5')),
 ('P003',
  'C000849',
  'T045267',
  'S00631',
  3,
  'ct',
  Decimal('16.0'),
  Decimal('48.0')),
 ('P016',
  'C005138',
  'T017837',
  'S0035',
  6,
  'ct',
  Decimal('15.0'),
  Decimal('90.0')),
 ('P011',
  'C000136',
  'T074844',
  'S00158',
  3,
  'bags',
  Decimal('15.0'),
  Decimal('45.0')),
 ('P015',
  'C007305',
  'T06087',
  'S00455',
  2,
  'bottles',
  Decimal('7.5'),
  Decimal('15.0')),
 ('P018',
  'C006779',
  'T097274',
  'S0071',
  9,
  'ct',
  Decimal('15.0'),
  Decimal('135.0')),
 ('P013',
  'C004337',
  'T069004',
  'S00616',
  9,
  'bags',
  Decimal('17.0'),
  Decimal('153.0')),
 ('P001',
  'C007044',
  'T049755',
  'S00423',
  7,
  'cans',
  Decimal('6.75'),
  Decimal('47.25')),
 ('P028',
  'C004437',
  'T088776',
  'S00608',
  4,
  'bags',
  Decimal('15.0'),
  Decimal('60.0')),
 ('P003',
  'C006330',
  'T081360',
  'S00628',
  4,
  'cans',
  Decimal('8.0'),
  Decimal('32.0')),
 ('P019',
  'C004953',
  'T064303',
  'S00197',
  7,
  'ct',
  Decimal('15.0'),
  Decimal('105.0')),
 ('P020',
  'C009102',
  'T034213',
  'S00172',
  8,
  'bottles',
  Decimal('17.0'),
  Decimal('136.0')),
 ('P028',
  'C001667',
  'T03431',
  'S00319',
  1,
  'ct',
  Decimal('42.0'),
  Decimal('42.0')),
 ('P010',
  'C003131',
  'T072373',
  'S00462',
  10,
  'bottles',
  Decimal('17.0'),
  Decimal('170.0')),
 ('P011',
  'C000117',
  'T016070',
  'S00460',
  2,
  'rolls',
  Decimal('26.0'),
  Decimal('52.0')),
 ('P026',
  'C008372',
  'T011517',
  'S00410',
  8,
  'ct',
  Decimal('16.0'),
  Decimal('128.0')),
 ('P028',
  'C000587',
  'T098189',
  'S00142',
  1,
  'bottles',
  Decimal('20.0'),
  Decimal('20.0')),
 ('P012',
  'C002814',
  'T095863',
  'S00563',
  2,
  'oz',
  Decimal('15.0'),
  Decimal('30.0')),
 ('P017',
  'C006599',
  'T01535',
  'S00317',
  11,
  'cans',
  Decimal('6.75'),
  Decimal('74.25')),
 ('P033',
  'C004506',
  'T034740',
  'S0090',
  6,
  'tubs',
  Decimal('15.0'),
  Decimal('90.0')),
 ('P016',
  'C003012',
  'T066927',
  'S00395',
  3,
  'ct',
  Decimal('6.0'),
  Decimal('18.0')),
 ('P006',
  'C002416',
  'T016376',
  'S0060',
  6,
  'ct',
  Decimal('14.0'),
  Decimal('84.0')),
 ('P029',
  'C004635',
  'T058922',
  'S0037',
  3,
  'ct',
  Decimal('20.0'),
  Decimal('60.0')),
 ('P001',
  'C002106',
  'T084934',
  'S00676',
  11,
  'ct',
  Decimal('9.0'),
  Decimal('99.0')),
 ('P026',
  'C002014',
  'T075762',
  'S00709',
  5,
  'bottles',
  Decimal('20.0'),
  Decimal('100.0')),
 ('P036',
  'C006673',
  'T067888',
  'S00547',
  1,
  'cans',
  Decimal('6.75'),
  Decimal('6.75')),
 ('P020',
  'C003551',
  'T064445',
  'S00343',
  7,
  'cans',
  Decimal('16.0'),
  Decimal('112.0')),
 ('P021',
  'C004163',
  'T04044',
  'S0079',
  6,
  'ct',
  Decimal('45.0'),
  Decimal('270.0')),
 ('P033',
  'C008636',
  'T086840',
  'S00643',
  5,
  'ct',
  Decimal('17.0'),
  Decimal('85.0')),
 ('P002',
  'C006607',
  'T096401',
  'S00293',
  11,
  'cartons',
  Decimal('19.0'),
  Decimal('209.0')),
 ('P035',
  'C004785',
  'T027401',
  'S00716',
  5,
  'ct',
  Decimal('12.0'),
  Decimal('60.0')),
 ('P030',
  'C007584',
  'T097121',
  'S00164',
  1,
  'bottles',
  Decimal('20.0'),
  Decimal('20.0')),
 ('P028',
  'C000794',
  'T061460',
  'S00604',
  8,
  'cans',
  Decimal('6.75'),
  Decimal('54.0')),
 ('P006',
  'C006515',
  'T070970',
  'S00582',
  4,
  'lb',
  Decimal('15.0'),
  Decimal('60.0')),
 ('P024',
  'C006654',
  'T094539',
  'S00169',
  10,
  'tins',
  Decimal('12.0'),
  Decimal('120.0')),
 ('P029',
  'C004238',
  'T043327',
  'S0043',
  3,
  'ct',
  Decimal('24.0'),
  Decimal('72.0')),
 ('P028',
  'C005911',
  'T047958',
  'S00105',
  1,
  'cans',
  Decimal('6.75'),
  Decimal('6.75')),
 ('P035',
  'C002711',
  'T099187',
  'S00291',
  10,
  'cans',
  Decimal('6.75'),
  Decimal('67.5')),
 ('P020',
  'C002588',
  'T067143',
  'S00416',
  4,
  'bags',
  Decimal('17.0'),
  Decimal('68.0')),
 ('P012',
  'C001376',
  'T095018',
  'S00483',
  9,
  'ct',
  Decimal('14.0'),
  Decimal('126.0')),
 ('P032',
  'C005655',
  'T013343',
  'S0040',
  3,
  'cans',
  Decimal('6.75'),
  Decimal('20.25')),
 ('P037',
  'C000616',
  'T046239',
  'S00704',
  9,
  'bags',
  Decimal('17.0'),
  Decimal('153.0')),
 ('P029',
  'C006210',
  'T012085',
  'S00389',
  11,
  'ct',
  Decimal('16.0'),
  Decimal('176.0')),
 ('P014',
  'C005781',
  'T089241',
  'S00362',
  7,
  'cans',
  Decimal('16.0'),
  Decimal('112.0')),
 ('P033',
  'C000769',
  'T048488',
  'S00716',
  2,
  'ct',
  Decimal('45.0'),
  Decimal('90.0')),
 ('P006',
  'C005135',
  'T012987',
  'S00630',
  3,
  'oz',
  Decimal('17.0'),
  Decimal('51.0')),
 ('P003',
  'C001614',
  'T073649',
  'S00518',
  9,
  'ct',
  Decimal('17.0'),
  Decimal('153.0')),
 ('P004',
  'C007507',
  'T099848',
  'S00591',
  1,
  'ct',
  Decimal('24.0'),
  Decimal('24.0')),
 ('P032',
  'C005973',
  'T035211',
  'S00143',
  3,
  'bottles',
  Decimal('17.5'),
  Decimal('52.5')),
 ('P037',
  'C009137',
  'T052586',
  'S00378',
  3,
  'oz',
  Decimal('17.0'),
  Decimal('51.0')),
 ('P002',
  'C001890',
  'T04692',
  'S00257',
  11,
  'bottles',
  Decimal('20.0'),
  Decimal('220.0')),
 ('P032',
  'C005857',
  'T079642',
  'S00558',
  9,
  'ct',
  Decimal('33.0'),
  Decimal('297.0')),
 ('P029',
  'C001213',
  'T088078',
  'S00485',
  3,
  'ct',
  Decimal('16.0'),
  Decimal('48.0')),
 ('P015',
  'C008426',
  'T075777',
  'S00537',
  7,
  'ct.',
  Decimal('14.0'),
  Decimal('98.0')),
 ('P028',
  'C005265',
  'T084200',
  'S0045',
  3,
  'cans',
  Decimal('6.75'),
  Decimal('20.25')),
 ('P011',
  'C007155',
  'T015488',
  'S00372',
  8,
  'oz',
  Decimal('15.0'),
  Decimal('120.0')),
 ('P017',
  'C008945',
  'T091863',
  'S00715',
  2,
  'cans',
  Decimal('16.25'),
  Decimal('32.5')),
 ('P010',
  'C006321',
  'T075495',
  'S00455',
  8,
  'pack',
  Decimal('20.0'),
  Decimal('160.0')),
 ('P002',
  'C000850',
  'T023269',
  'S00355',
  11,
  'pk',
  Decimal('18.0'),
  Decimal('198.0')),
 ('P006',
  'C006253',
  'T038332',
  'S00206',
  4,
  'bottles',
  Decimal('24.0'),
  Decimal('96.0')),
 ('P001',
  'C001743',
  'T080396',
  'S00660',
  7,
  'pk',
  Decimal('15.0'),
  Decimal('105.0')),
 ('P028',
  'C004020',
  'T038853',
  'S00250',
  11,
  'ct',
  Decimal('6.0'),
  Decimal('66.0')),
 ('P014',
  'C006064',
  'T086284',
  'S00670',
  10,
  'bottles',
  Decimal('22.0'),
  Decimal('220.0')),
 ('P026',
  'C007452',
  'T04952',
  'S00382',
  10,
  'bottles',
  Decimal('20.0'),
  Decimal('200.0')),
 ('P015',
  'C001606',
  'T086625',
  'S00601',
  4,
  'ct',
  Decimal('14.0'),
  Decimal('56.0')),
 ('P027',
  'C005146',
  'T047358',
  'S0007',
  4,
  'bottles',
  Decimal('17.0'),
  Decimal('68.0')),
 ('P025',
  'C004369',
  'T046539',
  'S00680',
  11,
  'ct',
  Decimal('15.0'),
  Decimal('165.0')),
 ('P036',
  'C000367',
  'T038514',
  'S00454',
  3,
  'cans',
  Decimal('16.25'),
  Decimal('48.75')),
 ('P022',
  'C000687',
  'T072412',
  'S00500',
  8,
  'bags',
  Decimal('17.0'),
  Decimal('136.0')),
 ('P030',
  'C007347',
  'T07448',
  'S00652',
  7,
  'oz',
  Decimal('13.0'),
  Decimal('91.0')),
 ('P030',
  'C004023',
  'T093578',
  'S00359',
  1,
  'ct.',
  Decimal('13.0'),
  Decimal('13.0')),
 ('P026',
  'C008650',
  'T031242',
  'S00234',
  8,
  'cans',
  Decimal('40.0'),
  Decimal('320.0')),
 ('P004',
  'C007983',
  'T064100',
  'S00581',
  4,
  'pk',
  Decimal('14.0'),
  Decimal('56.0')),
 ('P038',
  'C009083',
  'T065828',
  'S00113',
  6,
  'cans',
  Decimal('16.0'),
  Decimal('96.0')),
 ('P035',
  'C002504',
  'T084697',
  'S0004',
  8,
  'oz',
  Decimal('20.0'),
  Decimal('160.0')),
 ('P022',
  'C006203',
  'T056597',
  'S00636',
  2,
  'ct',
  Decimal('13.0'),
  Decimal('26.0')),
 ('P017',
  'C001921',
  'T058671',
  'S00435',
  5,
  'ct.',
  Decimal('13.0'),
  Decimal('65.0')),
 ('P021',
  'C007064',
  'T035360',
  'S00267',
  7,
  'ct',
  Decimal('32.0'),
  Decimal('224.0')),
 ('P037',
  'C001108',
  'T012049',
  'S00240',
  10,
  'cans',
  Decimal('6.75'),
  Decimal('67.5')),
 ('P013',
  'C006657',
  'T058776',
  'S00628',
  1,
  'cans',
  Decimal('8.0'),
  Decimal('8.0')),
 ('P025',
  'C006206',
  'T087559',
  'S00312',
  6,
  'cans',
  Decimal('6.75'),
  Decimal('40.5')),
 ('P034',
  'C008525',
  'T054312',
  'S00670',
  5,
  'ct',
  Decimal('21.0'),
  Decimal('105.0')),
 ('P001',
  'C005322',
  'T090099',
  'S00381',
  6,
  'ct',
  Decimal('12.0'),
  Decimal('72.0')),
 ('P029',
  'C009017',
  'T035589',
  'S00698',
  1,
  'oz',
  Decimal('16.0'),
  Decimal('16.0')),
 ('P034',
  'C003121',
  'T038507',
  'S00340',
  2,
  'bottles',
  Decimal('17.5'),
  Decimal('35.0')),
 ('P018',
  'C004972',
  'T045622',
  'S00264',
  11,
  'ct',
  Decimal('16.5'),
  Decimal('181.5')),
 ('P013',
  'C007493',
  'T028965',
  'S00123',
  8,
  'bags',
  Decimal('17.0'),
  Decimal('136.0')),
 ('P001',
  'C007851',
  'T018452',
  'S00664',
  10,
  'oz',
  Decimal('10.0'),
  Decimal('100.0')),
 ('P016',
  'C004867',
  'T063981',
  'S00271',
  4,
  'bottles',
  Decimal('17.0'),
  Decimal('68.0')),
 ('P032',
  'C000893',
  'T036720',
  'S00147',
  4,
  'ct',
  Decimal('20.0'),
  Decimal('80.0')),
 ('P008',
  'C002529',
  'T06611',
  'S0049',
  1,
  'bottles',
  Decimal('20.0'),
  Decimal('20.0')),
 ('P005',
  'C008597',
  'T04776',
  'S00282',
  8,
  'ct',
  Decimal('13.0'),
  Decimal('104.0')),
 ('P026',
  'C004165',
  'T018323',
  'S00566',
  7,
  'bottles',
  Decimal('22.0'),
  Decimal('154.0')),
 ('P018',
  'C007895',
  'T041053',
  'S00107',
  9,
  'ct',
  Decimal('24.0'),
  Decimal('216.0')),
 ('P037',
  'C006255',
  'T053308',
  'S00289',
  8,
  'bottles',
  Decimal('10.0'),
  Decimal('80.0')),
 ('P026',
  'C000553',
  'T078183',
  'S00551',
  1,
  'ct',
  Decimal('13.5'),
  Decimal('13.5')),
 ('P003',
  'C008077',
  'T023535',
  'S00495',
  3,
  'ct',
  Decimal('16.5'),
  Decimal('49.5')),
 ('P032',
  'C005936',
  'T057062',
  'S00429',
  3,
  'cans',
  Decimal('8.0'),
  Decimal('24.0')),
 ('P005',
  'C000180',
  'T033556',
  'S00159',
  5,
  'bottles',
  Decimal('14.0'),
  Decimal('70.0')),
 ('P008',
  'C001090',
  'T059539',
  'S00133',
  10,
  'pack',
  Decimal('19.5'),
  Decimal('195.0')),
 ('P020',
  'C006813',
  'T067589',
  'S00705',
  11,
  'tins',
  Decimal('12.0'),
  Decimal('132.0')),
 ('P018',
  'C007874',
  'T096180',
  'S00703',
  3,
  'bottles',
  Decimal('18.0'),
  Decimal('54.0')),
 ('P015',
  'C007479',
  'T054398',
  'S00530',
  11,
  'bottles',
  Decimal('20.0'),
  Decimal('220.0')),
 ('P017',
  'C005106',
  'T046729',
  'S00447',
  7,
  'ct',
  Decimal('20.0'),
  Decimal('140.0')),
 ('P011',
  'C007116',
  'T07168',
  'S00414',
  2,
  'pack',
  Decimal('20.0'),
  Decimal('40.0')),
 ('P024',
  'C003706',
  'T022229',
  'S00440',
  8,
  'ct',
  Decimal('22.0'),
  Decimal('176.0')),
 ('P027',
  'C004751',
  'T060647',
  'S00705',
  11,
  'ct',
  Decimal('12.0'),
  Decimal('132.0')),
 ('P035',
  'C002036',
  'T046246',
  'S00378',
  11,
  'ct',
  Decimal('14.0'),
  Decimal('154.0')),
 ('P014',
  'C004365',
  'T097325',
  'S00505',
  10,
  'bags',
  Decimal('16.0'),
  Decimal('160.0')),
 ('P032',
  'C004483',
  'T01568',
  'S00545',
  8,
  'ct',
  Decimal('19.0'),
  Decimal('152.0')),
 ('P022',
  'C001600',
  'T073347',
  'S00469',
  11,
  'tubs',
  Decimal('16.0'),
  Decimal('176.0')),
 ('P016',
  'C006222',
  'T035980',
  'S00530',
  11,
  'cans',
  Decimal('40.0'),
  Decimal('440.0')),
 ('P015',
  'C006521',
  'T085091',
  'S00239',
  2,
  'pk',
  Decimal('21.0'),
  Decimal('42.0')),
 ('P032',
  'C000984',
  'T039667',
  'S00252',
  5,
  'ct',
  Decimal('25.0'),
  Decimal('125.0')),
 ('P018',
  'C003786',
  'T050797',
  'S00358',
  1,
  'ct.',
  Decimal('13.0'),
  Decimal('13.0')),
 ('P020',
  'C006609',
  'T094332',
  'S00454',
  11,
  'pack',
  Decimal('19.5'),
  Decimal('214.5')),
 ('P015',
  'C003761',
  'T069778',
  'S0014',
  8,
  'ct',
  Decimal('18.0'),
  Decimal('144.0')),
 ('P006',
  'C000356',
  'T022453',
  'S0045',
  1,
  'ct',
  Decimal('12.0'),
  Decimal('12.0')),
 ('P006',
  'C004585',
  'T018609',
  'S00694',
  2,
  'cans',
  Decimal('16.25'),
  Decimal('32.5')),
 ('P003',
  'C000309',
  'T037201',
  'S00537',
  5,
  'ct',
  Decimal('12.0'),
  Decimal('60.0')),
 ('P022',
  'C000696',
  'T032934',
  'S00275',
  4,
  'ct',
  Decimal('16.0'),
  Decimal('64.0')),
 ('P013',
  'C005792',
  'T089252',
  'S00159',
  7,
  'ct',
  Decimal('12.0'),
  Decimal('84.0')),
 ('P034',
  'C008240',
  'T069978',
  'S00621',
  6,
  'cans',
  Decimal('15.5'),
  Decimal('93.0')),
 ('P022',
  'C006506',
  'T016439',
  'S00507',
  8,
  'bottles',
  Decimal('20.0'),
  Decimal('160.0')),
 ('P029',
  'C008485',
  'T050211',
  'S00433',
  9,
  'ct',
  Decimal('17.0'),
  Decimal('153.0')),
 ('P030',
  'C001377',
  'T090005',
  'S00380',
  5,
  'bags',
  Decimal('21.0'),
  Decimal('105.0')),
 ('P006',
  'C001951',
  'T03982',
  'S00282',
  7,
  'cans',
  Decimal('6.75'),
  Decimal('47.25')),
 ('P010',
  'C000468',
  'T027342',
  'S00652',
  5,
  'bottles',
  Decimal('28.0'),
  Decimal('140.0')),
 ('P028',
  'C008169',
  'T027854',
  'S00434',
  7,
  'bottles',
  Decimal('28.0'),
  Decimal('196.0')),
 ('P026',
  'C003589',
  'T095881',
  'S00306',
  2,
  'bottles',
  Decimal('24.0'),
  Decimal('48.0')),
 ('P011',
  'C004255',
  'T092822',
  'S00380',
  5,
  'bottles',
  Decimal('22.0'),
  Decimal('110.0')),
 ('P011',
  'C000265',
  'T092821',
  'S00274',
  9,
  'pk',
  Decimal('12.0'),
  Decimal('108.0')),
 ('P021',
  'C000475',
  'T099595',
  'S00300',
  6,
  'ct',
  Decimal('12.0'),
  Decimal('72.0')),
 ('P014',
  'C006453',
  'T093060',
  'S0087',
  2,
  'rolls',
  Decimal('26.0'),
  Decimal('52.0')),
 ('P021',
  'C004605',
  'T065030',
  'S00306',
  3,
  'ct',
  Decimal('15.0'),
  Decimal('45.0')),
 ('P017',
  'C004081',
  'T097295',
  'S0051',
  6,
  'bags',
  Decimal('16.0'),
  Decimal('96.0')),
 ('P023',
  'C002750',
  'T068178',
  'S00615',
  7,
  'bottles',
  Decimal('20.0'),
  Decimal('140.0')),
 ('P022',
  'C004401',
  'T085077',
  'S00426',
  2,
  'pk',
  Decimal('15.0'),
  Decimal('30.0')),
 ('P034',
  'C008525',
  'T020322',
  'S00194',
  4,
  'oz',
  Decimal('15.0'),
  Decimal('60.0')),
 ('P009',
  'C002110',
  'T017049',
  'S00142',
  3,
  'ct',
  Decimal('25.0'),
  Decimal('75.0')),
 ('P031',
  'C007170',
  'T062404',
  'S00322',
  10,
  'ct',
  Decimal('12.0'),
  Decimal('120.0')),
 ('P012',
  'C001647',
  'T059671',
  'S00342',
  2,
  'bottles',
  Decimal('28.0'),
  Decimal('56.0')),
 ('P018',
  'C009083',
  'T063522',
  'S0042',
  8,
  'ct',
  Decimal('12.0'),
  Decimal('96.0')),
 ('P024',
  'C009085',
  'T077489',
  'S00467',
  2,
  'ct',
  Decimal('19.0'),
  Decimal('38.0')),
 ('P028',
  'C003950',
  'T089335',
  'S00312',
  5,
  'pack',
  Decimal('19.5'),
  Decimal('97.5')),
 ('P006',
  'C007980',
  'T022421',
  'S00677',
  2,
  'cans',
  Decimal('16.25'),
  Decimal('32.5')),
 ('P025',
  'C005512',
  'T072405',
  'S00127',
  11,
  'ct',
  Decimal('15.0'),
  Decimal('165.0')),
 ('P032',
  'C005690',
  'T04866',
  'S00461',
  2,
  'ct',
  Decimal('14.0'),
  Decimal('28.0')),
 ('P019',
  'C005423',
  'T081628',
  'S00205',
  1,
  'ct',
  Decimal('20.0'),
  Decimal('20.0')),
 ('P002',
  'C007461',
  'T016602',
  'S00178',
  7,
  'ct',
  Decimal('12.0'),
  Decimal('84.0')),
 ('P002',
  'C005548',
  'T057813',
  'S00357',
  2,
  'tubs',
  Decimal('15.0'),
  Decimal('30.0')),
 ('P020',
  'C009187',
  'T080308',
  'S00394',
  2,
  'ct',
  Decimal('17.0'),
  Decimal('34.0')),
 ('P021',
  'C007335',
  'T051185',
  'S00566',
  1,
  'ct',
  Decimal('15.0'),
  Decimal('15.0')),
 ('P034',
  'C002760',
  'T084238',
  'S00582',
  4,
  'cans',
  Decimal('40.0'),
  Decimal('160.0')),
 ('P011',
  'C006111',
  'T05728',
  'S00377',
  4,
  'oz',
  Decimal('15.0'),
  Decimal('60.0')),
 ('P033',
  'C000827',
  'T075378',
  'S00648',
  6,
  'oz',
  Decimal('20.0'),
  Decimal('120.0')),
 ('P025',
  'C000247',
  'T019329',
  'S00389',
  3,
  'bottles',
  Decimal('20.0'),
  Decimal('60.0')),
 ('P003',
  'C005046',
  'T033517',
  'S00662',
  7,
  'ct',
  Decimal('12.0'),
  Decimal('84.0')),
 ('P013',
  'C005367',
  'T013761',
  'S00243',
  4,
  'ct',
  Decimal('16.0'),
  Decimal('64.0')),
 ('P007',
  'C007465',
  'T054055',
  'S00474',
  8,
  'cans',
  Decimal('16.0'),
  Decimal('128.0')),
 ('P012',
  'C004321',
  'T038449',
  'S00288',
  9,
  'bags',
  Decimal('16.0'),
  Decimal('144.0')),
 ('P026',
  'C008394',
  'T013267',
  'S00242',
  8,
  'cans',
  Decimal('11.5'),
  Decimal('92.0')),
 ('P039',
  'C004333',
  'T087002',
  'S00347',
  8,
  'ct',
  Decimal('19.5'),
  Decimal('156.0')),
 ('P001',
  'C008928',
  'T080527',
  'S00450',
  11,
  'bottles',
  Decimal('7.5'),
  Decimal('82.5')),
 ('P021',
  'C008992',
  'T099538',
  'S0055',
  3,
  'ct',
  Decimal('15.0'),
  Decimal('45.0')),
 ('P020',
  'C008381',
  'T068587',
  'S00543',
  5,
  'bottles',
  Decimal('20.0'),
  Decimal('100.0')),
 ('P021',
  'C005131',
  'T099005',
  'S00239',
  6,
  'bags',
  Decimal('15.0'),
  Decimal('90.0')),
 ('P039',
  'C006179',
  'T074779',
  'S00544',
  9,
  'ct',
  Decimal('24.0'),
  Decimal('216.0')),
 ('P014',
  'C005302',
  'T049751',
  'S00378',
  10,
  'ct',
  Decimal('42.0'),
  Decimal('420.0')),
 ('P014',
  'C006607',
  'T086204',
  'S00608',
  2,
  'oz',
  Decimal('17.0'),
  Decimal('34.0')),
 ('P025',
  'C007110',
  'T021185',
  'S00473',
  6,
  'ct.',
  Decimal('15.0'),
  Decimal('90.0')),
 ('P010',
  'C006397',
  'T020301',
  'S00460',
  8,
  'ct',
  Decimal('26.0'),
  Decimal('208.0')),
 ('P005',
  'C001432',
  'T026282',
  'S00177',
  4,
  'ct',
  Decimal('29.0'),
  Decimal('116.0')),
 ('P025',
  'C000360',
  'T03072',
  'S00367',
  9,
  'cans',
  Decimal('6.75'),
  Decimal('60.75')),
 ('P002',
  'C002796',
  'T068914',
  'S00624',
  6,
  'bags',
  Decimal('17.0'),
  Decimal('102.0')),
 ('P032',
  'C005519',
  'T050958',
  'S00549',
  3,
  'ct',
  Decimal('14.0'),
  Decimal('42.0')),
 ('P004',
  'C003460',
  'T025941',
  'S0034',
  4,
  'oz',
  Decimal('10.0'),
  Decimal('40.0')),
 ('P006',
  'C005672',
  'T044432',
  'S00248',
  6,
  'ct',
  Decimal('15.0'),
  Decimal('90.0')),
 ('P034',
  'C007281',
  'T083858',
  'S00451',
  4,
  'ct',
  Decimal('21.0'),
  Decimal('84.0')),
 ('P038',
  'C008944',
  'T07376',
  'S00505',
  4,
  'cans',
  Decimal('6.75'),
  Decimal('27.0')),
 ('P032',
  'C007426',
  'T045335',
  'S00670',
  3,
  'ct',
  Decimal('20.0'),
  Decimal('60.0')),
 ('P024',
  'C004033',
  'T068656',
  'S00515',
  10,
  'cans',
  Decimal('40.0'),
  Decimal('400.0')),
 ('P025',
  'C007308',
  'T065074',
  'S00362',
  4,
  'ct',
  Decimal('21.0'),
  Decimal('84.0')),
 ('P005',
  'C008308',
  'T027450',
  'S00214',
  11,
  'cans',
  Decimal('8.0'),
  Decimal('88.0')),
 ('P009',
  'C000369',
  'T038151',
  'S00148',
  6,
  'bottles',
  Decimal('11.0'),
  Decimal('66.0')),
 ('P033',
  'C002064',

In [ ]:
fact_table_df = pd.DataFrame(list(records), columns=['payment_key', 'coustomer_key', 'time_key', 'item_key','store_key', 'quantity', 'unit_price','total_price'])
fact_table_df