In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras
import matplotlib.pyplot as plt

In [2]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "Nabila12345@",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database"),
        return self.connection

### Q4: Total sales in 2015

In [4]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = " SELECT t.year,SUM(f.total_price)" \
              " From ecomdb_star_schema.fact_table f " \
              "JOIN ecomdb_star_schema.time_dim t on t.time_key=f.time_key" \
              " Where t.year ='2015'" \
              " GROUP BY t.year "
cur.execute(select_stmt)
records = cur.fetchall()
records

successfully connected to database

[(2015, Decimal('15095720.25'))]

In [5]:
df = pd.DataFrame(list(records), columns=['Year','Total_Sales'])
df

   Year  Total_Sales
0  2015  15095720.25