### Package installation

In [ ]:
pip install psycopg2

In [ ]:
pip install pandas

In [ ]:
pip install openpyxl

### Import required Packages

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract

***Read from excel file***

In [8]:
DATA_DIR = "/eSRD-Lab/HDA/dataset/"

In [11]:
trans_dim = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=1, engine='openpyxl')

In [12]:
trans_dim

   payment_key trans_type                                          bank_name
0         P001       cash                                               None
1         P002       card                                    AB Bank Limited
2         P003       card                   Bangladesh Commerce Bank Limited
3         P004       card                                  Bank Asia Limited
4         P005       card                                  BRAC Bank Limited
5         P006       card                              Citizens Bank Limited
6         P007       card                                  City Bank Limited
7         P008       card                  Community Bank Bangladesh Limited
8         P009       card                                 Dhaka Bank Limited
9         P010       card                          Dutch-Bangla Bank Limited
10        P011       card                               Eastern Bank Limited
11        P012       card                                  IFIC Bank Limited
12        P013       card                                Jamuna Bank Limited
13        P014       card                                Meghna Bank Limited
14        P015       card                            Mercantile Bank Limited
15        P016       card                               Midland Bank Limited
16        P017       card                             Modhumoti Bank Limited
17        P018       card                          Mutual Trust Bank Limited
18        P019       card                              National Bank Limited
19        P020       card            National Credit & Commerce Bank Limited
20        P021       card                                   NRB Bank Limited
21        P022       card                            NRB Commercial Bank Ltd
22        P023       card                                NRB Global Bank Ltd
23        P024       card                                   One Bank Limited
24        P025       card                                 Padma Bank Limited
25        P026       card                               Premier Bank Limited
26        P027       card                                 Prime Bank Limited
27        P028       card                                Pubali Bank Limited
28        P029       card                              Standard Bank Limited
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

### load Trans_dim data from xlsx

In [5]:
trans_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Trans_dim')
trans_dim.head(10)

  payment_key trans_type                          bank_name
0        P001       cash                               None
1        P002       card                    AB Bank Limited
2        P003       card   Bangladesh Commerce Bank Limited
3        P004       card                  Bank Asia Limited
4        P005       card                  BRAC Bank Limited
5        P006       card              Citizens Bank Limited
6        P007       card                  City Bank Limited
7        P008       card  Community Bank Bangladesh Limited
8        P009       card                 Dhaka Bank Limited
9        P010       card          Dutch-Bangla Bank Limited

In [7]:
#checking for null values
trans_dim.isna().sum()

payment_key    0
trans_type     0
bank_name      0
dtype: int64

### load Store_dim data from xlsx

In [8]:
store_df = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Store_dim')
store_df.head(5)

  store_key division  district         upazila
0     S0001   SYLHET  HABIGANJ      AJMIRIGANJ
1     S0002   SYLHET  HABIGANJ         BAHUBAL
2     S0003   SYLHET  HABIGANJ      BANIACHONG
3     S0004   SYLHET  HABIGANJ     CHUNARUGHAT
4     S0005   SYLHET  HABIGANJ  HABIGANJ SADAR

In [9]:
store_df.dtypes

store_key    object
division     object
district     object
upazila      object
dtype: object

In [10]:
#checking for null values
store_df.isna().sum()

store_key    0
division     0
district     0
upazila      0
dtype: int64

### load Customer data

In [11]:
Coustomer_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Coustomer_dim')
Coustomer_dim.head(5)

  coustomer_key             name     contact_no            nid
0       C000001            sumit  8801920345851  7505075708899
1       C000002         tammanne  8801817069329  1977731324842
2       C000003    kailash kumar  8801663795774  3769494056318
3       C000004  bhagwati prasad  8801533627961  9378834712725
4       C000005             ajay  8801943715786  3540815556323

In [12]:
Coustomer_dim.dtypes

coustomer_key    object
name             object
contact_no        int64
nid               int64
dtype: object

In [16]:
#checking for null values
store_df.isnull().sum()

store_key    0
division     0
district     0
upazila      0
dtype: int64

### Load Time Data

In [2]:
time_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Time_dim')
time_dim.head(10)

  time_key              date  hour  day      week  month quarter  year
0   T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1   T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2   T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3   T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4   T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
5   T00006  10-02-2017 06:56     6   10  2nd Week      2      Q1  2017
6   T00007  06-05-2015 17:52    17    6  1st Week      5      Q2  2015
7   T00008  23-09-2014 13:59    13   23  4th Week      9      Q3  2014
8   T00009  16-04-2016 06:45     6   16  3rd Week      4      Q2  2016
9   T00010  26-10-2015 22:00    22   26  4th Week     10      Q4  2015

In [3]:
time_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   time_key  99999 non-null  object
 1   date      99999 non-null  object
 2   hour      99999 non-null  int64
 3   day       99999 non-null  int64
 4   week      99999 non-null  object
 5   month     99999 non-null  int64
 6   quarter   99999 non-null  object
 7   year      99999 non-null  int64
dtypes: int64(4), object(4)
memory usage: 6.1+ MB

In [6]:
#checking for null values
time_dim.isnull().sum()

time_key    0
dates       0
hour        0
day         0
week        0
month       0
quarter     0
year        0
dtype: int64

### Load Item data

In [19]:
item_dim = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Item_dim')
item_dim.head(10)

,item_key,item_name,desc,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,a. Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,a. Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,a. Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,a. Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,a. Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

In [20]:
#checking for null values
item_dim.isna().sum()

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           1
dtype: int64

### Load Data From Fact Table

In [16]:
fact_df = pd.read_excel (r'C:\Users\HP\dataset\e-commerece_data.xlsx', sheet_name='Fact_table')
fact_df.head(10)

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.00,35.00
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.00,26.00
2,P030,C007261,T03633,I00195,S00496,8,ct,12.50,100.00
3,P032,C007048,T084631,I00131,S0086,8,ct,14.00,112.00
4,P014,C006430,T071276,I00050,S00488,8,cans,8.00,64.00
5,P006,C007574,T026950,I00058,S00328,5,bottles,22.00,110.00
6,P023,C005695,T096704,I00075,S00196,2,cans,15.50,31.00
7,P027,C008728,T010756,I00188,S0010,1,ct,14.00,14.00
8,P025,C002764,T017598,I00017,S00164,11,cans,6.75,74.25
9,P019,C003128,T048812,I00133,S00640,10,ct,15.00,150.00

In [17]:
#checking for null values
fact_df.isnull().sum()

payment_key         0
coustomer_key       0
time_key            0
item_key            0
store_key           0
quantity            0
unit             3723
unit_price          0
total_price         0
dtype: int64

There are some missing values in unit column. need to fill missing values

## Handle missing values

#### Fill missing values with the most frequent value

In [21]:
item_dim = item_dim.fillna(item_dim.mode().iloc[0])

In [22]:
item_dim.isnull().sum()

item_key       0
item_name      0
desc           0
unit_price     0
man_country    0
supplier       0
unit           0
dtype: int64

In [23]:
item_dim.rename(columns = {'desc':'descript'}, inplace = True)
item_dim.head(10)

,item_key,item_name,descript,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,a. Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,a. Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,a. Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,a. Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,a. Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,a. Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,a. Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,a. Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,a. Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,a. Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

Need to process the the description column

### Transform

***Transform description values using regex***

In [29]:
item_dim["descript"] = item_dim["descript"].replace(to_replace='^a.',value='',regex=True)

In [30]:
item_dim["descript"].head(60)

0                Beverage - Soda
1                Beverage - Soda
2                Beverage - Soda
3                Beverage - Soda
4                Beverage - Soda
5                Beverage - Soda
6                Beverage - Soda
7                Beverage - Soda
8                Beverage - Soda
9                Beverage - Soda
10               Beverage - Soda
11               Beverage - Soda
12               Beverage - Soda
13               Beverage - Soda
14               Beverage - Soda
15               Beverage - Soda
16               Beverage - Soda
17               Beverage - Soda
18               Beverage - Soda
19               Beverage - Soda
20               Beverage - Soda
21               Beverage - Soda
22               Beverage - Soda
23               Beverage - Soda
24               Beverage - Soda
25               Beverage - Soda
26               Beverage - Soda
27               Beverage - Soda
28               Beverage - Soda
29      Beverage Sparkling Water
30      Beverage Sparkling Water
31      Beverage Sparkling Water
32      Beverage Sparkling Water
33      Beverage Sparkling Water
34      Beverage Sparkling Water
35      Beverage Sparkling Water
36      Beverage Sparkling Water
37      Beverage Sparkling Water
38      Beverage Sparkling Water
39      Beverage Sparkling Water
40      Beverage Sparkling Water
41      Beverage Sparkling Water
42      Beverage Sparkling Water
43      Beverage Sparkling Water
44      Beverage Sparkling Water
45      Beverage Sparkling Water
46      Beverage Sparkling Water
47      Beverage Sparkling Water
48      Beverage Sparkling Water
49      Beverage Sparkling Water
50    Beverage - Energy/Protein
51     Beverage - Energy/Protein
52     Beverage - Energy/Protein
53     Beverage - Energy/Protein
54     Beverage - Energy/Protein
55     Beverage - Energy/Protein
56     Beverage - Energy/Protein
57     Beverage - Energy/Protein
58     Beverage - Energy/Protein
59     Beverage - Energy/Protein
Name: descript, dtype: object

In [33]:
item_dim.head(10)

,item_key,item_name,descript,unit_price,man_country,supplier,unit
0,I00001,A&W Root Beer - 12 oz cans,Beverage - Soda,11.50,Netherlands,Bolsius Boxmeer,cans
1,I00002,A&W Root Beer Diet - 12 oz cans,Beverage - Soda,6.75,poland,CHROMADURLIN S.A.S,cans
2,I00003,Barq's Root Beer - 12 oz cans,Beverage - Soda,6.75,Bangladesh,DENIMACH LTD,cans
3,I00004,Cherry Coke 12oz,Beverage - Soda,6.75,Netherlands,Bolsius Boxmeer,cans
4,I00005,Cherry Coke Zero 12 pack,Beverage - Soda,6.75,Finland,HARDFORD AB,cans
5,I00006,Coke Classic 12 oz cans,Beverage - Soda,16.25,Lithuania,BIGSO AB,cans
6,I00007,Coke Classic 12 oz cans,Beverage - Soda,6.75,India,Indo Count Industries Ltd,cans
7,I00008,Coke Zero Sugar 12 oz cans,Beverage - Soda,16.25,India,Indo Count Industries Ltd,cans
8,I00009,Diet Coke - 12 oz cans,Beverage - Soda,16.25,Netherlands,Bolsius Boxmeer,cans
9,I00010,Diet Coke - 12 oz cans,Beverage - Soda,6.75,Lithuania,BIGSO AB,cans

***Transfrom Time Data***

In [4]:
time_dim.rename(columns = {'date':'dates'}, inplace = True)
time_dim.head(10)

  time_key             dates  hour  day      week  month quarter  year
0   T00001  20-05-2017 14:56    14   20  3rd Week      5      Q2  2017
1   T00002  30-01-2015 22:14    22   30  4th Week      1      Q1  2015
2   T00003  14-03-2020 02:34     2   14  2nd Week      3      Q1  2020
3   T00004  27-04-2018 12:19    12   27  4th Week      4      Q2  2018
4   T00005  14-04-2018 10:43    10   14  2nd Week      4      Q2  2018
5   T00006  10-02-2017 06:56     6   10  2nd Week      2      Q1  2017
6   T00007  06-05-2015 17:52    17    6  1st Week      5      Q2  2015
7   T00008  23-09-2014 13:59    13   23  4th Week      9      Q3  2014
8   T00009  16-04-2016 06:45     6   16  3rd Week      4      Q2  2016
9   T00010  26-10-2015 22:00    22   26  4th Week     10      Q4  2015

***Transform date format***

In [7]:
time_dim.dates=pd.to_datetime(time_dim.dates)

In [8]:
time_dim.dates

0       2017-05-20 14:56:00
1       2015-01-30 22:14:00
2       2020-03-14 02:34:00
3       2018-04-27 12:19:00
4       2018-04-14 10:43:00
                ...
99994   2015-04-01 17:22:00
99995   2015-01-17 21:09:00
99996   2020-01-23 14:42:00
99997   2015-10-31 13:52:00
99998   2017-08-06 08:59:00
Name: dates, Length: 99999, dtype: datetime64[ns]

In [9]:
time_dim.head(10)

  time_key               dates  hour  day      week  month quarter  year
0   T00001 2017-05-20 14:56:00    14   20  3rd Week      5      Q2  2017
1   T00002 2015-01-30 22:14:00    22   30  4th Week      1      Q1  2015
2   T00003 2020-03-14 02:34:00     2   14  2nd Week      3      Q1  2020
3   T00004 2018-04-27 12:19:00    12   27  4th Week      4      Q2  2018
4   T00005 2018-04-14 10:43:00    10   14  2nd Week      4      Q2  2018
5   T00006 2017-10-02 06:56:00     6   10  2nd Week      2      Q1  2017
6   T00007 2015-06-05 17:52:00    17    6  1st Week      5      Q2  2015
7   T00008 2014-09-23 13:59:00    13   23  4th Week      9      Q3  2014
8   T00009 2016-04-16 06:45:00     6   16  3rd Week      4      Q2  2016
9   T00010 2015-10-26 22:00:00    22   26  4th Week     10      Q4  2015

***Fill missing value for unit column in fact Table***

In [19]:
fact_df["unit"] = fact_df["unit"] .fillna(fact_df["unit"].mode().iloc[0])

In [20]:
fact_df["unit"].isnull().sum()

0

In [21]:
fact_df.isnull().sum()

payment_key      0
coustomer_key    0
time_key         0
item_key         0
store_key        0
quantity         0
unit             0
unit_price       0
total_price      0
dtype: int64

### Load

***Connect to the database***

In [31]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "afra1234",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [32]:
con = PostgresConnection().getConnection()

successfully connected to database

### Data Insertion

In [ ]:
insert_stmt = "INSERT INTO ecom_schema.trans_dim ( payment_key, trans_type, bank_name)" \
            " VALUES (%s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, trans_dim.values)
con.commit()
cur.close()

In [17]:
insert_stmt = "INSERT INTO ecom_schema.store_dim ( store_key, division, district, upazila)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, store_df.values)
con.commit()
cur.close()

In [23]:
insert_stmt = "INSERT INTO ecom_schema.coustomer_dim ( coustomer_key, name, contact_no, nid)" \
            " VALUES (%s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, Coustomer_dim.values)
con.commit()
cur.close()

In [36]:
insert_stmt = "INSERT INTO ecom_schema.item_dim ( item_key, item_name, descript, unit_price, man_country, supplier, unit)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, item_dim.values)
con.commit()
cur.close()

In [15]:
insert_stmt = "INSERT INTO ecom_schema.time_dim ( time_key, dates, hour, day, week, month, quarter, year)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, time_dim.values)
con.commit()
cur.close()

In [24]:
insert_stmt = "INSERT INTO ecom_schema.fact_table ( payment_key, coustomer_key, time_key, item_key, store_key, quantity, unit, unit_price, total_price)" \
            " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_df.values)
con.commit()
cur.close()

## Fetch Data from Database

***Fetch Trans data***

In [26]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecom_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [28]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df.tail(10)

   payment_key trans_type                                          bank_name
29        P030       card                                  Shimanto Bank Ltd
30        P031       card                             Southeast Bank Limited
31        P032       card  South Bangla Agriculture and Commerce Bank Lim...
32        P033       card                                 Trust Bank Limited
33        P034       card                         United Commercial Bank Ltd
34        P035       card                                Uttara Bank Limited
35        P036       card                         Bengal Commercial Bank Ltd
36        P037     mobile                                              Bkash
37        P038     mobile                                             Rocket
38        P039     mobile                                              Nagad

***Fetch Item data***

In [29]:
cur = con.cursor()
select_stmt = "SELECT t.item_key , t.item_name, t.descript, t.unit_price, t.man_country, t.supplier, t.unit " \
              "FROM ecom_schema.item_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('I00001',
  'A&W Root Beer - 12 oz cans',
  ' Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00002',
  'A&W Root Beer Diet - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00003',
  "Barq's Root Beer - 12 oz cans",
  ' Beverage - Soda',
  Decimal('6.75'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00004',
  'Cherry Coke 12oz',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00005',
  'Cherry Coke Zero 12 pack',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00006',
  'Coke Classic 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00007',
  'Coke Classic 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00008',
  'Coke Zero Sugar 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00009',
  'Diet Coke - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00010',
  'Diet Coke - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00011',
  'Diet Coke Caffeine Free 12oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00012',
  'Diet Dr. Pepper - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00013',
  'Diet Gingerale 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00014',
  'Diet Mountain Dew 12oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00015',
  'Diet Pepsi - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00016',
  'Dr. Pepper - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00017',
  'Fresca Black Cherry - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00018',
  'Fresca Original - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00019',
  'Fresca Peach Citrus - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00020',
  'Ginger Ale - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00021',
  'Hawaiian Punch - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00022',
  'Mountain Dew - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00023',
  'Pepsi - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00024',
  'Pepsi - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00025',
  'Seven Up - 12 oz cans',
  ' Beverage - Soda',
  Decimal('11.5'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00026',
  'Sprite - 12 oz cans',
  ' Beverage - Soda',
  Decimal('6.75'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00027',
  'Sprite - 12 oz cans',
  ' Beverage - Soda',
  Decimal('16.25'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00028',
  'Sprite Zero - 12 pack',
  ' Beverage - Soda',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00029',
  'Sunkist Orange - 12 oz cans',
  ' Beverage - Soda',
  Decimal('11.5'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00030',
  'La Croix Sparkling Berry 12 ozv',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00031',
  'La Croix Sparkling Coconut 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00032',
  'La Croix Sparkling Cran-Raspberry 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00033',
  'La Croix Sparkling Grapefruit 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00034',
  'La Croix Sparkling Lemon 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00035',
  'La Croix Sparkling Lime 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00036',
  'La Croix Sparkling Orange 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00037',
  'La Croix Sparkling Pure 12 oz',
  ' Beverage Sparkling Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'cans'),
 ('I00038',
  'Perrier Flavors Sparkling Water 16.9oz',
  ' Beverage Sparkling Water',
  Decimal('23.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00039',
  'Perrier Sparkling Water glass 11oz',
  ' Beverage Sparkling Water',
  Decimal('26.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00040',
  'Perrier Sparkling Water plastic 16.9oz',
  ' Beverage Sparkling Water',
  Decimal('22.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00041',
  'San Pelligrino 16oz Plastic ',
  ' Beverage Sparkling Water',
  Decimal('23.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00042',
  'Topo Chico 12 oz glass',
  ' Beverage Sparkling Water',
  Decimal('28.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00043',
  'Topo Chico 20oz plastic',
  ' Beverage Sparkling Water',
  Decimal('24.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00044',
  'Waterloo Sparkling Blackcherry 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'cans'),
 ('I00045',
  'Waterloo Sparkling Grapefruit 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'cans'),
 ('I00046',
  'Waterloo Sparkling Lemon 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00047',
  'Waterloo Sparkling Lime 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'India',
  'Indo Count Industries Ltd',
  'cans'),
 ('I00048',
  'Waterloo Sparkling Mango 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00049',
  'Waterloo Sparkling Original 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00050',
  'Waterloo Sparkling Watermelon 12oz',
  ' Beverage Sparkling Water',
  Decimal('8.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00051',
  'Monster Java 15 oz',
  'Beverage - Energy/Protein ',
  Decimal('23.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00052',
  'Monster Lo-Carb 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00053',
  'Monster Original Green 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'cans'),
 ('I00054',
  'Monster Zero Ultra 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00055',
  'Monster Zero Ultra Variety 16 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00056',
  'Muscle Milk Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00057',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00058',
  'Premier Protein Shake Choc. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00059',
  'Muscle Milk Protein Shake Van. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00060',
  'Muscle Milk Protein Shake Strbry. 11oz',
  'Beverage - Energy/Protein',
  Decimal('22.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'bottles'),
 ('I00061',
  'Red Bull 12oz',
  'Beverage - Energy/Protein',
  Decimal('55.0'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00062',
  'Red Bull 16oz',
  'Beverage - Energy/Protein',
  Decimal('37.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'cans'),
 ('I00063',
  'Red Bull 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00064',
  'Red Bull Sugar Free 8.4 oz',
  'Beverage - Energy/Protein',
  Decimal('40.0'),
  'Lithuania',
  'BIGSO AB',
  'cans'),
 ('I00065',
  'G2 Lo Calorie Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00066',
  'Gatorade Frost Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00067',
  'Gatorade Lemon Lime 12oz',
  'Beverage - Gatorade',
  Decimal('8.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00068',
  'Gatorade Liberty Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'India',
  'Indo Count Industries Ltd',
  'bottles'),
 ('I00069',
  'Gatorade Frost Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00070',
  'Gatorade Liberty Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'United States',
  'MAESA SAS',
  'bottles'),
 ('I00071',
  'Gatorade Original Variety 12 oz',
  'Beverage - Gatorade',
  Decimal('17.5'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00072',
  'Gatorade Variety 20 oz ',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00073',
  'Gatorade X-Factor Fierce Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00074',
  'Gatorade Zero Variety 20 oz',
  'Beverage - Gatorade',
  Decimal('20.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00075',
  'Brisk Lemon Iced Tea - 12 oz cans',
  'Beverage - Iced Tea',
  Decimal('15.5'),
  'United States',
  'MAESA SAS',
  'cans'),
 ('I00076',
  'Diet Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'Germany',
  'Friedola 1888 GmbH',
  'cans'),
 ('I00077',
  'Fuze Iced Tea',
  'Beverage - Iced Tea',
  Decimal('6.75'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00078',
  'Pure Leaf Sweet Tea 8.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00079',
  'Pure Leaf Unsweetened Tea 18.5oz',
  'Beverage - Iced Tea',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00080',
  'Snapple Variety Pack 20oz',
  'Beverage - Iced Tea',
  Decimal('22.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00081',
  'Tejava Unsweetened Black Tea 16.9oz',
  'Beverage - Iced Tea',
  Decimal('29.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00082',
  '100% Juice Box Variety 6.75 oz ',
  'Beverage - Juice',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00083',
  'Ocean Spray Cranberry Juice Cocktail 15oz ',
  'Beverage - Juice',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'bottles'),
 ('I00084',
  'Tropicana Apple Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00085',
  'Tropicana Orange Juice 10 oz 100% ',
  'Beverage - Juice',
  Decimal('18.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00086',
  'V8 100% Vegetable Juice 11oz cans',
  'Beverage - Juice',
  Decimal('18.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'cans'),
 ('I00087',
  'V-8 Splash Variety 20 oz',
  'Beverage - Juice',
  Decimal('15.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'bottles'),
 ('I00088',
  "Welch's 100% Juice Variety10 oz",
  'Beverage - Juice',
  Decimal('17.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00089',
  'AquaFina Purified Drinking Water 16oz',
  'Beverage Water',
  Decimal('9.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'bottles'),
 ('I00090',
  'Dasani Bottled Water 16.9 oz',
  'Beverage Water',
  Decimal('9.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00091',
  'Nestle Purelife 16oz ',
  'Beverage Water',
  Decimal('7.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00092',
  'Ozarka Spring Water 16.9 oz bottles',
  'Beverage Water',
  Decimal('10.0'),
  'Lithuania',
  'BIGSO AB',
  'bottles'),
 ('I00093',
  'Ozarka Spring Water 20 oz',
  'Beverage Water',
  Decimal('13.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'bottles'),
 ('I00094',
  'Ozarka Spring Water Mini 8oz',
  'Beverage Water',
  Decimal('11.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'bottles'),
 ('I00095',
  'Propel Zero Variety 20 oz',
  'Beverage Water',
  Decimal('16.0'),
  'Finland',
  'HARDFORD AB',
  'botlltes'),
 ('I00096',
  'Sobe Zero Lifewater Variety 20 oz',
  'Beverage Water',
  Decimal('20.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'bottles'),
 ('I00097',
  'Vita Coconut Water 10oz ',
  'Beverage Water',
  Decimal('19.0'),
  'India',
  'Indo Count Industries Ltd',
  'cartons'),
 ('I00098',
  'Coffee-Mate French Vanilla Cold',
  'Coffee Cream',
  Decimal('10.0'),
  'Finland',
  'HARDFORD AB',
  'oz'),
 ('I00099',
  'Coffee-Mate Original Flavor Cold',
  'Coffee Cream',
  Decimal('6.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00100',
  'Coffee-mate Original Powdered Creamer',
  'Coffee Cream',
  Decimal('10.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'oz.'),
 ('I00101',
  'French Vanilla International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'tubs'),
 ('I00102',
  "Half & Half -Land o Lakes Mini Moo's",
  'Coffee Cream',
  Decimal('16.0'),
  'Lithuania',
  'BIGSO AB',
  'tubs'),
 ('I00103',
  'Hazelnut International Delight',
  'Coffee Cream',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'tubs'),
 ('I00104',
  'Njoy Creamer Canister 16 oz',
  'Coffee Creamer',
  Decimal('14.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00105',
  'Njoy Creamer Packs',
  'Coffee Creamer',
  Decimal('16.5'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00106',
  'Community Coffee Dark Roast',
  'Coffee Ground',
  Decimal('17.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'oz'),
 ('I00107',
  'Dunkin Donuts Original Blend',
  'Coffee Ground',
  Decimal('20.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'oz'),
 ('I00108',
  'Folgers 100% Colombian Coffee',
  'Coffee Ground',
  Decimal('15.0'),
  'Lithuania',
  'BIGSO AB',
  'oz'),
 ('I00109',
  'Folgers Classic Roast Coffee',
  'Coffee Ground',
  Decimal('17.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'oz'),
 ('I00110',
  "Starbuck's Pike Place",
  'Coffee Ground',
  Decimal('22.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'oz'),
 ('I00111',
  'K Cups Hot Cocoa',
  'Coffee Hot Cocoa',
  Decimal('16.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00112',
  'Swiss Miss Hot Cocoa Mix 1 oz',
  'Coffee Hot Cocoa',
  Decimal('14.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct.'),
 ('I00113',
  'K Cups - McCafe Premium Roast',
  'Coffee K-Cups',
  Decimal('42.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00114',
  "K Cups  Starbuck's Pike Place",
  'Coffee K-Cups',
  Decimal('44.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00115',
  'K Cups Daily Chef Columbian Supremo',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00116',
  'K Cups Dunkin Donuts Medium Roast',
  'Coffee K-Cups',
  Decimal('48.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00117',
  'K Cups Folgers Lively Columbian',
  'Coffee K-Cups',
  Decimal('46.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00118',
  'K Cups Organic Breakfast Blend',
  'Coffee K-Cups',
  Decimal('42.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00119',
  'K Cups Original Donut Shop Med. Roast',
  'Coffee K-Cups',
  Decimal('53.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00120',
  'K Cups - Green Tea',
  'Coffee K-Cups Tea',
  Decimal('9.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00121',
  'Stirrers Coffee Stirs 7inch',
  'Coffee Stirrers',
  Decimal('17.0'),
  'China',
  'CHERRY GROUP CO.,LTD',
  'ct'),
 ('I00122',
  'Equal Sweetener',
  'Coffee Sweetener',
  Decimal('15.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00123',
  'Honey Packets  ',
  'Coffee Sweetener',
  Decimal('45.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00124',
  'Njoy Sugar Canister 22 oz',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00125',
  'Pure White Sugar Packets',
  'Coffee Sweetener',
  Decimal('15.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00126',
  'Splenda Sweetener',
  'Coffee Sweetener',
  Decimal('25.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00127',
  'Sugar in the Raw Packets',
  'Coffee Sweetener',
  Decimal('12.5'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00128',
  'Sweet N Low Sweetener',
  'Coffee Sweetener',
  Decimal('16.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'pk'),
 ('I00129',
  'Truvia Natural Sweetener',
  'Coffee Sweetener',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'pk'),
 ('I00130',
  'Hefty Supreme Foam Bowls 12oz',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00131',
  'Paper Bowls 20 oz Ultra Strong',
  'Dishware - Bowls',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00132',
  'Clear Plastic 12 oz Cups',
  'Dishware - Cups Cold',
  Decimal('14.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00133',
  'Clear Plastic Cups 9oz',
  'Dishware - Cups Cold',
  Decimal('15.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00134',
  'Red Plastic Cups 18oz',
  'Dishware - Cups Cold',
  Decimal('16.0'),
  'Bangladesh',
  'DENIMACH LTD',
  'ct'),
 ('I00135',
  'Chinet Comfort Hot Cups with Lids 16oz',
  'Dishware - Cups Hot',
  Decimal('14.0'),
  'United States',
  'MAESA SAS',
  'ct.'),
 ('I00136',
  'Dixie Perfecttouch Paper Cups 12oz',
  'Dishware - Cups Hot',
  Decimal('19.5'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00137',
  'Foam Coffee Cups - 08 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'United States',
  'MAESA SAS',
  'ct'),
 ('I00138',
  'Foam Coffee Cups - 12 ounce',
  'Dishware - Cups Hot',
  Decimal('32.0'),
  'Lithuania',
  'BIGSO AB',
  'ct'),
 ('I00139',
  'Foam Coffee Cups - 16 ounce',
  'Dishware - Cups Hot',
  Decimal('24.0'),
  'Germany',
  'Friedola 1888 GmbH',
  'ct'),
 ('I00140',
  'Foam Coffee Cups - 20 ounce',
  'Dishware - Cups Hot',
  Decimal('29.0'),
  'Netherlands',
  'Bolsius Boxmeer',
  'ct'),
 ('I00141',
  "Hefty Cmprtmnt Plates Foam 10'",
  'Dishware - Plates',
  Decimal('18.0'),
  'Cambodia',
  'NINGBO SEDUNO IMP & EXP CO.LTD',
  'ct'),
 ('I00142',
  'Hefty Supreme Foam Plates 6 inch',
  'Dishware - Plates',
  Decimal('12.5'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00143',
  'Hefty Supreme Foam Plates 9 inch',
  'Dishware - Plates',
  Decimal('16.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00144',
  'Paper Plate 10 inch Ultra Strong',
  'Dishware - Plates',
  Decimal('20.0'),
  'Finland',
  'HARDFORD AB',
  'ct'),
 ('I00145',
  'Paper Plates 7 inch  Ultra Strong',
  'Dishware - Plates',
  Decimal('17.0'),
  'India',
  'Indo Count Industries Ltd',
  'ct'),
 ('I00146',
  'Paper Plates 8.5 inch Ultra Strong',
  'Dishware - Plates',
  Decimal('21.0'),
  'poland',
  'CHROMADURLIN S.A.S',
  'ct'),
 ('I00147',

In [30]:
item_df = pd.DataFrame(list(records), columns=['item_key', 'item_name', 'descript','unit_price','man_country','supplier','unit'])
item_df.tail(10)

,item_key,item_name,descript,unit_price,man_country,supplier,unit
254,I00255,Kleenex Tissue Rectangle Boxes 160/box,Kitchen Supplies,20.0,Bangladesh,DENIMACH LTD,pack
255,I00256,Kleenex Tissue Square Boxes 75/box,Kitchen Supplies,20.0,Finland,HARDFORD AB,pack
256,I00257,Large Trash Bags Black 33 gal,Kitchen Supplies,21.0,Bangladesh,DENIMACH LTD,ct
257,I00258,Lysol Disinfectant Spray 19 oz,Kitchen Supplies,21.0,United States,MAESA SAS,pk
258,I00259,Lysol Wipes 100 ct,Kitchen Supplies,26.0,United States,MAESA SAS,pack
259,I00260,Napkins Square Lunch,Kitchen Supplies,15.0,Cambodia,NINGBO SEDUNO IMP & EXP CO.LTD,ct
260,I00261,POM 2 ply paper towels,Kitchen Supplies,33.0,Lithuania,BIGSO AB,ct
261,I00262,Strong Everyday Napkins,Kitchen Supplies,14.0,Netherlands,Bolsius Boxmeer,ct
262,I00263,Advil 2 pill packets,Medicine,14.0,Lithuania,BIGSO AB,Ct
263,I00264,Tylenol Extra Strength 2 pill packets,Medicine,15.0,India,Indo Count Industries Ltd,Ct

***Fetch customer data***

In [33]:
cur = con.cursor()
select_stmt = "SELECT t.coustomer_key , t.name, t.contact_no, t.nid " \
              "FROM ecom_schema.coustomer_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('C000001', 'sumit', Decimal('8801920345851'), Decimal('7505075708899')),
 ('C000002', 'tammanne', Decimal('8801817069329'), Decimal('1977731324842')),
 ('C000003',
  'kailash kumar',
  Decimal('8801663795774'),
  Decimal('3769494056318')),
 ('C000004',
  'bhagwati prasad',
  Decimal('8801533627961'),
  Decimal('9378834712725')),
 ('C000005', 'ajay', Decimal('8801943715786'), Decimal('3540815556323')),
 ('C000006', 'silender', Decimal('8801586293092'), Decimal('8516471122484')),
 ('C000007', 'deepak', Decimal('8801839144857'), Decimal('6155559095495')),
 ('C000008', 'akhilesh', Decimal('8801721432538'), Decimal('3287330990302')),
 ('C000009',
  'dipendra kumar',
  Decimal('8801690939578'),
  Decimal('3411433613839')),
 ('C000010', 'nitin', Decimal('8801515224771'), Decimal('9450023534903')),
 ('C000011',
  'doodhnath pandit',
  Decimal('8801738809307'),
  Decimal('6062101033058')),
 ('C000012',
  'aslam allam',
  Decimal('8801748537389'),
  Decimal('9707236385043')),
 ('C000013', 'rahul', Decimal('8801737700905'), Decimal('5790562512938')),
 ('C000014',
  'jitender kumar',
  Decimal('8801656030378'),
  Decimal('4426264282321')),
 ('C000015', 'adnan', Decimal('8801542504763'), Decimal('6225304110824')),
 ('C000016', 'vijay', Decimal('8801843473572'), Decimal('6604672400096')),
 ('C000017', 'yogesh', Decimal('8801612420774'), Decimal('9972938424847')),
 ('C000018', 'kabir', Decimal('8801628865612'), Decimal('4616559264146')),
 ('C000019', 'sarvesh', Decimal('8801744238299'), Decimal('9038873936812')),
 ('C000020',
  'rakesh sarkar',
  Decimal('8801717568366'),
  Decimal('8166178628706')),
 ('C000021',
  'akash gupta',
  Decimal('8801544524790'),
  Decimal('8674064894761')),
 ('C000022', 'rahul', Decimal('8801918987737'), Decimal('7788784415686')),
 ('C000023',
  'pintu thakur',
  Decimal('8801927766002'),
  Decimal('3524475470287')),
 ('C000024', 'vivek', Decimal('8801822634636'), Decimal('3180141771419')),
 ('C000025',
  'mohd khairul',
  Decimal('8801667354036'),
  Decimal('7723439819208')),
 ('C000026',
  'farmaan khan',
  Decimal('8801893834993'),
  Decimal('7698110849478')),
 ('C000027', 'vansu dev', Decimal('8801647300439'), Decimal('8988312820804')),
 ('C000028', 'vansu dev', Decimal('8801712578164'), Decimal('5389305491490')),
 ('C000029',
  'shyam kumar',
  Decimal('8801874210132'),
  Decimal('1522297282496')),
 ('C000030', 'shafibul', Decimal('8801526016641'), Decimal('6656780903090')),
 ('C000031',
  'lalit kathuriya',
  Decimal('8801711184250'),
  Decimal('6833928333375')),
 ('C000032',
  'pooran chand',
  Decimal('8801698869279'),
  Decimal('3538485574648')),
 ('C000033',
  'aamir hussain',
  Decimal('8801777189774'),
  Decimal('1373157059775')),
 ('C000034',
  'kamal jit singh',
  Decimal('8801646911049'),
  Decimal('7590641619606')),
 ('C000035', 'shiv kumar', Decimal('8801644450315'), Decimal('1761537786853')),
 ('C000036',
  'mayank chaudhary @ rahul',
  Decimal('8801661230831'),
  Decimal('9027785199298')),
 ('C000037', 'rohit', Decimal('8801923590953'), Decimal('9826607664591')),
 ('C000038', 'som dutt', Decimal('8801952058891'), Decimal('9339490714426')),
 ('C000039',
  'bablu regar',
  Decimal('8801537552720'),
  Decimal('9915897050589')),
 ('C000040', 'rohit', Decimal('8801687111649'), Decimal('2250720242634')),
 ('C000041', 'rajkumar', Decimal('8801743750264'), Decimal('2275756669405')),
 ('C000042', 'mubarik', Decimal('8801750166621'), Decimal('3929448222437')),
 ('C000043', 'niraj', Decimal('8801935930205'), Decimal('2121307520756')),
 ('C000044',
  'sarbjeet @ ronak',
  Decimal('8801768252111'),
  Decimal('2254865405748')),
 ('C000045', 'axat', Decimal('8801995291805'), Decimal('7409706667535')),
 ('C000046', 'amit', Decimal('8801628366788'), Decimal('3144156768483')),
 ('C000047',
  'anubhav shrivastab',
  Decimal('8801670825340'),
  Decimal('2404227777323')),
 ('C000048', 'akkash', Decimal('8801614834788'), Decimal('1646452111288')),
 ('C000049', 'himanshu', Decimal('8801963230106'), Decimal('6134468379503')),
 ('C000050',
  'harsh dagar',
  Decimal('8801717553729'),
  Decimal('6599359966721')),
 ('C000051', 'anil kumar', Decimal('8801529215191'), Decimal('7449955169512')),
 ('C000052',
  'vijay virmani',
  Decimal('8801898159810'),
  Decimal('8092255474388')),
 ('C000053',
  'vivek auhari',
  Decimal('8801578068355'),
  Decimal('1916290391358')),
 ('C000054', 'sachin', Decimal('8801924170262'), Decimal('2727834743260')),
 ('C000055',
  'subhash chand bhatia',
  Decimal('8801810622191'),
  Decimal('4970977659761')),
 ('C000056', 'bhupender', Decimal('8801947122143'), Decimal('3057300958563')),
 ('C000057',
  'raghunandan das',
  Decimal('8801532143975'),
  Decimal('5263290638084')),
 ('C000058', 'sanjay', Decimal('8801855097612'), Decimal('1514437931498')),
 ('C000059', 'ajay kumar', Decimal('8801921240990'), Decimal('6260708988679')),
 ('C000060', 'yognder', Decimal('8801638316246'), Decimal('3367770095638')),
 ('C000061', 'subhash', Decimal('8801665880144'), Decimal('3000248828887')),
 ('C000062',
  'arun @ vicky',
  Decimal('8801866477827'),
  Decimal('4266985070251')),
 ('C000063', 'rahul', Decimal('8801512878636'), Decimal('9533375494747')),
 ('C000064', 'vikas', Decimal('8801534770856'), Decimal('8648180768122')),
 ('C000065', 'vinod', Decimal('8801698573991'), Decimal('1644659365871')),
 ('C000066', 'salman', Decimal('8801947559107'), Decimal('3088660716383')),
 ('C000067',
  'mohan kumar',
  Decimal('8801770773279'),
  Decimal('4410752435075')),
 ('C000068',
  'sandeep meghawal',
  Decimal('8801541388189'),
  Decimal('7492642038612')),
 ('C000069', 'imamudeen', Decimal('8801614894767'), Decimal('4718838585576')),
 ('C000070',
  'sandeep kumar',
  Decimal('8801857439507'),
  Decimal('8040583637007')),
 ('C000071', 'tarjan', Decimal('8801685610321'), Decimal('4102275273774')),
 ('C000072',
  'kuldeep singh',
  Decimal('8801953243498'),
  Decimal('7038273353557')),
 ('C000073', 'murari', Decimal('8801795628643'), Decimal('2283120720995')),
 ('C000074', 'ramvilash', Decimal('8801967797331'), Decimal('1979259403439')),
 ('C000075', 'jagdish', Decimal('8801766011925'), Decimal('9139438039454')),
 ('C000076',
  'vishal @ moni',
  Decimal('8801835172783'),
  Decimal('8115792094526')),
 ('C000077',
  'mohd shahid',
  Decimal('8801959642215'),
  Decimal('2617465125963')),
 ('C000078', 'ramvilash', Decimal('8801759073688'), Decimal('6720482051449')),
 ('C000079', 'kuldeep', Decimal('8801722483056'), Decimal('4579963572359')),
 ('C000080', 'talim', Decimal('8801916095095'), Decimal('5513231513847')),
 ('C000081',
  'nanku prasad',
  Decimal('8801991833172'),
  Decimal('9739357067896')),
 ('C000082',
  'bhola sarkar',
  Decimal('8801835611685'),
  Decimal('8639232379379')),
 ('C000083', 'balraj', Decimal('8801933656310'), Decimal('1479792048835')),
 ('C000084',
  'ravindra kumar',
  Decimal('8801876393480'),
  Decimal('5509560089072')),
 ('C000085',
  'rohit kumar',
  Decimal('8801527487490'),
  Decimal('8882208281974')),
 ('C000086',
  'uttam kumar @ sanki',
  Decimal('8801845551840'),
  Decimal('2231919872169')),
 ('C000087', 'babalu sen', Decimal('8801537499672'), Decimal('4300971303971')),
 ('C000088',
  'rustam shah',
  Decimal('8801771799883'),
  Decimal('4682037288699')),
 ('C000089', 'sukhdev', Decimal('8801613019793'), Decimal('5390888225047')),
 ('C000090',
  'b vikjay kumar',
  Decimal('8801691875707'),
  Decimal('2140216911324')),
 ('C000091',
  'dolly @ rekha w/o monto shah',
  Decimal('8801722771508'),
  Decimal('5294846046662')),
 ('C000092',
  'gopal sharma',
  Decimal('8801632649652'),
  Decimal('3051979586369')),
 ('C000093', 'beeru', Decimal('8801710588748'), Decimal('4117878363612')),
 ('C000094', 'vipin', Decimal('8801547576926'), Decimal('2846801847000')),
 ('C000095',
  'manish garg',
  Decimal('8801652398658'),
  Decimal('9055154533399')),
 ('C000096', 'guddu', Decimal('8801951847045'), Decimal('3007242011292')),
 ('C000097',
  'jatin @ sonu',
  Decimal('8801555327433'),
  Decimal('3969980579507')),
 ('C000098', 'amit kumar', Decimal('8801716978984'), Decimal('9671406324392')),
 ('C000099', 'amit kumar', Decimal('8801928570937'), Decimal('1183895928227')),
 ('C000100', 'shadab', Decimal('8801693772500'), Decimal('9372163963679')),
 ('C000101', 'rakesh', Decimal('8801548153394'), Decimal('7898806955965')),
 ('C000102', 'guddu', Decimal('8801854253555'), Decimal('5822711987369')),
 ('C000103', 'abhishek', Decimal('8801788699335'), Decimal('1889746530634')),
 ('C000104', 'gulfam', Decimal('8801945626755'), Decimal('9543881673306')),
 ('C000105',
  'phoolwati @ phoolo devi',
  Decimal('8801955953601'),
  Decimal('4186047975085')),
 ('C000106', 'mohit maan', Decimal('8801561170462'), Decimal('1060192784143')),
 ('C000107',
  'veer bhan singh',
  Decimal('8801775846669'),
  Decimal('2626567007414')),
 ('C000108',
  'dinesh kumar',
  Decimal('8801640699284'),
  Decimal('3379402271007')),
 ('C000109', 'amarjeet', Decimal('8801930945428'), Decimal('7676991412031')),
 ('C000110', 'satyadev', Decimal('8801739529373'), Decimal('4256611986807')),
 ('C000111',
  'mohd. mukhtaar',
  Decimal('8801961104394'),
  Decimal('9675769561440')),
 ('C000112', 'rishi', Decimal('8801690192757'), Decimal('6751913510239')),
 ('C000113',
  'esrail khan',
  Decimal('8801517948677'),
  Decimal('9799124337555')),
 ('C000114',
  'suresh kumar',
  Decimal('8801834599819'),
  Decimal('3044085422652')),
 ('C000115',
  'pankaj chand',
  Decimal('8801874784965'),
  Decimal('2046019678137')),
 ('C000116',
  'ajay narayan',
  Decimal('8801545070946'),
  Decimal('4499489926930')),
 ('C000117',
  'mohit @ himanshu',
  Decimal('8801969877482'),
  Decimal('8824188856755')),
 ('C000118', 'sumit', Decimal('8801527791385'), Decimal('8549954212273')),
 ('C000119', 'saddam', Decimal('8801837321994'), Decimal('5198144162236')),
 ('C000120',
  'nikhleshwar bhagat',
  Decimal('8801849762160'),
  Decimal('4675818253736')),
 ('C000121', 'jai singh', Decimal('8801976120404'), Decimal('4205367408686')),
 ('C000122', 'deepak', Decimal('8801546432604'), Decimal('2108529027897')),
 ('C000123',
  'sunil kumar',
  Decimal('8801944058180'),
  Decimal('6646678328210')),
 ('C000124', 'ram kishan', Decimal('8801573278870'), Decimal('6086032269792')),
 ('C000125', 'arun', Decimal('8801598214973'), Decimal('8821759463255')),
 ('C000126', 'virender', Decimal('8801891486983'), Decimal('2176468562125')),
 ('C000127', 'bishun', Decimal('8801826730315'), Decimal('5314660826463')),
 ('C000128',
  'pritam singh',
  Decimal('8801899179830'),
  Decimal('7370494384715')),
 ('C000129',
  'akash gupta',
  Decimal('8801757534751'),
  Decimal('8519942248745')),
 ('C000130', 'kishan', Decimal('8801776901054'), Decimal('4080661383506')),
 ('C000131',
  'mohd kausar',
  Decimal('8801931566073'),
  Decimal('5235063645047')),
 ('C000132', 'sachin', Decimal('8801652365114'), Decimal('6398794856537')),
 ('C000133',
  'harman singh',
  Decimal('8801651826021'),
  Decimal('7039346422709')),
 ('C000134', 'deepak', Decimal('8801964447283'), Decimal('9773587232876')),
 ('C000135', 'rajbir', Decimal('8801786243132'), Decimal('3333830592611')),
 ('C000136', 'vinod lal', Decimal('8801946712905'), Decimal('5664517212718')),
 ('C000137', 'NaN', Decimal('8801554462380'), Decimal('2427034079235')),
 ('C000138',
  'chander shaker',
  Decimal('8801529905109'),
  Decimal('6834834439620')),
 ('C000139', 'krishan', Decimal('8801853490217'), Decimal('6728512543000')),
 ('C000140', 'ram ji', Decimal('8801975713946'), Decimal('6946083464268')),
 ('C000141', 'jony', Decimal('8801623144149'), Decimal('6674685341498')),
 ('C000142',
  'mohammad ali',
  Decimal('8801741834704'),
  Decimal('3813953777751')),
 ('C000143',
  'ashok kumar s/o',
  Decimal('8801665191217'),
  Decimal('1128132240572')),
 ('C000144',
  'ravinder @ bacchi',
  Decimal('8801546489617'),
  Decimal('3415425498750')),
 ('C000145', 'amit', Decimal('8801761222627'), Decimal('6291721094011')),
 ('C000146',
  'guman singh basyal',
  Decimal('8801789838538'),
  Decimal('7266914854101')),
 ('C000147', 'amardeep', Decimal('8801521752113'), Decimal('8934355684223')),
 ('C000148', 'jagdish', Decimal('8801649487132'), Decimal('4356565176642')),
 ('C000149', 'bharat', Decimal('8801796885908'), Decimal('2514855946229')),
 ('C000150', 'azaz', Decimal('8801527019194'), Decimal('1977540292240')),
 ('C000151', 'raja kumar', Decimal('8801853333722'), Decimal('9753712539624')),
 ('C000152', 'parveen', Decimal('8801747391755'), Decimal('6479494892902')),
 ('C000153',
  'mahabir prasad',
  Decimal('8801598038235'),
  Decimal('5691177776683')),
 ('C000154',
  'kartik @ kaku',
  Decimal('8801740160648'),
  Decimal('3005038767890')),
 ('C000155',
  'shubham yadav',
  Decimal('8801974719209'),
  Decimal('2030179103211')),
 ('C000156', 'yogesh', Decimal('8801518567304'), Decimal('4816644344799')),
 ('C000157', 'madan', Decimal('8801863730230'), Decimal('5598957947334')),
 ('C000158', 'rashid', Decimal('8801929645752'), Decimal('2307808707169')),
 ('C000159', 'jitender', Decimal('8801561587983'), Decimal('6277224925043')),
 ('C000160',
  'pawan kumar',
  Decimal('8801530289748'),
  Decimal('4232161036148')),
 ('C000161', 'vivek', Decimal('8801674862926'), Decimal('4231791185799')),
 ('C000162',
  'pintu kumar',
  Decimal('8801742946646'),
  Decimal('7695074602391')),
 ('C000163', 'deep', Decimal('8801766884340'), Decimal('2571289071614')),
 ('C000164', 'dharmbir', Decimal('8801936279900'), Decimal('9714347947647')),
 ('C000165',
  'rishi kakdia',
  Decimal('8801523524130'),
  Decimal('9125883756067')),
 ('C000166',
  'kunal @ kannu',
  Decimal('8801722393903'),
  Decimal('9692270710856')),
 ('C000167',
  'arman ansari',
  Decimal('8801769210832'),
  Decimal('6612518356576')),
 ('C000168', 'avinsh', Decimal('8801640138467'), Decimal('7129522006567')),
 ('C000169', 'karan', Decimal('8801642135663'), Decimal('9477492406111')),
 ('C000170',
  'sandeep kumar',
  Decimal('8801939386527'),
  Decimal('1057822941910')),
 ('C000171', 'sagar', Decimal('8801849870816'), Decimal('6126370611205')),
 ('C000172', 'nikhil', Decimal('8801828239519'), Decimal('7705727907530')),
 ('C000173', 'raman', Decimal('8801781337376'), Decimal('2302022425221')),
 ('C000174',
  'sujen manjhi',
  Decimal('8801745028947'),
  Decimal('9839049917954')),
 ('C000175', 'abhijeet', Decimal('8801885656967'), Decimal('7663766008800')),
 ('C000176', 'anshu', Decimal('8801757546914'), Decimal('7620052776259')),
 ('C000177', 'sahil', Decimal('8801614276082'), Decimal('6018035670697')),
 ('C000178', 'aditya som', Decimal('8801595842211'), Decimal('3340875392070')),
 ('C000179', 'gaurav', Decimal('8801979367076'), Decimal('2200030047760')),
 ('C000180', 'raja kumar', Decimal('8801522410182'), Decimal('5310085544117')),
 ('C000181', 'sunil', Decimal('8801615095485'), Decimal('9864658310111')),
 ('C000182', 'ravi kumar', Decimal('8801654124029'), Decimal('2169309538129')),
 ('C000183',
  'shankar kumar',
  Decimal('8801822322475'),
  Decimal('3071309377171')),
 ('C000184', 'vishvash', Decimal('8801687327965'), Decimal('5814726972884')),
 ('C000185', 'sonia', Decimal('8801884159288'), Decimal('3248472672059')),
 ('C000186', 'santosh', Decimal('8801920500942'), Decimal('2509203761711')),
 ('C000187', 'kayamuddin', Decimal('8801933514516'), Decimal('5445392581028')),
 ('C000188',
  'rohit kumar',
  Decimal('8801945653760'),
  Decimal('7391995892418')),
 ('C000189',
  'nandkishore karpenter',
  Decimal('8801622786449'),
  Decimal('7262945458321')),
 ('C000190', 'lala bhai', Decimal('8801793598434'), Decimal('9354730696891')),
 ('C000191', 'kishan rai', Decimal('8801777967456'), Decimal('3456408290493')),
 ('C000192',
  'mahender kumar',
  Decimal('8801993932091'),
  Decimal('6584906857717')),
 ('C000193', 'deepak', Decimal('8801541452132'), Decimal('4938748124268')),
 ('C000194', 'mohd afzal', Decimal('8801811578123'), Decimal('7222829117934')),
 ('C000195', 'satender', Decimal('8801961209765'), Decimal('2380761381420')),
 ('C000196',
  'shiv prasad singh',
  Decimal('8801948482948'),
  Decimal('6271738209003')),
 ('C000197', 'mobin', Decimal('8801649522599'), Decimal('7136051682605')),
 ('C000198',
  'khokan sarkar',
  Decimal('8801578699877'),
  Decimal('9444593531415')),
 ('C000199', 'vikash', Decimal('8801781310099'), Decimal('8862583274177')),
 ('C000200',
  'krisana braman',
  Decimal('8801553773984'),
  Decimal('4318188071930')),
 ('C000201', 'vipol', Decimal('8801563656342'), Decimal('1294031102940')),
 ('C000202', 'sanjay', Decimal('8801733064394'), Decimal('2703353131572')),
 ('C000203',
  'mohd miraj ansari',
  Decimal('8801862834921'),
  Decimal('8019303800338')),
 ('C000204', 'rajmani', Decimal('8801812725608'), Decimal('4034271618849')),
 ('C000205',
  'harbir  singh',
  Decimal('8801592054039'),
  Decimal('9607873981680')),
 ('C000206', 'mohan', Decimal('8801776025989'), Decimal('1506476212852')),
 ('C000207', 'farid', Decimal('8801855091369'), Decimal('2994209762541')),
 ('C000208',
  'yuvraj kumar',
  Decimal('8801523318386'),
  Decimal('3862915821545')),
 ('C000209',
  'charan jeet singh',
  Decimal('8801722843008'),
  Decimal('2984063169597')),
 ('C000210',
  'satish kumar',
  Decimal('8801920139402'),
  Decimal('6871206863066')),
 ('C000211', 'gappu', Decimal('8801622563303'), Decimal('6011092650762')),
 ('C000212', 'nazeem', Decimal('8801947067886'), Decimal('2129081534153')),
 ('C000213', 'aamir', Decimal('8801965439732'), Decimal('2815192022484')),
 ('C000214',
  'vivek sharma',
  Decimal('8801922357862'),
  Decimal('3990866821755')),
 ('C000215', 'sandeep', Decimal('8801972036169'), Decimal('6893329759418')),
 ('C000216', 'gutam', Decimal('8801972632604'), Decimal('6189881965720')),
 ('C000217', 'prakul', Decimal('8801940994954'), Decimal('6414631393749')),
 ('C000218', 'birjesh', Decimal('8801723796521'), Decimal('3626685788192')),
 ('C000219',
  'sahil tigga',
  Decimal('8801569243642'),
  Decimal('7007343784349')),
 ('C000220',
  'girishi chand',
  Decimal('8801953546834'),
  Decimal('7323676410019')),
 ('C000221',
  'pavan sharma',
  Decimal('8801590485361'),
  Decimal('5149128430220')),
 ('C000222', 'ikramuddin', Decimal('8801932222069'), Decimal('9195522898850')),
 ('C000223', 'sajan', Decimal('8801510658085'), Decimal('5236980759969')),
 ('C000224', 'molu', Decimal('8801574422398'), Decimal('9808887804580')),
 ('C000225', 'dilawar', Decimal('8801680323455'), Decimal('4514498449663')),
 ('C000226',
  'naval kishore',
  Decimal('8801544794540'),
  Decimal('5602330278585')),
 ('C000227', 'sanjay', Decimal('8801575201748'), Decimal('9282981915581')),
 ('C000228', 'ajahar', Decimal('8801711125307'), Decimal('3415603843828')),
 ('C000229', 'sanjeev', Decimal('8801520750908'), Decimal('5043565830025')),
 ('C000230',
  'raman ralhan',
  Decimal('8801914169658'),
  Decimal('3358893039669')),
 ('C000231',
  'raman ralhan',
  Decimal('8801516505886'),
  Decimal('5262832163895')),
 ('C000232', 'rohit', Decimal('8801575084124'), Decimal('6632308650113')),
 ('C000233', 'prem chand', Decimal('8801629504369'), Decimal('3903363452960')),
 ('C000234', 'sandhaya', Decimal('8801668224492'), Decimal('4640705474946')),
 ('C000235', 'ashish', Decimal('8801672030456'), Decimal('1364837177224')),
 ('C000236', 'irfan', Decimal('8801561088071'), Decimal('9933732506367')),
 ('C000237',
  'jang bahadur',
  Decimal('8801661506295'),
  Decimal('9591534859358')),
 ('C000238',
  'om parkash ahuja',
  Decimal('8801958892115'),
  Decimal('4502425429125')),
 ('C000239', 'kamre alam', Decimal('8801661329833'), Decimal('4426197038968')),
 ('C000240', 'md. raju', Decimal('8801591247344'), Decimal('9251116209973')),
 ('C000241', 'dinesh', Decimal('8801683111612'), Decimal('2398996593656')),
 ('C000242', 'satpal', Decimal('8801528862285'), Decimal('3079400805691')),
 ('C000243', 'ram pyare', Decimal('8801621740333'), Decimal('8541788589342')),
 ('C000244',
  'suraj singh',
  Decimal('8801939209039'),
  Decimal('4358148687619')),

In [34]:
cus_df = pd.DataFrame(list(records), columns=['coustomer_key', 'name', 'contact_no','nid'])
cus_df.tail(10)

     coustomer_key            name     contact_no            nid
9181       C009182          kavita  8801969754927  8347161442692
9182       C009183           anita  8801685909096  6965233356910
9183       C009184          resham  8801845018438  9519773518987
9184       C009185  krishana yadav  8801578768610  6488726785299
9185       C009186          sajida  8801773401829  8156888113414
9186       C009187       smt radha  8801563029753  1057824928189
9187       C009188    tulsi sharma  8801794982266  7970880905205
9188       C009189       madhubala  8801890032435  3101930298150
9189       C009190      pintu devi  8801563290767  7234328323528
9190       C009191           roopa  8801524507359  5682728390307

***Fetch Time data***

In [38]:
cur = con.cursor()
select_stmt = "SELECT t.time_key , t.dates, t.hour, t.day, t.week, t.month, t.quarter, t.year " \
              "FROM ecom_schema.time_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('T00001',
  datetime.datetime(2017, 5, 20, 14, 56),
  Decimal('14'),
  Decimal('20'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2017')),
 ('T00002',
  datetime.datetime(2015, 1, 30, 22, 14),
  Decimal('22'),
  Decimal('30'),
  '4th Week',
  Decimal('1'),
  'Q1',
  Decimal('2015')),
 ('T00003',
  datetime.datetime(2020, 3, 14, 2, 34),
  Decimal('2'),
  Decimal('14'),
  '2nd Week',
  Decimal('3'),
  'Q1',
  Decimal('2020')),
 ('T00004',
  datetime.datetime(2018, 4, 27, 12, 19),
  Decimal('12'),
  Decimal('27'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2018')),
 ('T00005',
  datetime.datetime(2018, 4, 14, 10, 43),
  Decimal('10'),
  Decimal('14'),
  '2nd Week',
  Decimal('4'),
  'Q2',
  Decimal('2018')),
 ('T00006',
  datetime.datetime(2017, 10, 2, 6, 56),
  Decimal('6'),
  Decimal('10'),
  '2nd Week',
  Decimal('2'),
  'Q1',
  Decimal('2017')),
 ('T00007',
  datetime.datetime(2015, 6, 5, 17, 52),
  Decimal('17'),
  Decimal('6'),
  '1st Week',
  Decimal('5'),
  'Q2',
  Decimal('2015')),
 ('T00008',
  datetime.datetime(2014, 9, 23, 13, 59),
  Decimal('13'),
  Decimal('23'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2014')),
 ('T00009',
  datetime.datetime(2016, 4, 16, 6, 45),
  Decimal('6'),
  Decimal('16'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2016')),
 ('T00010',
  datetime.datetime(2015, 10, 26, 22, 0),
  Decimal('22'),
  Decimal('26'),
  '4th Week',
  Decimal('10'),
  'Q4',
  Decimal('2015')),
 ('T00011',
  datetime.datetime(2018, 2, 5, 16, 40),
  Decimal('16'),
  Decimal('2'),
  '1st Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00012',
  datetime.datetime(2017, 11, 29, 18, 55),
  Decimal('18'),
  Decimal('29'),
  '4th Week',
  Decimal('11'),
  'Q4',
  Decimal('2017')),
 ('T00013',
  datetime.datetime(2014, 9, 17, 22, 46),
  Decimal('22'),
  Decimal('17'),
  '3rd Week',
  Decimal('9'),
  'Q3',
  Decimal('2014')),
 ('T00014',
  datetime.datetime(2020, 12, 6, 8, 22),
  Decimal('8'),
  Decimal('12'),
  '2nd Week',
  Decimal('6'),
  'Q2',
  Decimal('2020')),
 ('T00015',
  datetime.datetime(2018, 11, 22, 18, 52),
  Decimal('18'),
  Decimal('22'),
  '4th Week',
  Decimal('11'),
  'Q4',
  Decimal('2018')),
 ('T00016',
  datetime.datetime(2019, 5, 21, 12, 40),
  Decimal('12'),
  Decimal('21'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2019')),
 ('T00017',
  datetime.datetime(2015, 3, 19, 22, 55),
  Decimal('22'),
  Decimal('19'),
  '3rd Week',
  Decimal('3'),
  'Q1',
  Decimal('2015')),
 ('T00018',
  datetime.datetime(2015, 7, 28, 15, 17),
  Decimal('15'),
  Decimal('28'),
  '4th Week',
  Decimal('7'),
  'Q3',
  Decimal('2015')),
 ('T00019',
  datetime.datetime(2017, 12, 11, 11, 13),
  Decimal('11'),
  Decimal('12'),
  '2nd Week',
  Decimal('11'),
  'Q4',
  Decimal('2017')),
 ('T00020',
  datetime.datetime(2016, 10, 5, 17, 47),
  Decimal('17'),
  Decimal('10'),
  '2nd Week',
  Decimal('5'),
  'Q2',
  Decimal('2016')),
 ('T00021',
  datetime.datetime(2016, 4, 24, 4, 31),
  Decimal('4'),
  Decimal('24'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2016')),
 ('T00022',
  datetime.datetime(2016, 6, 17, 20, 45),
  Decimal('20'),
  Decimal('17'),
  '3rd Week',
  Decimal('6'),
  'Q2',
  Decimal('2016')),
 ('T00023',
  datetime.datetime(2020, 5, 12, 15, 59),
  Decimal('15'),
  Decimal('5'),
  '1st Week',
  Decimal('12'),
  'Q4',
  Decimal('2020')),
 ('T00024',
  datetime.datetime(2018, 2, 4, 11, 40),
  Decimal('11'),
  Decimal('2'),
  '1st Week',
  Decimal('4'),
  'Q2',
  Decimal('2018')),
 ('T00025',
  datetime.datetime(2020, 2, 8, 23, 39),
  Decimal('23'),
  Decimal('2'),
  '1st Week',
  Decimal('8'),
  'Q3',
  Decimal('2020')),
 ('T00026',
  datetime.datetime(2016, 11, 21, 9, 26),
  Decimal('9'),
  Decimal('21'),
  '3rd Week',
  Decimal('11'),
  'Q4',
  Decimal('2016')),
 ('T00027',
  datetime.datetime(2020, 1, 24, 19, 36),
  Decimal('19'),
  Decimal('24'),
  '4th Week',
  Decimal('1'),
  'Q1',
  Decimal('2020')),
 ('T00028',
  datetime.datetime(2017, 3, 30, 1, 48),
  Decimal('1'),
  Decimal('30'),
  '4th Week',
  Decimal('3'),
  'Q1',
  Decimal('2017')),
 ('T00029',
  datetime.datetime(2020, 1, 15, 8, 34),
  Decimal('8'),
  Decimal('15'),
  '3rd Week',
  Decimal('1'),
  'Q1',
  Decimal('2020')),
 ('T00030',
  datetime.datetime(2016, 10, 7, 16, 49),
  Decimal('16'),
  Decimal('10'),
  '2nd Week',
  Decimal('7'),
  'Q3',
  Decimal('2016')),
 ('T00031',
  datetime.datetime(2016, 5, 17, 17, 25),
  Decimal('17'),
  Decimal('17'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2016')),
 ('T00032',
  datetime.datetime(2019, 11, 5, 7, 55),
  Decimal('7'),
  Decimal('11'),
  '2nd Week',
  Decimal('5'),
  'Q2',
  Decimal('2019')),
 ('T00033',
  datetime.datetime(2016, 2, 11, 15, 4),
  Decimal('15'),
  Decimal('2'),
  '1st Week',
  Decimal('11'),
  'Q4',
  Decimal('2016')),
 ('T00034',
  datetime.datetime(2020, 7, 7, 17, 21),
  Decimal('17'),
  Decimal('7'),
  '1st Week',
  Decimal('7'),
  'Q3',
  Decimal('2020')),
 ('T00035',
  datetime.datetime(2017, 7, 4, 17, 56),
  Decimal('17'),
  Decimal('7'),
  '1st Week',
  Decimal('4'),
  'Q2',
  Decimal('2017')),
 ('T00036',
  datetime.datetime(2020, 4, 26, 4, 33),
  Decimal('4'),
  Decimal('26'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2020')),
 ('T00037',
  datetime.datetime(2017, 4, 20, 14, 16),
  Decimal('14'),
  Decimal('20'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2017')),
 ('T00038',
  datetime.datetime(2018, 11, 1, 9, 43),
  Decimal('9'),
  Decimal('11'),
  '2nd Week',
  Decimal('1'),
  'Q1',
  Decimal('2018')),
 ('T00039',
  datetime.datetime(2015, 9, 17, 21, 33),
  Decimal('21'),
  Decimal('17'),
  '3rd Week',
  Decimal('9'),
  'Q3',
  Decimal('2015')),
 ('T00040',
  datetime.datetime(2020, 4, 29, 22, 26),
  Decimal('22'),
  Decimal('29'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2020')),
 ('T00041',
  datetime.datetime(2014, 4, 23, 2, 8),
  Decimal('2'),
  Decimal('23'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2014')),
 ('T00042',
  datetime.datetime(2015, 8, 26, 7, 8),
  Decimal('7'),
  Decimal('26'),
  '4th Week',
  Decimal('8'),
  'Q3',
  Decimal('2015')),
 ('T00043',
  datetime.datetime(2014, 9, 9, 0, 4),
  Decimal('0'),
  Decimal('9'),
  '2nd Week',
  Decimal('9'),
  'Q3',
  Decimal('2014')),
 ('T00044',
  datetime.datetime(2018, 10, 7, 14, 40),
  Decimal('14'),
  Decimal('10'),
  '2nd Week',
  Decimal('7'),
  'Q3',
  Decimal('2018')),
 ('T00045',
  datetime.datetime(2020, 4, 19, 19, 40),
  Decimal('19'),
  Decimal('19'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2020')),
 ('T00046',
  datetime.datetime(2015, 3, 18, 7, 9),
  Decimal('7'),
  Decimal('18'),
  '3rd Week',
  Decimal('3'),
  'Q1',
  Decimal('2015')),
 ('T00047',
  datetime.datetime(2014, 7, 29, 1, 26),
  Decimal('1'),
  Decimal('29'),
  '4th Week',
  Decimal('7'),
  'Q3',
  Decimal('2014')),
 ('T00048',
  datetime.datetime(2018, 7, 16, 22, 14),
  Decimal('22'),
  Decimal('16'),
  '3rd Week',
  Decimal('7'),
  'Q3',
  Decimal('2018')),
 ('T00049',
  datetime.datetime(2015, 8, 5, 12, 54),
  Decimal('12'),
  Decimal('8'),
  '2nd Week',
  Decimal('5'),
  'Q2',
  Decimal('2015')),
 ('T00050',
  datetime.datetime(2019, 8, 19, 23, 24),
  Decimal('23'),
  Decimal('19'),
  '3rd Week',
  Decimal('8'),
  'Q3',
  Decimal('2019')),
 ('T00051',
  datetime.datetime(2017, 6, 26, 22, 1),
  Decimal('22'),
  Decimal('26'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2017')),
 ('T00052',
  datetime.datetime(2014, 6, 29, 11, 33),
  Decimal('11'),
  Decimal('29'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2014')),
 ('T00053',
  datetime.datetime(2014, 12, 8, 4, 35),
  Decimal('4'),
  Decimal('12'),
  '2nd Week',
  Decimal('8'),
  'Q3',
  Decimal('2014')),
 ('T00054',
  datetime.datetime(2015, 11, 4, 14, 17),
  Decimal('14'),
  Decimal('11'),
  '2nd Week',
  Decimal('4'),
  'Q2',
  Decimal('2015')),
 ('T00055',
  datetime.datetime(2016, 11, 21, 20, 26),
  Decimal('20'),
  Decimal('21'),
  '3rd Week',
  Decimal('11'),
  'Q4',
  Decimal('2016')),
 ('T00056',
  datetime.datetime(2014, 9, 23, 19, 25),
  Decimal('19'),
  Decimal('23'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2014')),
 ('T00057',
  datetime.datetime(2016, 10, 8, 16, 59),
  Decimal('16'),
  Decimal('10'),
  '2nd Week',
  Decimal('8'),
  'Q3',
  Decimal('2016')),
 ('T00058',
  datetime.datetime(2017, 8, 8, 14, 53),
  Decimal('14'),
  Decimal('8'),
  '2nd Week',
  Decimal('8'),
  'Q3',
  Decimal('2017')),
 ('T00059',
  datetime.datetime(2014, 4, 24, 6, 47),
  Decimal('6'),
  Decimal('24'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2014')),
 ('T00060',
  datetime.datetime(2020, 9, 25, 20, 2),
  Decimal('20'),
  Decimal('25'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2020')),
 ('T00061',
  datetime.datetime(2017, 1, 7, 5, 29),
  Decimal('5'),
  Decimal('1'),
  '1st Week',
  Decimal('7'),
  'Q3',
  Decimal('2017')),
 ('T00062',
  datetime.datetime(2016, 2, 17, 14, 51),
  Decimal('14'),
  Decimal('17'),
  '3rd Week',
  Decimal('2'),
  'Q1',
  Decimal('2016')),
 ('T00063',
  datetime.datetime(2018, 5, 26, 23, 53),
  Decimal('23'),
  Decimal('26'),
  '4th Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00064',
  datetime.datetime(2018, 1, 31, 16, 18),
  Decimal('16'),
  Decimal('31'),
  '4th Week',
  Decimal('1'),
  'Q1',
  Decimal('2018')),
 ('T00065',
  datetime.datetime(2019, 11, 28, 6, 38),
  Decimal('6'),
  Decimal('28'),
  '4th Week',
  Decimal('11'),
  'Q4',
  Decimal('2019')),
 ('T00066',
  datetime.datetime(2016, 4, 20, 17, 23),
  Decimal('17'),
  Decimal('20'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2016')),
 ('T00067',
  datetime.datetime(2018, 6, 26, 14, 24),
  Decimal('14'),
  Decimal('26'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2018')),
 ('T00068',
  datetime.datetime(2014, 4, 20, 5, 31),
  Decimal('5'),
  Decimal('20'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2014')),
 ('T00069',
  datetime.datetime(2014, 7, 18, 21, 24),
  Decimal('21'),
  Decimal('18'),
  '3rd Week',
  Decimal('7'),
  'Q3',
  Decimal('2014')),
 ('T00070',
  datetime.datetime(2016, 10, 13, 19, 7),
  Decimal('19'),
  Decimal('13'),
  '2nd Week',
  Decimal('10'),
  'Q4',
  Decimal('2016')),
 ('T00071',
  datetime.datetime(2015, 6, 14, 0, 40),
  Decimal('0'),
  Decimal('14'),
  '2nd Week',
  Decimal('6'),
  'Q2',
  Decimal('2015')),
 ('T00072',
  datetime.datetime(2019, 11, 3, 13, 12),
  Decimal('13'),
  Decimal('11'),
  '2nd Week',
  Decimal('3'),
  'Q1',
  Decimal('2019')),
 ('T00073',
  datetime.datetime(2019, 1, 6, 6, 10),
  Decimal('6'),
  Decimal('1'),
  '1st Week',
  Decimal('6'),
  'Q2',
  Decimal('2019')),
 ('T00074',
  datetime.datetime(2019, 4, 11, 22, 42),
  Decimal('22'),
  Decimal('4'),
  '1st Week',
  Decimal('11'),
  'Q4',
  Decimal('2019')),
 ('T00075',
  datetime.datetime(2017, 1, 6, 9, 25),
  Decimal('9'),
  Decimal('1'),
  '1st Week',
  Decimal('6'),
  'Q2',
  Decimal('2017')),
 ('T00076',
  datetime.datetime(2018, 9, 30, 19, 17),
  Decimal('19'),
  Decimal('30'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2018')),
 ('T00077',
  datetime.datetime(2015, 5, 21, 3, 40),
  Decimal('3'),
  Decimal('21'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2015')),
 ('T00078',
  datetime.datetime(2014, 3, 26, 19, 45),
  Decimal('19'),
  Decimal('26'),
  '4th Week',
  Decimal('3'),
  'Q1',
  Decimal('2014')),
 ('T00079',
  datetime.datetime(2018, 6, 26, 21, 54),
  Decimal('21'),
  Decimal('26'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2018')),
 ('T00080',
  datetime.datetime(2017, 4, 2, 20, 49),
  Decimal('20'),
  Decimal('4'),
  '1st Week',
  Decimal('2'),
  'Q1',
  Decimal('2017')),
 ('T00081',
  datetime.datetime(2014, 8, 4, 20, 48),
  Decimal('20'),
  Decimal('8'),
  '2nd Week',
  Decimal('4'),
  'Q2',
  Decimal('2014')),
 ('T00082',
  datetime.datetime(2014, 3, 9, 20, 3),
  Decimal('20'),
  Decimal('3'),
  '1st Week',
  Decimal('9'),
  'Q3',
  Decimal('2014')),
 ('T00083',
  datetime.datetime(2018, 4, 14, 2, 28),
  Decimal('2'),
  Decimal('14'),
  '2nd Week',
  Decimal('4'),
  'Q2',
  Decimal('2018')),
 ('T00084',
  datetime.datetime(2019, 8, 12, 7, 22),
  Decimal('7'),
  Decimal('8'),
  '2nd Week',
  Decimal('12'),
  'Q4',
  Decimal('2019')),
 ('T00085',
  datetime.datetime(2014, 6, 22, 1, 3),
  Decimal('1'),
  Decimal('22'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2014')),
 ('T00086',
  datetime.datetime(2020, 5, 31, 7, 55),
  Decimal('7'),
  Decimal('31'),
  '4th Week',
  Decimal('5'),
  'Q2',
  Decimal('2020')),
 ('T00087',
  datetime.datetime(2015, 3, 27, 6, 6),
  Decimal('6'),
  Decimal('27'),
  '4th Week',
  Decimal('3'),
  'Q1',
  Decimal('2015')),
 ('T00088',
  datetime.datetime(2019, 6, 15, 21, 38),
  Decimal('21'),
  Decimal('15'),
  '3rd Week',
  Decimal('6'),
  'Q2',
  Decimal('2019')),
 ('T00089',
  datetime.datetime(2018, 7, 22, 3, 0),
  Decimal('3'),
  Decimal('22'),
  '4th Week',
  Decimal('7'),
  'Q3',
  Decimal('2018')),
 ('T00090',
  datetime.datetime(2017, 2, 2, 22, 17),
  Decimal('22'),
  Decimal('2'),
  '1st Week',
  Decimal('2'),
  'Q1',
  Decimal('2017')),
 ('T00091',
  datetime.datetime(2018, 5, 20, 13, 45),
  Decimal('13'),
  Decimal('20'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00092',
  datetime.datetime(2016, 8, 30, 23, 1),
  Decimal('23'),
  Decimal('30'),
  '4th Week',
  Decimal('8'),
  'Q3',
  Decimal('2016')),
 ('T00093',
  datetime.datetime(2015, 8, 19, 4, 44),
  Decimal('4'),
  Decimal('19'),
  '3rd Week',
  Decimal('8'),
  'Q3',
  Decimal('2015')),
 ('T00094',
  datetime.datetime(2021, 10, 1, 20, 40),
  Decimal('20'),
  Decimal('10'),
  '2nd Week',
  Decimal('1'),
  'Q1',
  Decimal('2021')),
 ('T00095',
  datetime.datetime(2017, 4, 15, 6, 59),
  Decimal('6'),
  Decimal('15'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2017')),
 ('T00096',
  datetime.datetime(2018, 3, 5, 2, 42),
  Decimal('2'),
  Decimal('3'),
  '1st Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00097',
  datetime.datetime(2014, 5, 11, 8, 28),
  Decimal('8'),
  Decimal('5'),
  '1st Week',
  Decimal('11'),
  'Q4',
  Decimal('2014')),
 ('T00098',
  datetime.datetime(2015, 8, 17, 4, 35),
  Decimal('4'),
  Decimal('17'),
  '3rd Week',
  Decimal('8'),
  'Q3',
  Decimal('2015')),
 ('T00099',
  datetime.datetime(2014, 4, 20, 6, 41),
  Decimal('6'),
  Decimal('20'),
  '3rd Week',
  Decimal('4'),
  'Q2',
  Decimal('2014')),
 ('T00100',
  datetime.datetime(2018, 3, 21, 5, 51),
  Decimal('5'),
  Decimal('21'),
  '3rd Week',
  Decimal('3'),
  'Q1',
  Decimal('2018')),
 ('T00101',
  datetime.datetime(2016, 9, 9, 2, 45),
  Decimal('2'),
  Decimal('9'),
  '2nd Week',
  Decimal('9'),
  'Q3',
  Decimal('2016')),
 ('T00102',
  datetime.datetime(2016, 11, 7, 10, 8),
  Decimal('10'),
  Decimal('11'),
  '2nd Week',
  Decimal('7'),
  'Q3',
  Decimal('2016')),
 ('T00103',
  datetime.datetime(2017, 12, 31, 8, 38),
  Decimal('8'),
  Decimal('31'),
  '4th Week',
  Decimal('12'),
  'Q4',
  Decimal('2017')),
 ('T00104',
  datetime.datetime(2014, 10, 22, 17, 33),
  Decimal('17'),
  Decimal('22'),
  '4th Week',
  Decimal('10'),
  'Q4',
  Decimal('2014')),
 ('T00105',
  datetime.datetime(2017, 6, 30, 10, 14),
  Decimal('10'),
  Decimal('30'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2017')),
 ('T00106',
  datetime.datetime(2020, 1, 16, 5, 56),
  Decimal('5'),
  Decimal('16'),
  '3rd Week',
  Decimal('1'),
  'Q1',
  Decimal('2020')),
 ('T00107',
  datetime.datetime(2018, 5, 14, 1, 28),
  Decimal('1'),
  Decimal('14'),
  '2nd Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00108',
  datetime.datetime(2020, 12, 2, 20, 14),
  Decimal('20'),
  Decimal('12'),
  '2nd Week',
  Decimal('2'),
  'Q1',
  Decimal('2020')),
 ('T00109',
  datetime.datetime(2019, 8, 13, 9, 50),
  Decimal('9'),
  Decimal('13'),
  '2nd Week',
  Decimal('8'),
  'Q3',
  Decimal('2019')),
 ('T00110',
  datetime.datetime(2014, 4, 2, 22, 37),
  Decimal('22'),
  Decimal('4'),
  '1st Week',
  Decimal('2'),
  'Q1',
  Decimal('2014')),
 ('T00111',
  datetime.datetime(2014, 6, 24, 11, 50),
  Decimal('11'),
  Decimal('24'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2014')),
 ('T00112',
  datetime.datetime(2016, 7, 9, 12, 12),
  Decimal('12'),
  Decimal('7'),
  '1st Week',
  Decimal('9'),
  'Q3',
  Decimal('2016')),
 ('T00113',
  datetime.datetime(2018, 5, 31, 16, 46),
  Decimal('16'),
  Decimal('31'),
  '4th Week',
  Decimal('5'),
  'Q2',
  Decimal('2018')),
 ('T00114',
  datetime.datetime(2015, 5, 23, 3, 55),
  Decimal('3'),
  Decimal('23'),
  '4th Week',
  Decimal('5'),
  'Q2',
  Decimal('2015')),
 ('T00115',
  datetime.datetime(2018, 3, 3, 8, 48),
  Decimal('8'),
  Decimal('3'),
  '1st Week',
  Decimal('3'),
  'Q1',
  Decimal('2018')),
 ('T00116',
  datetime.datetime(2016, 9, 25, 18, 42),
  Decimal('18'),
  Decimal('25'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2016')),
 ('T00117',
  datetime.datetime(2015, 4, 26, 20, 14),
  Decimal('20'),
  Decimal('26'),
  '4th Week',
  Decimal('4'),
  'Q2',
  Decimal('2015')),
 ('T00118',
  datetime.datetime(2019, 12, 10, 10, 52),
  Decimal('10'),
  Decimal('12'),
  '2nd Week',
  Decimal('10'),
  'Q4',
  Decimal('2019')),
 ('T00119',
  datetime.datetime(2020, 9, 7, 15, 36),
  Decimal('15'),
  Decimal('9'),
  '2nd Week',
  Decimal('7'),
  'Q3',
  Decimal('2020')),
 ('T00120',
  datetime.datetime(2016, 2, 3, 11, 23),
  Decimal('11'),
  Decimal('2'),
  '1st Week',
  Decimal('3'),
  'Q1',
  Decimal('2016')),
 ('T00121',
  datetime.datetime(2018, 2, 10, 20, 52),
  Decimal('20'),
  Decimal('2'),
  '1st Week',
  Decimal('10'),
  'Q4',
  Decimal('2018')),
 ('T00122',
  datetime.datetime(2019, 3, 22, 13, 5),
  Decimal('13'),
  Decimal('22'),
  '4th Week',
  Decimal('3'),
  'Q1',
  Decimal('2019')),
 ('T00123',
  datetime.datetime(2016, 1, 26, 4, 39),
  Decimal('4'),
  Decimal('26'),
  '4th Week',
  Decimal('1'),
  'Q1',
  Decimal('2016')),
 ('T00124',
  datetime.datetime(2018, 12, 7, 23, 18),
  Decimal('23'),
  Decimal('12'),
  '2nd Week',
  Decimal('7'),
  'Q3',
  Decimal('2018')),
 ('T00125',
  datetime.datetime(2015, 5, 13, 18, 26),
  Decimal('18'),
  Decimal('13'),
  '2nd Week',
  Decimal('5'),
  'Q2',
  Decimal('2015')),
 ('T00126',
  datetime.datetime(2016, 6, 20, 4, 24),
  Decimal('4'),
  Decimal('20'),
  '3rd Week',
  Decimal('6'),
  'Q2',
  Decimal('2016')),
 ('T00127',
  datetime.datetime(2017, 7, 2, 4, 1),
  Decimal('4'),
  Decimal('7'),
  '1st Week',
  Decimal('2'),
  'Q1',
  Decimal('2017')),
 ('T00128',
  datetime.datetime(2017, 6, 18, 12, 3),
  Decimal('12'),
  Decimal('18'),
  '3rd Week',
  Decimal('6'),
  'Q2',
  Decimal('2017')),
 ('T00129',
  datetime.datetime(2019, 8, 16, 10, 53),
  Decimal('10'),
  Decimal('16'),
  '3rd Week',
  Decimal('8'),
  'Q3',
  Decimal('2019')),
 ('T00130',
  datetime.datetime(2021, 1, 20, 7, 25),
  Decimal('7'),
  Decimal('20'),
  '3rd Week',
  Decimal('1'),
  'Q1',
  Decimal('2021')),
 ('T00131',
  datetime.datetime(2018, 6, 23, 7, 39),
  Decimal('7'),
  Decimal('23'),
  '4th Week',
  Decimal('6'),
  'Q2',
  Decimal('2018')),
 ('T00132',
  datetime.datetime(2016, 8, 19, 8, 25),
  Decimal('8'),
  Decimal('19'),
  '3rd Week',
  Decimal('8'),
  'Q3',
  Decimal('2016')),
 ('T00133',
  datetime.datetime(2017, 1, 29, 19, 54),
  Decimal('19'),
  Decimal('29'),
  '4th Week',
  Decimal('1'),
  'Q1',
  Decimal('2017')),
 ('T00134',
  datetime.datetime(2014, 12, 23, 5, 18),
  Decimal('5'),
  Decimal('23'),
  '4th Week',
  Decimal('12'),
  'Q4',
  Decimal('2014')),
 ('T00135',
  datetime.datetime(2019, 9, 25, 17, 33),
  Decimal('17'),
  Decimal('25'),
  '4th Week',
  Decimal('9'),
  'Q3',
  Decimal('2019')),
 ('T00136',
  datetime.datetime(2014, 3, 3, 1, 57),
  Decimal('1'),
  Decimal('3'),
  '1st Week',
  Decimal('3'),
  'Q1',
  Decimal('2014')),
 ('T00137',
  datetime.datetime(2018, 1, 7, 18, 34),
  Decimal('18'),
  Decimal('1'),
  '1st Week',
  Decimal('7'),
  'Q3',
  Decimal('2018')),
 ('T00138',
  datetime.datetime(2019, 5, 20, 20, 39),
  Decimal('20'),
  Decimal('20'),
  '3rd Week',
  Decimal('5'),
  'Q2',
  Decimal('2019')),

In [39]:
time_df = pd.DataFrame(list(records), columns=['time_key', 'dates', 'hour', 'day','week', 'month', 'quarter', 'year'])
time_df.tail(10)

      time_key               dates hour day      week month quarter  year
99989  T099990 2014-10-28 03:40:00    3  28  4th Week    10      Q4  2014
99990  T099991 2014-12-29 23:53:00   23  29  4th Week    12      Q4  2014
99991  T099992 2014-09-11 18:02:00   18   9  2nd Week    11      Q4  2014
99992  T099993 2020-09-01 10:46:00   10   9  2nd Week     1      Q1  2020
99993  T099994 2015-07-16 10:56:00   10  16  3rd Week     7      Q3  2015
99994  T099995 2015-04-01 17:22:00   17   4  1st Week     1      Q1  2015
99995  T099996 2015-01-17 21:09:00   21  17  3rd Week     1      Q1  2015
99996  T099997 2020-01-23 14:42:00   14  23  4th Week     1      Q1  2020
99997  T099998 2015-10-31 13:52:00   13  31  4th Week    10      Q4  2015
99998  T099999 2017-08-06 08:59:00    8   8  2nd Week     6      Q2  2017

***Fetch store data from database***