### Package installation

In [1]:
pip install psycopg2

Requirement already satisfied: psycopg2 in h:\vinternship\ecommerce\lib\site-packages (2.9.3)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.3.1; however, version 22.0.3 is available.
You should consider upgrading via the 'H:\Vinternship\eCommerce\Scripts\python.exe -m pip install --upgrade pip' command.

In [ ]:
pip install pandas

In [ ]:
pip install openpyxl

### Package call

In [2]:
import psycopg2
import pandas as pd
import psycopg2.extras

### Extract

***Read from excel file***

In [3]:
DATA_DIR = "H:/Vinternship/"

In [5]:
fact_table = pd.read_excel(open(DATA_DIR + 'e-commerece_data.xlsx','rb'), sheet_name=0, engine='openpyxl')
fact_table

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P026,C004510,T049189,I00177,S00307,1,ct,35.0,35.0
1,P022,C008967,T041209,I00248,S00595,1,rolls,26.0,26.0
2,P030,C007261,T03633,I00195,S00496,8,ct,12.5,100.0
3,P032,C007048,T084631,I00131,S0086,8,ct,14.0,112.0
4,P014,C006430,T071276,I00050,S00488,8,cans,8.0,64.0
...,...,...,...,...,...,...,...,...,...
999995,P010,C003726,T09247,I00063,S00502,5,cans,40.0,200.0
999996,P021,C002581,T023483,I00252,S00225,1,ct,11.0,11.0
999997,P035,C006133,T039372,I00119,S00555,7,ct,53.0,371.0
999998,P031,C008735,T097975,I00257,S00440,2,ct,21.0,42.0
999999,P032,C004067,T018028,I00044,S00326,10,cans,8.0,80.0

### Load

***Connect to the database***

In [6]:

class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "Nabila12345@",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database"),
        return self.connection

In [7]:
con = PostgresConnection().getConnection()

successfully connected to database

***Data Insertion***

In [12]:
insert_stmt = "INSERT INTO ecomdb_star_Schema.Fact_table (payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price)"\
              " VALUES (%s, %s, %s, %s, %s, %s, %s , %f, %f)"
cur = con.cursor()
psycopg2.extras.execute_batch(cur, insert_stmt, fact_table.values)
con.commit()
cur.close()

ValueError: unsupported format character 'f' (0x66) at index 173