In [38]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\administrator\.conda\envs\hda\lib\site-packages (2.9.3)
Note: you may need to restart the kernel to use updated packages.

In [39]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\administrator\.conda\envs\hda\lib\site-packages (3.0.9)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et-xmlfile in c:\users\administrator\.conda\envs\hda\lib\site-packages (from openpyxl) (1.1.0)

In [40]:
import psycopg2
import pandas as pd
import psycopg2.extras
import psycopg2

In [41]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "123456",
                                           host = "127.0.0.1",
                                           port = "5433")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [42]:
con = PostgresConnection().getConnection()

successfully connected to database

In [43]:
cur = con.cursor()
select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
              "FROM ecomdb_star_schema.trans_dim t"
cur.execute(select_stmt)
records = cur.fetchall()
records

[('P001', 'cash', 'None'),
 ('P002', 'card', 'AB Bank Limited'),
 ('P003', 'card', 'Bangladesh Commerce Bank Limited'),
 ('P004', 'card', 'Bank Asia Limited'),
 ('P005', 'card', 'BRAC Bank Limited'),
 ('P006', 'card', 'Citizens Bank Limited'),
 ('P007', 'card', 'City Bank Limited'),
 ('P008', 'card', 'Community Bank Bangladesh Limited'),
 ('P009', 'card', 'Dhaka Bank Limited'),
 ('P010', 'card', 'Dutch-Bangla Bank Limited'),
 ('P011', 'card', 'Eastern Bank Limited'),
 ('P012', 'card', 'IFIC Bank Limited'),
 ('P013', 'card', 'Jamuna Bank Limited'),
 ('P014', 'card', 'Meghna Bank Limited'),
 ('P015', 'card', 'Mercantile Bank Limited'),
 ('P016', 'card', 'Midland Bank Limited'),
 ('P017', 'card', 'Modhumoti Bank Limited'),
 ('P018', 'card', 'Mutual Trust Bank Limited'),
 ('P019', 'card', 'National Bank Limited'),
 ('P020', 'card', 'National Credit & Commerce Bank Limited'),
 ('P021', 'card', 'NRB Bank Limited'),
 ('P022', 'card', 'NRB Commercial Bank Ltd'),
 ('P023', 'card', 'NRB Global Bank Ltd'),
 ('P024', 'card', 'One Bank Limited'),
 ('P025', 'card', 'Padma Bank Limited'),
 ('P026', 'card', 'Premier Bank Limited'),
 ('P027', 'card', 'Prime Bank Limited'),
 ('P028', 'card', 'Pubali Bank Limited'),
 ('P029', 'card', 'Standard Bank Limited'),
 ('P030', 'card', 'Shimanto Bank Ltd'),
 ('P031', 'card', 'Southeast Bank Limited'),
 ('P032', 'card', 'South Bangla Agriculture and Commerce Bank Limited'),
 ('P033', 'card', 'Trust Bank Limited'),
 ('P034', 'card', 'United Commercial Bank Ltd'),
 ('P035', 'card', 'Uttara Bank Limited'),
 ('P036', 'card', 'Bengal Commercial Bank Ltd'),
 ('P037', 'mobile', 'Bkash'),
 ('P038', 'mobile', 'Rocket'),
 ('P039', 'mobile', 'Nagad')]

In [44]:
trans_df = pd.DataFrame(list(records), columns=['payment_key', 'trans_type', 'bank_name'])
trans_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   payment_key  39 non-null     object
 1   trans_type   39 non-null     object
 2   bank_name    39 non-null     object
dtypes: object(3)
memory usage: 1.0+ KB

In [47]:
cur = con.cursor()
select_query = "select s.division, sum(t.total_price)"\
               " from ecomdb.fact_table t "\
               "join ecomdb.store_dim s on s.store_key = t.store_key "\
               "group by cube (s.division , t.total_price)"
cur.execute(select_query)
records = cur.fetchall()
records

[(None, Decimal('3541.50')),
 ('DHAKA', Decimal('105.0')),
 ('DHAKA', Decimal('74.25')),
 ('DHAKA', Decimal('48.0')),
 ('RAJSHAHI', Decimal('45.0')),
 ('CHITTAGONG', Decimal('170.0')),
 ('DHAKA', Decimal('35.0')),
 ('DHAKA', Decimal('156.0')),
 ('DHAKA', Decimal('24.0')),
 ('DHAKA', Decimal('209.0')),
 ('DHAKA', Decimal('60.0')),
 ('SYLHET', Decimal('60.0')),
 ('CHITTAGONG', Decimal('60.0')),
 ('DHAKA', Decimal('26.0')),
 ('RANGPUR', Decimal('270.0')),
 ('KHULNA', Decimal('136.0')),
 ('RAJSHAHI', Decimal('74.25')),
 ('RANGPUR', Decimal('20.0')),
 ('BARISAL', Decimal('6.75')),
 ('CHITTAGONG', Decimal('153.0')),
 ('DHAKA', Decimal('110.0')),
 ('DHAKA', Decimal('104.0')),
 ('SYLHET', Decimal('14.0')),
 ('CHITTAGONG', Decimal('47.25')),
 ('DHAKA', Decimal('120.0')),
 ('RAJSHAHI', Decimal('75.0')),
 ('RAJSHAHI', Decimal('30.0')),
 ('CHITTAGONG', Decimal('64.0')),
 ('BARISAL', Decimal('160.0')),
 ('KHULNA', Decimal('31.0')),
 ('DHAKA', Decimal('150.0')),
 ('SYLHET', Decimal('90.0')),
 ('RAJSHAHI', Decimal('96.0')),
 ('KHULNA', Decimal('120.0')),
 ('RANGPUR', Decimal('112.0')),
 ('CHITTAGONG', Decimal('15.0')),
 ('CHITTAGONG', Decimal('100.0')),
 ('DHAKA', Decimal('153.0')),
 ('CHITTAGONG', Decimal('128.0')),
 ('RANGPUR', Decimal('90.0')),
 ('RAJSHAHI', Decimal('320.25')),
 ('DHAKA', Decimal('1374.25')),
 ('CHITTAGONG', Decimal('737.25')),
 ('BARISAL', Decimal('166.75')),
 ('KHULNA', Decimal('287.0')),
 ('RANGPUR', Decimal('492.0')),
 ('SYLHET', Decimal('164.0')),
 (None, Decimal('14.0')),
 (None, Decimal('64.0')),
 (None, Decimal('112.0')),
 (None, Decimal('180.0')),
 (None, Decimal('240.0')),
 (None, Decimal('31.0')),
 (None, Decimal('26.0')),
 (None, Decimal('24.0')),
 (None, Decimal('48.0')),
 (None, Decimal('6.75')),
 (None, Decimal('110.0')),
 (None, Decimal('160.0')),
 (None, Decimal('104.0')),
 (None, Decimal('75.0')),
 (None, Decimal('270.0')),
 (None, Decimal('128.0')),
 (None, Decimal('306.0')),
 (None, Decimal('47.25')),
 (None, Decimal('148.50')),
 (None, Decimal('100.0')),
 (None, Decimal('209.0')),
 (None, Decimal('156.0')),
 (None, Decimal('136.0')),
 (None, Decimal('30.0')),
 (None, Decimal('15.0')),
 (None, Decimal('96.0')),
 (None, Decimal('170.0')),
 (None, Decimal('45.0')),
 (None, Decimal('180.0')),
 (None, Decimal('20.0')),
 (None, Decimal('105.0')),
 (None, Decimal('150.0')),
 (None, Decimal('35.0'))]

AttributeError: 'list' object has no attribute 'info'

In [50]:
query_1 = pd.DataFrame(list(records),columns = ['division','total_price'])
query_1.head()
# query_1['total_price'] = query_1['total_price'].astype('Int64')
query_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   division     46 non-null     object
 1   total_price  80 non-null     object
dtypes: object(2)
memory usage: 1.4+ KB

In [53]:
query_1['total_price'] = query_1['total_price'].astype(str).astype(float)
query_1.head()

   division  total_price
0      None      3541.50
1     DHAKA       105.00
2     DHAKA        74.25
3     DHAKA        48.00
4  RAJSHAHI        45.00

In [54]:
import matplotlib.pyplot as plt
import numpy as np

In [61]:
# plt.pie(query_1.total_price, labels = query_1.division)
plt.bar(x=query_1['total_price'],y=query_1['division'])
plt.legend()
plt.show()

TypeError: bar() missing 1 required positional argument: 'height'