In [2]:
import psycopg2
import pandas as pd
import psycopg2.extras
import matplotlib.pyplot as plt

In [3]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "123456",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection
    
    
# con = PostgresConnection().getConnection()

### Common Function to fetch Data from all tables

In [4]:
#  select_stmt= is the SQL select query along with  table and column name    
def retrive_data_from_table(select_stmt): 
    con = PostgresConnection().getConnection()
    cur = con.cursor()
#     select_stmt = "SELECT t.payment_key , t.trans_type, t.bank_name " \
#                   "FROM ecomdb_star_schema.trans_dim t"
    cur.execute(select_stmt)
    records = cur.fetchall()
    return records

### Q3: Total sales in Barisal

In [54]:
select_query =  "Select t2.division, sum(t1.total_price) "\
            "from ecomdb_star_schema.fact_table t1 "\
            "join ecomdb_star_schema.store_dim t2 on t1.store_key = t2.store_key "\
            "where t2.division = 'BARISAL' "\
            "group by(t2.division)"

record_Q3 = retrive_data_from_table(select_query)
df_Q3 = pd.DataFrame(list(record_Q3), columns=['year', 'total_price'])
df_Q3

successfully connected to database

      year  total_price
0  BARISAL  15040687.50

### Q4: Total sales in 2015

In [52]:
select_query=  "select  t2.year, sum(t1.total_price) "\
                "from ecomdb_star_schema.fact_table t1 "\
                "join ecomdb_star_schema.time_dim t2 on t1.time_key = t2.time_key "\
                "where t2.year= 2015 " \
                "group by(t2.year)"

record_Q4 = retrive_data_from_table(select_query)
df_Q4 = pd.DataFrame(list(record_Q4), columns=['year', 'total_price'])
df_Q4

successfully connected to database

   year  total_price
0  2015  30191440.50

### Q5: Total sales of Barisal in 2015

In [49]:
select_query =  "select t3.division, t2.year, sum(t1.total_price) " \
                "from ecomdb_star_schema.fact_table t1 " \
                "join ecomdb_star_schema.time_dim t2 on t1.time_key = t2.time_key " \
                "join ecomdb_star_schema.store_dim t3 on t1.store_key = t3.store_key " \
                "where  t2.year= 2015 and t3.division = 'BARISAL'  " \
                "group by (t3.division, t2.year)"

record_Q5 = retrive_data_from_table(select_query)
df_Q5 = pd.DataFrame(list(record_Q5), columns=['division','year', 'total_price'])
df_Q5

successfully connected to database

  division  year total_price
0  BARISAL  2015  2153805.50

In [ ]:
df_Q5.dtypes