### Q7: What products have been sold through card or mobile since X days?

####    input: X = 5 days

####    output: [item1, item2, item3, ...........]

In [1]:
import psycopg2
import pandas as pd
import numpy as np
import psycopg2.extras
import matplotlib.pyplot as plt

In [2]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database = "ecomdb",
                                                  user = "postgres",
                                                  password = "sultanmahmud22",
                                                  host = "127.0.0.1",
                                                  port= "5432")
    def getConnection(self):
        print("Successfully connected to the database")
        return self.connection

con = PostgresConnection().getConnection()

Successfully connected to the database

In [18]:
day = int(input('Enter no. of days for the query: '))
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = "SELECT  it.item_name " \
"FROM star_schema.fact_table t  " \
"JOIN star_schema.store_dim s on s.store_key = t.store_key " \
"JOIN star_schema.time_dim tim on tim.time_key = t.time_key " \
"JOIN star_schema.trans_dim tr on tr.payment_key = t.payment_key " \
"JOIN star_schema.item_dim it on it.item_key = t.item_key  " \
"WHERE (tr.trans_type='card' or tr.trans_type='mobile') and tim.date > (CURRENT_DATE - integer '{}')" .format(day)

cur.execute(select_stmt)
records = cur.fetchall()
records
df = pd.DataFrame(list(records), columns = ['ItemName'])
df

Enter no. of days for the query: 398
Successfully connected to the database

                            ItemName
0         A&W Root Beer - 12 oz cans
1         A&W Root Beer - 12 oz cans
2    A&W Root Beer Diet - 12 oz cans
3    A&W Root Beer Diet - 12 oz cans
4      Barq's Root Beer - 12 oz cans
..                               ...
422           POM 2 ply paper towels
423           POM 2 ply paper towels
424           POM 2 ply paper towels
425           POM 2 ply paper towels
426             Advil 2 pill packets

[427 rows x 1 columns]

#####