In [100]:
import pandas as pd
import numpy as np

In [101]:
df = pd.read_csv('overall.csv')
df.head()

,PIK,REG_DATE,GENDER_DATA,DOB,BLOOD_GROUP,ADDRESS,Geocode,Upazila,Division,Districts,...,BRAND_NAME,GENERIC_NAME,MEDICINE_COMMENT,DOSAGE,REG_DATE.1,Time,AM/PM,Month,Day,Year
0,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,NaN,NaN,NaN,NaN,1/2/2022,2:54:00,AM,1,2,2022
1,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,NaN,NaN,NaN,NaN,1/2/2022,2:54:00,AM,1,2,2022
2,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,NaN,NaN,NaN,NaN,1/2/2022,2:54:00,AM,1,2,2022
3,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,NaN,NaN,NaN,NaN,1/2/2022,2:54:00,AM,1,2,2022
4,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,NaN,NaN,NaN,NaN,1/2/2022,2:54:00,AM,1,2,2022

In [102]:
df_all = pd.read_csv('C:/Users/Administrator/HDA Intern/Prescription-Data-integration-master/wrapper/dataset/anonymized_prescription_dataset_mysoft.csv')
df_all.head()

C:\Users\Administrator\.conda\envs\HDA\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (91) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,REGISTRATION_NO,REG_DATE,GENDER_DATA,M_STATUS_DATA,DOB,AGE,BLOOD_GROUP,ADDRESS,UPAZILA_NO,UPAZILA_NAME,...,DOSAGE,PRES_MED_DTL_NO,HIDE_REMARKS,HIDE_DATE,HIDE_BY,HIDE_FLAG,REQ_DATE,REQ_BY,REQ_FLAG,PIK
0,1.220000e+12,1/2/2022 2:54,M,Married,1/2/1942,80Y 3M 4D,NaN,"ASHULIA, SAVAR, DHAKA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...
1,1.220000e+12,1/2/2022 2:54,M,Married,1/2/1942,80Y 3M 4D,NaN,"ASHULIA, SAVAR, DHAKA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...
2,1.220000e+12,1/2/2022 2:54,M,Married,1/2/1942,80Y 3M 4D,NaN,"ASHULIA, SAVAR, DHAKA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...
3,1.220000e+12,1/2/2022 2:54,M,Married,1/2/1942,80Y 3M 4D,NaN,"ASHULIA, SAVAR, DHAKA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...
4,1.220000e+12,1/2/2022 2:54,M,Married,1/2/1942,80Y 3M 4D,NaN,"ASHULIA, SAVAR, DHAKA",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...

In [103]:
df_all.columns

Index(['REGISTRATION_NO', 'REG_DATE', 'GENDER_DATA', 'M_STATUS_DATA', 'DOB',
       'AGE', 'BLOOD_GROUP', 'ADDRESS', 'UPAZILA_NO', 'UPAZILA_NAME',
       ...
       'DOSAGE', 'PRES_MED_DTL_NO', 'HIDE_REMARKS', 'HIDE_DATE', 'HIDE_BY',
       'HIDE_FLAG', 'REQ_DATE', 'REQ_BY', 'REQ_FLAG', 'PIK'],
      dtype='object', length=102)

In [104]:
df = pd.concat([df,df_all['DEPARTMENT_NAME']],axis = 1,join = 'inner')

In [105]:
df.columns

Index(['PIK', 'REG_DATE', 'GENDER_DATA', 'DOB', 'BLOOD_GROUP', 'ADDRESS',
       'Geocode', 'Upazila', 'Division', 'Districts', 'HOSPITAL_ID',
       'FINDINGS', 'FOLLOW_UP_DATE', 'PRESCRITION_DATA', 'BRAND_NAME',
       'GENERIC_NAME', 'MEDICINE_COMMENT', 'DOSAGE', 'REG_DATE.1', 'Time',
       'AM/PM', 'Month', 'Day', 'Year', 'DEPARTMENT_NAME'],
      dtype='object')

In [106]:
df1 = df.dropna(subset=['MEDICINE_COMMENT', 'GENERIC_NAME'])

In [107]:
df1.head()

,PIK,REG_DATE,GENDER_DATA,DOB,BLOOD_GROUP,ADDRESS,Geocode,Upazila,Division,Districts,...,GENERIC_NAME,MEDICINE_COMMENT,DOSAGE,REG_DATE.1,Time,AM/PM,Month,Day,Year,DEPARTMENT_NAME
371,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,CLOPIDOGREL 75 MG+ASPIRIN 75 MG,After Meal,0+1+0,1/2/2022,2:54:00,AM,1,2,2022,MEDICINE
373,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,ESOMEPRAZOLE 40 MG,Before Meal,1+0+1,1/2/2022,2:54:00,AM,1,2,2022,MEDICINE
375,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,RAMIPRIL 1.25 MG,After Check BP,0+0+1,1/2/2022,2:54:00,AM,1,2,2022,MEDICINE
387,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,CLOPIDOGREL 75 MG+ASPIRIN 75 MG,After Meal,0+1+0,1/2/2022,2:54:00,AM,1,2,2022,MEDICINE
389,13c282c5f44a6b2d68fcd1ecd0b71f8a1397efdeb4063c...,1/2/2022 2:54,M,1/2/1942,NaN,"ASHULIA, SAVAR, DHAKA",302672.0,SAVAR,DHAKA,DHAKA,...,ESOMEPRAZOLE 40 MG,Before Meal,1+0+1,1/2/2022,2:54:00,AM,1,2,2022,MEDICINE

In [114]:
aggregation_functions = {'PIK': 'first', 'REG_DATE' :'first', 'GENDER_DATA':'first', 'DOB':'first', 'BLOOD_GROUP':'first', 
                         'ADDRESS':'first','Geocode':'first', 'Upazila':'first', 'Division':'first', 
                         'Districts':'first', 'HOSPITAL_ID':'first','FINDINGS':'first', 
                         'FOLLOW_UP_DATE':'first', 'PRESCRITION_DATA':list, 'BRAND_NAME':'sum',
                         'GENERIC_NAME':'sum', 'MEDICINE_COMMENT':'sum', 'DOSAGE':'sum', 'Time':'first',
                         'AM/PM':'first', 'Month':'first', 'Day':'first', 'Year':'first','DEPARTMENT_NAME':'first'}
df_new = df.groupby(df['PIK']).aggregate(aggregation_functions)

In [115]:
# df_new.to_csv('prescription_final_data.csv',index = False)

In [116]:
df_new.head()

,PIK,REG_DATE,GENDER_DATA,DOB,BLOOD_GROUP,ADDRESS,Geocode,Upazila,Division,Districts,...,BRAND_NAME,GENERIC_NAME,MEDICINE_COMMENT,DOSAGE,Time,AM/PM,Month,Day,Year,DEPARTMENT_NAME
PIK,,,,,,,,,,,,,,,,,,,,,
01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072ace7de3b0d6ac72d08b,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,11/29/2021 9:07,M,5/27/1973,B+,"SHIOR, RAMKOL, PANGSHA, RAJBARI",308273.0,PANGSHA,RAJBARI,DHAKA,...,LAXYL 3 MG TAB.MYOLAX 50 MG TAB.,BROMAZEPAM 3 MG TOLPERISONE HCL 50 MG,0,0+0+10+0+1,21 9:07:,12:00 AM,11,29,2020,MEDICINE
0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54234eaaf18ea454bc8f,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,2/15/2021 15:18,F,10/14/2020,None,razabari tuRAG DHAKA,302693.0,TURAG,DHAKA,DHAKA,...,DOMIN 60ML SUSZoxan Suspension,DOMPERIDONE 10 MGNITAZOXANIDE 100 MG/5 MLAZITH...,After MealAfter MealBefore MealAfter Meal,1 tsf 8 hourly1 à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ 2 à¦¬à¦¾...,1 3:18:0,12:00 PM,2,15,202,PAEDIATRICS
0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5ae877b31a4998060ae,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,1/9/2022 8:26,F,11/9/2020,None,SECTOR-12 ROAD-11 HOUSE-18 UTTARA DHAKA-1230,302694.0,UTTARA,DHAKA,DHAKA,...,Inj.FimoxyclavNebulization with AFRIN 0.025% N...,DEXTROSE 5%+SODIUM CHLORIDE 0.45% 500 ML OXYME...,8 hourly4 hourly8 houry,I/V @ 15 ml/hour80 mg mixed with 20 ml N/S -ov...,8:26:00,AM,1,9,2022,EMERGENCY
0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345fc7fdc36cc45c38038b,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,10/11/2021 18:38,F,11/13/2020,None,"GAZIPUR, GAZIPUR DHAKA",303330.0,GAZIPUR,GAZIPUR,DHAKA,...,Tab.folic acidSyp. CNV,0,After MealAfter Meal,0+1+0à§§ à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ à§¨ à¦¬à¦¾à¦°,21 6:38:,12:00 PM,10,11,2020,Paediatric Surgery
0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d17346b3b2042176276,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,1/6/2022 12:20,F,6/23/2020,None,"H=18, R=7/C, S=9 , UTTARA ,DHAKA=1230",302694.0,UTTARA,DHAKA,DHAKA,...,Ace Suppository 250 mgFAST 60 ML SYPANSET 50M...,PARACETAMOL 120 MG CEFIXIME 100 MG/5 MLDESLORA...,After MealAfter MealAfter MealBefore MealS.F-6...,3/4 th stick give P/R if Temp. â‰¥ 102Â° F1.25 ...,12:20:00,12:00 PM,1,6,2022,PAEDIATRICS

In [117]:
df_new.isna().sum()

PIK                   0
REG_DATE              0
GENDER_DATA           0
DOB                   0
BLOOD_GROUP         259
ADDRESS               0
Geocode               6
Upazila               6
Division              6
Districts             6
HOSPITAL_ID           0
FINDINGS             98
FOLLOW_UP_DATE       28
PRESCRITION_DATA      0
BRAND_NAME            0
GENERIC_NAME          0
MEDICINE_COMMENT      0
DOSAGE                0
Time                  0
AM/PM                 0
Month                 0
Day                   0
Year                  0
DEPARTMENT_NAME       0
dtype: int64

In [124]:
df_new.drop('BLOOD_GROUP',axis = 1,inplace = True)

In [119]:
# dfff = df_new.dropna('Geocode',axis = 0)

In [125]:
df_new.columns

Index(['PIK', 'REG_DATE', 'GENDER_DATA', 'DOB', 'ADDRESS', 'Geocode',
       'Upazila', 'Division', 'Districts', 'HOSPITAL_ID', 'FINDINGS',
       'FOLLOW_UP_DATE', 'PRESCRITION_DATA', 'BRAND_NAME', 'GENERIC_NAME',
       'MEDICINE_COMMENT', 'DOSAGE', 'Time', 'AM/PM', 'Month', 'Day', 'Year',
       'DEPARTMENT_NAME'],
      dtype='object')

In [68]:
# df.columns

In [69]:
# aggregation_functions = {'PIK': 'first', 'REG_DATE' :'first', 'GENDER_DATA':'first', 'DOB':'first', 'BLOOD_GROUP':'first', 
#                          'ADDRESS':'first','Geocode':'first', 'Upazila':'first', 'Division':'first', 
#                          'Districts':'first', 'HOSPITAL_ID':'first','FINDINGS':'first', 
#                          'FOLLOW_UP_DATE':'first', 'PRESCRITION_DATA':list, 'BRAND_NAME':'sum',
#                          'GENERIC_NAME':pct , 'MEDICINE_COMMENT':'sum', 'DOSAGE':'sum', 'Time':'first',
#                          'AM/PM':'first', 'Month':'first', 'Day':'first', 'Year':'first'}
# df_new = df.groupby(df['PIK']).aggregate(aggregation_functions)

In [70]:
# df = df.groupby(['Name', 'year'])['branch'].transform(
#                                               lambda x: ' '.join(x))

In [89]:
# df_new.to_csv('prescription_final_data.csv',index = False)

# Creating dimensional datasets

In [126]:
df_final = pd.read_csv('prescription_final_data.csv')
df_final.head()

,PIK,REG_DATE,GENDER_DATA,DOB,ADDRESS,Geocode,Upazila,Division,Districts,HOSPITAL_ID,...,BRAND_NAME,GENERIC_NAME,MEDICINE_COMMENT,DOSAGE,Time,AM/PM,Month,Day,Year,DEPARTMENT_NAME
0,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,11/29/2021 9:07,M,5/27/1973,"SHIOR, RAMKOL, PANGSHA, RAJBARI",308273,PANGSHA,RAJBARI,DHAKA,H12111056642,...,LAXYL 3 MG TAB.MYOLAX 50 MG TAB.,BROMAZEPAM 3 MG TOLPERISONE HCL 50 MG,0,0+0+10+0+1,21 9:07:,12:00 AM,11,29,2020,MEDICINE
1,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,2/15/2021 15:18,F,10/14/2020,razabari tuRAG DHAKA,302693,TURAG,DHAKA,DHAKA,H12102041266,...,DOMIN 60ML SUSZoxan Suspension,DOMPERIDONE 10 MGNITAZOXANIDE 100 MG/5 MLAZITH...,After MealAfter MealBefore MealAfter Meal,1 tsf 8 hourly1 à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ 2 à¦¬à¦¾...,1 3:18:0,12:00 PM,2,15,202,PAEDIATRICS
2,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,1/9/2022 8:26,F,11/9/2020,SECTOR-12 ROAD-11 HOUSE-18 UTTARA DHAKA-1230,302694,UTTARA,DHAKA,DHAKA,H12201057823,...,Inj.FimoxyclavNebulization with AFRIN 0.025% N...,DEXTROSE 5%+SODIUM CHLORIDE 0.45% 500 ML OXYME...,8 hourly4 hourly8 houry,I/V @ 15 ml/hour80 mg mixed with 20 ml N/S -ov...,8:26:00,AM,1,9,2022,EMERGENCY
3,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,10/11/2021 18:38,F,11/13/2020,"GAZIPUR, GAZIPUR DHAKA",303330,GAZIPUR,GAZIPUR,DHAKA,H12110054330,...,Tab.folic acidSyp. CNV,0,After MealAfter Meal,0+1+0à§§ à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ à§¨ à¦¬à¦¾à¦°,21 6:38:,12:00 PM,10,11,2020,Paediatric Surgery
4,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,1/6/2022 12:20,F,6/23/2020,"H=18, R=7/C, S=9 , UTTARA ,DHAKA=1230",302694,UTTARA,DHAKA,DHAKA,H12201057741,...,Ace Suppository 250 mgFAST 60 ML SYPANSET 50M...,PARACETAMOL 120 MG CEFIXIME 100 MG/5 MLDESLORA...,After MealAfter MealAfter MealBefore MealS.F-6...,3/4 th stick give P/R if Temp. â‰¥ 102Â° F1.25 ...,12:20:00,12:00 PM,1,6,2022,PAEDIATRICS

In [127]:
df_final.isna().sum()

PIK                  0
REG_DATE             0
GENDER_DATA          0
DOB                  0
ADDRESS              0
Geocode              0
Upazila              0
Division             0
Districts            0
HOSPITAL_ID          0
FINDINGS            97
FOLLOW_UP_DATE      27
PRESCRITION_DATA     0
BRAND_NAME           0
GENERIC_NAME         0
MEDICINE_COMMENT     0
DOSAGE               0
Time                 0
AM/PM                0
Month                0
Day                  0
Year                 0
DEPARTMENT_NAME      0
dtype: int64

In [128]:
df_final.columns

Index(['PIK', 'REG_DATE', 'GENDER_DATA', 'DOB', 'ADDRESS', 'Geocode',
       'Upazila', 'Division', 'Districts', 'HOSPITAL_ID', 'FINDINGS',
       'FOLLOW_UP_DATE', 'PRESCRITION_DATA', 'BRAND_NAME', 'GENERIC_NAME',
       'MEDICINE_COMMENT', 'DOSAGE', 'Time', 'AM/PM', 'Month', 'Day', 'Year',
       'DEPARTMENT_NAME'],
      dtype='object')

In [129]:
geo_dim = df_final[['PIK','Geocode','Upazila', 'Division', 'Districts']]
geo_dim.head()

,PIK,Geocode,Upazila,Division,Districts
0,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,308273,PANGSHA,RAJBARI,DHAKA
1,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,302693,TURAG,DHAKA,DHAKA
2,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,302694,UTTARA,DHAKA,DHAKA
3,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,303330,GAZIPUR,GAZIPUR,DHAKA
4,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,302694,UTTARA,DHAKA,DHAKA

In [138]:
geo_dim.to_csv('geo_dim.csv',index = False)

In [130]:
time_dim = df_final[['PIK','REG_DATE','Day','Month', 'Year']]
time_dim.head()

,PIK,REG_DATE,Day,Month,Year
0,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,11/29/2021 9:07,29,11,2020
1,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,2/15/2021 15:18,15,2,202
2,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,1/9/2022 8:26,9,1,2022
3,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,10/11/2021 18:38,11,10,2020
4,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,1/6/2022 12:20,6,1,2022

In [139]:
time_dim.to_csv('time_dim.csv',index = False)

In [131]:
patient_dim = df_final[['PIK','GENDER_DATA','DOB']]
patient_dim.head()

                                                 PIK GENDER_DATA         DOB
0  01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...           M   5/27/1973
1  0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...           F  10/14/2020
2  0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...           F   11/9/2020
3  0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...           F  11/13/2020
4  0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...           F   6/23/2020

In [140]:
patient_dim.to_csv('patient_dim.csv',index = False)

In [133]:
df_final.columns

Index(['PIK', 'REG_DATE', 'GENDER_DATA', 'DOB', 'ADDRESS', 'Geocode',
       'Upazila', 'Division', 'Districts', 'HOSPITAL_ID', 'FINDINGS',
       'FOLLOW_UP_DATE', 'PRESCRITION_DATA', 'BRAND_NAME', 'GENERIC_NAME',
       'MEDICINE_COMMENT', 'DOSAGE', 'Time', 'AM/PM', 'Month', 'Day', 'Year',
       'DEPARTMENT_NAME'],
      dtype='object')

In [135]:
hospital_dim = df_final[['PIK','HOSPITAL_ID','DEPARTMENT_NAME','Districts']]
hospital_dim.head()

,PIK,HOSPITAL_ID,DEPARTMENT_NAME,Districts
0,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,H12111056642,MEDICINE,DHAKA
1,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,H12102041266,PAEDIATRICS,DHAKA
2,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,H12201057823,EMERGENCY,DHAKA
3,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,H12110054330,Paediatric Surgery,DHAKA
4,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,H12201057741,PAEDIATRICS,DHAKA

In [141]:
hospital_dim.to_csv('hospital_dim.csv',index = False)

In [137]:
fact_dim = df_final[['PIK','PRESCRITION_DATA', 'BRAND_NAME', 'GENERIC_NAME','MEDICINE_COMMENT', 'DOSAGE']]
fact_dim.head()

,PIK,PRESCRITION_DATA,BRAND_NAME,GENERIC_NAME,MEDICINE_COMMENT,DOSAGE
0,01099d5dcac7096eba978fc3ffe98762ab8b86f6cc072a...,"['Weight', 'Height ', 'Temp', 'BP', 'MSK PAIN'...",LAXYL 3 MG TAB.MYOLAX 50 MG TAB.,BROMAZEPAM 3 MG TOLPERISONE HCL 50 MG,0,0+0+10+0+1
1,0133fcc0a6ebbee2a8e626610f1466e303312b9f0d8a54...,"['Weight', 'Fever for....2 Days', 'LOOSE MOTIO...",DOMIN 60ML SUSZoxan Suspension,DOMPERIDONE 10 MGNITAZOXANIDE 100 MG/5 MLAZITH...,After MealAfter MealBefore MealAfter Meal,1 tsf 8 hourly1 à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ 2 à¦¬à¦¾...
2,0133fcc0a6ebbee2a8e626610f1466e3167f46b70d22e5...,"['Cough & cold for 2 days', 'Fever for 1 day',...",Inj.FimoxyclavNebulization with AFRIN 0.025% N...,DEXTROSE 5%+SODIUM CHLORIDE 0.45% 500 ML OXYME...,8 hourly4 hourly8 houry,I/V @ 15 ml/hour80 mg mixed with 20 ml N/S -ov...
3,0133fcc0a6ebbee2a8e626610f1466e32aaa1e641d345f...,"[nan, nan, nan]",Tab.folic acidSyp. CNV,0,After MealAfter Meal,0+1+0à§§ à¦šà¦¾à¦®à¦š à¦•à¦°à§‡ à¦¦à¦¿à¦¨à§‡ à§¨ à¦¬à¦¾à¦°
4,0133fcc0a6ebbee2a8e626610f1466e379c1e818da225d...,"['??? UTI', '??? Enteric Fever', 'Blood for C...",Ace Suppository 250 mgFAST 60 ML SYPANSET 50M...,PARACETAMOL 120 MG CEFIXIME 100 MG/5 MLDESLORA...,After MealAfter MealAfter MealBefore MealS.F-6...,3/4 th stick give P/R if Temp. â‰¥ 102Â° F1.25 ...

In [142]:
fact_dim.to_csv('fact_dim.csv',index = False)