In [ ]:
pip install sklearn

In [30]:
import pandas as pd
import numpy as np
import psycopg2
import psycopg2.extras
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import accuracy_score

In [31]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "postgres",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [32]:
con = PostgresConnection().getConnection()

successfully connected to database

In [33]:
cur = con.cursor()
st = '''select  t.year, i.item_name, sum(ft.total_price) 
               from ecomdb_star_schema.fact_table ft 
               join ecomdb_star_schema.time_dim t on t.time_key = ft.time_key
               join ecomdb_star_schema.item_dim i on i.item_key = ft.item_key
               group by (i.item_name,t.year)
               order by (i.item_name,t.year) '''
cur.execute(st)
records = cur.fetchall()
df = pd.DataFrame(list(records), columns=['year',  'item_name','total_sales'])
#df.head()
df.dropna()

      year                        item_name total_sales
0     2014  100% Juice Box Variety 6.75 oz      49365.0
1     2015  100% Juice Box Variety 6.75 oz      47160.0
2     2016  100% Juice Box Variety 6.75 oz      51135.0
3     2017  100% Juice Box Variety 6.75 oz      47295.0
4     2018  100% Juice Box Variety 6.75 oz      51045.0
...    ...                              ...         ...
2067  2017      Zoo Animal Cookies/Crackers     43456.0
2068  2018      Zoo Animal Cookies/Crackers     43638.0
2069  2019      Zoo Animal Cookies/Crackers     44912.0
2070  2020      Zoo Animal Cookies/Crackers     43498.0
2071  2021      Zoo Animal Cookies/Crackers      2898.0

[2072 rows x 3 columns]

In [34]:
df2=df
#df=df.values

In [35]:
df3=df2
# checking features
cat = df.select_dtypes(include='O').keys()
# display variabels
cat

Index(['item_name', 'total_sales'], dtype='object')

In [36]:
# unique values in each columns
for x in df.columns:
    #prinfting unique values
    print(x ,':', len(df[x].unique()))

year : 8
item_name : 259
total_sales : 1895

In [37]:
df.dropna()

      year                        item_name total_sales
0     2014  100% Juice Box Variety 6.75 oz      49365.0
1     2015  100% Juice Box Variety 6.75 oz      47160.0
2     2016  100% Juice Box Variety 6.75 oz      51135.0
3     2017  100% Juice Box Variety 6.75 oz      47295.0
4     2018  100% Juice Box Variety 6.75 oz      51045.0
...    ...                              ...         ...
2067  2017      Zoo Animal Cookies/Crackers     43456.0
2068  2018      Zoo Animal Cookies/Crackers     43638.0
2069  2019      Zoo Animal Cookies/Crackers     44912.0
2070  2020      Zoo Animal Cookies/Crackers     43498.0
2071  2021      Zoo Animal Cookies/Crackers      2898.0

[2072 rows x 3 columns]

In [38]:
data=df
data['year'] = data['year'].astype('category')
data['year'] = data['year'].cat.codes

In [39]:
data

      year                        item_name total_sales
0        0  100% Juice Box Variety 6.75 oz      49365.0
1        1  100% Juice Box Variety 6.75 oz      47160.0
2        2  100% Juice Box Variety 6.75 oz      51135.0
3        3  100% Juice Box Variety 6.75 oz      47295.0
4        4  100% Juice Box Variety 6.75 oz      51045.0
...    ...                              ...         ...
2067     3      Zoo Animal Cookies/Crackers     43456.0
2068     4      Zoo Animal Cookies/Crackers     43638.0
2069     5      Zoo Animal Cookies/Crackers     44912.0
2070     6      Zoo Animal Cookies/Crackers     43498.0
2071     7      Zoo Animal Cookies/Crackers      2898.0

[2072 rows x 3 columns]

In [41]:
newdf=data.iloc[:,:-1]
newdf=pd.get_dummies(newdf,columns = ['item_name'])

In [42]:
newdf

,year,item_name_100% Juice Box Variety 6.75 oz,item_name_A&W Root Beer - 12 oz cans,item_name_A&W Root Beer Diet - 12 oz cans,item_name_Advil 2 pill packets,item_name_All Purpose Cleaner 409 Spray,item_name_Altoids Small Packs Variety,item_name_Apple Sauce Variety GoGO Squeeze 3.2oz,item_name_AquaFina Purified Drinking Water 16oz,item_name_Austin Cookie Cracker Variety,...,item_name_Waterloo Sparkling Lemon 12oz,item_name_Waterloo Sparkling Lime 12oz,item_name_Waterloo Sparkling Mango 12oz,item_name_Waterloo Sparkling Original 12oz,item_name_Waterloo Sparkling Watermelon 12oz,item_name_Welch's 100% Juice Variety10 oz,item_name_Wint O Green LifeSavers Sugar Free,item_name_Wonderful Pistachios (in shell),item_name_Yoplait Original Yogurt Variety Pack,item_name_Zoo Animal Cookies/Crackers
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2067,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2068,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2069,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2070,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2071,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [44]:
X=newdf
y = data.iloc[:,-1]

In [45]:
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size = 0.2,random_state = 10)

In [53]:
# Model initialization
regression_model = LinearRegression()
# Fit the data(train the model)
regression_model.fit(X_train, y_train)
# Predict
y_predicted = regression_model.predict(X_test)

In [54]:
# model evaluation
rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
print('Intercept:', regression_model.intercept_)
print('Root mean squared error: ', rmse)

Intercept: 65586.41977057919
Root mean squared error:  407043917.0639382

In [55]:
regression_model.score(X_test,y_test)

0.578371242693923

In [46]:
from sklearn import svm
regr = svm.SVR()
regr.fit(X_train, y_train)

SVR()

In [47]:
y_predicted = regr.predict(X_test)

In [52]:
# model evaluation
rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
print('Intercept:', regr.intercept_)
print('Root mean squared error: ', rmse)

Intercept: [49542.69370098]
Root mean squared error:  967923796.2761277

In [24]:
df=data

In [ ]:
# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [ ]:
# one hot encode input variables
onehot_encoder = OneHotEncoder(sparse=False)
X = onehot_encoder.fit_transform(X)
# summarize the transformed data
print('Input', X.shape)
print(X)

In [ ]:
# split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [ ]:
print(y_train.shape)

In [49]:
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
# Model initialization
regression_model = LinearRegression()
# Fit the data(train the model)
regression_model.fit(X_train, y_train)
# Predict
y_predicted = regression_model.predict(X_test)

In [ ]:
# model evaluation
rmse = mean_squared_error(y_test, y_predicted)
r2 = r2_score(y_test, y_predicted)

# printing values
print('Intercept:', regression_model.intercept_)
print('Root mean squared error: ', rmse)

In [ ]:
plt.scatter(X_train, y_train)

In [ ]:
print(X_train.size)