In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras
import matplotlib.pyplot as plt

***Connect to the database***

In [3]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb",
                                           user = "postgres",
                                           password = "Nabila12345@",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database"),
        return self.connection

### Q5: Total sales of Barisal in 2015

In [5]:
con = PostgresConnection().getConnection()
cur = con.cursor()
select_stmt = " SELECT t.year,s.division,SUM(f.total_price)" \
              " From ecomdb_star_schema.fact_table f " \
              " JOIN ecomdb_star_schema.store_dim s on s.store_key=f.store_key " \
              "JOIN ecomdb_star_schema.time_dim t on t.time_key=f.time_key" \
              " Where t.year ='2015' and s.division='BARISAL'" \
              " GROUP BY ROLLUP(t.year,s.division) "
cur.execute(select_stmt)
records = cur.fetchall()
records

successfully connected to database

[(2015, 'BARISAL', Decimal('1076902.75')),
 (2015, None, Decimal('1076902.75')),
 (None, None, Decimal('1076902.75'))]

In [6]:
df = pd.DataFrame(list(records), columns=['Year', 'Division' ,'total_price'])
df

     Year Division total_price
0  2015.0  BARISAL  1076902.75
1  2015.0     None  1076902.75
2     NaN     None  1076902.75

In [9]:
df.iloc[0:1]

     Year Division total_price
0  2015.0  BARISAL  1076902.75